Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

chore(site): remove duplicated editor on esl-media example
  site/views/examples/embedded-media.njk
Due: none

chore(release): 5.0.0-beta.18
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  9233ba967ab3ffc698e53f30cb9e645ab646530d
Due: none

style(esl-popup): apply suggestions from code review
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-popup): update README with esl:refresh event information
  src/modules/esl-popup/README.md
Due: none

feat: ability to use more than one option value
  site/views/examples/example/list.njk
  src/plugins/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): extend tests with a criteria-based subscription cases
  src/modules/esl-event-listener/test/listener.resubscribtion.test.ts
  src/modules/esl-event-listener/test/listener.subscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: invalidate package-lock.json in purpose to resolve nested packages issues
  package-lock.json
Due: none

feat(esl-event-listener): add support for criteria-based subscriptions
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix isRelativeNode signature (can accept undefined as a node)
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): fix small typos and ESLint issues
  site/src/e2e.less
  site/src/landing/marquee/marquee-accent.less
  site/src/landing/marquee/marquee.less
  site/static/assets/owl/small.webp
  site/views/_includes/landing/marquee.njk
Due: stylelint

chore(site): one more fix small typos and ESLint issues
  site/src/e2e.less
  site/src/landing/landing.ts
  site/src/landing/marquee/marquee-accent.less
  site/src/landing/marquee/marquee-owl.less
  site/src/landing/marquee/marquee-owl.ts
  site/src/landing/marquee/marquee.less
  site/src/localdev.ts
  site/views/_includes/landing/marquee.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

style: fix lint rule description typo
  eslint/src/core/deprecated-path.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): fix small typos on the site common features
  site/src/landing/marquee/marquee-owl.less
  site/src/landing/marquee/marquee-owl.ts
  site/views/_includes/landing/marquee.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

fix(esl-utils): fix event cancellation handling
  src/modules/esl-utils/async/promise/animation.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add `4.17.0` version site release notes
  site/views/blogs/ESL v4.17.0.md
Due: none

chore(lint): extend ESL ESLint plugin README
  eslint/README.md
  eslint/defaults/es-config-default.eslint.yml
  eslint/defaults/ts-config-default.eslint.yml
Due: none

deploy: 05b0f49194dafff7f307d31274ea57aa6379684e
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-mobile-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

chore(site): update dates and add a lint rule migration note
  eslint/README.md
  site/views/blogs/ESL Plugin Pre 5.0.0 Anounce.md
  site/views/blogs/ESL v4.17.0.md
Due: none

deploy: 8694e8a20a9b80bcd14437316c10fc1a8f32d9c5
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  index.md
Due: none

chore(release): 4.17.0
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  20afa5c01bf3787e6269d0c87bc561f9883637dd
Due: none

deploy: 20afa5c01bf3787e6269d0c87bc561f9883637dd
  README.md
  index.md
Due: none

deploy: 4f55cac4f6a933bb2c9d2da17dbbdb6039ef22a5
  README.md
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap.png
Due: none

chore(release): 5.0.0-beta.19
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  6248abfa071985819871e5fbf291a914c0f64407
Due: none

feat(uip-snippets): align titles
  src/plugins/snippets/snippets.less
Due: stylelint

chore(site): code refactoring for `esl-d-popup-game`
  site/src/esl-popup/esl-d-popup-game.ts
  site/views/draft/popup-game.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): code refactoring for `esl-d-popup-game`
  site/views/draft/popup-game.njk
Due: none

test(e2e): store images in webp format
  e2e/package.json
  e2e/setup/scenarios.screenshot.ts
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/test-feature-feature-test-page-looks-fine-test-page-screen-1-snap.png
  package-lock.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): add lossless setting for webp screenshots
  e2e/setup/scenarios.screenshot.ts
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/test-feature-feature-test-page-looks-fine-test-page-screen-1-snap.png
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media-query): ingore tuple values if query syntax passed
  src/modules/esl-media-query/core/esl-media-rule-list.ts
  src/modules/esl-media-query/test/esl-media-rule-list.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: add additional select setting to list example
  site/src/examples/list.less
  site/views/examples/example/list.njk
Due: stylelint

fix(lint): notify about version differences for `eslint-plugin-esl`
  eslint/package.json
  eslint/src/core/check-version.ts
  eslint/src/index.ts
  package-lock.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media-query): code refactoring
  src/modules/esl-media-query/test/esl-media-rule-list.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): drop `jest-image-snapshot` and use `looks-same` instead
  e2e/package.json
  e2e/setup/image.shape.ts
  e2e/setup/image.ts
  e2e/setup/scenarios.screenshot.ts
  e2e/tests/__image_snapshots__/feature:-homepage-looks-fine-test-homepage-footer-on-desktop.webp
  e2e/tests/__image_snapshots__/feature:-homepage-looks-fine-test-homepage-footer-on-mobile.webp
  e2e/tests/__image_snapshots__/feature:-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.webp
  e2e/tests/__image_snapshots__/feature:-homepage-looks-fine-test-homepage-screen-on-mobile.webp
  e2e/tests/__image_snapshots__/feature:-homepage-looks-fine-test-homepage-screen.webp
  e2e/tests/__image_snapshots__/feature:-test-page-looks-fine-test-page-screen.webp
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/test-feature-feature-test-page-looks-fine-test-page-screen-1-snap.png
  package-lock.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
