Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: release v6.0.0-beta.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-line-clamp): fix clamped attribute logic and add tolerance factor
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v6.0.0-beta.7
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-toggleable): fix ESLToggleableManager interface
  packages/esl/src/esl-toggleable/core.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable-manager.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable-manager.types.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable.shape.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: add AGENTS.md for ESL codebase guide
  AGENTS.md
Due: none

docs: add AI skills documentation and skills for base custom tag and attribute
  AGENTS.md
  docs/DEVELOPMENT.md
  skills/esl-base-element.md
  skills/esl-mixin-element.md
Due: none

feat(site): add new skills page with copy-to-clipboard functionality
  AGENTS.md
  docs/DEVELOPMENT.md
  packages/esl-website/.eleventy.js
  packages/esl-website/11ty/watch.targets.js
  packages/esl-website/src/site.less
  packages/esl-website/src/site.ts
  packages/esl-website/src/skills/skill-copy.ts
  packages/esl-website/src/skills/skills.less
  packages/esl-website/static/assets/sidebar/ai.svg
  packages/esl-website/views/_data/skills.yml
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/ai-skills/index.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(site): fix page rendering and copilot notes
  packages/esl-website/11ty/tree.filter.js
  packages/esl-website/src/skills/skill-copy.ts
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(site): update icon to always use orange fill
  packages/esl-website/static/assets/sidebar/ai.svg
Due: none

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-hamburger-mobile-linux.png
Due: none

docs: overall updates in AGENTS.md and skills site page
  AGENTS.md
  docs/DEVELOPMENT.md
  packages/esl-website/views/ai-skills/index.njk
Due: none

docs: rework basic skills
  AGENTS.md
  docs/DEVELOPMENT.md
  packages/esl-website/src/skills/skill-copy.ts
  packages/esl-website/views/_data/skills.yml
  skills/esl-base-element.md
  skills/esl-core.md
  skills/esl-mixin-element.md
  skills/esl-review.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: rework and optimize AGENTS.md file
  AGENTS.md
Due: none

docs: mark skills page draft for now
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/ai-skills/index.njk
Due: none

chore: small structure fixes
  .github/workflows/release-npm.yml
  packages/esl-website-monitoring/eslint.config.mjs
  packages/esl-website-monitoring/project.json
Due: none

chore: rebuild package-lock.json
  package-lock.json
Due: none

chore: fix CVE-2026-42035 trough override until NX update
  package-lock.json
  package.json
Due: none

chore: set "strictPropertyInitialization": false prior to TS@6
  packages/esl-website-e2e/tsconfig.json
  packages/esl-website/tsconfig.json
  packages/esl/tsconfig.json
  packages/ui-playground/tsconfig.json
Due: none

chore: release v6.0.0-beta.8
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add ESL v6.0.0 release notes and migration guide
  packages/esl-website/src/landing/newsline/newsline.less
  packages/esl-website/views/blogs/ESL v6.0.0 Migration Guide.md
  packages/esl-website/views/blogs/ESL v6.0.0.md
Due: stylelint

chore(site): rename `leaf` marker to `singleItem`
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar-single-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/ai-skills/index.njk
Due: none

chore(site): rework search item and slightly improve search page styles
  packages/esl-website/src/search/search.less
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/search.njk
Due: stylelint

feat(esl-anchornav): add validation and possibility to reject anchor data in getDataFrom method
  packages/esl/src/esl-anchornav/README.md
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update promo release notes item for 6.0.0
  packages/esl-website/views/blogs/ESL v6.0.0.md
Due: none

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-mobile-linux.png
Due: none

chore: remove trailing spaces
  packages/esl-website/views/ai-skills/index.njk
  skills/esl-review.md
Due: none

style(site): small readability fix for styles
  packages/esl-website/src/landing/newsline/newsline.less
Due: stylelint

docs(site): undraft release 6.0.0 notes
  packages/esl-website/views/blogs/ESL v6.0.0 Migration Guide.md
  packages/esl-website/views/blogs/ESL v6.0.0.md
Due: none

docs: update AGENTS.md with more direct instruction to investigate existing code
  AGENTS.md
Due: none

feat(ui-playground): public release 6.0.0 for `@exadel/ui-playground`
  package-lock.json
  packages/ui-playground/package.json
Due: none

docs: small update in contributor table
  README.md
Due: none

chore: release v6.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style: rename `GH Pages` workflow to `Website` for consistency
  .github/workflows/site.yml
Due: none

style(site): fix anchor navigation sample scrolling
  packages/esl-website/src/anchor/anchor-link.ts
  packages/esl-website/src/esl-anchornav/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix: support strictFunctionTypes in listen typings
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-base.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-condition.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-containers.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-negation.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-static.ts
  packages/esl/src/esl-media-query/core/esl-media-query.ts
  packages/esl/src/esl-mixin-element/test/mixin.listener.test-d.ts
  packages/esl/src/esl-utils/decorators/listen.ts
  packages/esl/src/esl-utils/decorators/test/listen.test-d.ts
  packages/esl/src/esl-utils/misc/functions.ts
  packages/esl/tsconfig.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix: align core function typings with strictFunctionTypes
  packages/esl/src/esl-event-listener/core/targets/decorated.target.ts
  packages/esl/src/esl-forms/esl-select-list/core/esl-select-wrapper.ts
  packages/esl/src/esl-media-query/core/esl-media-rule-list.ts
  packages/esl/src/esl-open-state/core/esl-open-state.ts
  packages/esl/src/esl-popup/core/esl-popup.ts
  packages/esl/src/esl-random-text/core/esl-random-text.ts
  packages/esl/src/esl-related-target/core/esl-related-target.ts
  packages/esl/src/esl-utils/async/microtask.ts
  packages/esl/src/esl-utils/decorators/decorate.ts
  packages/esl/src/esl-utils/decorators/listen.ts
  packages/esl/src/esl-utils/decorators/memoize.ts
  packages/esl/src/esl-utils/dom/attr.ts
  packages/esl/src/esl-utils/dom/focus.ts
  packages/esl/src/esl-utils/dom/sanitize.ts
  packages/esl/src/esl-utils/dom/visible.ts
  packages/esl/src/esl-utils/misc/format/basic.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test: add strictFunctionTypes regression tests
  packages/esl/src/esl-utils/decorators/test/attr.extended.test.ts
  packages/esl/src/esl-utils/decorators/test/decorate.test-d.ts
  packages/esl/src/esl-utils/decorators/test/listen.test-d.ts
  packages/esl/src/esl-utils/misc/format/test/basic.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(site): align function typings with strictFunctionTypes
  packages/esl-website/src/banner/banner.ts
  packages/esl-website/src/landing/newsline/newsline.ts
  packages/esl-website/src/skills/skill-copy.ts
  packages/esl-website/tsconfig.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): align function typings with strictFunctionTypes
  packages/esl-website-e2e/tsconfig.json
Due: none

fix(ui-playground): align function typings with strictFunctionTypes
  packages/ui-playground/src/core/preview/preview.tsx
  packages/ui-playground/src/plugins/snippets-list/snippets-list.tsx
  packages/ui-playground/tsconfig.json
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
