Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

deploy: 09ee2d4492e113551601ebdd71fd016b33b0ac7e
  README.md
  index.md
Due: none

style(esl-utils): apply suggestion from code review
  src/modules/esl-utils/decorators/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): enhance tests for inherit parameter
  src/modules/esl-utils/decorators/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix e2e tests after puppeteer env update
  e2e/setup/image.ts
  e2e/setup/scenarios.screenshot.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: add margin top helper
  site/src/common/helpers.less
Due: stylelint

chore(site): add multiple tabs snippet with scroll
  site/views/examples/tabs.njk
Due: none

chore(site): add select setting for scrollable mode
  site/views/examples/tabs.njk
Due: none

refactor(esl-image): code refactoring
  src/modules/esl-image/core/esl-image.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-image): code refactoring
  src/modules/esl-image/core/esl-image-iobserver.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update select setting for scrollable mode
  site/views/examples/tabs.njk
Due: none

test(esl-popup): fix linter issue
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit-minor.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): fix swipe tests
  src/modules/esl-event-listener/test/targets/swipe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(lint): add commit lint scope validation
  .commitlintrc.yml
  docs/COMMIT_CONVENTION.md
Due: none

chore(deps): update dependabot config
  .github/dependabot.yml
  .github/workflows/test.yml
Due: none

docs: apply suggestions fore COMMIT_CONVENTION doc
  docs/COMMIT_CONVENTION.md
Due: none

chore: remove `versioning-strategy` for github-actions to fix dependabot config validation
  .github/dependabot.yml
Due: none

chore(deps): update site deployment permissions
  .github/workflows/site.yml
Due: none

chore(site): update uip to 2.0.1-beta.1
  package-lock.json
  site/package.json
  site/src/playground/ui-playground.ts
  site/views/examples/tabs.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): apply suggestions from code review
  src/modules/esl-utils/decorators/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-popup): apply suggestions from code review
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit-minor.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): apply suggestions from code review
  src/modules/esl-utils/decorators/test/attr.test.ts
  src/modules/esl-utils/dom/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix prettier warnings
  site/src/common/reboot.less
  site/src/e2e.less
Due: stylelint

chore: fix strange crash on build:less task for site workspace
  package.json
  site/package.json
Due: none

test(esl-event-listener): fix incorrect test timeout in "ESLSwipeGestureTarget ignores long - lasting swipe"
  src/modules/esl-event-listener/test/targets/swipe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): ui-playground toggleable integration
  site/views/examples/toggleable.njk
Due: none

fix(esl-toggleable): outside action should be handled from entire page
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix delegation handling for improper targets
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/listener.delegate.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.11
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  55378a34feb74fcd728419fa2fbfaadcf7241390
Due: none

revert: fix(esl-trigger): default target for `esl-trigger` is not logically correct and obvious
  src/modules/esl-trigger/README.md
  src/modules/esl-trigger/core/esl-trigger.ts
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
  src/modules/esl-trigger/test/esl-trigger.actions.test.ts
  src/modules/esl-trigger/test/esl-trigger.tracking.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

revert: fix(esl-toggleable): rework actions pre-checks to fix flow on reopening toggleable
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

revert: refactor(esl-toggleable): move `open` state updating to `onShow`/`onHide` callbacks
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: maintenance 4.x branch release rules have been introduced
  .releaserc.yml
Due: none

feat(esl-utils): add ability to resize Rect instance
  src/modules/esl-utils/dom/rect.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-popup): create additional demo page for popup
  site/src/esl-popup/esl-d-popup-game.ts
  site/src/localdev.ts
  site/views/draft/popup-game.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): uodate Rect tests with resize test
  src/modules/esl-utils/dom/test/rect.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
