Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update README.md (build status)
  README.md
Due: none

chore(lint): install and configure `HTMLHint`
  .htmlhintrc
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

refactor(esl-event-listener): remove arguments restriction from `ESLEventTargetDecorator.cached`
  src/modules/esl-event-listener/core/targets/decorated.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): documentation for `EventTarget` extension draft
  src/modules/esl-event-listener/README.md
Due: none

docs(esl-event-listener): reformat and cleanup for documentation
  src/modules/esl-event-listener/README.md
Due: none

style(esl-event-listener): code reformat
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@43b64241531e272be547db4518d78806f217eb80 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-event-listener): apply suggestions from code review
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/api.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): fix typos founded on the code review
  src/modules/esl-event-listener/README.md
Due: none

style(eslint): apply review comments
  eslint/base-rules/deprecated-alias.js
Due: none

refactor(esl-share): create actionInstance getter
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): removed befaultBackround from button icon
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): update share config providers
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): change order share button attributes
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: remove `lintspaces-cli`
  .github/workflows/validate.yml
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

docs(esl-event-listener): fix typos in TSDoc
  src/modules/esl-event-listener/README.md
Due: none

refactor(esl-event-listener): `ESLEventUtils.decorate` API reworked
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): basic cases for `ESLEventUtils.decorate`
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-event-listener): fix typos in tests
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): `SyntheticEventTarget` extended with ability to pass custom target to `dispatchEvent` method
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-utils): fix `SyntheticEventTarget` event `target` descriptor configurability
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): tests for new `ESLResizeObserverTarget` instance
  src/modules/esl-event-listener/test/targets/resize.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-utils): API normalization + fix override keyword
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): fix naming for `ESLEventTargetDecorator` internal methods
  src/modules/esl-event-listener/core/targets/decorated.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-utils): update user cases tests for `decorate` utility
  src/modules/esl-event-listener/test/decorator.test.ts
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-utils): fix override keyword
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): update cache limitation and documentation
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorated.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): `ResizeObserver` mock enhanced
  src/modules/esl-utils/test/resizeObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): create EventTarget decorator and window target utilities
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorator.target.ts
  src/modules/esl-event-listener/test/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): New `ESLEventUtils.resize` utility to create an adapter `EventTargets` for `ResizeObserver`
  jest.config.js
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-utils/test/resizeObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
