Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(stylelint-config): move custom import check to `stylelint-config`
  .stylelintrc.yml
  build/import.stylelint.js
  package-lock.json
  packages/stylelint-config/custom/import.js
  packages/stylelint-config/package.json
Due: none

chore(site): apply suggestions from code review
  packages/esl-website/src/navigation/sidebar/sidebar.less
Due: stylelint

deploy: e17d8194d1e3fe21239518e7cbd7c0ebf13f3387
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

refactor(snapshot-tests): fix e2e tests
  .commitlintrc.yml
  package-lock.json
  packages/snapshot-tests/tests/homepage.feature
  packages/snapshot-tests/tests/test.feature
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

test(e2e): update snapshots & fix tests (#3000)
  .commitlintrc.yml
  package-lock.json
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
  packages/snapshot-tests/tests/homepage.feature
  packages/snapshot-tests/tests/test.feature
Due: none

chore: update tsconfig closer to the actual browser state
  tsconfig.json
Due: none

feat(esl-utils): add `pick` method implementation to `esl-utils/misc/object`
  src/modules/esl-utils/misc/object.ts
  src/modules/esl-utils/misc/object/copy.ts
  src/modules/esl-utils/misc/object/test/copy.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): implement reusable `parseLazyAttr` method in `esl-utils/misc/format`
  src/modules/esl-utils/misc/format.ts
  src/modules/esl-utils/misc/test/format.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): update config parser implementation, fix `lazy` attr parser, add `disablePictureInPicture` attribute support
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): rework native media settings applier, native video provider now supports `disablePictureInPicture` and `startTime`
  src/modules/esl-media/providers/html5/media-provider.ts
  src/modules/esl-media/providers/html5/video-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): support for `disablePictureInPicture` in bightcove/iframe provider
  src/modules/esl-media/providers/brightcove-provider.ts
  src/modules/esl-media/providers/iframe-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): fix regression page opens fullscreen on devices
  packages/esl-website/views/dev/esl-media-regression.njk
Due: none

fix(esl-media): fix ESLMedia does not show preview on iOS Mobile devices
  src/modules/esl-media/providers/html5/media-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 241f0f79ba8bc240121c7b57ae32c22bc83445e0
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

chore(site): update release notes for 5.2.0
  packages/esl-website/views/blogs/ESL v5.2.0.md
Due: none

chore(esl-media): fix missing file for #9e0a2eb5e0e55188147b8649b3b861cb0224fe3d commit
  src/modules/esl-media/core/esl-media.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): re-do esl-media `playsinline` and `disablepictureinpicture` attributes to HTMLMediaElement notation
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/providers/brightcove-provider.ts
  src/modules/esl-media/providers/html5/video-provider.ts
  src/modules/esl-media/providers/iframe-provider.ts
  src/modules/esl-media/providers/youtube-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): fix `pick` method does not copy not own properties
  src/modules/esl-utils/misc/object/copy.ts
  src/modules/esl-utils/misc/object/test/copy.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: fix ESL v5.2.0.md release notes typo
  packages/esl-website/views/blogs/ESL v5.2.0.md
Due: none

docs(esl-utils): fix typo in docs of `parseLazyAttr`
  src/modules/esl-utils/misc/format.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): fix small linter issue in copy.test.ts
  src/modules/esl-utils/misc/object/test/copy.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): fix config builder (filtering mediaSrc/mediaId + NaN startTime)
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.2.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/snapshot-tests/package.json
  packages/stylelint-config/package.json
Due: none

Notes added by 'git notes add'
  2738b38c793798e69bbd85673eb8d739757ac46d
Due: none

chore: rework pack command to create tarballs in `target` dir
  package.json
  packages/esl/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/stylelint-config/package.json
Due: none

chore: fix sideEffects for esl package
  packages/esl/package.json
Due: none

deploy: 2032f91e28c0431de3a05fc5f7519ffc3efb334e
  README.md
  index.md
Due: none

deploy: cd2a0c3332ad5baa11bd3749d37f4b84c97095b0
  README.md
  index.md
Due: none

test(e2e): fix version test source
  lerna.json
  packages/snapshot-tests/tests/homepage.copyright.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: add support of beta releases, rework release-pr workflow
  .github/workflows/release-pr.yml
Due: none

chore: release v5.2.1-beta.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

chore: complete rework of release workflow
  .github/workflows/release-github.yml
  .github/workflows/release-handler.yml
  .github/workflows/release-npm.yml
  .github/workflows/release-pr.yml
Due: none

chore: fix GitHub release preconditions (fix resolve of the git tag version)
  .github/workflows/release-github.yml
Due: none

chore(site): fix watch for md sources
  package.json
  packages/esl/package.json
Due: none

chore(site): fix image rendering in MD files
  packages/esl-website/11ty/markdown.img.lib.js
  packages/esl-website/11ty/markdown.shortcut.js
Due: none

chore: fix README.md paths
  README.md
Due: none

deploy: a1965c41aec217273b70ea1296b91766c519b13b
  README.md
  index.md
Due: none

chore: get rid of unnecessary override for `conventional-changelog-conventionalcommits`
  package-lock.json
  package.json
Due: none

chore: remove unnecessary stab `@types/puppeteer`
  package-lock.json
  packages/snapshot-tests/package.json
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
