Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

chore(esl-media): add public release notes for v5.9.0
  packages/esl-website/views/blogs/ESL v5.9.0.md
Due: none

docs: fix public release notes typos for 5.9.0
  packages/esl-website/views/blogs/ESL v5.9.0.md
Due: none

deploy: 524cc99c091b9182496bfab87bb25deb06b85a0f
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

chore: release v5.9.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: d717329bad8fd8faced90d02ba87b360415278f4
  README.md
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

chore: release v5.9.1
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): introduce improve ESLEventUtils event type handling
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-event-listener/core/api.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-element.ts
  packages/esl/src/esl-utils/abstract/component.ts
  packages/esl/src/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): introduce common TS type utils file
  packages/esl/src/esl-utils/misc.ts
  packages/esl/src/esl-utils/misc/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): fix trim types (e.g. `click `) for ESLEventType
  packages/esl/src/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): disallow explicit empty event type
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/misc/functions.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): rename EType generic to EName
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-event-listener/core/api.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-element.ts
  packages/esl/src/esl-utils/abstract/component.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix missing event type definitions for custom event targets
  packages/esl/src/esl-event-listener/core/targets/intersection.event.ts
  packages/esl/src/esl-event-listener/core/targets/swipe.target.event.ts
  packages/esl/src/esl-event-listener/core/targets/wheel.target.event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: lerna publish command migrated to nx release publish
  .github/workflows/release-npm.yml
Due: none

chore(esl-event-listener): update ESLListenerDescriptorExt template variable name for readability
  packages/esl/src/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: a00a42cdc393d7311bcf6efd1ed38ff51c716938
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  index.md
Due: none

chore: complete migration of release workflows to pure nx
  .github/workflows/release-github.yml
  .github/workflows/release-pr.yml
  lerna.json
  nx.json
  package-lock.json
  package.json
  packages/esl-website/package.json
  packages/esl/package.json
  packages/snapshot-tests/package.json
Due: none

deploy: 5750e21c6dcfcaa140f8618368a6eff8dd10fd65
  README.md
  index.md
Due: none

chore: remove lerna references from tests and processes
  .editorconfig
  .github/CODEOWNERS
  .gitignore
  README.md
  packages/snapshot-tests/tests/homepage.copyright.test.ts
  scripts/notes.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update release-npm command to use safe npx call
  .github/workflows/release-npm.yml
Due: none

chore: update release-npm workflow permissions
  .github/workflows/release-npm.yml
Due: none

chore: update repository information for provenance check
  package.json
  packages/esl-website/package.json
  packages/esl/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/snapshot-tests/package.json
  packages/stylelint-config/package.json
Due: none

feat(esl-event-listener): make strict event names type handling
  packages/esl/src/esl-event-listener/core/targets/resize.target.ts
  packages/esl/src/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): introduce strict event target based on event names
  packages/esl/src/esl-utils/decorators/listen.ts
  packages/esl/src/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): fix wheel event handling (wheel ignores next slide direction)
  packages/esl/src/esl-carousel/core/esl-carousel.utils.ts
  packages/esl/src/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-line-clamp): introduce esl-line-clamp mixin to limit text content in the block
  .commitlintrc.yml
  packages/esl/src/all.less
  packages/esl/src/all.ts
  packages/esl/src/esl-line-clamp/core.less
  packages/esl/src/esl-line-clamp/core.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.less
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(site): create pages for esl-line-clamp mixin
  packages/esl-website/src/site.ts
  packages/esl-website/static/assets/examples/line-clamp.svg
  packages/esl-website/views/components/esl-line-clamp.njk
  packages/esl-website/views/examples/esl-line-clamp.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-line-clamp): create tests for esl-clamp mixin
  packages/esl/src/esl-line-clamp/test/esl-line-clamp.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-line-clamp): create README for esl-line-clamp mixin
  packages/esl/src/esl-line-clamp/README.md
Due: none

chore: rework versioning processes, migrate subscripts to mjs, store main version in root
  .github/workflows/release-github.yml
  .github/workflows/release-pr.yml
  package-lock.json
  package.json
  packages/snapshot-tests/tests/homepage.copyright.test.ts
  scripts/notes.mjs
  scripts/update-root-version.mjs
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: rework catlog script
  package.json
  scripts/catlog.js
  scripts/catlog.mjs
  scripts/catlog.txt
Due: none

style(esl-line-clamp): apply suggestions from code review
  packages/esl/src/esl-line-clamp/test/esl-line-clamp.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-line-clamp): apply suggestions from code review
  packages/esl-website/views/components/esl-line-clamp.njk
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: update development guidelines for project setup and scripts
  docs/DEVELOPMENT.md
  package-lock.json
  package.json
Due: none

refactor(esl-event-listener): introduce `TypedTarget` interface
  packages/esl/src/esl-event-listener/core/targets/intersection.target.ts
  packages/esl/src/esl-event-listener/core/targets/resize.target.event.ts
  packages/esl/src/esl-event-listener/core/targets/resize.target.ts
  packages/esl/src/esl-event-listener/core/targets/swipe.target.ts
  packages/esl/src/esl-event-listener/core/targets/wheel.target.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/decorators/listen.ts
  packages/esl/src/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): drop unused const
  packages/esl/src/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: return back overall project version in the root README
  README.md
Due: none

refactor(esl-event-listener): improve even name retrieval utility
  packages/esl/src/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
