Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

style(esl-animate): fix code style (override keyword)
  src/modules/esl-animate/core/esl-animate-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-animate): refactor service implementation
  src/modules/esl-animate/core/esl-animate-service.ts
  src/modules/esl-animate/test/animate.service.test.ts
  src/modules/esl-utils/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-animate): refactor mixin implementation and types
  src/modules/esl-animate/core/esl-animate-mixin.ts
  src/modules/esl-animate/test/animate.element.test.ts
  src/modules/esl-animate/test/animate.mixin.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): cleanup for mock IntersectionObserver implementation
  src/modules/esl-utils/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-animate): cleanup for documentation and example
  pages/views/examples/animate.njk
  src/modules/esl-animate/README.md
  src/modules/esl-animate/core/esl-animate-mixin.ts
  src/modules/esl-animate/core/esl-animate-service.ts
  src/modules/esl-animate/test/animate.mixin.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

refactor(esl-toggleable): code refactoring (#1727)
  src/modules/esl-toggleable/README.md
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-utils/dom/class.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(gh-pages): news section refactoring
  pages/11ty/markdown.shortcut.js
  pages/11ty/news.collection.js
  pages/src/landing/blogs/blogs.less
  pages/views/_includes/landing/news.njk
  pages/views/_includes/landing/newsline.njk
  pages/views/blogs/ESL v4.0.0.md
  pages/views/index.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): remove debug log
  pages/11ty/markdown.shortcut.js
  pages/views/index.11tydata.yml
Due: none

docs(esl-animate): apply small documentation fixes
  src/modules/esl-animate/README.md
  src/modules/esl-animate/core/esl-animate-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): update release process
  .github/workflows/release-pr.yml
Due: none

feat(esl-toggleable): ability to set up state class to any related element (#1728)
  src/modules/esl-toggleable/README.md
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix release-please config
  .github/workflows/release-pr.yml
Due: none

chore(release): 4.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  05/15c7084e1ac00505cf08e046b2227519de361c
Due: none

chore: add draft version of release please workflow for beta versions
  .github/workflows/release-pr-beta.yml
Due: none

chore: fix draft version of release please workflow for beta versions
  .github/workflows/release-pr-beta.yml
Due: none

chore: fix name of the draft version of release please workflow for beta versions
  .github/workflows/release-pr-beta.yml
Due: none

chore(release): 4.9.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4d/293cd8e500ff0d0a4a5fc3faa205cb128f0f79
Due: none

refactor: Draft version of release please workflow for beta channel (test)
  .github/workflows/release-pr-beta.yml
Due: none

chore: add `repositoryUrl` to semantic release configuration
  .releaserc.yml
Due: none

fix(esl-animate): missing types for `esl-animate` module
  src/modules/esl-animate/core/esl-animate-mixin.ts
  src/modules/esl-animate/core/esl-animate-service.ts
  src/modules/esl-animate/core/esl-animate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-animate): rework default animation classes
  src/modules/esl-animate/README.md
  src/modules/esl-animate/core/esl-animate-animations.less
Due: stylelint, lintspaces -n -t -d spaces

docs(esl-animate): update site pages according to the latest `esl-animate` updates
  pages/src/common/simple-grid.less
  pages/views/_includes/landing/benefits.njk
  pages/views/_includes/landing/blogs.njk
  pages/views/_includes/landing/promo-banner.njk
  pages/views/components/esl-animate.njk
  pages/views/examples/animate.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): remove truncate method
  pages/11ty/date.filter.js
  pages/11ty/markdown.shortcut.js
  pages/views/_includes/landing/newsline.njk
Due: lintspaces -n -t -d spaces

chore(gh-pages): news section refactoring
  pages/views/_includes/landing/newsline.njk
Due: lintspaces -n -t -d spaces

feat(esl-footnotes): add support of the anchor relationship between note and footnote for the print version
  src/modules/esl-footnotes/core/esl-footnotes.ts
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-animate): fix redundant zero units
  src/modules/esl-animate/core/esl-animate-animations.less
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): update date semantics
  pages/11ty/date.filter.js
  pages/11ty/markdown.shortcut.js
  pages/views/_includes/landing/newsline.njk
Due: lintspaces -n -t -d spaces

fix: fixed collapsed settings blinking during resize
  src/core/base/root.less
  src/plugins/settings/settings.less
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): fix date formatter localization
  pages/11ty/date.filter.js
Due: none

chore(gh-pages): fix indexing of the 11ty watch
  pages/views/components/index.njk
  pages/views/core/index.njk
  pages/views/examples/index.njk
  pages/views/index.njk
Due: lintspaces -n -t -d spaces

chore(gh-pages): rework the Newsline component
  pages/src/landing/blogs/blogs.less
  pages/src/landing/landing.less
  pages/src/landing/newsline/newsline.less
  pages/views/_includes/landing/newsline.njk
Due: stylelint, lintspaces -n -t -d spaces

docs(gh-pages): "contribute to documentation" note
  pages/views/blogs/Contribution Needed - Docs.md
Due: none

chore(gh-pages): fix mobile version of newline component
  pages/src/landing/newsline/newsline.less
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): fix filters to properly handle empty collections + alternative date sorter
  pages/11ty/hidden.filter.js
  pages/11ty/released.filter.js
  pages/11ty/sort.filter.js
  pages/views/_includes/landing/newsline.njk
  pages/views/_layouts/collection-grid.njk
Due: lintspaces -n -t -d spaces

docs(gh-pages): replace content with a more realistic one
  pages/views/blogs/ESL v4.0.0.md
  pages/views/blogs/ESL v4.8.0.md
  pages/views/blogs/ESL v5.0.0 Announce.md
Due: none

chore(gh-pages): simplify `createSortFilter` function
  pages/11ty/sort.filter.js
Due: none

chore: npm regular audit
  package-lock.json
Due: none
