Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-media): update code documentation, cleanup new registry usages
  src/modules/esl-media/core/esl-media-registry.event.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): fix presenting of the event type in the public API
  src/modules/esl-event-listener/core/targets/wheel.target.event.ts
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): `ESLWheelTarget` proxy target created to handle long wheel user actions (#2031)
  src/modules/esl-event-listener/core/targets/wheel.target.event.ts
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): unify utility targets implementation
  src/modules/esl-event-listener/core/targets/intersection.target.ts
  src/modules/esl-event-listener/core/targets/resize.target.event.ts
  src/modules/esl-event-listener/core/targets/resize.target.ts
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix missing host in debug information of empty subscription
  src/modules/esl-event-listener/core/api.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix delegation recognition on non-DOM targets
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/listener.delegate.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): `ESLWheelTarget` tests
  src/modules/esl-event-listener/test/targets/wheel.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): add `ESLWheelTarget` doc
  src/modules/esl-event-listener/README.md
Due: none

docs(site): add `ESLWheelTarget` demo page
  pages/src/common/demo-area.less
  pages/src/esl-swipe-demo/esl-swipe-demo-area.less
  pages/src/esl-wheel-demo/esl-wheel-demo-area.less
  pages/src/esl-wheel-demo/esl-wheel-demo-area.ts
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/views/draft/wheel-demo.njk
  src/modules/esl-event-listener/core.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

test(esl-event-listener): update test names and jest legacy checks
  src/modules/esl-event-listener/test/targets/wheel.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): migrate to fake timers to speedup test cases
  src/modules/esl-event-listener/test/targets/wheel.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): rework logger elements
  pages/src/esl-events-demo/esl-events-demo.less
  pages/src/esl-events-demo/esl-events-demo.ts
  pages/src/esl-events-demo/esl-swipe-demo/esl-swipe-demo-area.less
  pages/src/esl-events-demo/esl-swipe-demo/esl-swipe-demo-area.ts
  pages/src/esl-events-demo/esl-wheel-demo/esl-wheel-demo-area.less
  pages/src/esl-events-demo/esl-wheel-demo/esl-wheel-demo-area.ts
  pages/src/esl-events-demo/log-area/log-area.less
  pages/src/esl-events-demo/log-area/log-area.ts
  pages/src/esl-swipe-demo/esl-swipe-demo-area.ts
  pages/src/esl-wheel-demo/esl-wheel-demo-area.ts
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/views/draft/swipe-demo.njk
  pages/views/draft/wheel-demo.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(esl-event-listener): apply suggestions from code review
  src/modules/esl-event-listener/README.md
Due: none

docs(esl-media): cosmetic fix for `esl-media-registry.event.ts`
  src/modules/esl-media/core/esl-media-registry.event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-modal): update animation time getter
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): use ready decorator
  pages/views/draft/multi-carousel.njk
  pages/views/draft/slide-carousel.njk
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): create esl slide and vertical carousel
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.less
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.ts
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.vertical.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): update semicolons
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.less
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.vertical.less
Due: stylelint

feat(presentation): create new presentation page & new layout
  pages/views/_layouts/full-page-content.njk
  pages/views/draft/presentation.njk
Due: none

docs(esl-share): update README
  src/modules/esl-share/README.md
Due: none

test(esl-random-text): cover `esl-random-text` with unit tests
  src/modules/esl-random-text/test/esl-random-text.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-media): improve media lazy tests speed by migrating to jest.fakeTimers (1s -> 20ms)
  src/modules/esl-media/test/esl-media.lazy.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-random-text): update `esl-random-text.test.ts`
  src/modules/esl-random-text/test/esl-random-text.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-avatar): apply suggestions from code review
  src/modules/esl-avatar/core/esl-avatar.less
  src/modules/esl-avatar/core/esl-avatar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

test(esl-avatar): uodate tests of component
  src/modules/esl-avatar/test/esl-avatar.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-avatar): update demo
  pages/views/examples/avatar.njk
Due: none

refactor(esl-event-listener): multiply delta by dpr
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): add missing wheel import
  src/modules/esl-event-listener/core.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-popup): simplify and refactor `esl-popup` options usage
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-popup): add support of `PopupActionParams.extraClass` on popup level
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-popup): add support of `PopupActionParams.extraStyle`
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-avatar): add README
  pages/views/components/esl-avatar.njk
  src/modules/esl-avatar/README.md
Due: none

style(esl-avatar): update tag shape
  src/modules/esl-avatar/core.less
  src/modules/esl-avatar/core/esl-avatar.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-avatar): create esl-avatar component to represent a user's profile picture
  src/modules/all.less
  src/modules/all.ts
  src/modules/esl-avatar/core.less
  src/modules/esl-avatar/core.ts
  src/modules/esl-avatar/core/esl-avatar.less
  src/modules/esl-avatar/core/esl-avatar.shape.ts
  src/modules/esl-avatar/core/esl-avatar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

test(esl-avatar): create tests of component
  src/modules/esl-avatar/test/esl-avatar.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-avatar): add README
  src/modules/esl-avatar/README.md
Due: none

docs(esl-avatar): create a component examples page
  pages/src/localdev.ts
  pages/static/assets/avatar/animation.webp
  pages/static/assets/avatar/transparent.png
  pages/static/assets/avatar/transparent.webp
  pages/static/assets/avatar/user.jpg
  pages/static/assets/avatar/user.png
  pages/static/assets/avatar/user.svg
  pages/static/assets/avatar/user.webp
  pages/static/assets/examples/avatar.svg
  pages/views/components/esl-avatar.njk
  pages/views/examples/avatar.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
