Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

docs(esl-event-listener): fix typo in test/targets/wheel.test.ts
  src/modules/esl-event-listener/test/targets/wheel.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 090bd4c5cc2f87ac01f48b4d02b6cedba7a0a7a9
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

deploy: 6e44e3af36f001e87f90a5356a35fb27e161289a
  README.md
  index.md
Due: none

chore(release): 5.0.0-beta.23
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  b5aa526e7538686f9261e481a4d524b0d94d57b9
Due: none

deploy: b5aa526e7538686f9261e481a4d524b0d94d57b9
  README.md
  index.md
Due: none

refactor(site): presentation content improvements & minification
  site/src/collection-grid/collection-grid.less
  site/src/presentation/slide.less
  site/views/overview/full/02-core/05-1-ESL Mega Query.njk
  site/views/overview/full/02-core/05-2-ESL Traversing Query.njk
  site/views/overview/quick/01-overview/00-what-is.njk
  site/views/overview/quick/01-overview/01-goals.njk
  site/views/overview/quick/01-overview/02-stack&compatibility.njk
  site/views/overview/quick/01-overview/03-browser-support.njk
  site/views/overview/quick/01-overview/04-compatibility.njk
  site/views/overview/quick/01-stack&compatibility/00-stack&compatibility.njk
  site/views/overview/quick/02-core/01-custom-tags.njk
  site/views/overview/quick/02-core/02-custom-attributes.njk
  site/views/overview/quick/02-core/04-event-listener.njk
  site/views/overview/quick/02-core/05-esl-utils.njk
  site/views/overview/quick/02-core/05-media-query.njk
  site/views/overview/quick/02-core/06-traversing-query.njk
  site/views/overview/quick/03-components/01-component-list.njk
  site/views/overview/quick/03-components/03-ux-list.njk
  site/views/overview/quick/03-components/04-responsiveness-n-flexibility.njk
Due: stylelint

deploy: fe05591aaccc5849e40d77759832987a9329c176
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

refactor(site): quick fix for print styles
  site/src/presentation/slide.less
Due: stylelint

deploy: da566bd43efcda9c875f7b09451c3ee8f1a6d5a4
  README.md
  index.md
Due: none

chore(site): disable contribution banner util reworked version
  site/views/_data/banner.yml
Due: none

deploy: 612a5a047a4acdc0e51d63ba6cff1af70e6ac0ce
  README.md
  index.md
Due: none

chore(site): content deprecation
  site/views/overview/full/index.njk
Due: none

deploy: 3d27f1d32165f6aa825ee66f8ada9b3793661955
  README.md
  index.md
Due: none

chore(site): content fixes
  site/src/collection-grid/collection-grid.less
  site/src/presentation/slide.less
  site/views/_layouts/presentation.njk
  site/views/overview/quick/01-overview/01-goals.njk
  site/views/overview/quick/01-overview/04-compatibility.njk
  site/views/overview/quick/02-core/00-core.njk
  site/views/overview/quick/02-core/01-custom-tags.njk
  site/views/overview/quick/02-core/02-custom-attributes.njk
  site/views/overview/quick/02-core/04-event-listener.njk
Due: stylelint

deploy: f879f738797ba720b60a6aaf61a6c3f3e9771b87
  README.md
  index.md
Due: none

chore(site): fix small typo
  site/views/overview/quick/02-core/01-custom-tags.njk
Due: none

deploy: c74ed5ed2936dfb024e92a1acc432e36b0d06ca7
  README.md
  index.md
Due: none

chore: update setHtml (remove unnecessary checks, add enhancement)
  src/core/base/model.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): vertical carousel sample added
  site/views/examples/carousel/vertical.sample.njk
Due: none

fix(esl-event-listener): fix missing signature for `$$on` method of base component
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-utils/abstract/component.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): fix handling of pointercancel event by touch plugin
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(uip-editor): code refactoring
  src/core/base/model.storage.ts
  src/core/base/model.ts
  src/core/base/root.ts
  src/plugins/editor/editor-storage.ts
  src/plugins/editor/editor.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(uip-editor): code refactoring
  src/core/base/root.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-carousel): remove unused import for ESLEventUtils
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 2169cafb9428765f6e0755bbb36ea3c1f21f9b34
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

fix(esl-utils): debounced promise return
  src/modules/esl-utils/async/debounce.ts
  src/modules/esl-utils/async/test/debounce.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): enhance regex to support <script> tags with type="text/plain"
  site/11ty/htmlmin.transform.js
Due: none

chore: small dir toggle styles update
  src/plugins/direction/dir-toggle.less
Due: stylelint

chore: package-lock.json update
  package-lock.json
Due: none

refactor(esl-media-query): deprecate `ESLMediaRuleList.parse`
  src/modules/esl-media-query/README.md
  src/modules/esl-media-query/core/esl-media-rule-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): make animated carousel area equal to the content without padding
  site/views/examples/carousel/vertical.sample.njk
  src/modules/esl-carousel/core/esl-carousel.less
Due: stylelint

refactor(esl-media-query): !important! deprecation of `ESLMediaRuleList.parse` (#2498)
  src/modules/esl-media-query/README.md
  src/modules/esl-media-query/core/esl-media-rule-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): fix site sorters, make them generalized
  site/11ty/sort.filter.js
  site/views/_includes/landing/newsline.njk
  site/views/_includes/navigation/footer-menu.njk
  site/views/_includes/navigation/sidebar-item.njk
  site/views/_layouts/collection-grid.njk
  site/views/examples/carousel.njk
Due: none

deploy: b34d575bd1af0f6c04525a07a6d41fde1d1b5bc0
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  index.md
Due: none

fix(esl-mixin-element): major fix for nested hierarchy mixin disconnection
  src/modules/esl-mixin-element/test/mixin.prototype.test.ts
  src/modules/esl-mixin-element/test/mixin.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update dependabot message configuration
  .commitlintrc.yml
  .github/dependabot.yml
Due: none

style: simplify `destroyAll` api due to private usage
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-mixin-element): simplify subtree check conditions
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 2a3382547e0b40c3fe1fee3e0813ac6295cf0939
  README.md
  index.md
Due: none
