Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(gh-pages): fix logo svg to prevent artifacts on iOS devices (#1313)
  pages/static/assets/logo-pretty.svg
Due: none

Deploying to gh-pages from @ exadel-inc/esl@5945133b71e3a79a01e46965c95af1b21981492e 🚀
  assets/logo-pretty.svg
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(gh-pages): fix aurora effect for `lg-xl`, `xl` and `xs` breakpoints
  pages/src/landing/promo-banner/promo-banner.less
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@5945133b71e3a79a01e46965c95af1b21981492e 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(gh-pages): code refactoring
  pages/src/landing/promo-banner/promo-banner.less
Due: stylelint, lintspaces -n -t -d spaces

docs(esl-share): create README
  src/modules/esl-share/README.md
Due: none

style(gh-pages): fix styles for collection grid
  pages/src/collection-grid/collection-grid.less
Due: stylelint, lintspaces -n -t -d spaces

style(gh-pages): fix examples of toggleable
  pages/views/examples/related-target.njk
  pages/views/examples/toggleable.njk
Due: lintspaces -n -t -d spaces

feat(esl-share): create esl-share-icon component
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-icon.less
  src/modules/esl-share/core/esl-share-icon.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-share): update all.ts and all.less files
  src/modules/all.less
  src/modules/all.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-share): create esl-share-trigger component
  pages/src/localdev.ts
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-trigger.less
  src/modules/esl-share/core/esl-share-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-share): create esl-share component
  pages/src/localdev.ts
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(uip for esl-media): remove unused ESLDemoMediaSource
  pages/src/common/media.less
  pages/src/common/playground.less
  pages/src/esl-media-demo/test-media-source.ts
  pages/src/esl-media-demo/test-media.less
  pages/src/localdev.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(gh-pages): update anchors and footnote sample pages
  pages/views/examples/anchors.njk
  pages/views/examples/footnotes.njk
Due: lintspaces -n -t -d spaces

style(gh-pages): fix components view
  pages/views/components/esl-related-target.njk
  pages/views/components/esl-toggleables/esl-related-target.njk
  pages/views/components/esl-toggleables/esl-toggleable.njk
  pages/views/components/esl-toggleables/index.njk
Due: lintspaces -n -t -d spaces

chore(gh-pages): update anchor scroll ino view sample
  pages/src/anchor/anchor-link.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

test(esl-related-target): add test for esl-related-target
  src/modules/esl-related-target/test/related-target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(gh-pages): update scroll ino view sample page
  pages/src/esl-scrollable-controls-demo/scrollable-controls.ts
  pages/views/_includes/scroll/scroll-options.njk
  pages/views/examples/scroll-into-view.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore(gh-pages): add nested accordion scroll into view example page
  pages/views/examples/nested-accordion.njk
Due: lintspaces -n -t -d spaces

fix(gh-pages): fix aurora effect for `xs` breakpoints
  pages/src/landing/promo-banner/promo-banner.less
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@b96535443415e7d3a2a315b6ee8a2455d981bff5 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@3fcc2dfa73c19087f56ab7689172073d805207ce 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@4139f810f527d8503596f0c577856427b545c940 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@bdcc7aaeb69220a0bb8f3ae4ba200246b3d90b6d 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@6d124ee0c869c0d121e6ff5e97327e4cc4639608 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(gh-pages): add 11ty generator marker metatag
  pages/views/_layouts/base.njk
Due: lintspaces -n -t -d spaces

chore(gh-pages): add robots="noindex" meta tag for forward template
  pages/views/_layouts/forward.njk
Due: lintspaces -n -t -d spaces

chore(gh-pages): remove push trigger to deploy site
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ exadel-inc/esl@b2297d1f4648a690ee7f9fecbd9b68166090fca3 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-related-target): split tests
  src/modules/esl-related-target/test/related-target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(gh-pages): fix aurora effect for `lg-xl`, `xl` and `xs` breakpoints (#1314)
  pages/src/landing/promo-banner/promo-banner.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-related-target): fix components navigation
  pages/views/components/esl-toggleable.njk
  pages/views/components/esl-toggleables/esl-related-target.njk
  pages/views/components/esl-toggleables/index.njk
Due: lintspaces -n -t -d spaces

style(esl-related-target): fix review
  src/modules/esl-related-target/README.md
  src/modules/esl-related-target/test/related-target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@e181e296c277adc74c8143d57e62de61596b61f7 🚀
  bundles/localdev.css
  bundles/localdev.css.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(editor): move editor to dynamic components
  src/plugins/async-plugins.ts
  src/plugins/editor/editor.ts
  src/plugins/registration.ts
  tsconfig.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
