Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

Deploying to gh-pages from @ exadel-inc/esl@ab7afffb863be109687fa7acbd6b88a6544b8a43 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

docs(blogs): update blog heading
  pages/views/blogs/4.0.0/Event Listeners.md
Due: none

refactor(gh-pages): add animation and `draft` badges to `Examples`
  pages/src/collection-grid/collection-grid.less
  pages/views/_layouts/collection-grid.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): update the list item UI: add two columns
  pages/src/collection-grid/collection-grid.less
  pages/static/assets/examples/popup.svg
  pages/views/_layouts/collection-grid.njk
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@084f0f22cf8d41b71fbae17f53f7b7c68abe9305 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/src/collection-grid/collection-grid.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): add icons to `content` page and remove `fill` attribute from svg icons
  pages/src/page/base-layout.less
  pages/static/assets/sidebar/blogs.svg
  pages/static/assets/sidebar/components.svg
  pages/static/assets/sidebar/contrib.svg
  pages/static/assets/sidebar/examples.svg
  pages/static/assets/sidebar/search.svg
  pages/static/assets/sidebar/start.svg
  pages/static/assets/sidebar/utils.svg
  pages/views/_layouts/content.njk
  pages/views/blogs/index.njk
  pages/views/components/index.njk
  pages/views/core/index.njk
  pages/views/examples/index.njk
  pages/views/introduction/index.njk
  pages/views/search.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(dev-deps): update common dev dependencies
  package-lock.json
  package.json
Due: none

chore: update PULL_REQUEST template for github
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refactor: adds `prop` decorator to `esl-base-element` and `esl-mixin-element` export
  src/modules/esl-base-element/core.ts
  src/modules/esl-mixin-element/core.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-utils): optimize event subscription with a check for an active targets
  src/modules/esl-utils/dom/events/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(gh-pages): change arrow on the `list` page and remove `fill` attribute from svg icons
  pages/src/collection-grid/collection-grid.less
  pages/static/assets/sidebar/components.svg
  pages/static/assets/sidebar/contrib.svg
  pages/static/assets/sidebar/examples.svg
  pages/static/assets/sidebar/search.svg
  pages/static/assets/sidebar/start.svg
  pages/static/assets/sidebar/utils.svg
  pages/views/_layouts/collection-grid.njk
  pages/views/_layouts/content.njk
  pages/views/blogs/Prelelease v4.0.0.md
  pages/views/components/esl-a11ty-group.njk
  pages/views/components/esl-alert.njk
  pages/views/components/esl-animate.njk
  pages/views/components/esl-footnotes.njk
  pages/views/components/esl-image.njk
  pages/views/components/esl-media.njk
  pages/views/components/esl-panel-group.njk
  pages/views/components/esl-panel.njk
  pages/views/components/esl-popup.njk
  pages/views/components/esl-scrollbar.njk
  pages/views/components/esl-select-list.njk
  pages/views/components/esl-select.njk
  pages/views/components/esl-tabs.njk
  pages/views/components/esl-toggleable.njk
  pages/views/components/esl-trigger.njk
  pages/views/core/esl-base-element.njk
  pages/views/core/esl-media-query.njk
  pages/views/core/esl-mixin-element.njk
  pages/views/core/esl-traversing-query.njk
  pages/views/core/esl-utils.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-trigger): `esl-trigger` migrated to esl listener utility
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): add empty type warning for event listener subscription
  src/modules/esl-utils/dom/events/listener.ts
  src/modules/esl-utils/dom/events/test/listener.test.ts
  src/modules/esl-utils/dom/events/test/utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-utils): ability to inherit ESLEventDescriptor from supertype method definition
  src/modules/esl-utils/decorators/listen.ts
  src/modules/esl-utils/decorators/test/listen.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@9ea6ab43bf7ca654005eda2ae98adcfdac22edb8 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(gh-pages): make `draft` badges red, rename preview icons
  pages/src/collection-grid/collection-grid.less
  pages/views/_layouts/collection-grid.njk
  pages/views/_layouts/content.njk
  pages/views/blogs/index.njk
  pages/views/components/index.njk
  pages/views/core/index.njk
  pages/views/examples/index.njk
  pages/views/introduction/index.njk
  pages/views/search.njk
Due: stylelint, lintspaces -n -t -d spaces

fix(esl-utils): fix page content jumping after scroll lock
  src/modules/esl-utils/dom/scroll.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/src/collection-grid/collection-grid.less
  pages/views/_layouts/collection-grid.njk
Due: stylelint, lintspaces -n -t -d spaces

style: apply suggestions from code review (docs typo)
  src/modules/esl-utils/decorators/listen.ts
  src/modules/esl-utils/decorators/test/listen.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@c680a2f908861e3db97be468bed94a31f926e03c 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-utils): rolled back ability to use @listen without arguments
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(gh-pages): code refactoring
  pages/src/collection-grid/collection-grid.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): create `back link` attribute, add `back link` to `Nested accordion anchors`
  pages/src/back-link/back-link.less
  pages/src/back-link/back-link.ts
  pages/src/common/links.less
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/views/_layouts/content.njk
  pages/views/examples/nested-accordion.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/views/examples/nested-accordion.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/views/_layouts/content.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/views/blogs/index.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/views/components/index.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/views/examples/index.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/views/introduction/index.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/views/search.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): code refactoring
  pages/views/core/index.njk
Due: lintspaces -n -t -d spaces

style(gh-pages): small updates in collection grid transitions
  pages/src/collection-grid/collection-grid.less
Due: stylelint, lintspaces -n -t -d spaces

style(gh-pages): fix component name according styleguide
  pages/src/back-link/back-link.less
  pages/src/back-link/back-link.ts
  pages/src/localdev.ts
  pages/views/_layouts/content.njk
  pages/views/examples/nested-accordion.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore: pr fixes
  src/plugins/header/snippets/snippets.ts
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests
