Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(lint): remove empty line
  eslint-plugin/src/core/deprecated-class-method.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(site): add support for third level navigation
  site/src/navigation/sidebar/sidebar-primary-nav.less
  site/src/navigation/sidebar/sidebar-seccondary-nav.less
  site/src/navigation/sidebar/sidebar.less
  site/views/_includes/navigation/footer-menu.njk
  site/views/_includes/navigation/sidebar-item.njk
  site/views/_includes/navigation/sidebar.njk
  site/views/core/esl-event-listener.njk
  site/views/core/esl-event-listener/basic-concepts.njk
  site/views/core/esl-event-listener/extended-behavior.njk
  site/views/core/esl-event-listener/extended-event-targets.njk
  site/views/core/esl-event-listener/index.njk
  site/views/core/esl-event-listener/public-api.njk
  src/modules/esl-event-listener/README.md
Due: stylelint

refactor(plugin-panel): fix style
  src/plugins/settings/settings.icon.tsx
  src/plugins/settings/settings.less
Due: stylelint

deploy: 2200e3b066fa804230fe4a2e5ea538dcf801d052
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

fix(esl-drag-to-scroll): fix issue with un-prevented click action after drag
  site/views/examples/esl-drag-to-scroll.njk
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: b48f9237c10a57f0ce536573a09d6955f70437fc
  README.md
  index.md
Due: none

docs(esl-event-listener): reorganize documentation
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/docs/1-overview.md
  src/modules/esl-event-listener/docs/2-public-api.md
  src/modules/esl-event-listener/docs/3-extended-targets.md
  src/modules/esl-event-listener/docs/4-core-support.md
Due: none

style(site): second wave of navigation rework
  site/site.yml
  site/src/navigation/sidebar/sidebar-seccondary-nav.less
  site/views/_includes/navigation/sidebar-item.njk
  site/views/core/esl-event-listener/core-support.njk
  site/views/core/esl-event-listener/extended-targets.njk
  site/views/core/esl-event-listener/index.njk
  site/views/core/esl-event-listener/overview.njk
  site/views/core/esl-event-listener/public-api.njk
Due: stylelint

style(site): more fixes for sidebar layout
  site/src/navigation/sidebar/sidebar-seccondary-nav.less
  site/src/navigation/sidebar/sidebar-share.less
  site/views/_includes/navigation/sidebar-item.njk
  site/views/core/esl-eslint-plugin.njk
Due: stylelint

style(site): fix sidebar submenu animations
  site/src/navigation/sidebar/sidebar-seccondary-nav.less
  site/src/navigation/sidebar/sidebar.less
  site/src/navigation/sidebar/sidebar.ts
  site/views/_includes/navigation/sidebar.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

fix(esl-carousel): esl-carousel tag is not declared to be used in TSX
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-drag-to-scroll): fix propagation of the click if drag detected
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): add missing TSX declaration for `esl-carousel-dots`
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.37
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  067fa8c6e17a7f4f96d1822853e93bbc39fec796
Due: none

chore(e2e): basic directory restructuring
  e2e/jest.config.js
  e2e/setup/scenarios.ts
  e2e/src/reporters/printers.js
  e2e/src/reporters/reporter.js
  e2e/src/scenarios.ts
  e2e/src/scenarios/element/scenarios.attr.ts
  e2e/src/scenarios/element/scenarios.basic.ts
  e2e/src/scenarios/element/scenarios.class.ts
  e2e/src/scenarios/element/scenarios.events.ts
  e2e/src/scenarios/element/scenarios.query.ts
  e2e/src/scenarios/element/scenarios.utils.ts
  e2e/src/scenarios/element/scenarios.xpath.ts
  e2e/src/scenarios/scenarios.env.ts
  e2e/src/scenarios/scenarios.page.ts
  e2e/src/scenarios/scenarios.screen.ts
  e2e/src/scenarios/scenarios.screenshot.ts
  e2e/src/scenarios/scenarios.wait.ts
  e2e/src/serializers/image-snapshot.composer.ts
  e2e/src/serializers/image-snapshot.matcher.ts
  e2e/src/serializers/image-snapshot.pocessor.ts
  e2e/src/serializers/image-snapshot.sharp.ts
  e2e/src/serializers/image-snapshot.ts
  e2e/src/transformer/gherkin.d.ts
  e2e/src/transformer/gherkin.js
  e2e/src/utils/directory.d.ts
  e2e/src/utils/directory.js
  e2e/src/utils/image-snapshot.name.d.ts
  e2e/src/utils/image-snapshot.name.js
  e2e/tests/homepage.copyright.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): fix images normalization alignment + improve performance
  e2e/src/serializers/image-snapshot.matcher.ts
  e2e/src/serializers/image-snapshot.pocessor.ts
  e2e/src/serializers/image-snapshot.sharp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media): observation for togglebale container state
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): prevent toggleable container to start non-autoplay videos
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): handle multiple nested toggleable containers
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): code refactoring
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): code refactoring
  src/modules/esl-media/core/esl-media-iobserver.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): code refactoring
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): rename method
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): code refactoring
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): add a comment
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-media): e2e testing
  e2e/tests/modules/esl-media/esl-media.test.ts
  site/views/test/test-esl-media.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): code refactoring
  site/views/test/test-esl-media.njk
Due: none

chore(e2e): tests refactoring
  e2e/tests/modules/esl-media/esl-media-iframe.test.ts
  e2e/tests/modules/esl-media/esl-media-video.test.ts
  e2e/tests/modules/esl-media/esl-media-youtube.test.ts
  e2e/tests/modules/esl-media/esl-media.test.ts
  e2e/tests/modules/esl-media/utils/utils.ts
  e2e/tests/modules/esl-media/utils/wait.ts
  site/views/test/test-esl-media.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-footnotes): claenup readonly API of `esl-note`
  src/modules/esl-footnotes/README.md
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): apply doc fixed found during review
  src/modules/esl-event-listener/docs/1-overview.md
  src/modules/esl-event-listener/docs/3-extended-targets.md
  src/modules/esl-event-listener/docs/4-core-support.md
Due: none

deploy: cf936c3c0f16fcd60776c0549fd0720789da11ee
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  index.md
Due: none

style(site): update nav alignment, refactor badge rendering
  site/src/navigation/sidebar/sidebar-content.less
  site/src/navigation/sidebar/sidebar-seccondary-nav.less
  site/src/navigation/sidebar/sidebar.less
  site/views/_includes/navigation/sidebar-item.njk
  site/views/core/esl-event-listener/index.njk
Due: stylelint

style(site): fix default rendering of md source
  site/views/_layouts/content.njk
Due: none

docs(site): draft of migration guide for 5.0.0 version
  site/views/blogs/ESL v5.0.0 Migartion Guide.md
Due: none

chore(e2e): tests refactoring
  e2e/babel.config.js
  e2e/jest.config.js
  e2e/package.json
  e2e/tests/modules/esl-media/esl-media-video.test.ts
  e2e/tests/modules/esl-media/esl-media-youtube.test.ts
  e2e/tests/modules/esl-media/utils/utils.ts
  e2e/tests/modules/esl-media/utils/wait.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): update lock file
  package-lock.json
Due: none

docs(site): migration guide fixes
  site/src/navigation/sidebar/sidebar-content.less
  site/views/_includes/navigation/sidebar-item.njk
  site/views/blogs/ESL v5.0.0 Migartion Guide.md
Due: stylelint

style: linting fixes
  site/src/site.ts
  src/modules/esl-media-query/core/conditions/media-query-base.ts
  src/modules/esl-media-query/core/conditions/media-query-const.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
