Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

refactor(esl-media): cleanup namings, documentation, add `system` marker and public API for ESLMediaManager
  src/modules/esl-media/README.md
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/test/media-manager.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media): add cancelable `esl:media:before:play` event-hook to control low-level play call, prevent unnecessary player command execution (#2939)
  site/views/dev/esl-media-regression.njk
  src/modules/esl-media/README.md
  src/modules/esl-media/core.ts
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media-registry.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/providers/brightcove-provider.ts
  src/modules/esl-media/providers/html5/media-provider.ts
  src/modules/esl-media/test/media-manager.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-media): apply documentation suggestions
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/test/media-manager.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-media): update tests, add BaseProvider livecycle tests
  src/modules/esl-media/test/base-provider.livecycle.test.ts
  src/modules/esl-media/test/base-provider.mock.ts
  src/modules/esl-media/test/base-provider.test.ts
  src/modules/esl-media/test/mocks/base-provider.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-media): media manager tests cleanup
  src/modules/esl-media/test/base-provider.livecycle.test.ts
  src/modules/esl-media/test/media-manager.test.ts
  src/modules/esl-media/test/mocks/base-provider.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-media): linting fixes
  src/modules/esl-media/test/base-provider.livecycle.test.ts
  src/modules/esl-media/test/media-manager.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-media): simplify run sequence test
  src/modules/esl-media/test/media-manager.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-media): apply suggestions from code review
  src/modules/esl-media/test/base-provider.livecycle.test.ts
  src/modules/esl-media/test/media-manager.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps): update eleventy to 3.0.0
  package-lock.json
  site/package.json
Due: none

chore(site): change 11ty modules to ESM
  site/.eleventy.js
  site/11ty/canonical.filter.js
  site/11ty/collections.filter.js
  site/11ty/date.filter.js
  site/11ty/env.config.js
  site/11ty/functions.config.js
  site/11ty/htmlmin.transform.js
  site/11ty/markdown.img.lib.js
  site/11ty/markdown.lib.js
  site/11ty/markdown.shortcut.js
  site/11ty/open.postaction.js
  site/11ty/prismjs.lib.js
  site/11ty/released.filter.js
  site/11ty/site.config.js
  site/11ty/sitemap.collection.js
  site/11ty/slice.filter.js
  site/11ty/sort.filter.js
  site/11ty/text.filter.js
  site/11ty/tree.filter.js
  site/11ty/yml.support.js
  site/webpack.config.js
Due: none

refactor(esl-media): consistent clear from all manager storages on destroy instance
  src/modules/esl-media/core/esl-media-manager.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): change `ESLMediaManager` API, update scope of `releaseAll` and `suspendAll` methods
  src/modules/esl-media/README.md
  src/modules/esl-media/core.ts
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/test/media-manager.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): remove unused import
  src/modules/esl-media/core.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): fix `esl-media-control` mixin name typo
  site/views/examples/embedded-media.njk
  src/modules/esl-media/control/esl-media-control-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): rework manger inner logic (use all instances collection)
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/test/esl-media.condition.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-media): small updates in documentation
  src/modules/esl-media/README.md
Due: none

chore(site): increase footer max lines
  site/src/navigation/footer/footer.less
Due: stylelint

refactor(site): rework markers (move beta marker to the page meta), add min version meta, redesign
  site/src/common/helpers.less
  site/src/navigation/navigation.less
  site/src/navigation/related/aside.less
  site/src/navigation/related/related-links.less
  site/static/assets/common/github.svg
  site/views/_includes/navigation/aside.njk
  site/views/_includes/navigation/collection-grid.njk
  site/views/_includes/navigation/related-links.njk
  site/views/_includes/navigation/sidebar-item.njk
  site/views/_includes/navigation/source-link.njk
  site/views/_layouts/content.njk
Due: stylelint

chore(site): components meta info update/cleanup
  site/views/components/esl-anchornav.njk
  site/views/components/esl-carousel/index.njk
  site/views/components/esl-drag-to-scroll.njk
  site/views/components/esl-image-utils.njk
  site/views/components/esl-lazy-template.njk
  site/views/components/esl-media.njk
  site/views/components/esl-share.njk
  site/views/core/esl-event-listener/index.njk
  site/views/examples/accordion.njk
  site/views/examples/anchornav.njk
  site/views/examples/animate.njk
  site/views/examples/carousel.njk
  site/views/examples/embedded-media.njk
  site/views/examples/esl-drag-to-scroll.njk
  site/views/examples/image-utils.njk
  site/views/examples/lazy-template.njk
  site/views/examples/menu.njk
  site/views/examples/notification.njk
  site/views/examples/scrollbar.njk
  site/views/examples/share.njk
  site/views/examples/tabs.njk
  site/views/examples/toggleable.njk
Due: none

chore(site): v`5.1.0` site release notes
  site/views/blogs/ESL v5.1.0.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

refactor(esl-media): fix autostart for instances suspended by user
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): replace 'autopause' marker with more precise anual interaction check
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): rework manual interaction check
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): simplify some of the checks in esl-media
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media): `play-in-viewport` feature reworked to be more customizable
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-utils/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): auto-init call for non-lazy players with play-in-viewport feature enabled
  site/views/examples/embedded-media.njk
  src/modules/esl-media/core/esl-media-iobserver.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): cosmetic cleanup and documentation update
  site/views/examples/embedded-media.njk
  src/modules/esl-media/README.md
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): replace `esl:media:before:play` and `esl:media:managedpause` with custom event instances
  src/modules/esl-media/core.ts
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media.events.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): add ability to pass tolerance to isInViewport method
  src/modules/esl-utils/dom/visible.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): rework manual interaction detector for native controls interaction
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-media): remove unused imports
  src/modules/esl-media/core/esl-media-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(site): small fixes and updates according to current state
  site/views/_layouts/content.njk
  site/views/blogs/ESL v5.1.0.md
Due: none

docs(esl-media): apply doc fixes from code review
  src/modules/esl-media/README.md
  src/modules/esl-media/core/esl-media-manager.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-media): fix suggestions from code review
  src/modules/esl-media/README.md
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): simplify check and remove magic number
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(site): update 5.1.0 release notes
  site/views/_layouts/content.njk
  site/views/blogs/ESL v5.1.0.md
Due: none

chore: update conflict dependencies
  eslint-config/package.json
  package-lock.json
Due: none

chore: regularly dependencies cleanup/fix + rebuild package-lock.json
  eslint-plugin/package.json
  package-lock.json
  package.json
Due: none

deploy: 214f4afdca9ed2e3c802532448da7adbe36257d3
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none
