Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

docs(esl-event-listener): fix review corrections (part 1)
  src/modules/esl-event-listener/README.md
Due: none

Deploying to gh-pages from @ exadel-inc/esl@240008abb51a6b0326c5619b62920af36ede1957 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: move common less files to separate file, add code.less
  src/common/code.less
  src/common/mixins.less
  src/common/variables.less
  src/core/registration.less
  src/plugins/registration.less
  src/registration.less
  src/settings/registration.less
Due: stylelint, lintspaces -n -t -d spaces

chore: add typography.less
  pages/views/styles/page.less
  src/common/typography.less
  src/registration.less
Due: stylelint, lintspaces -n -t -d spaces

docs(esl-event-listener): fix typo in function docs
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(eslint): code style refactor
  eslint/base-rules/deprecated-alias.js
Due: none

docs: small pr fixes
  src/core/base/model.ts
  src/core/base/plugin.ts
  src/core/base/root.ts
  src/core/preview/preview.ts
  src/plugins/header/header.ts
  src/plugins/header/options/option/option.ts
  src/plugins/header/options/options.ts
  src/plugins/header/snippets/snippets.ts
  src/plugins/settings/setting.ts
  src/plugins/settings/settings.ts
  src/settings/bool-setting/bool-setting.ts
  src/settings/select-setting/select-setting.ts
  src/settings/slider-setting/slider-setting.ts
  src/utils/token-list-utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(deps-dev): bump eleventy to 2.0
  package-lock.json
  package.json
  pages/.eleventy.js
Due: none

docs: small pr fixes
  src/plugins/header/options/options.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: update typography.less and fix size of collection titles
  pages/views/styles/page.less
  src/common/typography.less
Due: stylelint, lintspaces -n -t -d spaces

Fixed settings and editor collapse/expand animation blicking on first render (#480)
  src/core/base/root.less
  src/plugins/editor/editor.less
  src/plugins/editor/editor.ts
  src/plugins/settings/settings.less
  src/plugins/settings/settings.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore: add logo to docs images
  docs/images/uip-logo.png
  docs/images/uip-logo.svg
Due: none

refactor(eslint): fix traversing condition
  eslint/base-rules/deprecated-alias.js
Due: none

test(eslint): extend tests for custom deprecation rule
  eslint/test/deprecated-alias.invalid.test.ts
  eslint/test/deprecated-alias.test.js
  eslint/test/deprecated-alias.valid.test.ts
  jest.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(eslint): change filtering logic for fixer
  eslint/base-rules/deprecated-alias.js
  eslint/test/deprecated-alias.invalid.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(release): 4.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8b/a1345fd9712571b2e2ab2018044f2f71d4848b
Due: none

fix(esl-utils): `memoize.clear` and `memoize.has` signature types improved
  src/modules/esl-utils/decorators/memoize.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@8ba1345fd9712571b2e2ab2018044f2f71d4848b 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(eslint): fix `getIdentifierRanges` method
  eslint/base-rules/deprecated-alias.js
Due: none

docs(esl-utils): fix typo in memoize.ts
  src/modules/esl-utils/decorators/memoize.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix: collapsed editor init added
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-sortable): update imports
  src/modules/esl-sortable/core/esl-sortable-item.ts
  src/modules/esl-sortable/core/esl-sortable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@0b8ca1359de0761e6266c62bd49b298fcfd6af41 🚀
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: Code Climate integration to the CI process
  .github/workflows/validate.yml
  package.json
Due: none

refactor(eslint): refactor `getScopeNode()` function
  eslint/base-rules/deprecated-alias.js
Due: none

chore: separate coverage job
  .github/workflows/validate.yml
Due: none

chore: fix env variable
  .github/workflows/validate.yml
Due: none

chore: update `README.md` with coverage badge
  README.md
Due: none

chore: Debug mode for Code Climate action runner
  .github/workflows/validate.yml
Due: none

chore: set test id explicitly for debug reasons
  .github/workflows/validate.yml
Due: none

chore: add environment marker to validate jobs
  .github/workflows/validate.yml
Due: none

chore: fix permissions and rename id token
  .github/workflows/validate.yml
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
