Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore(deps-dev): update common dev dependencies
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ exadel-inc/esl@6c3c6982ea71a6ef0e896af89614f80965dfe070 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(esl-utils): apply suggestions from review
  src/modules/esl-utils/dom/scroll/test/parent.test.ts
  src/modules/esl-utils/dom/scroll/test/utils.test.ts
  src/modules/esl-utils/dom/scroll/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): apply suggestion from review
  src/modules/esl-utils/dom/scroll/test/parent.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-utils): extend SyntheticEventTarget
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

test(esl-utils): refactor target tests
  src/modules/esl-utils/dom/events/test/target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(deps-dev): update `eslint-plugin-sonarjs` to 0.14.0
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ exadel-inc/esl@71fecfab69ddc05e53f5dc71ceda03f6d8967d14 🚀
  bundles/localdev.js.map
  bundles/polyfill-full.js.map
  bundles/polyfill-light.js.map
  bundles/polyfill-medium.js.map
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(gh-pages): update site buttons style
  pages/src/common/buttons.less
  pages/src/common/colors.less
  pages/src/common/links.less
  pages/src/navigation/footer/footer.less
  pages/views/_includes/landing/blogs.njk
  pages/views/index.11tydata.yml
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@71fecfab69ddc05e53f5dc71ceda03f6d8967d14 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(esl-traversing-query): add comma to use multiple target
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-carousel): make `slide-changed` event non-bubbling
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/view/esl-multi-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-slide-carousel-view.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-utils): fix missed body style for scroll lock strategy pseudo
  src/modules/esl-utils/dom/scroll.less
Due: stylelint, lintspaces -n -t -d spaces

chore(dev-deps): update common dev dependencies
  package-lock.json
  package.json
Due: none

refactor(esl-utils): cleanup of scroll lock styles
  src/modules/esl-utils/dom/scroll.less
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-trigger): add `ignore-esc` attribute
  pages/views/examples/toggleable.njk
  src/modules/esl-trigger/README.md
  src/modules/esl-trigger/core/esl-trigger.shape.ts
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@cc3dc29f8fa63ad8ff56ae3884ef28edb7ed02a0 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-trigger): apply suggestions from code review
  pages/views/examples/toggleable.njk
  src/modules/esl-trigger/README.md
  src/modules/esl-trigger/core/esl-trigger.shape.ts
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

refactor(gh-pages): svg refactor
  pages/static/assets/examples/accordion.svg
  pages/static/assets/examples/footnotes.svg
  pages/static/assets/examples/menu.svg
  pages/static/assets/examples/notification.svg
  pages/static/assets/examples/popup.svg
  pages/static/assets/examples/scrollbar.svg
  pages/static/assets/examples/select-dropdown.svg
  pages/static/assets/examples/select-list.svg
  pages/static/assets/examples/tabs.svg
  pages/static/assets/examples/toggleable.svg
Due: none

refactor(gh-pages): display `Components List` as a list
  pages/views/components/esl-a11ty-group.njk
  pages/views/components/esl-alert.njk
  pages/views/components/esl-animate.njk
  pages/views/components/esl-footnotes.njk
  pages/views/components/esl-image.njk
  pages/views/components/esl-media.njk
  pages/views/components/esl-panel-group.njk
  pages/views/components/esl-panel.njk
  pages/views/components/esl-popup.njk
  pages/views/components/esl-scrollbar.njk
  pages/views/components/esl-select-list.njk
  pages/views/components/esl-select.njk
  pages/views/components/esl-tabs.njk
  pages/views/components/esl-toggleable.njk
  pages/views/components/esl-trigger.njk
  pages/views/components/index.njk
Due: lintspaces -n -t -d spaces

refactor(esl-traversing-query): code and tests refactoring, add unit tests for `splitQueries` function
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-traversing-query): code refactoring
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-traversing-query): change description
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-carousel): add resize handler
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-carousel): update slide:changed event info (direction)
  src/modules/esl-carousel/core/view/esl-multi-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-slide-carousel-view.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-traversing-query): code refactoring
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-traversing-query): change description
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-traversing-query): add description
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-utils): part of event listener draft doc
  src/modules/esl-utils/dom/events/README.md
Due: none
