Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

feat(esl-carousel): improve ESLCarouselNav mixin API and internal livecycle
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media-query): code refactoring
  src/modules/esl-media-query/README.md
  src/modules/esl-media-query/core/esl-media-rule-list.ts
  src/modules/esl-media-query/test/esl-media-rule-list.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media-query): docs refactoring
  src/modules/esl-media-query/README.md
Due: none

refactor(esl-carousel): remove `esl:carousel:init` event (replaced with `esl:carousel:change` with initial marker)
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): improve control state management (remove arrow control visibility variable hack)
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(esl-media-query): drop `ESLMediaRuleList.parse` lint rule
  eslint/src/rules/4/all.rules.ts
  eslint/src/rules/4/deprecated.media-rule-list-parse.ts
  eslint/test/deprecated-class-method.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix change event dispatching
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): rework carousel slide change event with complete and more clear information
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/test/common/esl-carousel.dummy.ts
  src/modules/esl-carousel/test/core/esl-carousel.renderer.test.ts
  src/modules/esl-carousel/test/core/esl-carousel.slide.events.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): update default target for nav targets
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): complete rework ESLCarousel container feature
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix site example and documentation
  site/src/common/close.less
  site/views/draft/carousel.njk
  site/views/examples/carousel/default.sample.njk
  site/views/examples/carousel/multirow.sample.njk
  site/views/examples/carousel/nav-carousel.sample.njk
  site/views/examples/carousel/siblings.sample.njk
  site/views/examples/carousel/single.sample.njk
  site/views/examples/carousel/vertical.sample.njk
  src/modules/esl-carousel/plugin/dots/README.md
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): event API updates and fallback logic fixes
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Revert "chore(esl-media-query): drop `ESLMediaRuleList.parse` lint rule"
  eslint/src/rules/4/all.rules.ts
  eslint/src/rules/4/deprecated.media-rule-list-parse.ts
  eslint/test/deprecated-class-method.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-media-query): extend tests, stylistic fixes
  src/modules/esl-media-query/core/esl-media-rule-list.ts
  src/modules/esl-media-query/test/esl-media-rule-list.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media-query): exclude `@exadel/esl/deprecated-4/media-rule-list-parse` rule for current snapshot state
  .eslintrc.yml
  eslint/src/rules/4/deprecated.media-rule-list-parse.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): add centered renderer
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/renderers/esl-carousel.centered.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): add centered renderer carousel demo sample
  site/views/examples/carousel/centered-siblings.sample.njk
Due: none

fix(esl-carousel): add more specificity to styles to limit scope of the carousel animation
  src/modules/esl-carousel/core/esl-carousel.less
Due: stylelint

chore(site): items remove button for carousel examples update
  site/src/common/close.less
  site/views/examples/carousel/default.sample.njk
  site/views/examples/carousel/multirow.sample.njk
Due: stylelint

refactor(esl-carousel): support for both media queries syntax in carousel params
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix stylelint warnings
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
  src/modules/esl-popup/core/esl-popup.mixin.less
Due: stylelint

feat(esl-carousel): rework carousel plugins API to use json attr + smart media query
  site/views/examples/carousel/single.sample.njk
  src/modules/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
  src/modules/esl-carousel/plugin/keyboard/esl-carousel.keyboard.mixin.ts
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
  src/modules/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
  src/modules/esl-carousel/test/plugin/touch/esl-carousel.touch.mixin.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media-query): `parse` will consider single value as `all => value` (query case)
  src/modules/esl-media-query/core/esl-media-rule-list.ts
  src/modules/esl-media-query/test/esl-media-rule-list.test.ts
  tsdoc.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): simplify attribute parsing according to `parse` update
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): apply comments from review (fix example markdown according to latest updates)
  site/views/examples/carousel/centered-siblings.sample.njk
  src/modules/esl-carousel/renderers/esl-carousel.centered.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): add docs to carousel renderers, fix import order
  src/modules/esl-carousel/renderers/esl-carousel.centered.renderer.ts
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.ts
  src/modules/esl-carousel/renderers/esl-carousel.none.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): add missed TS doc to `esl-carousel.plugin.ts`
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-media-query): fix TSDoc examples
  src/modules/esl-media-query/core/esl-media-rule-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): rename `SHORT_OPTION` to `DEFAULT_CONFIG_KEY`, update TSDoc
  src/modules/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
  src/modules/esl-carousel/plugin/keyboard/esl-carousel.keyboard.mixin.ts
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
  src/modules/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.25
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  bc87a0bbb9bd8f9dbf446e2509efdd7f29ff9582
Due: none

fix(esl-carousel): `esl-carousel-dots` does not re-renders after target re-definition
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-base-element): check if element is in the DOM on connected callback
  site/views/draft/disconnected-callback.njk
  src/modules/esl-base-element/core/esl-base-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(lint): exclude non-abstract rule check (ifx incorrect conditional check)
  eslint/test/deprecated-class-method.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): remove specificity hack for carousel clipping
  src/modules/esl-carousel/core/esl-carousel.less
Due: stylelint

fix(esl-carousel): a11ty targets for arrow controls
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.26
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  fdda60aff1c4def358b2454f49f29328d8fc79de
Due: none

feat(esl-carousel): `esl-carousel-nav` default classes and attributes reworked
  site/views/examples/carousel/centered-siblings.sample.njk
  site/views/examples/carousel/default.sample.njk
  site/views/examples/carousel/multirow.sample.njk
  site/views/examples/carousel/nav-carousel.sample.njk
  site/views/examples/carousel/siblings.sample.njk
  site/views/examples/carousel/single.sample.njk
  site/views/examples/carousel/vertical.sample.njk
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(release): 5.0.0-beta.27
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none
