Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

test(esl-popup): update tests of popup positioning
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit-minor.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-popup): refactor popup positioning to make Rect immutable
  src/modules/esl-popup/core/esl-popup-position.ts
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(preview): removed 'isolation' marker from preview plugin
  site/views/examples/example/form.njk
  src/core/preview/preview.tsx
Due: none

feat(snippet): added 'uip-isolated' marker on snippet to track if it should render in iframe;
  site/views/examples/example/form.njk
  site/views/examples/example/image.njk
  src/core/base/model.change.ts
  src/core/base/model.ts
  src/core/base/snippet.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

revert: fix(esl-trigger): default target for `esl-trigger` is not logically correct and obvious
  src/modules/esl-trigger/README.md
  src/modules/esl-trigger/core/esl-trigger.ts
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
  src/modules/esl-trigger/test/esl-trigger.actions.test.ts
  src/modules/esl-trigger/test/esl-trigger.tracking.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

revert: fix(esl-toggleable): rework actions pre-checks to fix flow on reopening toggleable
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

revert: refactor(esl-toggleable): move `open` state updating to `onShow`/`onHide` callbacks
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix allowed maintenance range of minor/patch numbers for 4 major version support branch
  .releaserc.yml
Due: none

Revert "revert: refactor(esl-toggleable): move `open` state updating to `onShow`/`onHide` callbacks"
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Revert "revert: fix(esl-toggleable): rework actions pre-checks to fix flow on reopening toggleable"
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Revert "revert: fix(esl-trigger): default target for `esl-trigger` is not logically correct and obvious"
  src/modules/esl-trigger/README.md
  src/modules/esl-trigger/core/esl-trigger.ts
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
  src/modules/esl-trigger/test/esl-trigger.actions.test.ts
  src/modules/esl-trigger/test/esl-trigger.tracking.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: add a draft of version `4.15.0` update some content
  site/views/blogs/ESL v4.15.0.md
  site/views/core/esl-event-listener.njk
Due: none

chore(site): add freshness marker for newsline component
  site/11ty/date.filter.js
  site/src/common/badge.less
  site/views/_includes/landing/newsline-item.njk
Due: stylelint

feat(esl-toggleable): introducing alternative internal hooks `shouldShow`/`shouldHide` instead of deprecated `onBeforeShow`/`onBeforeHide`.
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: fix typo in 4.15.0 press release notes
  site/views/blogs/ESL v4.15.0.md
Due: none

chore(site): update tabs demo (no uip update required)
  site/src/common/tabs.less
  site/views/examples/tabs.njk
Due: stylelint

fix(esl-tab): fix `esl-tabs` initialization delay before DOM ready
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(site): fix grammar in 4.15.0 release notes
  site/views/blogs/ESL v4.15.0.md
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update alert info message
  site/views/examples/tabs.njk
Due: none

chore(site): ui-playground integration for tabs component (#2209)
  package-lock.json
  site/package.json
  site/src/common/body.less
  site/src/common/helpers.less
  site/src/common/tabs.less
  site/src/common/typography.less
  site/src/localdev.less
  site/src/playground/ui-playground.ts
  site/views/examples/tabs.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-utils): made Rect class immutable
  src/modules/esl-utils/dom/rect.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-popup): refactor popup demo component
  site/src/esl-popup/esl-d-popup-game.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-popup): reduce condition of diff side determining
  src/modules/esl-popup/core/esl-popup-position.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-popup): refactor popup positioning and apply suggestions from code review
  src/modules/esl-popup/core/esl-popup-position.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix ESLint warning for `esl-trigger.a11y.test.ts`
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): refactor slide carousel animation
  site/views/draft/slide-carousel.njk
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-utils): add ability to use additional attributes in loadScript utility
  src/modules/esl-utils/dom/script.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): create tests for loadScript utility
  src/modules/esl-utils/dom/test/script.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): ui-playground integration for footnotes
  site/views/examples/uip-footnotes.njk
Due: none

chore(site): update snippets labels
  site/views/examples/uip-footnotes.njk
Due: none

chore(site): ui-playground integration for menu
  site/views/examples/menu.njk
Due: none

test(e2e): 'find element by selector' directive
  e2e/setup/scenarios.query.ts
  e2e/setup/scenarios.ts
  e2e/setup/scenarious.world.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): move query rules
  e2e/setup/element/scenarios.query.ts
  e2e/setup/scenarios.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix typos
  e2e/README.md
  e2e/setup/scenarios.ts
  e2e/setup/scenarios.world.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix typos
  e2e/setup/element/scenarios.query.ts
  e2e/setup/scenarios.screenshot.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): click and hover directives
  e2e/setup/element/scenarios.events.ts
  e2e/setup/scenarios.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): attribute and class directives
  e2e/setup/element/scenarios.attr.ts
  e2e/setup/element/scenarios.class.ts
  e2e/setup/scenarios.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): element screenshot
  e2e/setup/scenarios.screenshot.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix typos
  e2e/README.md
  e2e/setup/element/scenarios.query.ts
  e2e/setup/scenarios.screenshot.ts
  e2e/setup/scenarios.ts
  e2e/setup/scenarios.world.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): update slide carousel
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint
