Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

refactor(site): avoid of including to sitemap of partial non-styled data from collections
  site/11ty/sitemap.collection.js
  site/site.yml
  site/views/blogs/ESL v4.15.0.md
  site/views/blogs/ESL v5.0.0 Announce.md
  site/views/index.njk
  site/views/sitemap.njk
Due: none

docs(esl-utils): fix typo in documentation
  src/modules/esl-utils/environment/device-detector.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 2.0.0-beta.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  pages/package.json
Due: none

refactor(site): rename explicit indexing tag to `index`
  site/site.yml
  site/views/index.njk
Due: none

chore(site): update uip version
  package-lock.json
  site/package.json
  site/src/ui-playground/ui-playground.less
Due: stylelint

chore(uip for animate): create draft gh page
  site/views/draft/uip-animate.njk
Due: none

chore(uip for animate): place all examples in one UIP root
  site/views/draft/uip-animate.njk
  site/views/examples/animate.njk
Due: none

chore(site): ui-playground integration for animate example + UIP update (#2179)
  package-lock.json
  site/package.json
  site/src/ui-playground/ui-playground.less
  site/views/examples/animate.njk
Due: stylelint

refactor(site): apply corrections to `marquee.secret` according code review and base version updates
  site/src/landing/marquee/marquee.secret.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: update development information regarding Node version on the project
  docs/DEVELOPMENT.md
  package-lock.json
  site/package.json
Due: none

chore(site): ui-playground integration for image component
  site/views/examples/image.njk
Due: none

docs(esl-popup): update pages of examples according to the last changes
  site/views/_includes/popup.njk
  site/views/draft/popup-scroll-parents.njk
Due: none

style(esl-popup): make appendArrow method by protected
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): update variable naming
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-popup): update README according to last changes on the component
  src/modules/esl-popup/README.md
Due: none

docs(esl-share): update README according to the last changes
  src/modules/esl-share/README.md
Due: none

feat(attr): add provider to default value in attr
  src/modules/esl-utils/decorators/attr.ts
  src/modules/esl-utils/decorators/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): eliminate css renderer until it's become prod-ready
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.horizontal.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.less
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.vertical.ts
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.less
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): move orientation to the `vertical` config property
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.types.ts
  src/modules/esl-carousel/plugin/keyboard/esl-carousel.keyboard.mixin.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.horizontal.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.less
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.vertical.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): rework renderer creation process
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): renderer API improvements
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): remove unused import statement
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): rename renderer to configuration compare method
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): fix prettier warnings
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.less
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.vertical.less
Due: stylelint

chore(site): presentation basis created
  site/src/common/presentation.less
  site/src/localdev.less
  site/views/_layouts/presentation.njk
  site/views/overview/index.njk
  site/views/overview/intro.njk
  site/views/overview/outro.njk
Due: stylelint

refactor(site): updates according carousel rework
  site/views/_layouts/presentation.njk
Due: none

refactor(esl-carousel): fix width of the slides
  site/src/common/presentation.less
Due: stylelint

refactor(site): refactor slides styles
  site/11ty/sort.filter.js
  site/src/localdev.less
  site/src/page/presentation-layout.less
  site/src/presentation/carousel.less
  site/src/presentation/layout.less
  site/src/presentation/slide.less
  site/views/_layouts/presentation.njk
  site/views/overview/index.njk
  site/views/overview/intro.njk
  site/views/overview/outro.njk
  site/views/overview/test.njk
Due: stylelint

refactor(site): replace type with `vertical` attribute
  site/views/_layouts/presentation.njk
Due: none

refactor(site): extend helpers
  site/src/common/helpers.less
Due: stylelint

refactor(site): update global header styles
  site/src/navigation/header/header.less
  site/views/_includes/navigation/header.njk
Due: stylelint

refactor(site): implement basic presentation navigation
  site/src/presentation/footer.less
  site/src/presentation/layout.less
  site/src/presentation/sidebar.less
  site/views/_includes/presentation/footer.njk
  site/views/_includes/presentation/header.njk
  site/views/_includes/presentation/sidebar.njk
  site/views/_layouts/presentation.njk
Due: stylelint

refactor(site): adapt logo for shared animation
  site/src/localdev.less
  site/src/logo/logo.animation.less
  site/src/navigation/navigation.less
  site/static/assets/logo-pretty.svg
Due: stylelint

refactor(site): move animation forward remove extra class from marquee
  site/src/logo/logo.animation.less
  site/views/_includes/landing/marquee.njk
  site/views/_includes/navigation/header.njk
  site/views/_includes/presentation/header.njk
Due: stylelint

refactor(site): create easter secret link to presentation page
  site/src/landing/marquee/marquee.secret.ts
  site/src/landing/marquee/marquee.ts
  site/views/_includes/landing/marquee.njk
  site/views/index.11tydata.yml
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(site): update slide content, extend typography, presentation typo base, initial structure
  site/src/common/helpers.less
  site/src/common/typography.large.less
  site/src/common/typography.less
  site/src/localdev.less
  site/src/presentation/slide.less
  site/views/_includes/presentation/footer.njk
  site/views/_layouts/base.njk
  site/views/_layouts/landing.njk
  site/views/_layouts/presentation.njk
  site/views/overview/01-intro/00-intro.njk
  site/views/overview/01-intro/01-what-is.njk
  site/views/overview/01-intro/02-main-concepts.njk
  site/views/overview/01-intro/03-content.njk
  site/views/overview/01-intro/04-versions.njk
  site/views/overview/02-core/00-core.njk
  site/views/overview/02-core/01-Base Element.njk
  site/views/overview/02-core/02-Mixin Component.njk
  site/views/overview/02-core/03-Tag vs Attribute.njk
  site/views/overview/02-core/04-Utils.njk
  site/views/overview/03-components/00-components.njk
  site/views/overview/04-compatibility/00-compatibility-alternatives.njk
  site/views/overview/05-stats-additions/00-stats.njk
  site/views/overview/06-outro/outro.njk
  site/views/overview/intro.njk
  site/views/overview/plan.md
  site/views/overview/test.njk
Due: stylelint

refactor(esl-carousel): add pre-active marker
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
