Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-event-listener): create EventTarget decorator and window target utilities
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorator.target.ts
  src/modules/esl-event-listener/test/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): fix naming for `ESLEventTargetDecorator` internal methods
  src/modules/esl-event-listener/core/targets/decorated.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-utils): update user cases tests for `decorate` utility
  src/modules/esl-event-listener/test/decorator.test.ts
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-utils): API normalization + fix override keyword
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): basic cases for `ESLEventUtils.decorate`
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): `ESLEventUtils.decorate` API reworked
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-event-listener): fix typos in tests
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-utils): fix override keyword
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@59788988852a16932993633b2562cf2bc066ad2a 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(select): remove memoize() from values getter
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(editor): fix editor change callback naming
  src/plugins/editor/ace/ace-editor.ts
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): apply suggestion from review
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): refactor actions
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/native-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): fix linter issue
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): update data-share attributes
  pages/views/examples/share.njk
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

fix(esl-share): fix window.open features
  src/modules/esl-share/actions/media-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-footnotes): fix linting issue
  src/modules/esl-footnotes/core/esl-note-ignore.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): replace bgcolor static property with @prop
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): remove id from share config
  pages/static/assets/share/config.json
  pages/views/examples/share.njk
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

refactor(esl-utils): rework internal `AttributeTarget` type to separate `ESLDomElementRelated` implementation
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-utils/abstract/dom-target.ts
  src/modules/esl-utils/decorators/attr.ts
  src/modules/esl-utils/decorators/bool-attr.ts
  src/modules/esl-utils/decorators/json-attr.ts
  src/modules/esl-utils/decorators/listen.ts
  src/modules/esl-utils/dom/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@a64f955e0cc4a26a8c5c6ecc700b5cedbeaa0293 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(eslint): code refactoring
  eslint/base-rules/deprecated-alias.js
Due: none

docs(esl-utils): fix typo in esl-utils/abstract/dom-target.ts
  src/modules/esl-utils/abstract/dom-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): added URL utility with toAbsoluteUrl method
  src/modules/esl-utils/misc.ts
  src/modules/esl-utils/misc/url.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): url utility tests added
  src/modules/esl-utils/misc/test/url.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-sortable): update example page
  pages/views/examples/forms-select-list.njk
  pages/views/examples/sortable.njk
Due: lintspaces -n -t -d spaces

chore(esl-sortable): split api
  src/modules/esl-sortable/core/esl-draggable.ts
  src/modules/esl-sortable/core/esl-sortable-item.ts
  src/modules/esl-sortable/core/esl-sortable.less
  src/modules/esl-sortable/core/esl-sortable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-share): rewrite share data processing
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): move build method from button to list
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): remove share config class
  pages/src/localdev.ts
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(easl-share): added additional param into config to pass extra data into actions
  pages/static/assets/share/config.json
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): update local-dev page
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@32ccac99ec4e0dd4d800550100fed5c110e995c8 🚀
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@32ccac99ec4e0dd4d800550100fed5c110e995c8 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(esl-share): simplification of titleToShare and urlToShare getters
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): apply suggestions from review
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): update esl-share demo page
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

chore: update github workflows
  .github/workflows/lint.yml
  .github/workflows/pages.yaml
  .github/workflows/release.yml
  package-lock.json
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
