Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore(site): add share icon asses (for future possibly)
  pages/static/assets/common/share.svg
Due: none

chore(site): rework sidebar share widget
  pages/src/common/helpers.less
  pages/src/navigation/sidebar/sidebar-primary-nav.less
  pages/src/navigation/sidebar/sidebar-share.less
  pages/src/navigation/sidebar/sidebar.less
  pages/views/_includes/navigation/sidebar.njk
Due: stylelint, lintspaces -n -t -d spaces

docs: fix grammar in CONTRIBUTING.md (from PR review)
  CONTRIBUTING.md
Due: none

chore(site): fix MAC OS sidebar logo title alignment
  pages/src/navigation/sidebar/sidebar-content.less
Due: stylelint, lintspaces -n -t -d spaces

chore(site): small update for newsline shooting star decoration
  pages/src/landing/newsline/newsline-stars.less
Due: stylelint, lintspaces -n -t -d spaces

chore(site): fix sidebar share section alignment
  pages/src/navigation/sidebar/sidebar-share.less
Due: stylelint, lintspaces -n -t -d spaces

style(site): PR review fixes
  CONTRIBUTING.md
  pages/src/navigation/header/header-search.less
  pages/views/_includes/navigation/header.njk
  pages/views/_layouts/content.njk
Due: stylelint, lintspaces -n -t -d spaces

style(site): PR review fixes n2
  CONTRIBUTING.md
  README.md
Due: none

style(site): PR review fixes n3 + search sidebar item fix
  README.md
  pages/src/navigation/sidebar/sidebar-primary-nav.less
  pages/views/search.njk
Due: stylelint, lintspaces -n -t -d spaces

style(site): return back banner on intro pages
  pages/views/introduction/browser-support.njk
  pages/views/introduction/index.njk
Due: lintspaces -n -t -d spaces

style(site): fix focus-visible on the banner
  pages/src/banner/banner.less
  pages/src/banner/banner.ts
  pages/views/_includes/navigation/banner.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(docs): Add functions for generating header IDs and anchor links
  pages/11ty/markdown.shortcut.js
Due: none

feat(docs): Add function to generate links for globally defined terms
  pages/11ty/markdown.shortcut.js
Due: none

fix(esl-footnotes): shape to support TSX is missing in module
  src/modules/esl-footnotes/core/esl-footnotes.shape.ts
  src/modules/esl-footnotes/core/esl-note.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-footnotes): update README
  src/modules/esl-footnotes/README.md
Due: none

feat(esl-utils): create `toBooleanAttribute` and create extended boolean attribute flow
  src/modules/esl-utils/decorators/test/attr.extended.test.ts
  src/modules/esl-utils/decorators/test/attr.test.ts
  src/modules/esl-utils/misc/format.ts
  src/modules/esl-utils/misc/test/format.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): change `closeOnEsc` and `closeOnOutsideAction` mappers to extended boolean ('0' and 'false' values now considered as falsy)
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-trigger): change `ignoreEsc` mapper to extended boolean ('0' and 'false' values now considered as falsy)
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): fix `btn-link` styles on project site
  pages/src/common/buttons.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-footnotes): fix export types for module
  src/modules/esl-footnotes/core.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): fix banner appears after rejection on all pages except the page where it was just closed
  pages/src/banner/banner.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@4390924e7620c60016930f9618449471441e8a1d 🚀
  bundles/localdev.css
  bundles/localdev.css.map
  bundles/localdev.js
  bundles/localdev.js.map
  components/esl-footnotes/index.html
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(eesl-utils): debounced unhandled rejection
  src/modules/esl-utils/async/debounce.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix stylelint warnings
  pages/src/common/media.less
  pages/src/common/playground.less
Due: stylelint, lintspaces -n -t -d spaces

chore: small improvements in UIP appearance during the page load
  pages/src/localdev.less
  pages/src/ui-playground/ui-playground.less
  pages/views/_layouts/base.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(esl-utils): rework deferred method
  src/modules/esl-utils/async/debounce.ts
  src/modules/esl-utils/async/promise/defered.ts
  src/modules/esl-utils/async/test/promise/defered.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): return comment
  src/modules/esl-utils/async/promise/defered.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-utils/async/promise/defered.ts
  src/modules/esl-utils/async/test/promise/defered.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): orphographic refactoring
  src/modules/esl-utils/async/test/promise/defered.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): Add SwipeEventTarget to subscribe `swipe` events using ESLEventUtils.subscribe or @listen descriptor
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): Fix lint errors
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(docs): Reworked links auto generation according pull request remarks
  pages/11ty/markdown.shortcut.js
  pages/site.yml
Due: none

chore: remove redundant accordion class
  pages/views/examples/accordion.njk
Due: lintspaces -n -t -d spaces

feat(swipe-target): Rename `SwipeEventTarget` to `ESLSwipeEventTarget`
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(swipe-target): Add `ESLSwipeEventTarget` docs
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add json language parser to the prism formatter
  pages/11ty/prismjs.lib.js
Due: none

chore(site): fix documentation banner `z-index`
  pages/src/banner/banner.less
Due: stylelint, lintspaces -n -t -d spaces

chore(site): fix code displaying issues
  pages/src/common/code.less
  pages/src/localdev.less
Due: stylelint, lintspaces -n -t -d spaces
