Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

refactor(esl-footnotes): add change callback for print atrribute
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(editor): update editor's docs
  src/plugins/editor/README.md
  src/plugins/editor/editor.less
  src/plugins/editor/editor.ts
  src/plugins/editor/jar/dark-theme.less
  src/plugins/editor/jar/jar-editor.ts
  src/plugins/editor/jar/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-footnotes): resolve issue with id of multiple footnotes instances
  src/modules/esl-footnotes/core/esl-footnotes.ts
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-footnotes): update README
  src/modules/esl-footnotes/README.md
Due: none

chore(gh-pages): small corrections for rendering utils
  pages/11ty/sort.filter.js
  pages/src/landing/newsline/newsline.less
  pages/views/blogs/Contribution Needed - Docs.md
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): `code` and links style rework
  pages/src/common/code.less
  pages/src/common/markdown.less
  pages/src/landing/newsline/newsline.less
  pages/src/localdev.less
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): global nav accessibility fixes
  pages/src/navigation/sidebar/sidebar-primary-nav.less
  pages/views/_includes/navigation/footer.njk
  pages/views/_includes/navigation/header.njk
  pages/views/_includes/navigation/sidebar-item.njk
  pages/views/_includes/navigation/sidebar.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): newsline component a11y and stylistic updates
  pages/src/landing/newsline/newsline.less
  pages/views/_includes/landing/newsline.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): update link colors to neutral
  pages/src/common/colors.less
  pages/src/common/markdown.less
Due: stylelint, lintspaces -n -t -d spaces

docs(gh-pages): content updates
  pages/views/blogs/ESL v5.0.0 Announce.md
Due: none

fix(esl-panel): default print styles for esl-panel
  src/modules/esl-panel/core/esl-panel.less
Due: stylelint, lintspaces -n -t -d spaces

fix(esl-panel-group): default print styles for esl-panel-group
  src/modules/esl-panel-group/core/esl-panel-group.less
Due: stylelint, lintspaces -n -t -d spaces

fix(esl-animate): default print styles for esl-animate ootb animation
  src/modules/esl-animate/core/esl-animate-animations.less
Due: stylelint, lintspaces -n -t -d spaces

fix(gh-pages): default print styles for gh-pages
  pages/src/landing/benefits/benefits.less
  pages/src/landing/browser-support/browser-support.less
  pages/src/landing/marquee/marquee.less
  pages/src/landing/overview/overview.less
  pages/src/landing/promo-banner/promo-banner.less
  pages/src/navigation/footer/footer.less
  pages/src/navigation/sidebar/sidebar.less
  pages/src/page/base-layout.less
  pages/src/page/landing-layout.less
  pages/src/page/sidebar-layout.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-footnote): fix comments for esl-mote-ignore mixin
  src/modules/esl-footnotes/core/esl-note-ignore.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update package.json
  package-lock.json
  package.json
Due: none

chore(release): 1.1.0-beta.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update ui-playground version
  package-lock.json
  package.json
Due: none

style(esl-footnotes): rename attribute for anchor media query
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): revert removing properties
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): refactor esl-trigger
  src/modules/esl-share/core/esl-share-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-select): activator lost on dropdown hide
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-select): migrate to esl-popup
  pages/views/examples/forms-select.njk
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore(esl-select): code refactoring
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-select): code refactoring
  pages/views/examples/forms-select.njk
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore(esl-togglable): code refactoring
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-select): code redactoring
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
  src/modules/esl-forms/esl-select/core/esl-select.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-select): internal `esl-select-dropdown` is migrated to `esl-popup` (#1393)
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
  src/modules/esl-forms/esl-select/core/esl-select.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-select): stylistic fixes for esl-select internal DOM parts initialization
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
  src/modules/esl-forms/esl-select/core/esl-select-renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): update README
  src/modules/esl-share/README.md
Due: none

refactor(esl-footnotes): apply suggestions from review
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-mixin-element): significant improvement for mixin registration process (scope DOM invalidation to changes records and registered mixin type )
  src/modules/esl-mixin-element/test/mixin.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-mixin-element): remove mixin store invalidate on re-requesting registration + more accurate exceptions
  src/modules/esl-mixin-element/test/mixin.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): change the logic of forwarding attributes by share-trigger
  pages/views/draft/share-regression.njk
  src/modules/esl-share/core/esl-share-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

refactor(esl-select): refactor according to PR (#1765) comments
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
  src/modules/esl-forms/esl-select/core/esl-select-renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-base-element): more accurate check for element redeclaration (detects both: tag and class inconsistency)
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-base-element/test/element.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update github actions version
  .github/workflows/cla.yml
  .github/workflows/validate.yml
Due: none
