Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(esl-sticky-box): create README
  packages/esl/src/esl-sticky-box/README.md
Due: none

test(esl-sticky-box): create tests for component
  packages/esl/src/esl-sticky-box/test/esl-sticky-box.test.ts
  packages/esl/src/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-sticky-box): create examples page
  packages/esl-website/src/site.ts
  packages/esl-website/static/assets/examples/sticky-box.svg
  packages/esl-website/views/components/esl-sticky-box.njk
  packages/esl-website/views/examples/sticky-box.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): updates with esl-sticky-box
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-desktop-linux.png
Due: none

fix(esl-utils): ESLVSizeCSSProxy API updated + html element size observation added to handle scroll changes + proper singleton guard
  packages/esl/src/esl-utils/README.md
  packages/esl/src/esl-utils/fixes/test/viewport.test.ts
  packages/esl/src/esl-utils/fixes/viewport.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v6.3.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: major migration to TS7 build step
  package-lock.json
  package.json
  packages/esl/project.json
  packages/esl/tsconfig.typetest.ts7.json
  packages/ui-playground/project.json
Due: none

chore: small npm audit fix
  package-lock.json
Due: none

feat(esl-utils): dispatch scroll lock/unlock events
  packages/esl/src/esl-utils/dom/scroll/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): add scroll lock/unlock event dispatch tests
  packages/esl/src/esl-utils/dom/scroll/test/utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): clear API + tests and doc updates in ESLVSizeCSSProxy
  packages/esl-website/src/site.ts
  packages/esl/src/esl-utils/README.md
  packages/esl/src/esl-utils/fixes/test/viewport.test.ts
  packages/esl/src/esl-utils/fixes/viewport.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v6.3.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint-config): fix peer dependency limit
  package-lock.json
  packages/eslint-config/package.json
Due: none

refactor(esl-sticky-box): convert ESLStickyBox to ESLMixinElement mixin
  packages/esl/src/esl-sticky-box/core.ts
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.less
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.shape.ts
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.ts
  packages/esl/src/types/jsx.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

test(esl-sticky-box): update tests for component
  packages/esl/src/esl-sticky-box/test/esl-sticky-box.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update examples, docs for esl-sticky-box
  packages/esl-website/src/site.ts
  packages/esl-website/views/components/esl-sticky-box.njk
  packages/esl-website/views/examples/sticky-box.njk
  packages/esl/src/esl-sticky-box/README.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-sticky-box): apply suggestions from code review
  packages/esl-website/views/examples/sticky-box.njk
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.less
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: release v6.3.0-beta.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): introduce alternative 'reveal-focus-visible' focus policy behavior
  packages/esl/src/esl-carousel/README.md
  packages/esl/src/esl-carousel/core/esl-carousel.ts
  packages/esl/src/esl-carousel/core/esl-carousel.types.ts
  packages/esl/src/esl-carousel/test/core/esl-carousel.focus-policy.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v6.3.0-beta.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): improve ESLTogglable API with explicit auto-focusable target `$focusable` for ESLTogglableManager
  packages/esl/src/esl-toggleable/README.md
  packages/esl/src/esl-toggleable/core/esl-toggleable-manager.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable.ts
  packages/esl/src/esl-toggleable/test/toggleable.focus.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: nx config update for independent versioning
  nx.json
Due: none

chore: update CI and release utilities for independent releases
  .github/workflows/release-github.yml
  .github/workflows/release-npm.yml
  .github/workflows/release-pr.yml
  .github/workflows/site.yml
  docs/DEVELOPMENT.md
  scripts/README.md
  scripts/check-release-tags.mjs
  scripts/common/release.mjs
  scripts/get-changed-release-projects.mjs
  scripts/get-changelog.mjs
  scripts/get-dist-tag.mjs
  scripts/get-public-release-projects.mjs
Due: none

chore: release v6.3.0-beta.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add 6.3.0 version newsline release note
  packages/esl-website/views/blogs/ESL v6.3.0.md
Due: none

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-mobile-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-mobile-linux.png
Due: none

chore(site): replace archived image-size package with image-meta
  package-lock.json
  packages/esl-website/11ty/markdown.img.lib.js
  packages/esl-website/package.json
Due: none

chore: regular npm audit
  package-lock.json
  package.json
Due: none

chore: add tech update to changelog
  nx.json
Due: none

chore: change deps rules and conventional-commit rules
  .github/dependabot.yml
  nx.json
Due: none

chore: update and fix commit docs
  .github/dependabot.yml
  docs/COMMIT_CONVENTION.md
  nx.json
Due: none

build: maintenance and internal dependencies updates
  package-lock.json
  package.json
Due: none

build: preparation to switch to CSS only output
  docs/DEVELOPMENT.md
  packages/esl-website/project.json
  packages/esl/project.json
  packages/esl/worker/css.mjs
  packages/esl/worker/less.mjs
  packages/esl/worker/style-worker.mjs
  packages/esl/worker/styles.mjs
  packages/ui-playground/project.json
Due: none

style: small build code refactoring
  packages/esl/worker/styles.mjs
Due: none

build: preparation to switch to CSS only output (#4001)
  docs/DEVELOPMENT.md
  package-lock.json
  package.json
  packages/esl-website/project.json
  packages/esl/project.json
  packages/esl/worker/css.mjs
  packages/esl/worker/less.mjs
  packages/esl/worker/styles.mjs
  packages/ui-playground/project.json
Due: none

chore: release v6.3.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-alert): migrate esl-alert to pure CSS output
  packages/esl/src/all.less
  packages/esl/src/esl-alert/core.css
  packages/esl/src/esl-alert/core.less
  packages/esl/src/esl-alert/core/esl-alert.css
Due: stylelint

fix(stylelint-config): fix @esl/import-type rule to support css alternative less imports
  packages/stylelint-config/custom/import.js
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
