Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

style: apply suggestions from code review
  pages/views/privacy-policy.njk
Due: lintspaces -n -t -d spaces

style: add Google Privacy Policy URL
  docs/PRIVACY_POLICY.md
Due: none

style(esl-tabs): update file import
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add build version, site-config usage and small cleanup
  .github/workflows/pages.yml
  pages/11ty/env.config.js
  pages/11ty/markdown.shortcut.js
  pages/11ty/site.config.js
  pages/site.yml
  pages/static/tools/.nojekyll
  pages/views/robots.njk
  pages/views/sitemap.njk
Due: lintspaces -n -t -d spaces

docs(site): update follow links for playground pages
  pages/views/examples/accordion.njk
  pages/views/examples/embedded-audio.njk
  pages/views/examples/embedded-video.njk
  pages/views/examples/scrollbar.njk
Due: lintspaces -n -t -d spaces

chore(site): update css imports
  pages/src/common/code.less
Due: stylelint, lintspaces -n -t -d spaces

style(site): remove stroke for rtl option
  pages/src/ui-playground/ui-playground.less
Due: stylelint, lintspaces -n -t -d spaces

fix(core): fix `jsx-dom` dependency to be main dependency (instead of dev one)
  package-lock.json
  package.json
Due: none

chore: update `esl` library to version `4.11.0`
  package-lock.json
  package.json
Due: none

chore: update commitlint config, config changed to yml
  .commitlintrc.json
  .commitlintrc.yml
Due: none

feat(uip-editor): `uip-editor` reworked to use latest version of CodeJar and Prism without producing side-effects
  package-lock.json
  package.json
  src/plugins/editor/editor.tsx
  src/plugins/editor/jar/jar-editor.ts
  src/plugins/editor/jar/jar-utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update dev dependencies
  package-lock.json
  package.json
Due: none

style(site): date formatting for site
  pages/src/common/markdown.less
  pages/src/common/typography.less
Due: stylelint, lintspaces -n -t -d spaces

style(site): fix date formatting issues
  pages/src/common/markdown.less
  pages/src/common/typography.less
Due: stylelint, lintspaces -n -t -d spaces

chore(esl-modal): fix merge issues & linting
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-modal): add modal esl-scroll support
  pages/views/examples/modal.njk
  src/modules/esl-modal/core/esl-modal.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-modal): Update registration process and refactor backdrop logic/API
  pages/src/localdev.ts
  pages/views/examples/modal.njk
  src/modules/esl-modal/core/esl-modal-backdrop.ts
  src/modules/esl-modal/core/esl-modal.less
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(release): 1.1.0-beta.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor(esl-media): fix loading process, get rid of side effects, code cleanup
  pages/views/examples/embedded-video.njk
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.less
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/test/esl-media.lazy.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(site): fix lib less observation in dev mode
  pages/package.json
Due: none

chore(site): update `ui-palyground` to the latest version, fix integration
  package-lock.json
  pages/package.json
  pages/src/banner/banner.ts
  pages/src/common/code.less
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/src/ui-playground/ui-playground.less
  pages/src/ui-playground/ui-playground.ts
  pages/views/_layouts/base.njk
  pages/webpack.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-media): fix lazy="manual" works incorrectly with play-in-viewport
  pages/views/examples/embedded-video.njk
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/test/esl-media.lazy.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

style(esl-media): fix site example
  pages/views/examples/embedded-video.njk
Due: lintspaces -n -t -d spaces

docs: fix typos and examples in commit convention documentation
  docs/COMMIT_CONVENTION.md
Due: none

refactor(esl-media): fix TSX support for new attribute
  src/modules/esl-media/core/esl-media.shape.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(uip-settings): cleanup for utils placement, MSG constants and imports of `uip-settings` module
  src/core/utils/token-list.ts
  src/plugins/settings/setting.ts
  src/plugins/settings/settings.tsx
  src/settings/bool-setting/bool-setting.tsx
  src/settings/select-setting/select-setting.ts
  src/settings/slider-setting/slider-setting.tsx
  src/settings/text-setting/text-setting.tsx
  src/utils/warning-msg.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(core): cleanup for imports and ESL usages
  src/core/base/root.ts
  src/core/preview/preview.ts
  src/plugins/header/header.tsx
  src/registration.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

fix(core): add embedded normalization utils for UIPModel to resolve multiple extra refreshes
  src/core/base/model.ts
  src/core/base/plugin.tsx
  src/core/registration.ts
  src/core/utils/normalization.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(editor): fix extra actions of editor module, fix flow. Reduce risks of extra reinitialization without content change
  src/plugins/editor/README.md
  src/plugins/editor/editor.tsx
Due: none

style(core): rename `TokenList` back to `TokenListUtils`
  src/core/utils/token-list.ts
  src/settings/bool-setting/bool-setting.tsx
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(core): fix css/less output of the project
  pages/src/common/code.less
  pages/src/common/typography.less
  pages/src/examples/form.less
  pages/src/examples/image.less
  pages/src/examples/list.less
  pages/src/examples/multiple-playgrounds.less
  pages/src/page/header.less
  pages/src/page/page.less
  pages/src/page/sidebar.less
  pages/src/playground.less
  src/common/variables.less
  src/core/base/plugin.less
  src/core/base/root.less
  src/core/registration.less
  src/plugins/editor/editor.less
  src/plugins/header/header.less
  src/plugins/header/options/option/option.less
  src/plugins/header/options/option/theme.less
  src/plugins/header/options/options.less
  src/plugins/header/snippets/snippets.less
  src/plugins/registration.less
  src/plugins/settings/setting.less
  src/plugins/settings/settings.less
  src/registration.less
  src/settings/bool-setting/bool-setting.less
  src/settings/registration.less
  src/settings/select-setting/select-setting.less
  src/settings/slider-setting/slider-setting.less
  src/settings/text-setting/text-setting.less
Due: stylelint, lintspaces -n -t -d spaces

chore: dependabot grouping rule and configuration updates
  .github/dependabot.yml
Due: none

chore: release workflow is in dry-run by default
  .github/workflows/release.yml
Due: none

chore(site): remove `@exadel/ui-playground` from site dependencies list until redesign is merged
  package-lock.json
  pages/package.json
Due: none

chore(site): add `4.12.0` release notes promo-item
  pages/views/blogs/ESL v4.12.0.md
Due: none

style(esl-popup): update jsx tag shape
  src/modules/esl-popup/core/esl-popup.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-tooltip): update jsx tag shape
  src/modules/esl-tooltip/core/esl-tooltip.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): rework share popup internal implementation
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-popup.shape.ts
  src/modules/esl-share/core/esl-share-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): update ESLShareTrigger
  src/modules/esl-share/core/esl-share-trigger.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): actualize badges for new content
  pages/views/core/esl-mixin-element.njk
  src/modules/esl-event-listener/README.md
Due: lintspaces -n -t -d spaces
