Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore(esl-utils): code refactoring
  src/modules/esl-event-listener/core/targets/resize.adapter.event.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update part of the setting for release-it CI
  .github/workflows/release.yml
  .release-it.yml
Due: none

chore: workflow permissions
  .github/workflows/release.yml
Due: none

chore: update release-it settings
  .github/workflows/release.yml
  .release-it.yml
Due: none

fix(releases): test change
  .release-it.yml
Due: none

fix(releases): test change 2
  .release-it.yml
Due: none

chore: fix release permissions
  .github/workflows/release.yml
Due: none

chore: try to fix release process
  .github/workflows/release.yml
  .release-it.yml
Due: none

fix(esl-utils): simplified `union` utility
  src/modules/esl-utils/misc/set.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix types for `unwrap` array utility
  src/modules/esl-utils/misc/array.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): simplified `uniq` array utility
  src/modules/esl-utils/misc/array.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): simplified `flat` array utility
  src/modules/esl-utils/misc/array.ts
  src/modules/esl-utils/misc/test/array.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): `SyntheticEventTarget` optimizations
  src/modules/esl-utils/dom/events/target.ts
  src/modules/esl-utils/dom/events/test/target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): `createZIndexIframe` retired
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-utils/fixes.ts
  src/modules/esl-utils/fixes/ie-fixes.less
  src/modules/esl-utils/fixes/ie-fixes.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

fix(esl-utils): clean IE11 micro-optimizations
  pages/src/landing/marquee/marquee.ts
  src/modules/esl-alert/core/esl-alert.less
  src/modules/esl-utils/fixes/viewport.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(uip for accordion, media): update header
  pages/src/common/playground.less
  pages/views/components/esl-media.njk
  pages/views/examples/accordion.njk
Due: stylelint, lintspaces -n -t -d spaces

chore: update package-lock.json
  package-lock.json
Due: none

chore: revert back semantic-release as main tool for automatic releases
  .github/workflows/release-legacy.yml
  .github/workflows/release.yml
  .releaserc.yml
  package-lock.json
  package.json
Due: none

chore(dev-deps): bump dependencies versions
  package-lock.json
  package.json
Due: none

refactor(esl-carousel): fix main problems of the new version update
  pages/src/esl-carousel-demo/test-carousel.less
  src/modules/esl-carousel/core/esl-carousel-plugin.ts
  src/modules/esl-carousel/core/esl-carousel-slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/esl-multi-carousel.less
  src/modules/esl-carousel/core/view/esl-multi-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-slide-carousel-view.ts
  src/modules/esl-carousel/plugin/esl-carousel-arrow.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-dots.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-touch.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): basic navigation rework according new specification
  src/modules/esl-carousel/core/esl-carousel-utils.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav-types.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav-utils.ts
  src/modules/esl-carousel/core/view/esl-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-multi-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-slide-carousel-view.ts
  src/modules/esl-carousel/plugin/esl-carousel-dots.plugin.ts
  src/modules/esl-carousel/test/esl-carousel-utils.test.ts
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): restructuring and small fixes
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.plugin.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.types.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/core/view/esl-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-multi-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-multi-carousel.less
  src/modules/esl-carousel/core/view/esl-slide-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-slide-carousel.less
  src/modules/esl-carousel/plugin/esl-carousel-arrow.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-dots.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-touch.plugin.ts
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat: `ESLBaseComponent` interface shared between `ESLMixinElement` and `ESLBaseElement`
  src/modules/draft/esl-carousel/core/esl-carousel.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/esl-animate/core/esl-animate.ts
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-item.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-list.ts
  src/modules/esl-forms/esl-select/core/esl-select.ts
  src/modules/esl-image/core/esl-image.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
  src/modules/esl-tab/core/esl-tabs.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-trigger/core/esl-trigger.ts
  src/modules/esl-utils/abstract/component.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): create base interface for carousel plugin
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.base.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.element.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.mixin.ts
  src/modules/esl-carousel/plugin/esl-carousel-arrow.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-dots.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-touch.plugin.ts
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): basic nav mixin implementation
  pages/src/localdev.ts
  pages/views/examples/carousel.11tydata.yml
  pages/views/examples/carousel.njk
  src/modules/esl-carousel/all.less
  src/modules/esl-carousel/all.ts
  src/modules/esl-carousel/plugin/esl-carousel-arrow.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel.nav.arrows.less
  src/modules/esl-carousel/plugin/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): fix group navigation algorithm
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): fix typo in readme
  src/modules/esl-carousel/README.md
Due: none

style(esl-carousel): add examples
  pages/src/common/card.less
  pages/views/examples/carousel.11tydata.yml
  pages/views/examples/carousel.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(uip for scrollbar): move examples to playground
  pages/src/common/playground.less
  pages/views/examples/scrollbar.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): fix touch move and nav improvements
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/plugin/esl-carousel-touch.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel.nav.arrows.less
  src/modules/esl-carousel/plugin/esl-carousel.nav.mixin.ts
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): extend navigation algorithm with direction, loop and possibility of navigation
  pages/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

refactor(esl-carousel): small demo corrections
  pages/views/examples/carousel.njk
Due: lintspaces -n -t -d spaces

chore(uip for scrollbar): fix resizable option
  pages/src/common/playground.less
Due: stylelint, lintspaces -n -t -d spaces

chore: fix PR validation (use merge commit instead of the PR HEAD)
  .github/workflows/validate.yml
Due: none

refactor(esl-carousel): change touch event (slide changed)
  src/modules/esl-carousel/core/view/esl-multi-carousel-view.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): fix `override` keyword on `attributeChangeCallback`
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): move and group carousel nav plugins
  pages/src/localdev.ts
  src/modules/esl-carousel/all.less
  src/modules/esl-carousel/all.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-dots.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): rework touch plugin and samples
  pages/src/localdev.ts
  pages/views/draft/carousel.njk
  pages/views/examples/carousel.marquee.11tydata.yml
  pages/views/examples/carousel.marquee.njk
  pages/views/examples/carousel.njk
  src/modules/all.ts
  src/modules/esl-carousel/all.ts
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/view/esl-multi-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-multi-carousel.less
  src/modules/esl-carousel/core/view/esl-slide-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-slide-carousel.less
  src/modules/esl-carousel/plugin/esl-carousel-touch.plugin.ts
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces
