Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

docs(esl-carousel): update default `esl-carousel-dots` documentation
  src/modules/esl-carousel/plugin/dots/README.md
Due: none

refactor(esl-carousel): update `esl-carousel-dots` implementation
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix `sideEffects` list of core `package.json`
  package.json
Due: none

docs(esl-carousel): small doc update `esl-carousel.slide.ts`
  src/modules/esl-carousel/core/esl-carousel.slide.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.12
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  587c7c32c9cda832ed69f4aa31e7620c11d01416
Due: none

refactor: fix animation freezes and alignment
  src/core/panel/plugin-panel.horizontal.less
  src/core/preview/preview.tsx
  src/plugins/editor/editor.less
  src/plugins/editor/editor.tsx
  src/plugins/settings/settings.less
  src/plugins/settings/settings.tsx
Due: stylelint

fix(uip-editor): fix editor is not editable in FF due to `contentEditable` partial support
  src/plugins/editor/editor.tsx
Due: none

refactor: replace horizontal collapsing timing function to ease-in-out to improve smoothness of the animation
  src/core/panel/plugin-panel.horizontal.less
Due: stylelint

chore(release): 2.1.0-beta.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  site/package.json
Due: none

chore(site): update UIP version to `2.1.0-beta.4`
  package-lock.json
  site/package.json
Due: none

refactor(esl-carousel): final update for `esl-carousel-dots` implementation
  site/src/common/reboot.less
  site/views/examples/carousel.njk
  src/modules/esl-carousel/plugin/dots/README.md
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.less
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(esl-event-listener): apply suggestions from a code review
  src/modules/esl-event-listener/core/targets/intersection.event.ts
  src/modules/esl-event-listener/core/targets/intersection.target.ts
  src/modules/esl-event-listener/test/targets/intersection.test.ts
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): deprecate `type` for intersection event
  src/modules/esl-event-listener/core/targets/intersection.event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): simplify boundaries check inside `onMove` method
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): apply review corrections (remove unused attribute observation, some naming inconsistencies and doc fixes)
  src/modules/esl-carousel/plugin/dots/README.md
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): refactor `normalization functions a bit, rewrite slide amount rounding logic
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
  src/modules/esl-carousel/test/core/esl-carousel.nav.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): simplify animation step
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): event's `type` is now replaced with `TYPE`
  src/modules/esl-event-listener/core/targets/resize.target.event.ts
  src/modules/esl-event-listener/core/targets/resize.target.ts
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-event-listener/core/targets/wheel.target.event.ts
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): clarify doc a little bit
  src/modules/esl-carousel/plugin/dots/README.md
Due: none

chore(esl-event-listener): Apply suggestions from code review
  src/modules/esl-event-listener/core/targets/intersection.event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): rename `data-slides-area` container to mo obvious `esl-carousel-slides`
  site/src/esl-carousel-demo/test-carousel.less
  site/src/landing/overview/overview.less
  site/views/_includes/landing/overview.njk
  site/views/examples/carousel.marquee.njk
  site/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/dots/README.md
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(release): 5.0.0-beta.13
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  191ab68c4f364bec2d6a95ba32fc4773e72b0dae
Due: none

feat(esl-carousel): `container-class` slide implementation
  src/modules/esl-carousel/core/esl-carousel.slide.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): `dotBuilder`/`dotUpdater` does not inherit static default
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): it is impossible to use cascading of css variable properly to define dots styles on the carousel level
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.less
Due: stylelint

refactor(esl-carousel): add reset styles for dots by default
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.less
Due: stylelint

style(esl-carousel): fix unused import
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): fix import order
  src/modules/esl-carousel/core/esl-carousel.slide.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): fix typo in `esl-carousel.slide.ts`
  src/modules/esl-carousel/core/esl-carousel.slide.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(site): `esl-animate` example page wrong animation
  site/views/examples/animate.njk
Due: none

feat(esl-utils): add provider function support into `@prop` decorator
  src/modules/esl-utils/decorators/prop.ts
  src/modules/esl-utils/decorators/test/prop.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): move tolerance to move to the next slide to constant
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): apply suggestions from code review
  site/views/examples/animate.njk
Due: none

refactor(esl-utils): remove `DeviceDetector` use from code
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-image/core/esl-image-iobserver.ts
  src/modules/esl-media-query/core/common/env-shortcuts.ts
  src/modules/esl-media-query/core/common/screen-dpr.ts
  src/modules/esl-media-query/test/esl-media-query.test.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-trigger/core/esl-base-trigger.ts
  src/modules/esl-trigger/test/esl-trigger.actions.test.ts
  src/modules/esl-utils/fixes/viewport.ts
  src/modules/esl-utils/test/deviceDetector.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): remove overview page until carousel is ready
  site/views/_includes/landing/overview.njk
  site/views/index.njk
Due: none

feat(esl-carousel): migrate `esl-carousel-slide` from custom tag to Mixin
  site/src/esl-carousel-demo/test-carousel.less
  site/views/examples/carousel.marquee.njk
  site/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
  src/modules/esl-carousel/test/core/esl-carousel.renderer.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-carousel): make `DelegatedEvent` equal too `DelegatedEvent<Event>`, fix types compatibility
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): rework `esl-popup` game demo page using ui playground
  site/src/esl-popup/esl-d-popup-game.ts
  site/views/draft/popup-game.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
