Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: remove empty preversion
  package.json
Due: none

chore(release): 2.0.0-beta.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  pages/package.json
Due: none

chore: update `ui-playground` to latest `2.0.0-beta.7`
  package-lock.json
  pages/package.json
Due: none

chore(site): fix polyfill bundle
  pages/src/polyfill.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix small structural problems
  .eslintignore
  docs/DEVELOPMENT.md
  eslint/test/deprecated-alias.invalid.test.ts
  eslint/test/deprecated-alias.valid.test.ts
  eslint/tsconfig.json
  sonar.properties
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test: get rid of html jest loader
  build/jest.html-loader.js
  jest.config.js
  src/modules/esl-share/test/esl-share-button.test.ts
  src/modules/esl-share/test/esl-share-popup.test.ts
  src/modules/esl-share/test/nested-elements-template.html
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix eslint module build
  eslint/package.json
  eslint/tsconfig.build.json
  package-lock.json
Due: none

chore: fix pages workflow
  .github/workflows/site.yml
Due: none

docs(esl-modal): update documentation
  src/modules/esl-modal/README.md
Due: none

refactor(esl-popup): replacement of deprecated properties
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-utils/dom/window.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update `package-lock.json`
  package-lock.json
Due: none

fix(esl-utils): fix getting viewport sizes
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-utils/dom/test/visible.test.ts
  src/modules/esl-utils/dom/visible.ts
  src/modules/esl-utils/dom/window.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-utils): fix tsdoc
  src/modules/esl-utils/dom/window.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: invalidate `package-lock.json`
  package-lock.json
Due: none

chore: npm audit maintenance
  package-lock.json
Due: none

fix(snippets): dropdown doesn't open if ESL 5.0.0 is being used
  src/plugins/snippets/snippets.tsx
Due: none

fix: arrow animation due to re-rendering after collapsed state change
  src/core/panel/plugin-panel.tsx
Due: none

fix: remove ESL styles from the main output / create `registration.all` with full import
  pages/package.json
  pages/src/playground.less
  src/core/base/root.less
  src/registration.all.less
  src/registration.all.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

fix: remove extra divider lines, rename some of the global properties
  pages/views/examples/example/form.njk
  src/core/base/base.less
  src/core/panel/plugin-panel.horizontal.less
  src/core/panel/plugin-panel.vertical.less
  src/plugins/copy/copy-button.less
  src/plugins/snippets/snippets.less
Due: stylelint

fix: fix vertical resize divider line
  src/core/panel/plugin-panel.vertical.less
Due: stylelint

chore(release): 2.0.0-beta.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  pages/package.json
Due: none

chore(site): update `@ui-playground` to v`2.0.0-beta.8`
  package-lock.json
  site/package.json
  site/src/ui-playground/ui-playground.less
Due: stylelint

docs: fix `polyfills.ts` doc syntax
  site/src/polyfill.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: small optimization/unification of `Rect` usage in popup
  src/modules/esl-popup/core/esl-popup-position.ts
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.4
  CHANGELOG.md
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  ba/44fb06a03da4ae3920b52cb292bd447f1c1ca9
Due: none

chore(patch): fix npm prepare didn't complete for npm pack command
  package.json
Due: none

chore(release): 5.0.0-beta.5
  CHANGELOG.md
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  19/efcc8ead0c375fe897262de940b7f8e8a2234f
Due: none

chore(patch): alternative fix for npm pack files
  package.json
Due: none

chore(release): 5.0.0-beta.6
  CHANGELOG.md
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  84/7606033a27716cb8609464e318a6da15fb4dbf
Due: none

chore(patch): fix for npm pack of submodules (eslint-plugin-esl)
  eslint/package.json
Due: none

chore(release): 5.0.0-beta.7
  CHANGELOG.md
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  93/75711bf6099d62130de4600dc010631c6836bf
Due: none

chore(uip for animate): create draft gh page
  site/views/draft/uip-animate.njk
Due: none

refactor(esl-carousel): fix keyboard support mixin
  src/modules/esl-carousel/plugin/keyboard/esl-carousel.keyboard.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): add `esl-carousel` mouse wheel control support mixin
  site/src/localdev.ts
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): presentation basis created
  site/src/common/presentation.less
  site/src/localdev.less
  site/views/_layouts/presentation.njk
  site/views/overview/index.njk
  site/views/overview/intro.njk
  site/views/overview/outro.njk
Due: stylelint

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
