Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-event-listener): New `ESLEventUtils.resize` utility to create an adapter `EventTargets` for `ResizeObserver`
  jest.config.js
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-utils/dom/events/target.ts
  src/modules/esl-utils/test/resizeObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-event-listener): `SyntheticEventTarget` extended with ability to pass custom target to `dispatchEvent` method
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs: new changes
  README.md
Due: none

docs: add example picture
  README.md
  docs/images/UIPexamplePNG2.png
Due: none

docs: little styles update
  README.md
Due: none

docs: new pic
  docs/images/UIPexamplePNG2.png
Due: none

docs: new test pic
  docs/images/UIPexampleJPEG2.jpg
Due: none

Deploying to gh-pages from @ exadel-inc/esl@b4618b083aaa979d077f8103eeafe86db46be28e 🚀
  bundles/localdev.css.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(docs): update components docs
  src/README.md
  src/core/base/README.md
  src/plugins/editor/README.md
  src/plugins/header/README.md
  src/plugins/header/options/README.md
  src/plugins/header/snippets/README.md
  src/plugins/settings/README.md
  src/settings/bool-setting/README.md
  src/settings/select-setting/README.md
  src/settings/slider-setting/README.md
  src/settings/text-setting/README.md
Due: none

docs: remove text and pic
  README.md
  docs/images/UIPexample2.jpg
  docs/images/UIPexamplePNG.png
Due: none

docs: update logo
  docs/images/exadel-logo.png
Due: none

Deploying to gh-pages from @ exadel-inc/esl@53ed23dd78b8f13f95e534bd7f68298a12510e15 🚀
  bundles/localdev.css.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

docs: update exadel logo (#1489)
  docs/images/exadel-logo.png
Due: none

Deploying to gh-pages from @ exadel-inc/esl@7cc69bc52be22878188b468bc22ef5aa765c03bb 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(esl-event-listener): fix types in `listener.ts`
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: update `.codeclimate.yml` settings
  .codeclimate.yml
Due: none

Deploying to gh-pages from @ exadel-inc/esl@5d0d73176733e22792f9a9a6d85a908025c0e319 🚀
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(release): 4.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a4/be36c04aa91a6fab02ac7a4c7c7ec813cfb7f1
Due: none

chore(lint): install `html lint` to lint `njk` and `html` files, remove `lint-space`
  .eslintrc.yml
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

docs: small typo fixes and updates in `ESLMixinElement` and `ESLBaseElement` related to #1460
  src/modules/esl-base-element/README.md
  src/modules/esl-mixin-element/README.md
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(docs): pr fix
  src/README.md
  src/core/base/README.md
  src/plugins/editor/README.md
  src/plugins/header/README.md
Due: none

chore: fix reopen dev server on server related changes
  pages/11ty/open.postaction.js
Due: none

refactor(esl-event-utils): fix override keyword
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-event-listener): create EventTarget decorator and window target utilities
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorator.target.ts
  src/modules/esl-event-listener/test/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-utils): API normalization + fix override keyword
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

test(esl-event-utils): update user cases tests for `decorate` utility
  src/modules/esl-event-listener/test/decorator.test.ts
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-event-utils): fix `SyntheticEventTarget` event `target` descriptor configurability
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

test(esl-event-listener): basic cases for `ESLEventUtils.decorate`
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@2033f16d7d15262a5f0ddf2f8a68332f309b10a2 🚀
  bundles/localdev.js.map
  core/esl-base-element/index.html
  core/esl-mixin-element/index.html
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Revert "chore(lint): install `html lint` to lint `njk` and `html` files, remove `lint-space`"
  .eslintrc.yml
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

chore: fix reopen dev server on server related changes
  pages/e11y/open.postaction.js
Due: none

Fix: active snippet init added (#491)
  pages/views/examples/example/list.njk
  src/core/base/model.ts
  src/core/base/root.ts
  src/plugins/header/snippets/snippets.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore(lint): install `html-lint` plugin, delete `lintspaces`
  .eslintrc.yml
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

docs: change pic & example
  README.md
  docs/images/UIPexample.jpg
  docs/images/UIPexample2.jpg
  docs/images/UIPexample2.png
  docs/images/UIPexampleJPEG2.jpg
  docs/images/UIPexamplePNG.png
  docs/images/UIPexamplePNG2.png
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
