Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

ci: fix Snyk ignore file
  .snyk
Due: none

ci: add ignore for packages/esl
  packages/esl/.snyk
Due: none

ci: consolidate Snyk config and updates workflow paths
  .github/workflows/snyk.yml
  .snyk
  packages/esl/.snyk
Due: none

ci: last attempt
  .github/workflows/snyk.yml
  .snyk
Due: none

ci: fix node version
  .github/workflows/snyk.yml
Due: none

chore: release v5.15.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): incorrect log messages upon fallback parser usage
  packages/esl/src/esl-media-query/core/esl-media-rule-list.ts
  packages/esl/src/esl-utils/decorators/json-attr.ts
  packages/esl/src/esl-utils/misc/format/object.ts
  packages/esl/src/esl-utils/misc/format/test/object.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style: fix formatting esl-media-rule-list.ts
  packages/esl/src/esl-media-query/core/esl-media-rule-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add shared website monitoring scripts
  .github/monitoring/check-availability.js
  .github/monitoring/check-domain.js
  .github/monitoring/check-ssl.js
  .github/monitoring/issue-helper.js
  .github/monitoring/package-lock.json
  .github/monitoring/package.json
Due: none

chore(site): create workflow for website availability check
  .github/workflows/website-availability-check.yml
Due: none

chore(site): create workflow for website domain expiration check
  .github/workflows/website-domain-check.yml
Due: none

chore(site): create workflow for website SSL certificate expiration check
  .github/workflows/website-ssl-check.yml
Due: none

docs(site): add documentation for website monitoring
  packages/esl-website/docs/MONITORING.md
Due: none

chore: remove legacy of `eslint-plugin` module
  .github/workflows/validate.yml
  nx.json
Due: none

chore: fix TSDoc lint warnings
  packages/esl-website/11ty/markdown.table.lib.js
  packages/esl/src/esl-carousel/plugin/info/esl-carousel.info.shape.ts
  packages/esl/src/esl-carousel/plugin/info/esl-carousel.info.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: keywords small update for repo-root
  package.json
Due: none

chore: release v6.0.0-beta.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix github release workflow
  .github/workflows/release-github.yml
  .github/workflows/release-npm.yml
Due: none

chore(site): newsline clamp controls
  packages/esl-website/src/esl-line-clamp/clamp-control.ts
  packages/esl-website/src/landing/newsline/newsline.less
  packages/esl-website/src/site.ts
  packages/esl-website/views/_includes/landing/newsline-item.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(site): apply suggestions from copilot review
  packages/esl-website/src/esl-line-clamp/clamp-control.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix vulnerable sub-deps (npm audit)
  package-lock.json
Due: none

chore: fix TS config lib setting
  packages/esl-website/tsconfig.json
  packages/esl/tsconfig.json
Due: none

feat(esl-incremental-scroll): add incremental scroll utility
  .commitlintrc.yml
  packages/esl/src/all.ts
  packages/esl/src/esl-incremental-scroll/core.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-align-strategies.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-axis-stepper.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-scroller.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-types.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-utils.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-incremental-scroll): add incremental scroll tests
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-align-strategies.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-axis-stepper.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-scroller.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-utils.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-incremental-scroll): add README for incremental scroll
  packages/esl/src/esl-incremental-scroll/README.md
Due: none

chore(site): add docs and examples for incremental scroll
  packages/esl-website/static/assets/examples/incremental-scroll.svg
  packages/esl-website/static/assets/incremental-scroll/diagonal-scroll-bg.webp
  packages/esl-website/views/components/esl-incremental-scroll.njk
  packages/esl-website/views/examples/esl-incremental-scroll.njk
Due: none

chore: invalidate project package-lock
  package-lock.json
Due: none

chore: release v6.0.0-beta.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-incremental-scroll): modify public API
  packages/esl-website/views/examples/esl-incremental-scroll.njk
  packages/esl/src/esl-incremental-scroll/README.md
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-incremental-scroll): rename options interface and add tsdoc
  packages/esl/src/esl-incremental-scroll/README.md
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-align-strategies.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-axis-stepper.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-scroller.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-types.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-axis-stepper.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-scroller.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-incremental-scroll): modify scroll utility
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-align-strategies.ts
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-utils.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update ESLIncrementalScroll example
  packages/esl-website/views/examples/esl-incremental-scroll.njk
Due: none

style(esl-incremental-scroll): remove comments
  packages/esl/src/esl-incremental-scroll/core/incremental-scroll-utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 486f3dccb62f9daaabab34eac8f26d24d7e98d20
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  index.md
Due: none

feat(esl-line-clamp): introduce `esl-line-clamp-alt` and `esl-line-clamp-toggler`
  packages/esl/src/esl-line-clamp/core.less
  packages/esl/src/esl-line-clamp/core.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-alt.less
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-alt.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-toggler.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

test(esl-line-clamp): `ESLLineClampAlt` and `ESLLineClampToggler` test coverage
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-alt.test.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-toggle.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
