Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

refactor(esl-drag-to-scroll): remove unused import
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 2a721cf59a7c206c67451322759e678ced5538bb
  README.md
  index.md
Due: none

fix(esl-base-element): fix subscription for component that currently out of DOM
  src/modules/esl-base-element/core/esl-base-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): update snapshots (via GitHub Actions)
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

docs(esl-base-element): update esl-base-element.ts tsdoc
  src/modules/esl-base-element/core/esl-base-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.34
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  8c4b643e3ed111350f8c7e43683249a19b042c9c
Due: none

test(e2e): handle sanpshot's size mismatch
  e2e/setup/serializers/image-snapshot.matcher.ts
  e2e/setup/serializers/image-snapshot.pocessor.ts
  e2e/setup/serializers/image-snapshot.sharp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(dev-deps): migrate eslint to 9 version, move config to js format
  .eslintignore
  .eslintrc.yml
  eslint.config.js
  linting/coderules.eslintrc.yml
  linting/codestyle.eslintrc.yml
  linting/eslint.config.coderules.js
  linting/eslint.config.codestyle.js
  linting/eslint.config.editorconfig.js
  linting/eslint.config.ignore.js
  linting/eslint.config.language.js
  linting/eslint.config.sonarjs.js
  linting/eslint.config.stylistic.js
  linting/eslint.config.tsdoc.js
  linting/import.eslintrc.yml
  linting/sonarjs.eslintrc.yml
  package-lock.json
  package.json
Due: none

chore(dev-deps): change import
  src/core/base/root.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): skip normaliztion if required size already
  e2e/setup/serializers/image-snapshot.sharp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(lint): adapt eslint plugin to be used with ESLint 9
  eslint.config.js
  eslint/package.json
  eslint/src/index.ts
  eslint/src/rules/4/all.rules.ts
  eslint/src/rules/5/all.rules.ts
  package-lock.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(lint): fix custom plugin lint tests
  eslint/jest.config.js
  eslint/package.json
  eslint/test/deprecated-alias.invalid.test.ts
  eslint/test/deprecated-alias.valid.test.ts
  eslint/test/deprecated-class-method.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: bcc4ff3e63014d28c3fd637af81465224abcc9f9
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

fix(lint): fix Literal import processing & update eslint 9.11.1
  eslint/src/core/deprecated-alias.ts
  eslint/src/core/deprecated-path.ts
  package-lock.json
  package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(eslint-config): introducing shared eslint-config for esl projects (internal use only for now)
  eslint-config/index.js
  eslint-config/package.json
  eslint-config/rules/eslint.config.coderules.js
  eslint-config/rules/eslint.config.codestyle.js
  eslint-config/rules/eslint.config.editorconfig.js
  eslint-config/rules/eslint.config.import.js
  eslint-config/rules/eslint.config.language.js
  eslint-config/rules/eslint.config.sonarjs.js
  eslint-config/rules/eslint.config.stylistic.js
  eslint-config/rules/eslint.config.tsdoc.js
  eslint.config.ignore.js
  eslint.config.js
  package-lock.json
  package.json
Due: none

chore(eslint-config): small stylistic improvements in shared config files
  eslint-config/index.js
  eslint-config/package.json
  eslint-config/rules/eslint.config.editorconfig.js
  eslint-config/rules/eslint.config.import.js
  eslint-config/rules/eslint.config.language.js
  eslint-config/rules/eslint.config.sonarjs.js
  eslint-config/rules/eslint.config.stylistic.js
  eslint-config/rules/eslint.config.tsdoc.js
  eslint-plugin/src/index.ts
  eslint.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-drag-to-scroll): fix import order
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint-config): add missing build and publish process & basic documentation
  .releaserc.yml
  docs/DEVELOPMENT.md
  eslint-config/README.md
  eslint-config/package.json
  eslint-plugin/README.md
  package.json
Due: none

docs(eslint-config): fix typos in documentation
  eslint-config/README.md
  eslint-plugin/README.md
Due: none

chore(eslint-config): bump `eslint-plugin-import-x` version (based on #2687)
  eslint-config/package.json
  package-lock.json
Due: none

feat(esl-footnotes): migrate esl-note to esl-base-trigger
  src/modules/esl-footnotes/core/esl-note.less
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

style(esl-footnotes): apply suggestions from code review
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): add attribute to carousel if it has only one slide
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): improve code readability
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.35
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  41c838afb32a2cb436efcf0007d92b482ebf8ff2
Due: none

chore: update package visibility and permissions
  .releaserc.yml
  CHANGELOG.md
  eslint-config/package.json
  eslint-plugin/package.json
  package.json
Due: none

chore(release): 5.0.0-beta.36
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  80bd5bad3a53b831c708ecdf55262eb586b815e8
Due: none

chore(dev-deps): use eslint-config-rules
  eslint.config.ignore.js
  eslint.config.js
  linting/eslint.config.coderules.js
  linting/eslint.config.codestyle.js
  linting/eslint.config.editorconfig.js
  linting/eslint.config.language.js
  linting/eslint.config.sonarjs.js
  linting/eslint.config.stylistic.js
  linting/eslint.config.tsdoc.js
  package-lock.json
  package.json
Due: none

style(root): fix eslint warning
  src/core/base/root.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(dev-deps): update dependencies
  package.json
Due: none

chore(dev-deps): update dependencies
  package-lock.json
  package.json
Due: none

style(core): fix lint warnings
  src/core/base/snippet.ts
  src/core/panel/plugin-panel.horizontal.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(lint): unite eslint rules
  eslint-plugin/README.md
  eslint-plugin/src/core/deprecated-alias.ts
  eslint-plugin/src/core/deprecated-class-method.ts
  eslint-plugin/src/rules/4/all.rules.ts
  eslint-plugin/src/rules/4/deprecated.aliases.ts
  eslint-plugin/src/rules/4/deprecated.deep-compare.ts
  eslint-plugin/src/rules/4/deprecated.event-utils.ts
  eslint-plugin/src/rules/4/deprecated.generate-uid.ts
  eslint-plugin/src/rules/4/deprecated.media-rule-list-parse.ts
  eslint-plugin/src/rules/4/deprecated.methods.ts
  eslint-plugin/src/rules/4/deprecated.toggleable-action-params.ts
  eslint-plugin/src/rules/4/deprecated.traversing-query.ts
  eslint-plugin/src/rules/5/all.rules.ts
  eslint-plugin/src/rules/5/deprecated.alert-action-params.ts
  eslint-plugin/src/rules/5/deprecated.aliases.ts
  eslint-plugin/src/rules/5/deprecated.panel-action-params.ts
  eslint-plugin/src/rules/5/deprecated.popup-action-params.ts
  eslint-plugin/src/rules/5/deprecated.tooltip-action-params.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(lint): code refactoring
  eslint-plugin/src/core/deprecated-class-method.ts
  eslint-plugin/src/rules/4/all.rules.ts
  eslint-plugin/src/rules/4/deprecated.class-methods.ts
  eslint-plugin/src/rules/5/all.rules.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(lint): code refactoring
  eslint-plugin/README.md
  eslint-plugin/src/core/deprecated-alias.ts
  eslint-plugin/src/core/deprecated-class-method.ts
  eslint-plugin/src/rules/4/all.rules.ts
  eslint-plugin/src/rules/4/deprecated.class-methods.ts
  eslint-plugin/src/rules/4/deprecated.import.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
