Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

style(eslint-config): code cleanup + linting integration
  packages/esl-website/eslint.config.mjs
  packages/esl/eslint.config.mjs
  packages/eslint-config/eslint.config.mjs
  packages/eslint-config/package.json
  packages/eslint-config/project.json
  packages/eslint-config/rules/codestyle/ecmascript.js
  packages/eslint-config/rules/custom/compatibility/check.js
  packages/eslint-config/rules/custom/compatibility/version.js
  packages/eslint-config/rules/custom/index.js
  packages/eslint-config/rules/custom/plugin/core/ast.traverse.js
  packages/eslint-config/rules/custom/plugin/core/ast.utils.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-paths.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-static-member.js
Due: none

style(eslint-config): fix deprecated static member rule
  packages/eslint-config/rules/custom/configs.d.ts
  packages/eslint-config/rules/custom/configs.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-static-member.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
Due: none

style(eslint-config): refactor deprecated path rules implementation
  packages/eslint-config/rules/custom/plugin/rules/deprecated-paths.js
Due: none

style(eslint-config): docs cosmetic fixes
  packages/esl-website/site.yml
  packages/eslint-config/rules/custom/compatibility/check.js
  packages/eslint-config/rules/custom/compatibility/version.js
  packages/eslint-config/rules/custom/index.js
  packages/eslint-config/rules/custom/plugin/core/ast.utils.d.ts
  packages/eslint-config/rules/custom/plugin/core/ast.utils.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-alias.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint-config): update migration configuration
  packages/eslint-config/rules/custom/configs.js
Due: none

chore(eslint-plugin): add deprecation message
  packages/esl-website/views/core/linting/esl-eslint.njk
  packages/eslint-plugin/README.md
Due: none

chore(site): site navigation fixes and 5.14.0 release notes
  packages/esl-website/11ty/released.filter.js
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/blogs/ESL v5.1.0.md
  packages/esl-website/views/blogs/ESL v5.10.0.md
  packages/esl-website/views/blogs/ESL v5.11.0.md
  packages/esl-website/views/blogs/ESL v5.12.0-5.13.0.md
  packages/esl-website/views/blogs/ESL v5.14.0.md
  packages/esl-website/views/blogs/ESL v5.2.0.md
  packages/esl-website/views/blogs/ESL v5.3.0.md
  packages/esl-website/views/blogs/ESL v5.5.0.md
  packages/esl-website/views/blogs/ESL v5.6.0.md
  packages/esl-website/views/blogs/ESL v5.7.0.md
  packages/esl-website/views/blogs/ESL v5.8.0.md
  packages/esl-website/views/blogs/ESL v5.9.0.md
Due: none

style: update /blogs/ESL v5.14.0.md
  packages/esl-website/views/blogs/ESL v5.14.0.md
Due: none

deploy: d967900c0009ad4ba546bc8f03dcde04e16a58e8
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

chore: release v5.14.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 1e26bdf7f963361c556205bebc7afb1df19feaad
  README.md
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

deploy: a2feec4fd0eb7667a4e37cf23dcd6959e9bb8f66
  README.md
  index.md
Due: none

chore(site): update and un-draft first UIP pages on the site
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/examples/overview.njk
  packages/esl-website/views/playground/introduction.njk
Due: none

chore(site): fix homepage btn alignment and make homepage public
  packages/esl-website/src/common/buttons.less
  packages/esl-website/views/playground/index.njk
Due: stylelint

chore: release v6.0.0-beta.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update playground nav branch main structure
  packages/esl-website/views/playground/advanced/direction.njk
  packages/esl-website/views/playground/advanced/index.njk
  packages/esl-website/views/playground/advanced/note.njk
  packages/esl-website/views/playground/advanced/settings.njk
  packages/esl-website/views/playground/advanced/theme.njk
  packages/esl-website/views/playground/basic/core.njk
  packages/esl-website/views/playground/basic/editor.njk
  packages/esl-website/views/playground/basic/index.njk
  packages/esl-website/views/playground/basic/preview.njk
  packages/esl-website/views/playground/basic/snippets.njk
  packages/esl-website/views/playground/examples/index.njk
Due: none

chore: release v5.14.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(ui-playground): duplicate theme toggle icon
  packages/ui-playground/src/plugins/settings/settings.tsx
Due: none

chore(site): fix UIP docs watcher for site development
  packages/esl-website/11ty/watch.targets.js
  packages/ui-playground/package.json
  packages/ui-playground/project.json
Due: none

docs(site): update ui-playground introduction doc
  packages/esl-website/views/playground/introduction.njk
  packages/ui-playground/docs/INTRODUCTION.md
  packages/ui-playground/src/docs/INTRODUCTION.md
  packages/ui-playground/src/docs/images/uip-logo.svg
Due: none

chore(site): WIP - update ui-playground documentation content
  packages/esl-website/views/playground/basic/core.njk
  packages/esl-website/views/playground/basic/index.njk
  packages/esl-website/views/playground/basic/preview.njk
  packages/ui-playground/README.md
  packages/ui-playground/src/README.md
  packages/ui-playground/src/core/README.md
  packages/ui-playground/src/core/base/README.md
  packages/ui-playground/src/core/preview/README.md
  packages/ui-playground/src/plugins/copy/README.md
  packages/ui-playground/src/plugins/reset/README.md
  packages/ui-playground/src/plugins/snippets/README.md
Due: none

fix(site): added table gaps in md pages; added table container for scrolling on mobile devices
  packages/esl-website/11ty/markdown.lib.js
  packages/esl-website/11ty/markdown.table.lib.js
  packages/esl-website/src/common/colors.less
  packages/esl-website/src/common/markdown.less
  packages/esl-website/src/common/reboot.less
Due: stylelint

chore(esl-carousel): add placeholder for is current nav check
  packages/esl/src/esl-carousel/core/esl-carousel.ts
  packages/esl/src/esl-carousel/core/esl-carousel.utils.ts
  packages/esl/src/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-carousel): add expectation tests for isCurrent check
  packages/esl/src/esl-carousel/test/core/esl-carousel.utils.nav-check.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): add ability to check if the passed target is current + `current` marker support for esl-carousel-nav mixin
  packages/esl/src/esl-carousel/README.md
  packages/esl/src/esl-carousel/core/esl-carousel.ts
  packages/esl/src/esl-carousel/core/esl-carousel.utils.ts
  packages/esl/src/esl-carousel/plugin/nav/README.md
  packages/esl/src/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
  packages/esl/src/esl-carousel/test/core/esl-carousel.utils.nav-check.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): fix review doc updates
  packages/esl/src/esl-carousel/core/esl-carousel.utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(ui-playground): theme class attribute to ease theme override
  packages/ui-playground/src/core/base/root.ts
  packages/ui-playground/src/core/config/config.ts
  packages/ui-playground/src/plugins/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): refactor uip setup to have separate theme
  packages/esl-website/src/playground/ui-playground.less
  packages/esl-website/src/playground/ui-playground.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: update Node.js version to 22.x and remove NPM token creation step due to migration to OIDC (Trusted Publishing)
  .github/workflows/commit.yml
  .github/workflows/e2e.yml
  .github/workflows/release-github.yml
  .github/workflows/release-npm.yml
  .github/workflows/release-pr.yml
  .github/workflows/site.yml
  .github/workflows/validate.yml
Due: none

fix(esl-popup): fix race condition in ESLPopup when rapidly toggling state
  packages/esl/src/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(ui-playground): `uip-preview` ability to resize each snippet individually
  packages/ui-playground/src/core/base/snippet.ts
  packages/ui-playground/src/core/preview/preview.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): refactor uip snippets to be resizable
  packages/esl-website/views/dev/popup-game.njk
  packages/esl-website/views/examples/animate.njk
  packages/esl-website/views/examples/notification.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/nested.njk
  packages/esl-website/views/playground/examples/text.njk
Due: none

chore(site): code refactoring
  packages/esl-website/views/dev/popup-game.njk
  packages/esl-website/views/examples/animate.njk
  packages/esl-website/views/examples/notification.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/nested.njk
  packages/ui-playground/src/core/base/snippet.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): code refactoring
  packages/esl-website/views/playground/examples/text.njk
Due: none

chore: release v5.15.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): create website ssl and domain expiration check
  .github/workflows/website-ssl-domain-check.yml
Due: none

chore(site): create website availability check
  .github/workflows/website-availability-check.yml
Due: none
