Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

docs(esl-panel-group): add code snippets to visualize examples
  pages/11ty/prismjs.lib.js
  pages/src/common/code.less
  pages/src/common/reboot.less
  pages/src/localdev.less
  pages/views/examples/accordion.njk
  pages/views/examples/tabs.njk
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-utils): allow to pass array of targets to the `ESLEventListener`
  src/modules/esl-utils/dom/events/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-panel-group): update strategy to listen config and API methods names
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-panel-group): refactor mode and limits API for `ESLPanelGroup`
  pages/views/examples/tabs.njk
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-utils/misc/object/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@75d5f23935332f3441a66eed7d501318bc68ebc3 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(bool-setting): remove console.log
  src/settings/bool-setting/bool-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(deps-dev): update common dev dependencies
  package-lock.json
  package.json
Due: none

style(esl-panel-group): add examples
  pages/views/examples/accordion.njk
  pages/views/examples/tabs.njk
Due: lintspaces -n -t -d spaces

style(esl-panel-group): fix styles
  pages/src/common/tabs.less
  src/modules/esl-panel-group/core/esl-panel-group.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-panel-group): fix reset method
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

test(esl-utils): update `@bind` utility tests
  src/modules/esl-utils/decorators/test/decorate.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-utils): update `debounce`/`throttle` subjects functions to have original fn as proto
  src/modules/esl-utils/async/debounce.ts
  src/modules/esl-utils/async/throttle.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-utils): change descriptor definition condition (`event` no longer required as an own property)
  src/modules/esl-utils/dom/events/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-utils): allow `@listen` decorator for decorated methods represented as a get accessor
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-utils): update `decorate` decorator to allow to save context properly (on instance level)
  src/modules/esl-utils/decorators/decorate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): update `@bind` decorator with a new enhanced way to store bound function
  src/modules/esl-utils/decorators/bind.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@97b8105656c35f12b0f8e1fe15890981f19e2bd8 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  introduction/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-panel-group): apply review suggestion
  pages/views/examples/nested-accordion.njk
  pages/views/examples/tabs.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@97b8105656c35f12b0f8e1fe15890981f19e2bd8 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(esl-utils): fix `@bind` and `@decorate` decorators check for proto calls for original function
  src/modules/esl-utils/decorators/bind.ts
  src/modules/esl-utils/decorators/decorate.ts
  src/modules/esl-utils/decorators/test/bind.test.ts
  src/modules/esl-utils/decorators/test/decorate.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-panel-group): enhance examples
  pages/views/examples/nested-accordion.njk
Due: lintspaces -n -t -d spaces

style(esl-panel-group): fix description of examples
  pages/views/examples/accordion.njk
  pages/views/examples/tabs.njk
Due: lintspaces -n -t -d spaces

refactor(esl-utils): fix `@bind` and `@decorate` proto call check
  src/modules/esl-utils/decorators/bind.ts
  src/modules/esl-utils/decorators/decorate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-panel-group): add ability to control min/max open panels per media condition
  pages/11ty/prismjs.lib.js
  pages/src/common/code.less
  pages/src/common/reboot.less
  pages/src/common/tabs.less
  pages/src/localdev.less
  pages/views/_includes/navigation/footer.njk
  pages/views/examples/accordion.njk
  pages/views/examples/nested-accordion.njk
  pages/views/examples/tabs.njk
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.less
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-utils/misc/object/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

docs(esl-panel-group): update samples, documentation and defaults
  pages/views/examples/accordion-regression.njk
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

refactor(esl-utils): fix context and decoration for usage with `@listen` decorator
  src/modules/esl-utils/decorators/decorate.ts
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@2e8582f079f80b59f0ebe2959462f55dc53ef120 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(deps-dev): bump typescript from 4.7 to 4.8
  package-lock.json
  package.json
Due: none

style(esl-panel-group): fix examples markdown
  pages/views/examples/accordion.njk
Due: lintspaces -n -t -d spaces

style: fix input of text setting
  src/settings/text-setting/text-setting.less
Due: stylelint, lintspaces -n -t -d spaces

chore: update package json
  package.json
Due: none

chore: update package json
  package-lock.json
Due: none

chore(release): 1.0.0-beta.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updates the version
  package.json
Due: none

style(esl-utils): fix ending comma
  src/modules/esl-utils/decorators/bind.ts
  src/modules/esl-utils/decorators/decorate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(uip for esl-media): update background color
  pages/src/common/playground.less
  pages/views/components/esl-media.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(uip for esl-media): update playground version
  package-lock.json
  package.json
Due: none
