Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

feat(esl-carousel): rework default renderer animation approach (now uses js animation)
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

style(site): fix text rendering of the owl messages
  site/views/_includes/landing/marquee.njk
Due: none

fix(esl-carousel): fix carousel empty state
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

fix(esl-carousel): fix incomplete centered carousel rendering
  src/modules/esl-carousel/renderers/esl-carousel.centered.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.30
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  249ed6ef3490c8bf224223c7c87cac42f98da091
Due: none

style(esl-carousel): remove commented outdated condition
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): direction related issues, cleanup internal nav API
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.types.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/test/core/esl-carousel.nav.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: add theme toggle and note docs readme
  site/views/plugins/note.njk
  site/views/plugins/theme-toggle.njk
  src/plugins/note/README.md
  src/plugins/note/note.tsx
  src/plugins/theme/README.md
Due: none

chore: update UIP example image
  docs/images/UIPexample2.png
Due: none

chore: update snippets documentation
  src/plugins/snippets-list/README.md
  src/plugins/snippets-title/README.md
  src/plugins/snippets/README.md
Due: none

chore: update settings documentation
  site/views/plugins/settings.njk
  site/views/plugins/settings/bool-setting.njk
  site/views/plugins/settings/select-setting.njk
  site/views/plugins/settings/settings.json
  site/views/plugins/settings/slider-setting.njk
  site/views/plugins/settings/text-setting.njk
  src/plugins/settings/README.md
  src/plugins/settings/bool-setting/README.md
  src/plugins/settings/select-setting/README.md
  src/plugins/settings/slider-setting/README.md
  src/plugins/settings/text-setting/README.md
Due: none

chore: update documentation and site views pages
  README.md
  site/views/components/components.njk
  site/views/plugins/copy.njk
  site/views/plugins/direction.njk
  site/views/plugins/editor.njk
  site/views/plugins/note.njk
  site/views/plugins/snippets-list/snippets-list.json
  site/views/plugins/snippets-list/snippets-list.njk
  site/views/plugins/snippets-title/snippets-title.json
  site/views/plugins/snippets-title/snippets-title.njk
  site/views/plugins/snippets.njk
  site/views/plugins/theme.njk
  src/README.md
  src/core/base/README.md
  src/core/base/model.ts
  src/core/panel/plugin-panel.tsx
  src/plugins/copy/README.md
  src/plugins/direction/README.md
  src/plugins/direction/dir-toggle.tsx
  src/plugins/editor/README.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): move types to the common place, rearrange navigation request and initial update
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/esl-carousel.types.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.ts
  src/modules/esl-carousel/renderers/esl-carousel.none.renderer.ts
  src/modules/esl-carousel/test/core/esl-carousel.nav.test.ts
  src/modules/esl-carousel/test/core/esl-carousel.slide.events.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): incomplete carousel should be normalized with non loop constraints
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: small typo fix
  src/plugins/snippets-list/README.md
Due: none

deploy: a56db3e24d1c24ca57859639a88d1f260cf33f61
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  index.md
Due: none

Revert "chore(deps): bump puppeteer from 22.15.0 to 23.0.1"
  e2e/package.json
  package-lock.json
Due: none

feat(esl-image-utils): create esl-img-container mixin to provide img container functionality
  .commitlintrc.yml
  site/src/playground/export/lib.ts
  site/views/examples/image-utils.njk
  src/modules/all.ts
  src/modules/esl-image-utils/core.ts
  src/modules/esl-image-utils/core/esl-image-container.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-image-utils): helper container classes for native img / picture containers
  src/modules/all.less
  src/modules/esl-image-utils/all.less
  src/modules/esl-image-utils/core/esl-image-conyainer.less
Due: stylelint

docs(esl-image-utils): documentation and site pages
  site/views/components/esl-image-utils.njk
  site/views/examples/image-utils.njk
  src/modules/esl-image-utils/README.md
Due: none

docs(esl-image): deprecation warning added
  README.md
  site/src/common/badge.less
  site/src/common/markdown.less
  site/views/_includes/navigation/sidebar-item.njk
  site/views/_layouts/content.njk
  site/views/components/esl-image-utils.njk
  site/views/components/esl-image.njk
  site/views/examples/image.njk
  src/modules/esl-image/README.md
Due: stylelint

refactor(esl-image-utils): fix error state check
  src/modules/esl-image-utils/core/esl-image-container.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): create utility to get element that is viewport for specified element
  src/modules/esl-utils/dom/scroll/parent.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-image-utils): fix review points and split css utils
  site/views/examples/image-utils.njk
  src/modules/esl-image-utils/README.md
  src/modules/esl-image-utils/all.less
  src/modules/esl-image-utils/core/esl-image-utils.container.less
  src/modules/esl-image-utils/core/esl-image-utils.fade.less
  src/modules/esl-image-utils/core/esl-image-utils.ratios.less
Due: stylelint

feat(esl-anchornav): create esl-anchor mixin
  .commitlintrc.yml
  src/modules/esl-anchornav/core/esl-anchor.less
  src/modules/esl-anchornav/core/esl-anchor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-anchornav): create esl-anchornav component to provide anchor navigation
  src/modules/all.less
  src/modules/all.ts
  src/modules/esl-anchornav/core.less
  src/modules/esl-anchornav/core.ts
  src/modules/esl-anchornav/core/esl-anchornav-types.ts
  src/modules/esl-anchornav/core/esl-anchornav.less
  src/modules/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-anchornav): create esl-anchornav-sticked mixin to provide sticked behaviour
  src/modules/esl-anchornav/core/esl-anchornav-sticked.less
  src/modules/esl-anchornav/core/esl-anchornav-sticked.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(site): create page with esl-anchornav examples
  site/src/esl-anchornav/esl-anchornav.less
  site/src/esl-anchornav/esl-anchornav.ts
  site/src/localdev.less
  site/src/localdev.ts
  site/static/assets/examples/anchornav.svg
  site/views/components/esl-anchornav.njk
  site/views/examples/anchornav.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(esl-anchornav): create README
  src/modules/esl-anchornav/README.md
Due: none

refactor(esl-image-utils): updates from the feature discussion
  site/src/common/badge.less
  site/views/examples/image-utils.njk
  src/modules/esl-image-utils/README.md
  src/modules/esl-image-utils/core.ts
  src/modules/esl-image-utils/core/esl-image-container.mixin.ts
  src/modules/esl-image-utils/core/esl-image-state-class.mixin.ts
  src/modules/esl-image-utils/core/esl-image-utils.container.less
  src/modules/esl-image-utils/core/esl-image-utils.fade.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-utils): add `parseTime` alternative, less restrictive to passed format
  src/modules/esl-utils/misc/format.ts
  src/modules/esl-utils/misc/test/format.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-anchornav): apply suggestions from code review
  src/modules/esl-anchornav/core/esl-anchor.ts
  src/modules/esl-anchornav/core/esl-anchornav.ts
  src/modules/esl-utils/dom/scroll/parent.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-anchornav): apply suggestions from code review
  src/modules/esl-anchornav/core/esl-anchornav-sticked.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-anchornav): apply suggestions from code review
  site/views/components/esl-anchornav.njk
  src/modules/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-image): deprecation warning added
  README.md
  site/src/common/badge.less
  site/src/common/card.less
  site/src/common/markdown.less
  site/views/_includes/navigation/sidebar-item.njk
  site/views/_layouts/content.njk
  site/views/components/esl-image-utils.njk
  site/views/components/esl-image.njk
  site/views/examples/image-utils.njk
  site/views/examples/image.njk
  src/modules/esl-image/README.md
Due: stylelint

refactor(esl-image-utils): update implementation to use json attr and new compact representation
  src/modules/esl-image-utils/all.less
  src/modules/esl-image-utils/core/esl-image-container.mixin.ts
  src/modules/esl-image-utils/core/esl-image-conyainer.less
  src/modules/esl-image-utils/core/esl-image-utils.container.less
  src/modules/esl-image-utils/core/esl-image-utils.fade.less
  src/modules/esl-image-utils/core/esl-image-utils.ratios.less
  src/modules/esl-image/core/esl-image-container.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(site): migrate `esl-image` usages to native img with `esl-image-container` and lazy-loading
  site/11ty/markdown.img.lib.js
  site/src/localdev.ts
  site/views/draft/carousel.njk
  site/views/examples/carousel/centered-siblings.sample.njk
  site/views/examples/carousel/default.sample.njk
  site/views/examples/carousel/multirow.sample.njk
  site/views/examples/carousel/nav-carousel.sample.njk
  site/views/examples/carousel/siblings.sample.njk
  site/views/examples/carousel/single.sample.njk
  site/views/examples/carousel/vertical.sample.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-image-utils): update TS doc and fix selection
  src/modules/esl-image-utils/core/esl-image-container.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-image-utils): `esl-image-container` documentation updated
  src/modules/esl-image-utils/README.md
Due: none
