Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-image-utils): migrate module styles to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-image-utils/README.md
  packages/esl/src/esl-image-utils/all.css
  packages/esl/src/esl-image-utils/all.less
  packages/esl/src/esl-image-utils/core/esl-image-utils.container.css
  packages/esl/src/esl-image-utils/core/esl-image-utils.container.less
  packages/esl/src/esl-image-utils/core/esl-image-utils.fade.css
  packages/esl/src/esl-image-utils/core/esl-image-utils.fade.less
  packages/esl/src/esl-image-utils/core/esl-image-utils.ratios.css
  packages/esl/src/esl-image-utils/core/esl-image-utils.ratios.less
Due: stylelint

feat(esl-utils): migrate module styles to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-utils/all.css
  packages/esl/src/esl-utils/all.less
  packages/esl/src/esl-utils/dom/scroll.css
  packages/esl/src/esl-utils/dom/scroll.less
Due: stylelint

refactor(ui-playground): fix consumption of esl@7
  packages/ui-playground/src/registration.all.less
Due: stylelint

chore: release v7.0.0-beta.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media): migrate module styles to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-media/README.md
  packages/esl/src/esl-media/core.css
  packages/esl/src/esl-media/core.less
  packages/esl/src/esl-media/core.mixin.less
  packages/esl/src/esl-media/core/esl-media-container.css
  packages/esl/src/esl-media/core/esl-media-container.less
  packages/esl/src/esl-media/core/esl-media.css
  packages/esl/src/esl-media/core/esl-media.less
Due: stylelint

feat(esl-image): remove deprecated esl-image component and module
  docs/INSTALLATION_GUIDE.md
  packages/esl-website/site.yml
  packages/esl-website/src/lib.less
  packages/esl-website/src/lib.ts
  packages/esl-website/views/components/esl-image.njk
  packages/esl-website/views/examples/image.njk
  packages/esl-website/views/examples/lazy-template.njk
  packages/esl/README.md
  packages/esl/src/esl-image-utils/README.md
  packages/esl/src/esl-image-utils/docs/migration.md
  packages/esl/src/esl-image/README.md
  packages/esl/src/esl-image/core.less
  packages/esl/src/esl-image/core.mixin.less
  packages/esl/src/esl-image/core.ts
  packages/esl/src/esl-image/core/esl-image-container.less
  packages/esl/src/esl-image/core/esl-image-iobserver.ts
  packages/esl/src/esl-image/core/esl-image-strategies.ts
  packages/esl/src/esl-image/core/esl-image.less
  packages/esl/src/esl-image/core/esl-image.shape.ts
  packages/esl/src/esl-image/core/esl-image.ts
  packages/esl/src/esl-image/test/esl-image.test.ts
  packages/esl/src/esl-image/test/xmlHttpRequest.mock.ts
  packages/esl/src/types/jsx.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor: complete migration to CSS export and remove Less build pipeline
  AGENTS.md
  docs/DEVELOPMENT.md
  docs/INSTALLATION_GUIDE.md
  packages/esl-website/src/lib.less
  packages/esl-website/src/site.less
  packages/esl/.lintstagedrc.yml
  packages/esl/README.md
  packages/esl/package.json
  packages/esl/project.json
  packages/esl/src/all.css
  packages/esl/src/all.less
  packages/esl/src/esl-utils/README.md
  packages/esl/worker/css.mjs
  packages/esl/worker/less.mjs
  packages/esl/worker/styles.mjs
Due: stylelint

feat(eslint-config): add `consistent-type-imports` to codestyle rules
  packages/eslint-config/index.js
  packages/eslint-config/rules/codestyle/typescript.js
Due: none

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-desktop-linux.png
Due: none

chore: release v7.0.0-beta.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(site): fix popup example page style
  packages/esl-website/views/examples/popup.njk
Due: none

chore: release v6.3.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v7.0.0-beta.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): add accessor support for decorators
  packages/esl/src/esl-utils/decorators/prop.ts
  packages/esl/src/esl-utils/dom/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): accessor decorators
  packages/esl/src/esl-utils/decorators/test/accessor.test-d.ts
  packages/esl/src/esl-utils/decorators/test/accessor.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add skill to create release notes digest
  .github/skills/release-notes-digest/SKILL.md
Due: none

chore(esl-utils): apply suggestions from code review
  packages/esl/src/esl-utils/decorators/test/accessor.test-d.ts
  packages/esl/src/esl-utils/decorators/test/accessor.test.ts
  packages/esl/src/esl-utils/decorators/test/attr.accessor.test.ts
  packages/esl/src/esl-utils/decorators/test/bool-attr.accessor.test.ts
  packages/esl/src/esl-utils/decorators/test/json-attr.accessor.test.ts
  packages/esl/src/esl-utils/decorators/test/prop.accessor.test.ts
  packages/esl/src/esl-utils/dom/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: prepare mocks for Vitest 5 compatibility
  packages/esl/src/esl-carousel/test/common/esl-carousel.dummy.renderer.ts
  packages/esl/vitest.config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: remove clearMocks workaround from Vitest config
  packages/esl/vitest.config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test: isolate mock state across unit tests
  packages/esl/src/esl-animate/test/animate.mixin.test.ts
  packages/esl/src/esl-trigger/test/esl-trigger.actions.test.ts
  packages/esl/src/esl-utils/decorators/test/decorate.test.ts
  packages/esl/src/esl-utils/dom/events/test/target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
