Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs: fix usage of british version of the word `behavior`
  docs/COMMIT_CONVENTION.md
  site/views/components/esl-panel-group.njk
  site/views/components/esl-toggleable.njk
  site/views/examples/image.njk
  src/modules/esl-carousel/renderers/esl-carousel.none.renderer.ts
  src/modules/esl-image/README.md
  src/modules/esl-image/core/esl-image.shape.ts
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-utils/async/delayed-task.ts
  src/modules/esl-utils/dom/rtl.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: e25c63943fceed61052575cd897e6867eb95a725
  README.md
  index.md
Due: none

docs(esl-toggleable): TS doc fixes
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-toggleable): fix focus behavior for chain focus flow
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
  src/modules/esl-utils/dom/focus.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-toggleable): fix false observation for closed toggleable
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-toggleable): update documentation for focus-behavior + available values fix in TSX
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/README.md
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 6b2d4ef5838c97235aa52b0eefa767e522b57e9f
  README.md
  index.md
Due: none

chore(release): 5.0.0-beta.40
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  6bff420514bb642ab2074b6ecea0f41a13547551
Due: none

deploy: 6bff420514bb642ab2074b6ecea0f41a13547551
  README.md
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
  e2e/tests/__image_snapshots__/test.feature/feature-test-page-looks-fine-test-page-screen.jpg
Due: none

docs(esl-toggleable): add regression page with nested focusable example
  site/views/draft/focus-management.njk
Due: none

fix(eslint-config): update file lines limit to `500` LOC
  eslint-config/rules/eslint.config.codestyle.js
Due: none

fix(esl-toggleable): focus management reworked to use scopes. Introduced `ESLToggleableFocusManager`
  site/views/draft/focus-management.njk
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core.ts
  src/modules/esl-toggleable/core/esl-toggleable-focus.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-utils/dom/focus.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-toggleable): fix TS doc according to review points
  src/modules/esl-toggleable/core/esl-toggleable-focus.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: revisit `package-lock.json`
  package-lock.json
Due: none

fix(esl-toggleable): fix focus should return to activator
  src/modules/esl-toggleable/core/esl-toggleable-focus.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-toggleable): small condition correction - allow fallback if scope is active
  src/modules/esl-toggleable/core/esl-toggleable-focus.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.41
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  c85975029a26119902441b8d9dfdd9f0d071fed0
Due: none

chore(site): migrate footnotes example on uip
  site/views/examples/footnotes.njk
Due: none

chore(site): combine defaults share button examples
  site/views/examples/share.njk
Due: none

chore(uip-editor): hide reset button if snippet is unmodified
  src/plugins/editor/editor.tsx
  src/plugins/reset/reset-button.icon.tsx
  src/plugins/reset/reset-button.less
  src/plugins/reset/reset-button.shape.ts
  src/plugins/reset/reset-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-tooltip): remove disable-arrow attribute BREAKING CHANGES: `disable-arrow` attribute removed from ESLTooltip component
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.shape.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update share regression page with disable-arrow example
  site/views/draft/share-regression.njk
Due: none

chore(site): update snippets, create footnotes regression page
  site/views/draft/footnotes-regression.njk
  site/views/examples/footnotes.njk
Due: none

chore: fix `typescript@5.7.2` type conflict in tests mock
  src/modules/esl-utils/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: group esl related dependencies
  .github/dependabot.yml
Due: none

style(site): move sidebar items info to common place
  site/views/_data/sidebar.yml
  site/views/_includes/navigation/sidebar-item.njk
  site/views/_includes/navigation/sidebar.njk
  site/views/_layouts/content.njk
  site/views/draft/accordion-regression.njk
  site/views/draft/carousel.njk
  site/views/draft/index.njk
  site/views/draft/nav-panels.njk
  site/views/draft/nested-accordion.njk
  site/views/draft/popup-game.njk
  site/views/draft/popup-scroll-parents.njk
  site/views/draft/popup-transition.njk
  site/views/draft/share-regression.njk
  site/views/draft/swipe-demo.njk
  site/views/draft/tabs-scrollable.njk
  site/views/draft/wheel-demo.njk
Due: none

style(site): update breadcrumb styles
  site/src/page/base-layout.less
Due: stylelint

chore(site): create examples for esl-popup with inner position-origin
  site/views/examples/popup.njk
Due: none

test(esl-popup): add tests for positioning of popup with inner position-origin
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit-major..origin-inner.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit-minor.origin-inner.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit.origin-inner.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-none.origin-inner.test.ts
  src/modules/esl-popup/test/esl-popup.position-config.test.ts
  src/modules/esl-popup/test/popup.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-popup): optimize popup position calculations
  src/modules/esl-popup/core/esl-popup-position.ts
  src/modules/esl-popup/core/esl-popup.less
  src/modules/esl-popup/core/esl-popup.mixin.less
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(site): fix scroll for playground area
  site/src/playground/ui-playground.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update text and fix js for notes example
  site/views/examples/footnotes.njk
Due: none

deploy: a22af72e93274b635817fb55654687cf7813e35b
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

style(site): move treepath filter
  site/11ty/tree.filter.js
  site/11ty/treepath.filter.js
Due: none

style(esl-popup): apply suggestions from code review
  src/modules/esl-popup/test/esl-popup.position-config.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): remove interrupt attribute, replace with 'always' autoplay
  src/modules/esl-media/README.md
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/providers/brightcove-provider.ts
  src/modules/esl-media/providers/html5/media-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(uip-editor): remove duplicate code
  src/core/base/model.ts
  src/plugins/reset/reset-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
