Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): small improvements in carousel nav styles
  pages/views/examples/carousel.marquee.njk
  pages/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@06c5bb6f7c26a29610f81de8836d2c0236732277 🚀
  bundles/localdev.css
  bundles/localdev.css.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/carousel.marquee/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(esl-mixin): `ESLMixinElement` API updates - hooks now have protected visibility modifier `getAll` public utility method
  src/modules/esl-mixin-element/test/mixin.attr-helpers.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix default tsconfig settings
  .eslintrc.yml
  package.json
  tsconfig.build.json
  tsconfig.json
Due: none

feat(esl-mixin-element): improve observation mechanism of mixin's observed attributes
  src/modules/esl-mixin-element/ui/esl-mixin-attr.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-mixin-element): fix observation provider, cover by functionality by unit tests
  src/modules/esl-mixin-element/test/mixin.attributes.test.ts
  src/modules/esl-mixin-element/test/mixin.decorators.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-attr.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-mixin-element): mixin primary attribute observed unconditionally by mixin manager
  src/modules/esl-mixin-element/test/mixin.attributes.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-attr.ts
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-mixin-element): update esl-mixin-element module documentation
  src/modules/esl-mixin-element/README.md
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-mixin-element): apply suggestions from code review
  src/modules/esl-mixin-element/README.md
  src/modules/esl-mixin-element/ui/esl-mixin-attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.5.0
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  23/d3106c882093de2e8320afbc849f20a158338f
Due: none

chore: update CHANGELOG notes of 4.5.0 release
  CHANGELOG.md
Due: none

chore(release): 4.6.0-beta.1
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d4/09c34d360cdba5a4fce25d2604ed1d7221dbf9
Due: none

fix(esl-utils): fix `unwrap` method signature types
  src/modules/esl-utils/misc/array.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): reformat `esl-utils/misc` exports
  src/modules/esl-utils/misc.ts
  src/modules/esl-utils/misc/object.ts
  src/modules/esl-utils/misc/test/object.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@f316deb3feefff31370e6cd0bb9c8065aa9e0396 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  core/esl-mixin-element/index.html
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(esl-carousel): migrate plugins to ESLEventListener
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/view/esl-carousel-view.ts
  src/modules/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-link.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): update esl-share demo page
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

refactor(esl-share): separate share-config into standalone file
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): create popup mode for esl-share component
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-popup): create appendArrow() method
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): fix `override` keyword on `attributeChangeCallback`
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(🚩esl-share): beta version of esl-share(#1327) component released (#1660)
  package.json
  pages/src/esl-share/esl-share.less
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/static/assets/examples/share.svg
  pages/static/assets/share/config.json
  pages/views/examples/share.njk
  src/modules/all.less
  src/modules/all.ts
  src/modules/esl-share/README.md
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/actions/url-generic-action.ts
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-button.less
  src/modules/esl-share/core/esl-share-button.shape.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share.less
  src/modules/esl-share/core/esl-share.shape.ts
  src/modules/esl-share/core/esl-share.ts
  src/modules/esl-utils/misc.ts
  src/modules/esl-utils/misc/test/url.test.ts
  src/modules/esl-utils/misc/url.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): add share button to header
  pages/src/navigation/header/header.less
  pages/src/navigation/sidebar/sidebar-primary-nav.less
  pages/src/page/landing-layout.less
  pages/static/assets/common/header-share.svg
  pages/static/assets/share/config.json
  pages/views/_includes/navigation/header.njk
  pages/views/_includes/navigation/sidebar.njk
Due: stylelint, lintspaces -n -t -d spaces

chore: exclude `no-duplicate-selectors` rule from stylelint
  .stylelintrc.yml
Due: none

refactor(esl-carousel): remove legacy esl-carousel implementation
  src/modules/draft/all.less
  src/modules/draft/all.ts
  src/modules/draft/esl-carousel/all.less
  src/modules/draft/esl-carousel/all.ts
  src/modules/draft/esl-carousel/core/esl-carousel-arrows.less
  src/modules/draft/esl-carousel/core/esl-carousel-core.less
  src/modules/draft/esl-carousel/core/esl-carousel-slide.ts
  src/modules/draft/esl-carousel/core/esl-carousel.ts
  src/modules/draft/esl-carousel/core/view/esl-carousel-view.ts
  src/modules/draft/esl-carousel/core/view/esl-multi-carousel-view.ts
  src/modules/draft/esl-carousel/core/view/esl-single-carousel-view.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-dots.plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-touch.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-utils): add `promisifyNextRender` common utility
  src/modules/esl-utils/async/raf.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): add `findNextLooped` and `findPrevLooped` common traversing utility
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): new `esl-carousel` component introduced according to spec #1282
  src/modules/esl-carousel/README.md
  src/modules/esl-carousel/all.less
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/esl-carousel.views.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.types.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.base.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.element.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.mixin.ts
  src/modules/esl-carousel/core/view/esl-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-multi-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-multi-carousel.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): draft of the SlideCarousel renderer
  src/modules/esl-carousel/core/view/esl-slide-carousel-view.ts
  src/modules/esl-carousel/core/view/esl-slide-carousel.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-carousel): complete support of the navigation plugins for ESLCarousel
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-carousel): complete support of the drag (touch) for ESLCarousel
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): drafts of the link and autoplay carousel plugins
  src/modules/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-plugin.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): update global cumulative files
  src/modules/all.less
  src/modules/all.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): dev test pages for esl-carousel
  pages/src/common/card.less
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/views/draft/carousel.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): add marquee-carousel test sample
  pages/src/esl-carousel-demo/test-carousel.less
  pages/views/examples/carousel.marquee.11tydata.yml
  pages/views/examples/carousel.marquee.njk
Due: stylelint, lintspaces -n -t -d spaces

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
