Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

feat(esl-event-listener): simplified way to subscribe all auto descriptors
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

test(esl-event-listener): tests for getAutoDescriptors created
  src/modules/esl-event-listener/test/descriptor.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): fix `initDescriptor` signature
  src/modules/esl-event-listener/core/descriptors.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@70ea8fbc134eb03ec2aba911600f7441ee953c93 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

test(esl-event-listener): cover `initDescriptor` by tests
  src/modules/esl-event-listener/test/descriptor.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): code cleanup for descriptor collector and documentation
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-event-listener): allow to redeclare function descriptor data
  src/modules/esl-event-listener/core/descriptors.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): refactor initDescriptor signature and implementation
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-event-listener/test/descriptor.test.ts
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): fix IE symbol compatibility
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(editor): pr fix
  src/plugins/editor/ace/ace-editor.ts
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(eslint): change logic of finding the deprecated alias
  eslint/base-rules/deprecated-alias.js
  eslint/test/deprecated-alias.test.js
  package.json
Due: none

chore: update package json
  package-lock.json
  package.json
Due: none

chore: update components documentation structure
  pages/views/components/components.njk
  pages/views/core/base.njk
  pages/views/core/core.njk
  pages/views/core/preview.njk
  pages/views/header/header.json
  pages/views/header/options.njk
  pages/views/header/snippets.njk
  pages/views/plugins/header.njk
  src/README.md
  src/plugins/header/README.md
Due: lintspaces -n -t -d spaces

refactor(esl-event-listener): update `subscribe` signature and implementation to support auto-subscription
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: update main README.md
  src/README.md
Due: none

chore: remove core title
  pages/views/components/components.njk
Due: lintspaces -n -t -d spaces

chore: fix links to components doc
  src/README.md
  src/core/base/README.md
  src/core/preview/README.md
  src/plugins/editor/README.md
  src/plugins/header/options/README.md
  src/plugins/header/snippets/README.md
  src/plugins/settings/README.md
  src/settings/bool-setting/README.md
  src/settings/select-setting/README.md
  src/settings/slider-setting/README.md
  src/settings/text-setting/README.md
Due: none

chore: fix links to components doc
  src/README.md
Due: none

chore: small styles update for components doc
  pages/views/styles/page.less
  src/README.md
  src/core/base/README.md
  src/plugins/header/snippets/README.md
  src/plugins/settings/README.md
  src/settings/bool-setting/README.md
  src/settings/select-setting/README.md
  src/settings/text-setting/README.md
Due: stylelint, lintspaces -n -t -d spaces

test(esl-event-listener): extend `@listen` auto-marker tests
  src/modules/esl-utils/decorators/test/listen.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): remove `initDescriptor` confusing `auto` behaviour
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-event-listener/test/descriptor.test.ts
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(eslint): update `package-lock.json` dependencies
  package-lock.json
Due: none

fix(esl-select): activator lost on dropdown hide
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-event-listener): fix `isEventDescriptor` check for incorrect type of event key
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-event-listener/test/descriptor.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-event-listener): draft version of the `esl-event-listener` documentation
  src/modules/esl-event-listener/README.md
Due: none

fix(esl-utils): fix `isObject` predicate signature to accept symbol keys
  src/modules/esl-utils/misc/object/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): update signature of esl-event-listener module API with more precise host definition
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/descriptor.test.ts
  src/modules/esl-mixin-element/test/mixin.listener.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-image): code refactoring
  src/modules/esl-image/core/esl-image.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-event-listener): rework documentation (stage 1)
  src/modules/esl-event-listener/README.md
Due: none

docs(esl-event-listener): rework documentation (stage 2)
  src/modules/esl-event-listener/README.md
Due: none

docs(esl-event-listener): rework documentation (stage 3)
  src/modules/esl-event-listener/README.md
Due: none

docs(esl-event-listener): rework documentation (stage 4)
  pages/src/common/markdown.less
  src/modules/esl-event-listener/README.md
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@240008abb51a6b0326c5619b62920af36ede1957 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(editor): update jsdocs
  src/plugins/editor/ace/ace-editor.ts
  src/plugins/editor/ace/utils.ts
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(eslint): rewrite tests for base rule
  eslint/test/deprecated-alias.test.js
Due: none

docs(esl-event-listener): fix review corrections (part 1)
  src/modules/esl-event-listener/README.md
Due: none
