Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(e2e): fix snapshot rendering
  packages/snapshot-tests/src/templates/error-row.njk
Due: none

deploy: 4bb5d070e9f95332dd65aaf1e1ac129a498300d5
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

chore(e2e): refactor snapshot path resolver
  packages/snapshot-tests/src/reporters/reporter.js
  packages/snapshot-tests/src/templates/error-row.njk
  packages/snapshot-tests/src/templates/summary.njk
Due: none

deploy: 3d46d80e54d990a7862098a7b9e23ccf6250a281
  README.md
  index.md
Due: none

deploy: 78f73837fb3e27f30f05918796cf266f770d9642
  README.md
  index.md
Due: none

chore(e2e): add missed parameter to template renderer
  packages/snapshot-tests/src/reporters/reporter.js
Due: none

deploy: 5c7067244d237fce5f47e60a01928fb30ea7a81c
  README.md
  index.md
Due: none

chore(e2e): add condition for snapshot baseurl
  packages/snapshot-tests/src/reporters/reporter.js
Due: none

deploy: 8efe98484fa4fff6e7efc0824429eba6ba5efd55
  README.md
  index.md
Due: none

style(eslint-config): code cleanup + linting integration
  packages/esl-website/eslint.config.mjs
  packages/esl/eslint.config.mjs
  packages/eslint-config/eslint.config.mjs
  packages/eslint-config/package.json
  packages/eslint-config/project.json
  packages/eslint-config/rules/codestyle/ecmascript.js
  packages/eslint-config/rules/custom/compatibility/check.js
  packages/eslint-config/rules/custom/compatibility/version.js
  packages/eslint-config/rules/custom/index.js
  packages/eslint-config/rules/custom/plugin/core/ast.traverse.js
  packages/eslint-config/rules/custom/plugin/core/ast.utils.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-paths.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-static-member.js
Due: none

deploy: addf537f605a7865dd439c87e3061b0ac20d96cb
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

chore(e2e): enhance snapshot baseurl resolver
  packages/snapshot-tests/src/reporters/reporter.js
Due: none

deploy: ac92c155264f5a3d7999aed0a73fc58c1d52252d
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

style(eslint-config): fix deprecated static member rule
  packages/eslint-config/rules/custom/configs.d.ts
  packages/eslint-config/rules/custom/configs.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-static-member.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 59c800416a779a316993e20fb5577d6b29b13507
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
Due: none

deploy: 5d1ee085d8c7bafa5a54e70dca6bb7f5df8af57a
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

chore: release v5.14.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.14.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
Due: none

style(eslint-config): refactor deprecated path rules implementation
  packages/eslint-config/rules/custom/plugin/rules/deprecated-paths.js
Due: none

deploy: ce32b17744f343a8ac66e9f988ae51806b60937a
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

style(eslint-config): docs cosmetic fixes
  packages/esl-website/site.yml
  packages/eslint-config/rules/custom/compatibility/check.js
  packages/eslint-config/rules/custom/compatibility/version.js
  packages/eslint-config/rules/custom/index.js
  packages/eslint-config/rules/custom/plugin/core/ast.utils.d.ts
  packages/eslint-config/rules/custom/plugin/core/ast.utils.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-alias.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: remove deprecated properties and methods across ESL
  packages/esl/src/esl-alert/core/esl-alert.ts
  packages/esl/src/esl-event-listener/core/api.ts
  packages/esl/src/esl-event-listener/core/targets/intersection.event.ts
  packages/esl/src/esl-event-listener/core/targets/resize.target.event.ts
  packages/esl/src/esl-event-listener/core/targets/swipe.target.event.ts
  packages/esl/src/esl-event-listener/core/targets/wheel.target.event.ts
  packages/esl/src/esl-media-query/core/common/media-shortcuts.ts
  packages/esl/src/esl-utils/async/promise.ts
  packages/esl/src/esl-utils/dom/rtl.ts
  packages/esl/src/esl-utils/environment/device-detector.ts
  packages/esl/src/esl-utils/misc.ts
  packages/esl/src/esl-utils/misc/array.ts
  packages/esl/src/esl-utils/misc/test/array.test.ts
  packages/eslint-config/rules/custom/configs.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: move post actio to post scripts
  package.json
Due: none

feat(eslint-config)!: has embedded support of esl/custom linting
  packages/eslint-config/package.json
Due: none

chore: release v5.14.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: disable auto npm release flow
  .github/workflows/release-npm.yml
Due: none

chore: release 6.0.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: auto flow disabled due to 6.0.0 release preparation
  .github/workflows/release-github.yml
  .github/workflows/release-npm.yml
Due: none

refactor(eslint-config): has embedded support of esl/custom linting
  packages/esl-website/eslint.config.mjs
  packages/esl/eslint.config.mjs
  packages/esl/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/rules/custom/index.js
  packages/eslint-config/rules/custom/plugin/core/ast.traverse.d.ts
  packages/eslint-config/rules/custom/plugin/core/ast.traverse.js
  packages/eslint-config/rules/custom/plugin/core/ast.utils.d.ts
  packages/eslint-config/rules/custom/plugin/core/ast.utils.js
  packages/eslint-config/rules/custom/plugin/plugin.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-alias.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-paths.js
  packages/eslint-config/rules/custom/plugin/rules/deprecated-static-member.js
  packages/ui-playground/eslint.config.mjs
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint-config): add severity out of the box support for esl recommended rules + README update
  packages/esl-website/eslint.config.mjs
  packages/esl/eslint.config.mjs
  packages/eslint-config/README.md
  packages/eslint-config/rules/custom/index.js
  packages/ui-playground/eslint.config.mjs
Due: none

chore(site): rework linting section
  packages/esl-website/src/navigation/breadcrumbs/breadcrumbs.less
  packages/esl-website/views/_layouts/content.njk
  packages/esl-website/views/core/esl-eslint-plugin.md
  packages/esl-website/views/core/esl-eslint-plugin.njk
  packages/esl-website/views/core/linting/esl-eslint.njk
  packages/esl-website/views/core/linting/esl-stylelint.njk
  packages/esl-website/views/core/linting/index.md
Due: stylelint

chore(site): add copyright auto-cutter for md renderer
  packages/esl-website/11ty/markdown.shortcut.js
  packages/esl-website/site.yml
  packages/esl-website/views/core/linting/esl-eslint.njk
  packages/esl-website/views/core/linting/esl-stylelint.njk
Due: none

style(eslint-config): simplify severity processing
  packages/eslint-config/rules/custom/index.js
Due: none

chore(eslint-config): return version compatibility check for @exadel/eslint-config-esl package
  package-lock.json
  packages/eslint-config/package.json
  packages/eslint-config/rules/custom/index.js
  packages/eslint-config/rules/custom/plugin/compatibility/check.js
  packages/eslint-config/rules/custom/plugin/compatibility/version.js
Due: none

chore(eslint-config): rework plugin config builder and version resolver/checker
  packages/eslint-config/README.md
  packages/eslint-config/rules/custom/compatibility/check.js
  packages/eslint-config/rules/custom/compatibility/version.js
  packages/eslint-config/rules/custom/configs.js
  packages/eslint-config/rules/custom/index.js
  packages/eslint-config/rules/custom/plugin/compatibility/check.js
  packages/eslint-config/rules/custom/plugin/compatibility/version.js
Due: none

chore(eslint-config): update cfg min version
  packages/eslint-config/rules/custom/configs.js
  packages/eslint-config/rules/custom/index.js
Due: none

style(eslint-config): code cleanup
  packages/eslint-config/rules/custom/compatibility/check.js
  packages/eslint-config/rules/custom/compatibility/version.js
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
