Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

refactor(site): fix marquee logo size
  site/src/landing/marquee/marquee.less
Due: stylelint

refactor(site): re-layout presentation header
  site/src/navigation/header/header.less
  site/src/presentation/sidebar.less
  site/views/_includes/navigation/header.njk
  site/views/_includes/presentation/header.njk
Due: stylelint

docs(attr): update description
  src/modules/esl-utils/decorators/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): tree menu navigation, some mobile fixes and adaptations
  site/11ty/tree.filter.js
  site/src/presentation/sidebar.less
  site/views/_includes/presentation/sidebar.njk
  site/views/overview/01-intro/01-what-is.njk
  site/views/overview/01-intro/02-main-concepts.njk
  site/views/overview/01-intro/03-content.njk
  site/views/overview/01-intro/04-versions.njk
  site/views/overview/02-core/01-Base Element.njk
  site/views/overview/02-core/02-Mixin Component.njk
  site/views/overview/02-core/03-Tag vs Attribute.njk
  site/views/overview/02-core/04-Utils.njk
Due: stylelint

refactor(site): fix for classes specificity
  site/src/common/accordion.less
  site/views/overview/02-core/03-Tag vs Attribute.njk
Due: stylelint

chore(release): 5.0.0-beta.9
  CHANGELOG.md
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  39e7dca45a29bc7391cc0bbcdcbffd27e146adb8
Due: none

docs(esl-share): update README, remove duplications
  src/modules/esl-share/README.md
Due: none

chore(e2e): rename integration tests submodule to `e2e`
  .eslintrc.yml
  e2e/jest-puppeteer.config.js
  e2e/jest.config.js
  e2e/package.json
  e2e/setup/image.ts
  e2e/tests/__image_snapshots__/homepage-spec-ts-jest-image-snapshot-usage-with-an-image-received-from-puppeteer-test-homepage-1-snap.png
  e2e/tests/homepage.spec.ts
  e2e/tsconfig.json
  package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): add gherkin test declaration support
  e2e/.eslintignore
  e2e/jest.config.js
  e2e/package.json
  e2e/setup/scenarios.env.ts
  e2e/setup/scenarios.screenshot.ts
  e2e/setup/scenarios.ts
  e2e/setup/scenarios.wait.ts
  e2e/setup/scenarious.world.ts
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/__image_snapshots__/homepage-spec-ts-jest-image-snapshot-usage-with-an-image-received-from-puppeteer-test-homepage-1-snap.png
  e2e/tests/example._spec.ts
  e2e/tests/homepage.feature
  e2e/transformer/gherkin.d.ts
  e2e/transformer/gherkin.js
  package-lock.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): fix background animation jump
  site/src/presentation/layout.less
Due: stylelint

refactor(site): presentation sidebar redesign
  site/src/presentation/layout.less
  site/src/presentation/sidebar.less
  site/views/_includes/presentation/sidebar.njk
Due: stylelint

refactor(site): presentation sidebar optimisation
  site/src/presentation/sidebar.less
  site/views/_includes/presentation/sidebar.njk
Due: stylelint

refactor(site): fix extra overflow on devices
  site/src/page/base-layout.less
  site/src/presentation/carousel.less
Due: stylelint

refactor(site): fix events leak trough sidebar overlay
  site/src/presentation/sidebar.less
Due: stylelint

chore(esl-event-listener): block scroll
  pages/src/esl-events-demo/esl-swipe-demo/esl-swipe-demo-area.ts
  pages/src/esl-events-demo/esl-wheel-demo/esl-wheel-demo-area.ts
  pages/src/esl-events-demo/log-area/log-area.ts
  pages/views/draft/wheel-demo.njk
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-event-listener/core/targets/wheel.target.ts
  src/modules/esl-utils/dom/scroll/parent.ts
  src/modules/esl-utils/dom/scroll/test/parent.test.ts
  src/modules/esl-utils/dom/scroll/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(preview): add isolated (iframe) mod support for preview area
  pages/views/examples/example/form.njk
  src/core/preview/preview.less
  src/core/preview/preview.tsx
  src/core/processors/templates.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat: add script support to isolated template (including formatting, rendering, store and snippets support)
  src/core/base/model.ts
  src/core/base/snippet.ts
  src/core/preview/preview.tsx
  src/core/processors/normalization.ts
  src/core/processors/templates.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(editor): add script editor mode
  src/core/base/root.less
  src/plugins/editor/editor.less
  src/plugins/editor/editor.tsx
Due: stylelint

docs(site): isolated module with script example
  pages/views/examples/example/form.njk
Due: none

refactor(esl-carousel): pr update
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix: remove setting inconsistent value change from updateFrom of Base Setting
  src/plugins/settings/base-setting/base-setting.ts
  src/plugins/settings/bool-setting/bool-setting.tsx
  src/plugins/settings/select-setting/select-setting.ts
  src/plugins/settings/slider-setting/slider-setting.tsx
  src/plugins/settings/text-setting/text-setting.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: move setInconsistency to UpdateFrom for bool, slide and text settings
  src/plugins/settings/bool-setting/bool-setting.tsx
  src/plugins/settings/slider-setting/slider-setting.tsx
  src/plugins/settings/text-setting/text-setting.tsx
Due: none

feat: simplify processors and split instances for each source type
  src/core/base/model.ts
  src/core/preview/preview.tsx
  src/core/processors/normalization.ts
  src/core/processors/preprocessor.ts
  src/core/processors/rendering.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(uip-snippets): simplify selection rules
  src/core/base/snippet.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: add default setting disable attribute on the element
  src/plugins/settings/base-setting/base-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): add `isVertical` property to `ESLSwipeGestureEvent`
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): `ESLCarouselTouchMixin` plugin is ready for usage with both: drag and touch support
  site/views/draft/multi-carousel.njk
  site/views/examples/carousel.njk
  src/modules/esl-carousel/README.md
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: apply suggestions from review
  src/modules/esl-popup/README.md
  src/modules/esl-share/README.md
Due: none

docs(esl-popup): apply suggestions from review
  src/modules/esl-popup/README.md
Due: none

style(esl-carousel): change examples
  site/views/examples/carousel.njk
Due: none

style(esl-carousel): change examples
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update husky config
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

fix(microtask): fix argument list on next fn call
  src/modules/esl-utils/async/microtask.ts
  src/modules/esl-utils/async/test/microtask.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix defaults and apply review notes
  site/views/examples/carousel.njk
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
  src/modules/esl-utils/misc/enum.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(microtask): split test cases
  src/modules/esl-utils/async/test/microtask.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style: rename debounced scroll into viewport function
  src/core/base/root.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(patch): bump dependencies versions
  .husky/commit-msg
  .husky/pre-push
  package-lock.json
  package.json
  pages/package.json
Due: none

chore(site): add image ratio select setting and split examples
  site/src/image/image.less
  site/src/localdev.less
  site/views/examples/image.njk
Due: stylelint
