Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

docs(esl-share): add missing language types in readme examples
  src/modules/esl-share/README.md
Due: none

feat(docs): Fix variables usage, rename method
  pages/11ty/markdown.shortcut.js
Due: none

refactor(esl-share): rework share config
  src/modules/esl-share/core/esl-share-config-buttons.ts
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(tsconfig): enable resolve json module
  tsconfig.json
Due: none

feat(esl-share): add out of the box share config default
  src/modules/esl-share/config/default.json
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@0490bf73e686cc29e96c2364a6963f7fb674364d 🚀
  bundles/localdev.css
  bundles/localdev.css.map
  bundles/localdev.js
  bundles/localdev.js.map
  components/esl-share/index.html
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(esl-utils): rework and simplify Deferred implementation
  src/modules/esl-utils/async/promise/defered.ts
  src/modules/esl-utils/async/test/promise/defered.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-panel-group): support for esl-panel-group driven animation to closed state
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-panel-group): add readonly `has-opened` marker for `esl-panel-group`
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-panel-group): add nav tabs example draft
  pages/src/common/tabs.less
  pages/views/draft/nav-panels.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-modal): code cleanup wave 1
  pages/views/examples/modal.njk
  src/modules/esl-modal/README.md
  src/modules/esl-modal/core/esl-modal.shape.ts
  src/modules/esl-modal/core/esl-modal.ts
  src/modules/esl-modal/test/modal.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

docs(esl-utils): update `defered.ts` tsdoc text
  src/modules/esl-utils/async/promise/defered.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: inject security check to release workflow
  .github/workflows/release.yml
Due: none

chore: fix permission step validation
  .github/workflows/release.yml
Due: none

chore: add debug info for permission check
  .github/workflows/release.yml
Due: none

chore: update watch:eleventy stating script
  package.json
Due: none

fix(esl-utils): fix unhandled rejection when deferred is rejected but actual promise was not requested (#1839)
  src/modules/esl-utils/async/promise/defered.ts
  src/modules/esl-utils/async/test/promise/defered.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): refactor ESLShareConfig
  src/modules/esl-share/core/esl-share-config-buttons.ts
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-toggleable): fix activator when close-on inner trigger click handled (#1852)
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-toggleable): add tests for `close-on` functionality
  src/modules/esl-toggleable/test/toggleable.close-on.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-image): change `lazy` attribute behaviour
  src/modules/esl-image/core/esl-image-iobserver.ts
  src/modules/esl-image/core/esl-image.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: add type import
  .eslintrc.json
  src/core/base/plugin.tsx
  src/plugins/editor/editor.ts
  src/plugins/header/header.tsx
  src/plugins/header/options/OptionIcons.tsx
  src/plugins/header/options/option/option.tsx
  src/plugins/header/snippets/snippets.less
  src/plugins/header/snippets/snippets.tsx
  src/plugins/settings/settings.tsx
  src/settings/bool-setting/bool-setting.tsx
  src/settings/slider-setting/slider-setting.tsx
  src/settings/text-setting/text-setting.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

docs(esl-panel-group): small update for `esl-panel-group/README.md`
  src/modules/esl-panel-group/README.md
Due: none

docs(esl-panel-group): comments unification (definitely cosmetic)
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: replace `gh-pages` with `site` scope marker in ISSUES_TEMPLATEs
  .github/ISSUE_TEMPLATE/site-bug-report.md
Due: none

chore: create draft pages, fix borders
  pages/src/ui-playground/ui-playground.less
  pages/views/components/esl-media.njk
  pages/views/draft/ui-playground/accordion.njk
  pages/views/draft/ui-playground/media.njk
  pages/views/draft/ui-playground/scrollbar.njk
  pages/views/examples/accordion.njk
  pages/views/examples/embedded-audio.njk
  pages/views/examples/embedded-video.njk
  pages/views/examples/scrollbar.njk
Due: stylelint, lintspaces -n -t -d spaces

fix: fix multiple playground options missing
  src/plugins/header/options/OptionIcons.tsx
  src/plugins/header/options/option/option.tsx
Due: none

refactor(esl-utils): fix scroll size recalculate when scroll is absent
  src/modules/esl-utils/dom/scroll/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add release-notes 4.10.0 to the homepage
  pages/views/blogs/ESl v4.10.0.md
  pages/views/index.11tydata.yml
Due: none

chore(release): 4.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  59/93574daf2f3f694fa4b80a186458a62890b6f0
Due: none

Update src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/README.md
Due: none

Update src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): Update init - move params to options object (`SwipeEventTargetOptions`)
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix: add LTR icon
  src/plugins/header/options/OptionIcons.tsx
  src/plugins/header/options/option/option.less
Due: stylelint, lintspaces -n -t -d spaces

fix(editor): pr fix
  src/plugins/editor/editor.less
  src/plugins/editor/editor.tsx
  src/plugins/editor/jar/jar-editor.less
  src/plugins/editor/jar/jar-editor.ts
  src/plugins/editor/jar/jar-utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(editor): implement wrap attribute
  src/plugins/editor/README.md
  src/plugins/editor/editor.tsx
  src/plugins/editor/jar/jar-editor.ts
  src/plugins/editor/jar/jar-utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): Refactor - rename instances according to proposed in #1809
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(swipe-target): docs update
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
