Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

chore(esl-carousel): rename internal `invalidate` method to `refresh`
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): fix stylistic (single-line if-else block)
  packages/esl/src/esl-utils/decorators/safe.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.13.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl-website/views/blogs/ESL v5.12.0-5.13.0.md
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(ui-playground): default attribute settings
  packages/esl-website/src/playground/ui-playground.ts
  packages/ui-playground/src/core/config/config.ts
  packages/ui-playground/src/core/panel/plugin-panel.tsx
  packages/ui-playground/src/plugins/editor/editor.tsx
  packages/ui-playground/src/plugins/settings/settings.tsx
  packages/ui-playground/src/registration.all.ts
  packages/ui-playground/src/registration.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): drop redundant uip settings
  packages/esl-website/views/dev/popup-game.njk
  packages/esl-website/views/examples/accordion.njk
  packages/esl-website/views/examples/anchornav.njk
  packages/esl-website/views/examples/animate.njk
  packages/esl-website/views/examples/carousel.njk
  packages/esl-website/views/examples/embedded-media.njk
  packages/esl-website/views/examples/esl-drag-to-scroll.njk
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl-website/views/examples/footnotes.njk
  packages/esl-website/views/examples/image-utils.njk
  packages/esl-website/views/examples/image.njk
  packages/esl-website/views/examples/lazy-template.njk
  packages/esl-website/views/examples/menu.njk
  packages/esl-website/views/examples/notification.njk
  packages/esl-website/views/examples/scrollbar.njk
  packages/esl-website/views/examples/tabs.njk
  packages/esl-website/views/examples/toggleable.njk
  packages/esl-website/views/overview/quick/04-playground/03-settings.njk
Due: none

chore(ui-playground): code refactoring
  packages/ui-playground/src/core/panel/plugin-panel.tsx
  packages/ui-playground/src/plugins/editor/editor.tsx
  packages/ui-playground/src/plugins/settings/settings.tsx
Due: none

chore: release v5.13.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(ui-playground): migrate UIP project to latest (8) JSX-DOM
  package-lock.json
  packages/ui-playground/package.json
  packages/ui-playground/src/core/button/plugin-button.ts
  packages/ui-playground/src/core/panel/plugin-panel.tsx
  packages/ui-playground/src/core/preview/preview.tsx
  packages/ui-playground/src/plugins/copy/copy-button.icon.tsx
  packages/ui-playground/src/plugins/copy/copy-button.shape.ts
  packages/ui-playground/src/plugins/direction/dir-toggle.shape.ts
  packages/ui-playground/src/plugins/direction/dir-toggle.tsx
  packages/ui-playground/src/plugins/editor/editor.icon.tsx
  packages/ui-playground/src/plugins/editor/editor.tsx
  packages/ui-playground/src/plugins/note/note.tsx
  packages/ui-playground/src/plugins/reset/reset-button.icon.tsx
  packages/ui-playground/src/plugins/reset/reset-button.shape.ts
  packages/ui-playground/src/plugins/settings/bool-setting/bool-setting.tsx
  packages/ui-playground/src/plugins/settings/settings.icon.tsx
  packages/ui-playground/src/plugins/settings/settings.tsx
  packages/ui-playground/src/plugins/settings/slider-setting/slider-setting.tsx
  packages/ui-playground/src/plugins/settings/text-setting/text-setting.tsx
  packages/ui-playground/src/plugins/snippets-list/snippets-list.shape.ts
  packages/ui-playground/src/plugins/snippets-list/snippets-list.tsx
  packages/ui-playground/src/plugins/snippets-list/snippets.icon.tsx
  packages/ui-playground/src/plugins/snippets-title/snippets-title.shape.ts
  packages/ui-playground/src/plugins/snippets-title/snippets-title.tsx
  packages/ui-playground/src/plugins/snippets/snippets.tsx
  packages/ui-playground/src/plugins/theme/theme-toggle.icon.tsx
  packages/ui-playground/src/plugins/theme/theme-toggle.shape.ts
  packages/ui-playground/src/plugins/theme/theme-toggle.tsx
  packages/ui-playground/src/types/internal.d.ts
  packages/ui-playground/tsconfig.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): move header titles to the actual collection
  packages/esl-website/views/_includes/navigation/header.njk
  packages/esl-website/views/components/index.njk
  packages/esl-website/views/core/index.njk
  packages/esl-website/views/examples/index.njk
  packages/esl-website/views/playground/index.njk
Due: none

chore(site): update rendering process for sidebar and update draft labels properly
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/blogs/index.njk
  packages/esl-website/views/dev/index.njk
  packages/esl-website/views/examples/index.njk
  packages/esl-website/views/introduction/index.njk
  packages/esl-website/views/playground/components/core.njk
  packages/esl-website/views/playground/components/direction.njk
  packages/esl-website/views/playground/components/editor.njk
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/components/note.njk
  packages/esl-website/views/playground/components/settings.njk
  packages/esl-website/views/playground/components/snippets.njk
  packages/esl-website/views/playground/components/theme.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/examples/nested.njk
  packages/esl-website/views/playground/examples/text.njk
  packages/esl-website/views/playground/index.njk
  packages/esl-website/views/playground/introduction.njk
Due: none

chore(site): fix missing UIP to site LESS build target dependency
  packages/esl-website/project.json
Due: none

chore(site): move playground-related docs to the proper place
  packages/esl-website/views/playground/introduction.njk
  packages/ui-playground/docs/INTRODUCTION.md
Due: none

style(site): get rid of extra customizations of ui bundle
  packages/esl-website/src/common/playground-examples.less
  packages/esl-website/src/site.less
  packages/esl-website/views/_includes/navigation/collection-grid.njk
  packages/esl-website/views/playground/examples/nested.njk
Due: stylelint

chore(ui-playground): code refactoring
  packages/esl-website/src/playground/ui-playground.ts
  packages/ui-playground/src/core/config/config.ts
  packages/ui-playground/src/core/panel/plugin-panel.header.less
  packages/ui-playground/src/core/panel/plugin-panel.horizontal.less
  packages/ui-playground/src/core/panel/plugin-panel.tsx
  packages/ui-playground/src/core/panel/plugin-panel.vertical.less
  packages/ui-playground/src/plugins/editor/editor.tsx
  packages/ui-playground/src/plugins/settings/settings.less
  packages/ui-playground/src/plugins/settings/settings.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(site): drop redundant uip settings
  packages/esl-website/views/dev/popup-game.njk
  packages/esl-website/views/examples/accordion.njk
  packages/esl-website/views/examples/anchornav.njk
  packages/esl-website/views/examples/animate.njk
  packages/esl-website/views/examples/carousel.njk
  packages/esl-website/views/examples/embedded-media.njk
  packages/esl-website/views/examples/esl-drag-to-scroll.njk
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl-website/views/examples/footnotes.njk
  packages/esl-website/views/examples/image-utils.njk
  packages/esl-website/views/examples/image.njk
  packages/esl-website/views/examples/lazy-template.njk
  packages/esl-website/views/examples/menu.njk
  packages/esl-website/views/examples/notification.njk
  packages/esl-website/views/examples/scrollbar.njk
  packages/esl-website/views/examples/tabs.njk
  packages/esl-website/views/examples/toggleable.njk
  packages/esl-website/views/overview/quick/03-components/04-responsiveness-n-flexibility.njk
  packages/esl-website/views/overview/quick/04-playground/02-editor.njk
  packages/esl-website/views/overview/quick/04-playground/03-settings.njk
Due: none

feat(esl-carousel): introduce `blockingItemsSelector` option to stop autoplay when items are activated
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-trigger/core/esl-base-trigger.ts
  packages/esl/src/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): remove unnecessary commas and imports
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: introduce global ESLIntrinsicElements interface
  packages/esl/src/esl-a11y-group/core/esl-a11y-group.shape.ts
  packages/esl/src/esl-alert/core/esl-alert.shape.ts
  packages/esl/src/esl-anchornav/core/esl-anchornav.shape.ts
  packages/esl/src/esl-animate/core/esl-animate.shape.ts
  packages/esl/src/esl-base-element/core/esl-base-element.shape.ts
  packages/esl/src/esl-carousel/core/esl-carousel.shape.ts
  packages/esl/src/esl-carousel/plugin/dots/esl-carousel.nav.dots.shape.ts
  packages/esl/src/esl-footnotes/core/esl-footnotes.shape.ts
  packages/esl/src/esl-footnotes/core/esl-note.shape.ts
  packages/esl/src/esl-forms/esl-select-list/core/esl-select-list.shape.ts
  packages/esl/src/esl-forms/esl-select/core/esl-select.shape.ts
  packages/esl/src/esl-image/core/esl-image.shape.ts
  packages/esl/src/esl-media/core/esl-media.shape.ts
  packages/esl/src/esl-panel-group/core/esl-panel-group.shape.ts
  packages/esl/src/esl-panel/core/esl-panel.shape.ts
  packages/esl/src/esl-popup/core/esl-popup.shape.ts
  packages/esl/src/esl-random-text/core/esl-random-text.shape.ts
  packages/esl/src/esl-scrollbar/core/esl-scrollbar.shape.ts
  packages/esl/src/esl-share/core/esl-share-button.shape.ts
  packages/esl/src/esl-share/core/esl-share-list.shape.ts
  packages/esl/src/esl-share/core/esl-share-popup.shape.ts
  packages/esl/src/esl-share/core/esl-share.shape.ts
  packages/esl/src/esl-tab/core/esl-tab.shape.ts
  packages/esl/src/esl-tab/core/esl-tabs.shape.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable-dispatcher.shape.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable.shape.ts
  packages/esl/src/esl-tooltip/core/esl-tooltip.shape.ts
  packages/esl/src/esl-trigger/core/esl-trigger.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: introduce ESLIntrinsicElements ESL custom tag jsx declaration interface
  packages/esl/src/all.ts
  packages/esl/src/esl-a11y-group/core/esl-a11y-group.shape.ts
  packages/esl/src/esl-alert/core/esl-alert.shape.ts
  packages/esl/src/esl-anchornav/core.ts
  packages/esl/src/esl-anchornav/core/esl-anchornav.shape.ts
  packages/esl/src/esl-animate/core/esl-animate.shape.ts
  packages/esl/src/esl-base-element/core/esl-base-element.shape.ts
  packages/esl/src/esl-carousel/core/esl-carousel.shape.ts
  packages/esl/src/esl-carousel/plugin/dots/esl-carousel.nav.dots.shape.ts
  packages/esl/src/esl-footnotes/core/esl-footnotes.shape.ts
  packages/esl/src/esl-footnotes/core/esl-note.shape.ts
  packages/esl/src/esl-forms/esl-select-list/core/esl-select-list.shape.ts
  packages/esl/src/esl-forms/esl-select/core/esl-select.shape.ts
  packages/esl/src/esl-image/core/esl-image.shape.ts
  packages/esl/src/esl-media/core/esl-media.shape.ts
  packages/esl/src/esl-panel-group/core/esl-panel-group.shape.ts
  packages/esl/src/esl-panel/core/esl-panel.shape.ts
  packages/esl/src/esl-popup/core/esl-popup.shape.ts
  packages/esl/src/esl-random-text/core/esl-random-text.shape.ts
  packages/esl/src/esl-scrollbar/core/esl-scrollbar.shape.ts
  packages/esl/src/esl-share/core/esl-share-button.shape.ts
  packages/esl/src/esl-share/core/esl-share-list.shape.ts
  packages/esl/src/esl-share/core/esl-share-popup.shape.ts
  packages/esl/src/esl-share/core/esl-share.shape.ts
  packages/esl/src/esl-tab/core/esl-tab.shape.ts
  packages/esl/src/esl-tab/core/esl-tabs.shape.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable-dispatcher.shape.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable.shape.ts
  packages/esl/src/esl-tooltip/core/esl-tooltip.shape.ts
  packages/esl/src/esl-trigger/core/esl-trigger.shape.ts
  packages/esl/src/types/jsx.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(ui-playground): replace temporary TSX declaration with ESL recommended one
  packages/ui-playground/src/types/global.d.ts
  packages/ui-playground/src/types/internal.d.ts
  packages/ui-playground/tsconfig.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: rename some Shape types declarations for consistency
  packages/esl/src/esl-alert/core.ts
  packages/esl/src/esl-alert/core/esl-alert.shape.ts
  packages/esl/src/esl-animate/core.ts
  packages/esl/src/esl-animate/core/esl-animate.shape.ts
  packages/esl/src/esl-carousel/core.ts
  packages/esl/src/esl-carousel/core/esl-carousel.shape.ts
  packages/esl/src/esl-carousel/plugin/dots/esl-carousel.nav.dots.shape.ts
  packages/esl/src/esl-random-text/core/esl-random-text.shape.ts
  packages/esl/src/types/jsx.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: add detailed TSX support guide
  packages/esl-website/views/core/esl-tsx.njk
  packages/esl/src/types/docs/jsx.md
Due: none

deploy: dee009e76fe20963bc94004dff6f43676d6235ca
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

deploy: ec36e175b3651518d67074b5e989f70d37c8805a
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  index.md
Due: none

deploy: e6524509271e45a009afe3c54a27363a42048d2f
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

fix(esl-trigger): update esl-base-trigger and it's instances to dispatch `esl:change:action`
  packages/esl/src/esl-trigger/core/esl-base-trigger.ts
  packages/esl/src/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
Due: none

feat(esl-carousel): introduce capabilities to provide custom autoplay restrictions. Resolves #3349
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.interaction.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): handle empty eventName in dispatch function
  packages/esl/src/esl-utils/dom/events/misc.ts
  packages/esl/src/esl-utils/dom/events/test/misc.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update sidebar links divider to common style
  packages/esl-website/src/navigation/sidebar/sidebar-primary-nav.less
  packages/esl-website/views/_includes/navigation/sidebar.njk
Due: stylelint

style(esl-carousel): rename autoplay plugin configuration options
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): refactor `watchEvents` subscription
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps): apply docs suggestions related to usages of diff jsx-dom versions
  packages/esl/src/types/docs/jsx.md
Due: none

test(esl-event-listener): fix flaky test in swipe.test.ts (time boost -200ms)
  packages/esl/src/esl-event-listener/test/targets/swipe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix cosmetic issues in test configs
  packages/eslint-plugin/jest.config.js
  packages/snapshot-tests/.gitignore
  packages/snapshot-tests/jest.config.js
Due: none

test(esl-media): make test fail on media-manager test less probable (temporary)
  packages/esl/src/esl-media/test/media-manager.test.ts
  packages/esl/src/esl-utils/async/promise/defered.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 3dbe5d51fca82ff1f9a62bb4330a514febdb7956
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
Due: none
