Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

{
  "*.ts": ["eslint --max-warnings 3", "jest --silent --noStackTrace --bail --findRelatedTests"],
  "*.less": ["stylelint"],
  "*": ["lintspaces -n -t -d spaces"]
}

chore(lint): apply suggested formatting
  .lintstagedrc.yml
Due: lintspaces -n -t -d spaces

refactor(esl-utils): rework public api
  src/modules/esl-media-query/core/conditions/media-query-condition.ts
  src/modules/esl-media-query/core/conditions/media-query-containers.ts
  src/modules/esl-media-query/core/esl-media-rule-list.ts
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

Update .lintstagedrc.yml
  .lintstagedrc.yml
Due: lintspaces -n -t -d spaces

chore: update lintstaged.rc.yml to fix build
  .lintstagedrc.yml
Due: lintspaces -n -t -d spaces

chore(release): 4.0.0-beta.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: lintspaces -n -t -d spaces

Notes added by 'git notes add'
  da/731b5f23b6f3f3933b907effa938bf087e5769
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@34a6d9b721fae65e46c6a66a3b21634b25b7f8e8 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: simplify all listener management
  src/plugins/editor/editor.ts
  src/plugins/header/options/option/option.ts
  src/plugins/header/options/options.ts
  src/plugins/header/snippets/snippets.ts
  src/plugins/settings/setting.ts
  src/plugins/settings/settings.ts
  src/settings/select-setting/select-setting.ts
  src/settings/slider-setting/slider-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore: simplify all listener management
  src/plugins/header/snippets/snippets.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

feat(gh-pages): add aurora accent to `promo-banner.njk`
  pages/src/common/accent-lines.less
  pages/src/landing/promo-banner/promo-banner.less
  pages/static/assets/common/aurora.webp
  pages/views/_includes/landing/promo-banner.njk
Due: stylelint, lintspaces -n -t -d spaces

chore: fix snippets outside action listener
  src/plugins/header/snippets/snippets.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

feat(gh-pages): load animation by scrolling
  pages/src/common/accent-lines.less
  pages/src/landing/promo-banner/promo-banner.less
  pages/views/_includes/landing/benefits.njk
  pages/views/_includes/landing/marquee.njk
  pages/views/_includes/landing/promo-banner.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-utils): replace initiatorSet with Map
  src/modules/esl-utils/dom/scroll/parent.ts
  src/modules/esl-utils/dom/scroll/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

test(esl-utils): cover scroll utils with tests
  src/modules/esl-utils/dom/scroll/test/parent.test.ts
  src/modules/esl-utils/dom/scroll/test/utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

fix(options): remove margin-left for options
  src/plugins/header/options/options.less
  src/plugins/header/snippets/snippets.less
Due: stylelint, lintspaces -n -t -d spaces

fix(select-setting): reset select class on light theme
  package.json
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

fix(select-setting): lint fix
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore: update ESL to 4-beta.10
  package-lock.json
  package.json
Due: lintspaces -n -t -d spaces

fix(select): fix theme change event name for listener
  package-lock.json
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore: updates the version
  package-lock.json
  package.json
Due: lintspaces -n -t -d spaces

feat(esl-trigger): add esc key event handler
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore(deps-dev): update common dev dependencies
  package-lock.json
  package.json
Due: lintspaces -n -t -d spaces

chore(release): 4.0.0-beta.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: lintspaces -n -t -d spaces

Notes added by 'git notes add'
  02/938451284cc9b52d0ce60cf6ddff31eb3bad85
Due: lintspaces -n -t -d spaces

fix(esl-image): fix wrong error status on svg images in FF
  src/modules/esl-image/core/esl-image.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore(release): 4.0.0-beta.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: lintspaces -n -t -d spaces

Notes added by 'git notes add'
  de/a6bbaf5b90cd127a39d2db1a0ef478c7caac49
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@f2cef6113e98873f65fb96729afa4a2d01b82548 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: fix committing ts files with no tests
  .lintstagedrc.yml
Due: lintspaces -n -t -d spaces

style(esl-carousel): fix `view` property and touch plugin
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/esl-carousel-touch.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces
