Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-event-listener): support for `ESLDomElementTarget` in `ESLResizeObserverTarget` (#1573)
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-event-listener/test/targets/resize.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  18/eac9beedb97850038191a99ab52bdb6672b206
Due: none

chore: update CHANGELOG for v4.4.0
  CHANGELOG.md
Due: none

chore(esl-utils): code refactoring
  src/modules/esl-event-listener/test/targets/decorator.test.ts
  src/modules/esl-utils/async/test/throttle.test.ts
  src/modules/esl-utils/async/throttle.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): Support for window as a target for ESLResizeObserverTarget
  src/modules/esl-event-listener/core/targets/resize.adapter.event.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-event-listener/core/targets/resize.adapter.event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-utils/async/throttle.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-mixin-element): add ability to get mixin by name by `ESLMixinElement`
  src/modules/esl-mixin-element/test/mixin.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(gh-pages): merge `share-component`
  pages/src/localdev.ts
  pages/views/examples/share.njk
  src/modules/esl-share/README.md
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/actions/url-generic-action.ts
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.less
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): add share button to header
  pages/src/navigation/header/header.less
  pages/static/assets/common/header-share.svg
  pages/static/assets/share/config.json
  pages/views/_includes/navigation/header.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): add mobile sharing option
  pages/src/navigation/sidebar/sidebar-primary-nav.less
  pages/views/_includes/navigation/sidebar.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): move header restyling to page styles
  pages/src/page/landing-layout.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): move header restyling to page styles
  pages/src/navigation/header/header.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): add background to `header-share-popup`
  pages/src/navigation/header/header.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): revert commit changes
  pages/src/localdev.ts
  pages/views/examples/share.njk
  src/modules/esl-share/README.md
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/actions/url-generic-action.ts
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.less
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): rename `esl-share-list` to `esl-share`
  pages/src/navigation/header/header.less
  pages/views/_includes/navigation/header.njk
  pages/views/_includes/navigation/sidebar.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(release): 4.5.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  db/696f38f945081e2131ee3aaa6d388fbc7ec315
Due: none

feat(decorators): update `esl-utils/decorators` to support ES Standard
  src/modules/esl-utils/decorators/new/attr.ts
  src/modules/esl-utils/decorators/new/bind.ts
  src/modules/esl-utils/decorators/new/prop.ts
  src/modules/esl-utils/environment/export-ns.new.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-event-listener/core/targets/resize.adapter.event.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: migrate `semantic-release` to `release-it` (basic settings)
  .release-it.yml
  package-lock.json
  package.json
Due: none

chore: update `release-it` tool with corrected pre-checks and npm bumper
  .release-it.yml
  package-lock.json
  package.json
Due: none

chore: update CI instructions to use `release-it`
  .github/workflows/release.yml
  .release-it.yml
Due: none

chore: remove shortcut for main release process
  package.json
Due: none

chore: fix github release preconditions
  .release-it.yml
Due: none

chore: remove `semantic-release` config
  .releaserc.json
Due: none

chore: rename release workflow steps
  .github/workflows/release.yml
Due: none

chore: fix npm authentication for CI
  .github/workflows/release.yml
  .npmrc
  package.json
Due: none

chore: add `.npmrc` to gitignore
  .gitignore
Due: none

chore: update CI release pre-configuration
  .github/workflows/release.yml
Due: none

chore: add `--ci` option for `release-it` explicitly
  .github/workflows/release.yml
Due: none

chore: update dry-run github workflow option
  .github/workflows/release.yml
Due: none

chore: fix dry-run github workflow option print
  .github/workflows/release.yml
  .release-it.yml
Due: none

chore: add release fix option to CI workflows
  .github/workflows/release.yml
Due: none

chore: update release fix option to CI workflows
  .github/workflows/release.yml
Due: none

chore(release): v4.4.1
  .github/workflows/release.yml
  .gitignore
  .release-it.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
