Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore: try to fix missing secrets
  .github/workflows/validate.yml
Due: none

chore: fix coverage jobs params
  .github/workflows/validate.yml
Due: none

Deploying to gh-pages from @ exadel-inc/esl@d124e234809b363eaa2f82f067cbce8522f8cfe1 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

test: fix coverage exclusion
  jest.config.js
Due: none

chore: browserlist/caniuse updated to the latest version
  package-lock.json
Due: none

chore: add `.codeclimate.yml` with custom code climate configuration
  .codeclimate.yml
Due: none

chore: added installation command (#481)
  src/README.md
Due: none

style(eslint): fix style
  eslint/base-rules/deprecated-alias.js
Due: none

chore(deps-dev): update version
  package-lock.json
  package.json
Due: none

chore(gh-pages): return auto-open feature for dev server
  package-lock.json
  package.json
  pages/.eleventy.js
  pages/11ty/open.postaction.js
Due: none

Deploying to gh-pages from @ exadel-inc/esl@4fbe9bb04bb76f6b0eb604305428d09569d82b48 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(eslint): update eslint/base-rules/deprecated-alias.js
  eslint/base-rules/deprecated-alias.js
Due: none

chore(eslint): refactor and fix distribution of linter rules
  .eslintrc.yml
  eslint/index.js
  eslint/package.json
  eslint/rules/4/deprecated.deep-compare.js
  eslint/rules/4/deprecated.event-utils.js
  eslint/rules/4/deprecated.generate-uid.js
  eslint/rules/4/deprecated.toggleable-action-params.js
  eslint/rules/4/deprecated.traversing-query.js
  package-lock.json
  package.json
Due: none

chore(eslint): move dependency to the proper place
  eslint/package.json
  package.json
Due: none

chore(eslint): provide lint helper rules types
  eslint/base-rules/deprecated-alias.d.ts
  eslint/base-rules/deprecated-alias.js
  eslint/test/deprecated-alias.invalid.test.ts
  eslint/test/deprecated-alias.valid.test.ts
  tsconfig.eslint.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(eslint): fix `package-lock.json` dependencies
  package-lock.json
Due: none

Deploying to gh-pages from @ exadel-inc/esl@8425632d9ea6823abc121eec47967d9d8b55ad14 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: migrate 11ty to 2.0 version, rimraf to 4.1
  package.json
  pages/.eleventy.js
  pages/e11y/open.postaction.js
Due: none

chore: migrate 11ty to 2.0 version, rimraf to 4.1
  package-lock.json
Due: none

docs: update main README
  README.md
Due: none

docs: add example img
  README.md
  docs/images/UIPexample.jpg
  docs/images/screenshot.png
Due: none

Deploying to gh-pages from @ exadel-inc/esl@68d013167e06537a642eb1a96716929998029d30 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(esl-carousel): add arrow plugin
  pages/src/localdev.ts
  pages/views/examples/carousel.njk
  pages/views/examples/carousel_draft.njk
  src/modules/esl-carousel/all.less
  src/modules/esl-carousel/all.ts
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/esl-carousel-arrow.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-arrows.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(code-style): add TypeScript `override` keyword
  tsconfig.json
Due: none

chore(esl-media-query): fix `override` keyword
  src/modules/esl-media-query/core/conditions/media-query-base.ts
  src/modules/esl-media-query/core/conditions/media-query-condition.ts
  src/modules/esl-media-query/core/conditions/media-query-containers.ts
  src/modules/esl-media-query/core/esl-media-rule-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: fix `override` keyword for toggleables
  src/modules/esl-a11y-group/core/esl-a11y-group.ts
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-panel/core/esl-panel.ts
  src/modules/esl-popup/core/esl-popup-placeholder.ts
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-related-target/core/esl-related-target.ts
  src/modules/esl-tab/core/esl-tab.ts
  src/modules/esl-tab/core/esl-tabs.ts
  src/modules/esl-toggleable/core/esl-toggleable-dispatcher.ts
  src/modules/esl-toggleable/core/esl-toggleable-placeholder.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: fix `override` keyword for first-wave components
  src/modules/esl-image/core/esl-image.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/providers/brightcove-provider.ts
  src/modules/esl-media/providers/html5/audio-provider.ts
  src/modules/esl-media/providers/html5/media-provider.ts
  src/modules/esl-media/providers/html5/video-provider.ts
  src/modules/esl-media/providers/iframe-provider.ts
  src/modules/esl-media/providers/youtube-provider.ts
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: fix `override` keyword for beta components
  src/modules/esl-animate/core/esl-animate.ts
  src/modules/esl-footnotes/core/esl-footnotes.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-item.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-list.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-wrapper.ts
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
  src/modules/esl-forms/esl-select/core/esl-select-renderer.ts
  src/modules/esl-forms/esl-select/core/esl-select.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(gh-pages): fix `override` keyword
  pages/src/anchor/anchor-link.ts
  pages/src/back-link/back-link.ts
  pages/src/esl-media-demo/test-media-source.ts
  pages/src/esl-media-demo/test-media.ts
  pages/src/landing/marquee/marquee.ts
  pages/src/navigation/header/header-search.ts
  pages/src/navigation/sidebar/sidebar.ts
  pages/src/search/search.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-carousel): fix `override` keyword
  src/modules/draft/esl-carousel/core/esl-carousel.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-dots.plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-touch.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@03686e78295b9c09fdc871410dbaa1ebffe89d8d 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

docs: update exadel logo
  docs/images/exadel-logo.png
Due: none

chore: update package json
  package-lock.json
  package.json
Due: none

chore(test): fix `override` keyword
  src/modules/esl-base-element/test/element.listener.test.ts
  src/modules/esl-media/test/base-provider.test.ts
  src/modules/esl-mixin-element/test/mixin.attr-helpers.test.ts
  src/modules/esl-mixin-element/test/mixin.listener-herpers.test.ts
  src/modules/esl-mixin-element/test/mixin.listener.test.ts
  src/modules/esl-mixin-element/test/mixin.test.ts
  src/modules/esl-utils/abstract/test/observable.test.ts
  src/modules/esl-utils/decorators/test/bind.test.ts
  src/modules/esl-utils/decorators/test/decorate.test.ts
  src/modules/esl-utils/decorators/test/listen.test.ts
  src/modules/esl-utils/decorators/test/prop.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@aa8ed631a149e17308ff6e81673c6b9bfdc09528 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

test(esl-event-listener): tests for new `ESLResizeObserverTarget` instance
  src/modules/esl-event-listener/test/targets/resize.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): `ResizeObserver` mock enhanced
  src/modules/esl-utils/test/resizeObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests
