Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

chore(site): replace usages of `--100vh` hack with dvh units for modern browsers (#2211)
  site/src/localdev.ts
  site/src/navigation/sidebar/sidebar.less
  site/src/page/base-layout.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): improve carousel a11ty
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix jumping during commit animation
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix the final position of the slide
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): update e2e tests
  e2e/package.json
  e2e/setup/scenarios.screenshot.ts
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/homepage.feature
  package-lock.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): fix homepage snapshot
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
Due: none

chore(e2e): create draft workflow to run automation
  .github/workflows/e2e.yml
  .gitignore
  e2e/jest-puppeteer.config.js
  e2e/setup/scenarios.screenshot.ts
  package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix server runner path
  e2e/jest-puppeteer.config.js
Due: none

chore(site): update lib styles and scripts for isolated uip with tabs
  site/src/playground/export/lib.less
  site/views/examples/tabs.njk
Due: stylelint

chore(e2e): fix ci server run
  e2e/jest-puppeteer.config.js
  e2e/package.json
Due: none

chore(e2e): update build command
  site/package.json
Due: none

chore(e2e): create report artifact if failure
  .github/workflows/e2e.yml
Due: none

chore(e2e): add github action reporter
  e2e/jest.config.js
Due: none

chore(e2e): adding a job summary
  .github/workflows/e2e.yml
  e2e/jest.config.js
  e2e/package.json
  package-lock.json
Due: none

fix: add empty value check when it's changing
  src/plugins/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): support for environment PORT override, add e2e run mode with font normalization
  site/.eleventy.js
  site/11ty/env.config.js
  site/package.json
  site/src/common/reboot.less
  site/src/e2e.less
  site/static/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf
  site/static/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf
  site/views/_layouts/base.njk
Due: stylelint

chore(e2e): add more run scripts, change default port, update tests and snapshots
  e2e/jest-puppeteer.config.js
  e2e/jest.config.js
  e2e/package.json
  e2e/setup/scenarios.env.ts
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/example._spec.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix port resolution and auto-openner script
  e2e/setup/scenarios.env.ts
  site/11ty/open.postaction.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): implement extended reporter
  .github/workflows/e2e.yml
  e2e/.eslintignore
  e2e/jest.config.js
  e2e/package.json
  e2e/reporters/printers.js
  e2e/reporters/reporter.js
  package-lock.json
Due: none

chore(e2e): fix workflow
  .github/workflows/e2e.yml
Due: none

chore(e2e): fix image url in public report
  e2e/reporters/printers.js
  e2e/reporters/reporter.js
Due: none

deploy: af27ed0983ad43272e2c69f37fc928ca717c1e1d
  README.md
  index.md
Due: none

chore(e2e): fix image image rendering url in public report
  e2e/reporters/printers.js
Due: none

deploy: 54b9ce1ab86a42765db29ac0b0c506c048806bc8
  README.md
  index.md
Due: none

chore(e2e): fix typos in time dimensions of report
  e2e/reporters/printers.js
Due: none

deploy: cc13b67459d4b09571d9004ddeec517f0237c26e
  README.md
  index.md
Due: none

refactor(esl-carousel): add `proactive` processing logic to relation plugin
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): refactor renderers structure
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.ts
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.less
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.less
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.vertical.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(slide): enable mobile swiping
  site/views/_layouts/presentation.njk
Due: none

refactor(slide): fix css mode renderer name
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): extend `attr` decorator with inherit option to take over the value of declared attribute
  src/modules/esl-utils/decorators/attr.ts
  src/modules/esl-utils/dom/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): rename variable
  src/modules/esl-utils/decorators/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): update `attr` tests with cases of inherit option
  src/modules/esl-utils/decorators/test/attr.test.ts
  src/modules/esl-utils/dom/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): add err case
  e2e/tests/__image_snapshots__/homepage-err-feature-feature-homepage-temporary-error-case-test-homepage-screen-when-it-is-not-ready-1-snap.png
  e2e/tests/homepage-err.feature
Due: none

chore(e2e): fix font rendering
  e2e/jest-puppeteer.config.js
Due: none

deploy: a9d35cbf64b338f575e8c073b549f692aa03c1d2
  README.md
  homepage-err-feature-feature-homepage-temporary-error-case-test-homepage-screen-when-it-is-not-ready-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  index.md
Due: none

chore(e2e): fix reporter output
  e2e/reporters/printers.js
Due: none

deploy: 30d5880cfdbacb6a526bb540757047d4bdadf7d4
  README.md
  homepage-err-feature-feature-homepage-temporary-error-case-test-homepage-screen-when-it-is-not-ready-1-snap-diff.png
  index.md
Due: none

chore(e2e): add an option to update snapshots
  .github/workflows/e2e.yml
Due: none
