Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

docs(esl-utils): add doc to site sidebar
  pages/views/core/esl-event-utils.njk
  src/modules/esl-utils/dom/events/README.md
Due: lintspaces -n -t -d spaces

docs(esl-utils): update site doc order
  pages/views/core/esl-event-utils.njk
Due: lintspaces -n -t -d spaces

docs(esl-utils): update codeblocks styles and fix lang definition
  pages/src/common/reboot.less
  src/modules/esl-utils/dom/events/README.md
Due: stylelint, lintspaces -n -t -d spaces

style(esl-utils): update sample with incorrect behaviour
  pages/src/anchor/anchor-link.ts
  pages/views/examples/anchors.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@cc3dc29f8fa63ad8ff56ae3884ef28edb7ed02a0 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(gh-pages): display `Core` as a list
  pages/views/core/esl-base-element.njk
  pages/views/core/esl-media-query.njk
  pages/views/core/esl-mixin-element.njk
  pages/views/core/esl-traversing-query.njk
  pages/views/core/esl-utils.njk
  pages/views/core/index.njk
Due: lintspaces -n -t -d spaces

refactor(esl-traversing-query): add comment
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): code refactoring
  src/modules/esl-utils/dom/events/target.ts
  src/modules/esl-utils/dom/events/test/target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Refactor(gh-pages): comment refactor
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-traversing-query): add comma support to define multiple target (#1120 / #1129)
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-utils): extend SynteticEventTarget with ability to separate events (#1118)
  src/modules/esl-utils/dom/events/target.ts
  src/modules/esl-utils/dom/events/test/target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(select-setting): listen closest root only for theme changes
  src/plugins/header/options/option/theme.less
  src/plugins/settings/setting.ts
  src/plugins/settings/settings.less
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore: fixed root selectors
  src/plugins/editor/editor.ts
  src/plugins/header/options/options.ts
  src/plugins/settings/settings.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: changed package-lock version
  package-lock.json
Due: none

chore: changed package-lock to 2nd version
  package-lock.json
Due: none

refactor(gh-pages): add transparency for draft examples
  pages/src/collection-grid/collection-grid.less
  pages/views/_layouts/collection-grid.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(dev-deps): update `@typescript-eslint` to 5.32.0
  package-lock.json
  package.json
Due: none

chore(release): 4.0.0-beta.13
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f9/75602841cea033437fc3b9215663a7bdc6c670
Due: none

fix(esl-traversing-query): fix uniqueness of result on multiple query
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
  src/modules/esl-utils/misc/array.ts
  src/modules/esl-utils/misc/test/array.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@ab7afffb863be109687fa7acbd6b88a6544b8a43 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(gh-pages): unify overall style of the icon
  pages/static/assets/examples/animate.svg
  pages/static/assets/examples/carousel.svg
  pages/static/assets/examples/embedded-audio.svg
  pages/static/assets/examples/embedded-video.svg
  pages/static/assets/examples/image.svg
  pages/static/assets/examples/menu.svg
  pages/static/assets/examples/popup.svg
  pages/static/assets/examples/tabs.svg
  pages/static/assets/examples/toggleable.svg
Due: none

feat(setting): disable setting when there are no targets
  src/plugins/settings/setting.ts
  src/settings/bool-setting/bool-setting.ts
  src/settings/select-setting/select-setting.ts
  src/settings/slider-setting/slider-setting.ts
  src/settings/text-setting/text-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(setting): style disabled settings
  src/settings/bool-setting/bool-setting.less
  src/settings/slider-setting/slider-setting.less
Due: stylelint, lintspaces -n -t -d spaces

fix(select-setting): refactor theme listener
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(select-setting): lint fix
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(uip for esl-media): add examples using  UIPlayground
  package-lock.json
  package.json
  pages/src/common/media.less
  pages/src/common/playground.less
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/views/components/esl-media.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): update the list item UI: add icons, change background
  pages/src/collection-grid/collection-grid.less
  pages/static/assets/common/right-arrow.svg
  pages/views/_layouts/collection-grid.njk
  pages/views/blogs/Prelelease v4.0.0.md
  pages/views/components/esl-a11ty-group.njk
  pages/views/components/esl-alert.njk
  pages/views/components/esl-animate.njk
  pages/views/components/esl-footnotes.njk
  pages/views/components/esl-image.njk
  pages/views/components/esl-media.njk
  pages/views/components/esl-panel-group.njk
  pages/views/components/esl-panel.njk
  pages/views/components/esl-popup.njk
  pages/views/components/esl-scrollbar.njk
  pages/views/components/esl-select-list.njk
  pages/views/components/esl-select.njk
  pages/views/components/esl-tabs.njk
  pages/views/components/esl-toggleable.njk
  pages/views/components/esl-trigger.njk
  pages/views/core/esl-base-element.njk
  pages/views/core/esl-media-query.njk
  pages/views/core/esl-mixin-element.njk
  pages/views/core/esl-traversing-query.njk
  pages/views/core/esl-utils.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): add multiple target for `esl-animate`
  pages/views/_includes/landing/promo-banner.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): animation enhancements for promo banner section
  pages/src/landing/promo-banner/promo-banner.less
  pages/views/_includes/landing/promo-banner.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): update accent line color
  pages/static/assets/common/accent-invert.svg
  pages/static/assets/common/accent.svg
Due: none

docs(esl-utils): expand eventUtils doc
  src/modules/esl-utils/dom/events/README.md
  src/modules/esl-utils/dom/events/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-utils): add links
  src/modules/esl-utils/dom/events/README.md
Due: none

docs(blogs): translate event listeners blogs
  pages/views/blogs/4.0.0/Event Listeners.md
Due: none
