Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

chore(e2e): update screenshot
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
Due: none

chore(site): remove playground examples from navigation
  packages/esl-website/views/playground/basic/overview.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/index.njk
Due: none

deploy: c9b9ffd4a73d37808c44139da8da228555c3a13a
  README.md
  index.md
Due: none

chore(site): small adjustments in Playground submodule docs
  packages/esl-website/views/playground/advanced/index.njk
  packages/esl-website/views/playground/advanced/note.njk
  packages/esl-website/views/playground/basic/index.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/overview.njk
Due: none

chore(site): Copilot review fixes
  packages/esl-website/views/playground/basic/preview.njk
  packages/ui-playground/src/core/preview/README.md
  packages/ui-playground/src/plugins/snippets/README.md
Due: none

chore(site): content updates and cross links fixes
  packages/esl-website/11ty/markdown.shortcut.js
  packages/esl-website/site.yml
  packages/esl-website/views/playground/basic/api.njk
  packages/ui-playground/src/core/README.md
  packages/ui-playground/src/core/base/README.md
  packages/ui-playground/src/core/preview/README.md
  packages/ui-playground/src/plugins/editor/README.md
  packages/ui-playground/src/plugins/snippets-list/README.md
  packages/ui-playground/src/plugins/snippets-title/README.md
  packages/ui-playground/src/plugins/snippets/README.md
Due: none

chore(e2e): remove scrollbars from screenshots
  packages/esl-website/src/e2e.less
Due: stylelint

chore(e2e): update CI process to correctly handle all 4 scenarios
  .github/workflows/e2e.yml
Due: none

chore(e2e): fix auto PR branch name
  .github/workflows/e2e.yml
Due: none

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-mobile-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-hamburger-mobile-linux.png
Due: none

chore(e2e): add playwright run browsers cache to CI
  .github/workflows/e2e.yml
Due: none

chore(e2e): add new e2e module readme
  packages/esl-website-e2e/README.md
Due: none

chore(e2e): add missing lint step to new e2e package
  packages/esl-website-e2e/common/page.ts
  packages/esl-website-e2e/eslint.config.mjs
  packages/esl-website-e2e/package.json
  packages/esl-website-e2e/playwright.config.ts
  packages/esl-website-e2e/project.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(e2e): add basic summary reporter based on previous implementation by alesun <alesun@exadel.com>
  package-lock.json
  packages/esl-website-e2e/package.json
  packages/esl-website-e2e/playwright.config.ts
  packages/esl-website-e2e/reporters/md-summary-reporter.ts
  packages/esl-website-e2e/reporters/md-summary.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): attach md summary to workflow run
  .github/workflows/e2e.yml
Due: none

deploy: a4872f70d51e7d93e37fda8863d130176356134f
  README.md
  index.md
Due: none

deploy: 2788d30e0c0e1a2d2ee194974733c2f4d91c982f
  README.md
  index.md
Due: none

chore: update `@commitlint` dependencies, add missing sub-dependency - `chalk`
  package-lock.json
  package.json
Due: none

chore: release v5.16.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 7a9a2b9aa819c354b190b23f04967aebb7b61895
  README.md
  index.md
Due: none

chore: release v6.0.0-beta.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(deps): add support for CSS as styles source
  package-lock.json
  package.json
  packages/esl/project.json
Due: none

chore(site): update site to use CSS as a styles source
  packages/esl-website/project.json
  packages/esl-website/src/lib.less
  packages/esl-website/src/site.less
Due: stylelint

chore(deps): add example of css source
  packages/esl/src/all.css
  packages/esl/src/all.less
  packages/esl/src/esl-animate/core.css
  packages/esl/src/esl-animate/core.less
  packages/esl/src/esl-animate/core/esl-animate-animations.css
  packages/esl/src/esl-animate/core/esl-animate.css
Due: stylelint

deploy: 0437e696b2f9069ba5d1a1c6ff1508e9eeaea262
  README.md
  index.md
Due: none

chore: release v6.0.0-beta.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 58f6bc3c5e447dc041fc75b9b868def788725b1f
  README.md
  index.md
Due: none

deploy: 0f136fae12ae7f1855b6f1c8fef461202af4601d
  README.md
  index.md
Due: none

deploy: f0fd6511f888f4a739d9996bb8b8e3ea0915452c
  README.md
  index.md
Due: none

deploy: ec6c23c50caaa168200d2788de7e64f9cc5f95c8
  README.md
  index.md
Due: none

deploy: bc1c616cb65e25df872a2b3a72ba638053586a5f
  README.md
  index.md
Due: none

deploy: 87e8dcd2016aaaed536c74972d9d2218fbf2af15
  README.md
  index.md
Due: none

deploy: d478bb98d36b9b3ba08ee2f06f0f9167fe9a4938
  README.md
  index.md
Due: none

deploy: 4563f381e49d6a0a74e32c43c5321f362392195d
  README.md
  index.md
Due: none

deploy: 4280e6e516547baf2d9dc60ea5e6aadf8feb3c2f
  README.md
  index.md
Due: none

deploy: caf3cd68645a67b8143ec3bf540f96bb183afb47
  README.md
  index.md
Due: none

deploy: eb546b55d9b77053022ece4d64fff9b2ef7851b8
  README.md
  index.md
Due: none
