Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore: fix colors, themes and update variables
  pages/views/styles/header.less
  pages/views/styles/page.less
  pages/views/styles/sidebar.less
  src/core/base/plugin.less
  src/core/base/root.less
  src/plugins/header/options/option/theme.less
  src/plugins/header/snippets/snippets.less
  src/settings/select-setting/select-setting.less
  src/settings/slider-setting/slider-setting.less
  src/variables.less
Due: stylelint, lintspaces -n -t -d spaces

chore: update examples and alert, options, snippets, settings styles
  pages/views/examples/example/image.njk
  pages/views/index.njk
  pages/views/styles/header.less
  pages/views/styles/page.less
  src/core/base/root.less
  src/plugins/header/header.less
  src/plugins/header/options/option/option.less
  src/plugins/header/snippets/snippets.less
  src/settings/bool-setting/bool-setting.less
  src/settings/select-setting/select-setting.less
  src/settings/text-setting/text-setting.less
  src/variables.less
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@68befd4fd48f2aaf846c3e9f7437a80bddf80bd7 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: bump common dev dependencies
  package-lock.json
  package.json
Due: none

chore(release): 4.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  68/690a048d0494752b02a513da7153249221d0df
Due: none

chore: fix validate badge in the README.md
  README.md
Due: none

feat: added sub/unsub for resize observer
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-utils): update tests
  src/modules/esl-utils/dom/test/visible.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(eslint): add 'arrow-parens' rule, fix existing warns
  linting/codestyle.eslintrc.yml
  src/modules/esl-utils/dom/focus.ts
  src/modules/esl-utils/misc/object/copy.ts
  src/modules/esl-utils/misc/set.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs: add 'esl-related-target' to global README
  README.md
Due: none

feat: added memoization
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-related-target): code style refactor
  build/jest.html-loader.js
Due: none

style(esl-related-target): code style refactor
  src/modules/esl-related-target/README.md
Due: none

style(esl-related-target): code style refactor
  src/modules/esl-related-target/core/esl-related-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-related-target): code style refactor
  pages/views/examples/accordion.njk
Due: lintspaces -n -t -d spaces

chore(esl-related-target): replace example with a realistic one (use-case)
  pages/views/examples/accordion.njk
Due: lintspaces -n -t -d spaces

fix(esl-related-target): relative traversing queries doesn't supported
  src/modules/esl-related-target/core/esl-related-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-utils): update documentation
  src/modules/esl-utils/README.md
Due: none

docs(traversing-query): update docs
  src/modules/esl-traversing-query/README.md
Due: none

chore(deps-dev): bump eslint-plugin-sonarjs to 0.18.0
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ exadel-inc/esl@05cfb8e43d40c36c82b52c60eb7ae74b7b157f09 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: update landing page info
  pages/views/index.njk
  pages/views/styles/page.less
  src/plugins/settings/settings.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-share): remove creating action instance on the fly
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/mail-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/actions/url-generic-action.ts
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-share): rename action share method
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/mail-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-share): rename mail action to external
  pages/src/localdev.ts
  pages/static/assets/share/config.json
  src/modules/esl-share/actions/external-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-share): update a11y
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: update package json
  package-lock.json
  package.json
Due: none

refactor(editor): rewrite change callback as event listener
  src/plugins/editor/ace/ace-editor.ts
  src/plugins/editor/ace/utils.ts
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@29925e9b605ee406bcab5d0317cb14506ec15dca 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(deps-dev): fix usages of rimraf according to 4th update
  package-lock.json
  package.json
Due: none

docs(esl-related-target): fix demo sample markup representative
  pages/views/examples/accordion.njk
Due: lintspaces -n -t -d spaces

feat(esl-related-target): make related target able to targeting multiple related togglable (#1398)
  build/jest.html-loader.js
  jest.config.js
  package-lock.json
  pages/views/examples/accordion.njk
  src/modules/esl-related-target/README.md
  src/modules/esl-related-target/core/esl-related-target.ts
  src/modules/esl-related-target/test/related-target.test.ts
  src/modules/esl-related-target/test/template.html
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
