Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

test(esl-match-height): cover `ESLMatchHeightMixin`
  packages/esl/src/esl-match-height/test/esl-match-height.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-match-height): `ESLMatchHeightMixin` documentation and example
  packages/esl-website/src/site.ts
  packages/esl-website/views/components/esl-match-height.njk
  packages/esl-website/views/examples/esl-match-height.njk
  packages/esl/src/esl-match-height/README.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-match-height): apply suggestions from code review
  packages/esl-website/src/site.ts
  packages/esl-website/views/examples/esl-match-height.njk
  packages/esl/src/esl-match-height/README.md
  packages/esl/src/esl-match-height/core/esl-match-height.ts
  packages/esl/src/esl-match-height/test/esl-match-height.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): rework and simplify autoplay plugin API - separate contol mixin + (optional) lightweight state mixin
  packages/esl-website/src/site.ts
  packages/esl-website/views/examples/carousel/css-slide-autoplay.sample.njk
  packages/esl/src/esl-carousel/README.md
  packages/esl/src/esl-carousel/core.ts
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.control.mixin.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.progress.mixin.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.state.mixin.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.types.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.control.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.interaction.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.progress.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.state.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): migrate build ts from webpack to rspack
  package-lock.json
  packages/esl-website/.gitignore
  packages/esl-website/package.json
  packages/esl-website/project.json
  packages/esl-website/rspack.config.js
Due: none

chore: bump node version to 24
  package-lock.json
  package.json
  packages/esl-website-monitoring/README.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/package.json
Due: none

test(esl-match-height): add throttle call test scenario
  packages/esl/src/esl-match-height/README.md
  packages/esl/src/esl-match-height/test/esl-match-height.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-mobile-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-mobile-linux.png
Due: none

chore: fix missing dev deps and lint issues
  package-lock.json
  packages/esl-website/package.json
  packages/esl-website/worker/less.mjs
  packages/esl/worker/less.mjs
  packages/ui-playground/worker/less.mjs
Due: none

chore: release v6.1.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-desktop-linux.png
Due: none

docs(esl-carousel): cleanup autoplay documentation
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
Due: none

refactor(esl-carousel): deduplicate autoplay events, update subscriptions strategy
  packages/esl-website/views/examples/carousel/css-slide-autoplay.sample.njk
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.event.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: add vitest dependabot group
  .github/dependabot.yml
Due: none

chore: add rspack dependabot group
  .github/dependabot.yml
Due: none

chore(esl-match-height): apply suggestions from code review
  packages/esl/src/esl-match-height/README.md
  packages/esl/src/esl-match-height/core/esl-match-height.ts
  packages/esl/src/esl-match-height/test/esl-match-height.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-match-height): simplify observed attributes in `esl-match-height.ts`
  packages/esl/src/esl-match-height/core/esl-match-height.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-match-height): update sample to relevant one
  packages/esl-website/src/lib.less
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl-website/views/examples/esl-match-height.njk
Due: stylelint

chore(esl-match-height): example refactoring
  packages/esl-website/views/examples/esl-match-height.njk
Due: none

chore: update release config
  nx.json
Due: none

chore(esl-match-height): reintroduce images in the example
  packages/esl-website/views/examples/esl-match-height.njk
Due: none

chore: release v6.2.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-match-height): code refactoring
  packages/esl-website/views/examples/esl-match-height.njk
  packages/esl/src/esl-match-height/core/esl-match-height.ts
  packages/esl/src/esl-match-height/test/esl-match-height.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): add ability to exclude elements from effective interaction scope (leaving observation scope the same)
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.interaction.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): site label markers cleanup
  packages/esl-website/views/components/esl-carousel/autoplay.njk
  packages/esl-website/views/components/esl-carousel/info.njk
  packages/esl-website/views/components/esl-line-clamp.njk
  packages/esl-website/views/components/esl-match-height.njk
  packages/esl-website/views/examples/esl-match-height.njk
Due: none

style(esl-carousel): improvements from the code review
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): resolve watch mode issues for njk, less, and md file changes
  packages/esl-website/11ty/watch.targets.js
  packages/esl-website/project.json
  packages/esl/project.json
  packages/ui-playground/project.json
Due: none

chore: fix small linter issues
  packages/esl/src/esl-image/test/xmlHttpRequest.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): fix repack incompatibility with latest ts-loader
  package-lock.json
  packages/esl-website/package.json
  packages/esl-website/rspack.config.js
Due: none

chore(site): fix rspack swc loader targets
  packages/esl-website/rspack.config.js
Due: none

chore: release v6.2.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): fix YT type import to be compatible with TS6
  packages/esl/src/esl-media/providers/youtube-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): update promisifyTimeout type to more accurate one
  packages/esl/src/esl-utils/async/promise/timeout.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): make `uid` utility compatible with ts6
  packages/esl/src/esl-utils/misc/uid.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): make `@decorate` utility compatible with ts6
  packages/esl/src/esl-utils/decorators/decorate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): fix `MediaQueryNegation` incompatibility with TS6
  packages/esl/src/esl-media-query/core/conditions/media-query-negation.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: major TS6 compatibility
  package-lock.json
  package.json
  packages/esl-website/tsconfig.json
  packages/esl/project.json
  packages/esl/tsconfig.json
  packages/esl/tsconfig.typetest.json
  packages/esl/tsconfig.typetest.ts5.json
  packages/ui-playground/project.json
  packages/ui-playground/tsconfig.json
Due: none

chore(esl-utils): update and simplify uid utility
  packages/esl/src/esl-utils/misc/uid.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
