Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): optimize recalculation, limit CLS on initial resizes
  site/views/dev/carousel-cls.njk
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): rename `--esl-slide-fallback-size` to `--esl-slide-initial-size`
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.less
Due: stylelint

chore(release): 5.0.1-beta.1
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  064857aa379940d010851e1073ce483c7c1eba50
Due: none

fix(eslint-plugin): remove peer dependency for esl (handled via warnings)
  eslint-plugin/package.json
  package-lock.json
Due: none

chore(release): 5.0.1-beta.2
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  3167dc567b213af6e6fc59bdc7fbd04f9a592fea
Due: none

chore(esl-media): apply suggestions from code review
  site/views/examples/embedded-media.njk
  src/modules/esl-media/control/esl-media-control-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-image-utils): omit console warnings in case of missing inner image
  src/modules/esl-image-utils/core/esl-image-container.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps): bump @stylistic/eslint-plugin from 2.13.0 to 3.0.0
  eslint-config/package.json
  package-lock.json
Due: none

chore(esl-media): apply suggestions from code review and discussions
  src/modules/esl-media/control/esl-media-control-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): create esl-lazy-template examples for SVG images
  site/static/assets/lazy-templates/animated-geometric-shapes-background.svg
  site/static/assets/lazy-templates/esl-animated-stroke.svg
  site/static/assets/lazy-templates/esl-noise-distort.svg
  site/static/assets/lazy-templates/esl-text-squiggly.svg
  site/static/assets/lazy-templates/wind-blowing-in-may-svg-animation.svg
  site/views/examples/lazy-template.njk
Due: none

chore: initial release-please configuration
  .github/workflows/release-pr.yml
  .release/config-main.json
  .release/manifest.json
Due: none

chore: update initial version and manifest file
  .release/manifest.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
Due: none

chore: add workspace configuration
  .release/config-main.json
Due: none

chore: add proper workspace subpackage configuration
  .github/workflows/release-pr.yml
  .release/config-main.json
  .release/manifest.json
Due: none

chore: fix manifest versions
  .release/manifest.json
Due: none

chore: fix manifest and additional files
  .release/config-main.json
  .release/manifest.json
Due: none

chore: update private dependencies + fix some config references
  .release/config-main.json
  e2e/package.json
  site/package.json
Due: none

chore: update pr/commit header
  .release/config-main.json
Due: none

chore: add private subpackages
  .release/config-main.json
  .release/manifest.json
Due: none

chore: update package json
  package-lock.json
  package.json
Due: none

chore(release): 2.1.0-beta.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  site/package.json
Due: none

fix(esl-media): add play preconditions support for toggle method
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: try to fix incorrect cross version reference
  .release/config-main.json
Due: none

chore: test manual build for version
  .github/workflows/release-pr.yml
  .release/config-main.json
  .release/manifest.json
Due: none

style(esl-media): apply suggestion from code review
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): postpone BrightcoveProvider ready state notification until metadata is available
  src/modules/esl-media/providers/brightcove-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-lazy-template): small review fixes
  site/views/components/esl-lazy-template.njk
  site/views/examples/lazy-template.njk
  src/modules/esl-lazy-template/core/esl-lazy-template.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update esl-lazy-template page
  site/views/components/esl-lazy-template.njk
Due: none

refactor(esl-utils): remove `RTL` unnecessary logic
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
  src/modules/esl-tab/core/esl-tabs.ts
  src/modules/esl-utils/dom/rtl.ts
  src/modules/esl-utils/dom/test/rtl.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): add deprecation comments
  src/modules/esl-utils/dom/rtl.ts
  src/modules/esl-utils/dom/test/rtl.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): fix play preconditions for toggle method (#2906)
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): apply suggestions from code review
  src/modules/esl-media/control/esl-media-control-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): apply suggestions from code review
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: remove release-please cfg add initial `@changeset` config
  .changeset/config.json
  .github/workflows/release-pr-beta.yml
  .release/config-main.json
  .release/manifest.json
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
