Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

fix(esl-media-query): fix singleton storage for ESLMediaShortcuts + add shortcut name validation
  packages/esl/src/esl-media-query/core/common/media-shortcuts.ts
  packages/esl/src/esl-media-query/test/esl-media-query.shortcuts.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media-query): update error message for media-shortcuts.ts
  packages/esl/src/esl-media-query/core/common/media-shortcuts.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media-query): rename symbol private key according conventions
  packages/esl/src/esl-media-query/core/common/media-shortcuts.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix: fix all private symbols across library to be multi-bundeled-prof
  packages/esl/src/esl-event-listener/core/descriptors.ts
  packages/esl/src/esl-event-listener/core/listener.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-registry.ts
  packages/esl/src/esl-utils/dom/events/target.ts
  packages/esl/src/esl-utils/misc/uid.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.7.1
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

chore: small fixes in tests titles and async tests
  packages/esl/src/esl-trigger/test/esl-trigger.actions.test.ts
  packages/esl/src/esl-utils/async/test/promise/defered.test.ts
  packages/esl/src/esl-utils/decorators/test/bind.test.ts
  packages/esl/src/esl-utils/decorators/test/decorate.test.ts
  packages/esl/src/esl-utils/dom/scroll/test/utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix jest group for dependa-bot
  .github/dependabot.yml
Due: none

fix(eslint-config): replace @stylistic/eslint-plugin-jsx rules with @stylistic/eslint-plugin embedded jsx support
  package-lock.json
  packages/eslint-config/package.json
  packages/eslint-config/rules/codestyle/stylistic.js
Due: none

fix(esl-carousel): fix carousel renderer flow to prevent pre-active markers before lock check + logic generalization
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.default.renderer.ts
  packages/esl/src/esl-carousel/test/common/esl-carousel.dummy.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: add `ESL.version` to "open" mode of ESL package
  packages/esl/eslint.config.mjs
  packages/esl/package.json
  packages/esl/scripts/update-lib-version.mjs
  packages/esl/src/esl-utils/environment/export-ns.ts
  packages/esl/src/esl-utils/misc/enum.ts
  packages/esl/src/lib.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-trigger): `no-target` attribute support out of the box, no console warning (default 'disabled' styles)
  packages/esl/src/esl-trigger/core/esl-base-trigger.ts
  packages/esl/src/esl-trigger/core/esl-trigger.less
  packages/esl/src/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-tab): default `no-target` attribute styles to hide inactive tab
  packages/esl-website/src/common/tabs.less
  packages/esl/src/esl-tab/core/esl-tab.less
Due: stylelint

chore: apply version custom scripts fixes requested in PR
  packages/esl/package.json
  packages/esl/scripts/update-lib-version.mjs
Due: none

test: fix according JSDOM 21-26 updates
  package-lock.json
  packages/esl/src/esl-utils/dom/scroll/test/parent.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.8.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: replace esl-trigger default styles for no-target
  packages/esl/src/esl-trigger/core/esl-trigger.less
Due: stylelint

chore: add 5.8.0 public notes draft, update docs with missing no-target functionality information
  packages/esl-website/views/blogs/ESL v5.8.0.md
  packages/esl/src/esl-tab/README.md
  packages/esl/src/esl-trigger/README.md
Due: none

fix(esl-carousel): fix `esl-carousel-relate-to` plugin to correctly handle proactive action (including updated events API)
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/plugin/esl-carousel.plugin.ts
  packages/esl/src/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): support for proactive `container-class` handling using 'esl-carousel-class-behavior' plugin
  packages/esl-website/src/site.ts
  packages/esl-website/views/components/esl-carousel/container-class.njk
  packages/esl-website/views/components/esl-carousel/keyboard.njk
  packages/esl-website/views/components/esl-carousel/relation.njk
  packages/esl/src/esl-carousel/core.ts
  packages/esl/src/esl-carousel/plugin/class/README.md
  packages/esl/src/esl-carousel/plugin/class/esl-carousel.class-behaviour.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): update esl-carousel.relation.mixin.ts event builder
  packages/esl/src/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): fix doc typos for new carousel plugin
  packages/esl/src/esl-carousel/plugin/class/README.md
  packages/esl/src/esl-carousel/plugin/class/esl-carousel.class-behaviour.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): fix doc grammar in esl-carousel.renderer.ts
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-carousel): add missing ExportNs for ESLCarouselClassBehaviourMixin
  packages/esl/src/esl-carousel/plugin/class/esl-carousel.class-behaviour.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: fix small spelling issues in documentation
  packages/esl/src/esl-tab/README.md
  packages/esl/src/esl-trigger/README.md
Due: none

docs: extend 5.8.0 public release notes + small fixes in previous notes syntax
  packages/esl-website/views/blogs/ESL v5.6.0.md
  packages/esl-website/views/blogs/ESL v5.7.0.md
  packages/esl-website/views/blogs/ESL v5.8.0.md
Due: none

style: import order small lint-fix
  packages/esl/src/esl-carousel/plugin/class/esl-carousel.class-behaviour.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.8.1
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-mixin-element): fix ESLMixinRegistry instance duplicate due to creation in separate context
  packages/esl/src/esl-mixin-element/ui/esl-mixin-attr.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.8.2
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): add out of the box viewport visibility control for ESL Carousel autoplay plugin
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): fix ESLMedia play-in-viewport observes viewport intersection ratio threshold incorrectly
  packages/esl/src/esl-media/core/esl-media-iobserver.ts
  packages/esl/src/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-carousel): `ESLCarouselRendererRegistry` separated from `ESLCarouselRenderer`
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.registry.ts
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.ts
  packages/esl/src/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-carousel): less context aware context tests for collection API
  packages/esl/src/esl-carousel/test/core/esl-carousel.collection.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): major rework state API to use `ESLCarouselRenderer` instance
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.ts
  packages/esl/src/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): fix grammar in autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
Due: none

docs(esl-carousel): small clarity improvement in autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
