Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-utils): fix eslint warning for unused variable output
  packages/esl/src/esl-utils/misc/object/path.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): exclude some obvious eslint checks for e2e scripts
  packages/snapshot-tests/eslint.config.mjs
Due: none

chore: regular audit fix
  package-lock.json
Due: none

chore: release v5.16.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 007e90ed55b8ecd0230fb666ba06f5e729635e76
  README.md
  index.md
Due: none

chore: release v6.0.0-beta.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(ui-playground): small documentation fix
  packages/ui-playground/src/core/base/README.md
Due: none

chore(site): fix typo issues
  packages/ui-playground/src/README.md
  packages/ui-playground/src/core/README.md
  packages/ui-playground/src/core/preview/README.md
  packages/ui-playground/src/docs/INTRODUCTION.md
  packages/ui-playground/src/plugins/copy/README.md
  packages/ui-playground/src/plugins/editor/README.md
  packages/ui-playground/src/plugins/reset/README.md
  packages/ui-playground/src/plugins/snippets/README.md
Due: none

chore(site): fix typo issues
  packages/ui-playground/src/README.md
Due: none

deploy: 41070d69f97ba223e3626d24932481be73007e8a
  README.md
  index.md
Due: none

deploy: c2524286dd9e25d38b66f499c901d80c1ace8cc3
  README.md
  index.md
Due: none

deploy: 403892f5a7efa215408c498b16664b9b3ae8390e
  README.md
  index.md
Due: none

chore(deps): implementation refactoring
  packages/esl-website/src/lib.less
  packages/esl-website/src/site.less
  packages/esl/project.json
Due: stylelint

deploy: 550800c50aaea418715f4718591665bc9401369f
  README.md
  index.md
Due: none

deploy: ae4f70857e986a938f6ca0eaee9e1cab22eedc61
  README.md
  index.md
Due: none

deploy: 2040f751f3008b6f9e83f77c41fb675bc49b718c
  README.md
  index.md
Due: none

chore(deps): apply suggestions from copilot review
  packages/esl/project.json
Due: none

deploy: 53e563a08e4fb07797600208689e80f66293abd8
  README.md
  index.md
Due: none

chore: rebuild package-lock, fix vulnerabilities
  nx.json
  package-lock.json
  package.json
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.interaction.test.ts
  packages/esl/src/esl-share/test/actions/copy-action.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: code review fixes
  package-lock.json
  packages/esl-website-e2e/package.json
  packages/esl-website-e2e/playwright.config.ts
  packages/esl-website-e2e/tsconfig.json
  packages/esl-website/views/dev/popup-scroll-parents.njk
  packages/esl/src/esl-utils/misc/format/string.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): fix promisifyTransition method API type (now require HTMLElement)
  packages/esl/src/esl-utils/async/promise/animation.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): make outside action delay configurable for ESLToggleableManager using prop ESLToggleable.prototype.OUTSIDE_ACTION_DELAY
  packages/esl/src/esl-toggleable/core/esl-toggleable-manager.ts
  packages/esl/src/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: add base elements `$$find` and `$$findAll` methods
  packages/esl/src/esl-base-element/README.md
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-mixin-element/README.md
  packages/esl/src/esl-mixin-element/ui/esl-mixin-element.ts
  packages/esl/src/esl-utils/abstract/component.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: simplify internal ESL code using ootb find api
  packages/esl-website/src/autofocus/autofocus-mixin.ts
  packages/esl-website/src/esl-popup/esl-d-popup-game.ts
  packages/esl-website/src/navigation/header/header-search.ts
  packages/esl/src/esl-alert/core/esl-alert.ts
  packages/esl/src/esl-animate/core/esl-animate.ts
  packages/esl/src/esl-carousel/core/esl-carousel.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
  packages/esl/src/esl-carousel/plugin/info/esl-carousel.info.ts
  packages/esl/src/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
  packages/esl/src/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  packages/esl/src/esl-footnotes/core/esl-footnotes.ts
  packages/esl/src/esl-footnotes/core/esl-note.ts
  packages/esl/src/esl-image/core/esl-image.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-toggler.ts
  packages/esl/src/esl-media/control/esl-media-control-mixin.ts
  packages/esl/src/esl-media/core/esl-media.ts
  packages/esl/src/esl-panel-group/core/esl-panel-group.ts
  packages/esl/src/esl-popup/core/esl-popup.ts
  packages/esl/src/esl-related-target/core/esl-related-target.ts
  packages/esl/src/esl-scrollbar/core/esl-scrollbar.ts
  packages/esl/src/esl-share/core/esl-share.ts
  packages/esl/src/esl-trigger/core/esl-base-trigger.ts
  packages/esl/src/esl-trigger/core/esl-trigger.ts
  packages/ui-playground/src/core/base/plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style: fix comment from the pull request finding
  packages/esl/src/esl-toggleable/core/esl-toggleable-manager.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: apply suggestions for TSDoc from code review
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-element.ts
  packages/esl/src/esl-utils/abstract/component.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test: add tests for ESL find API
  packages/esl/src/esl-base-element/test/element.test.ts
  packages/esl/src/esl-mixin-element/test/mixin.prototype.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-image): officially deprecate `ESLImage`
  packages/esl-website/src/lib.less
  packages/esl-website/src/lib.ts
  packages/esl/src/all.less
  packages/esl/src/all.ts
  packages/esl/src/esl-image/core/esl-image.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-anchornav): enhance anchor nav API with explicit `anchor-selector` attribute and findAnchors hock with ESLTraversingQuery support
  packages/esl/src/esl-anchornav/README.md
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-anchornav): refactor anchor collection
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-anchornav): small improvement for event broadcasting
  packages/esl/src/esl-anchornav/core/esl-anchor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): add htmlToElement utility method
  packages/esl/src/esl-utils/dom/api.ts
  packages/esl/src/esl-utils/dom/test/api.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-anchornav): add out of the box support for nested navfix default styles
  packages/esl-website/src/esl-anchornav/esl-anchornav.less
  packages/esl-website/src/esl-anchornav/esl-anchornav.ts
  packages/esl-website/views/examples/anchornav.njk
  packages/esl/src/esl-anchornav/README.md
  packages/esl/src/esl-anchornav/core.ts
  packages/esl/src/esl-anchornav/core/esl-anchor.less
  packages/esl/src/esl-anchornav/core/esl-anchornav.hierarchy.ts
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-anchornav): add empty attribute support
  packages/esl/src/esl-anchornav/README.md
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-anchornav): update README version
  packages/esl/src/esl-anchornav/README.md
Due: none

feat(esl-anchornav): add abstract data support for anchor info
  packages/esl-website/views/examples/anchornav.njk
  packages/esl/src/esl-anchornav/README.md
  packages/esl/src/esl-anchornav/core/esl-anchor.ts
  packages/esl/src/esl-anchornav/core/esl-anchornav.hierarchy.ts
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-anchornav): fixes from the code review
  packages/esl-website/src/esl-anchornav/esl-anchornav.ts
  packages/esl/src/esl-anchornav/core/esl-anchor.ts
  packages/esl/src/esl-anchornav/core/esl-anchornav.hierarchy.ts
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
  packages/esl/src/esl-utils/dom/api.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-anchornav): fixes from the code review
  packages/esl/src/esl-anchornav/README.md
  packages/esl/src/esl-anchornav/core/esl-anchor.ts
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
  packages/esl/src/esl-utils/dom/api.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-anchornav): add tests for default hierarchy builder
  packages/esl/src/esl-anchornav/test/esl-anchornav.hierarchy.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-anchornav): add empty class marker functionality, improve documentation
  packages/esl/src/esl-anchornav/README.md
  packages/esl/src/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
