Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(patch): bump dependencies versions, update husky
  .husky/commit-msg
  .husky/pre-push
  package-lock.json
  package.json
Due: none

chore(patch): CI and build scripts Nove version updated to 20+
  .github/workflows/cla.yml
  .github/workflows/lint.yml
  .github/workflows/pages.yaml
  .github/workflows/release.yml
Due: none

docs(esl-popup): apply suggestions from code review
  src/modules/esl-popup/README.md
Due: none

chore(site): fix upload artifact version
  .github/workflows/pages.yaml
Due: none

chore: fix lint-staged for merge commits and restricted env requirements
  .husky/pre-push
  package-lock.json
  package.json
  pages/package.json
Due: none

chore(release): 2.0.0-beta.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  site/package.json
Due: none

chore(esl-event-listener): code refactoring
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-event-listener/core/targets/wheel.target.ts
  src/modules/esl-utils/dom/scroll/parent.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(preview): fix isolated content rendering problems
  src/core/preview/preview.less
  src/core/preview/preview.tsx
  src/core/processors/templates.ts
  src/core/registration.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-popup): rework esl-popup styles to use CSS variables
  src/modules/esl-popup/core.less
  src/modules/esl-popup/core.mixin.less
  src/modules/esl-popup/core/esl-popup.less
  src/modules/esl-popup/core/esl-popup.mixin.less
Due: stylelint

style(site): update styles of share popup from header with CSS variables
  site/src/navigation/header/header.less
Due: stylelint

docs(site): presentation content in core section
  site/views/overview/02-core/04-Event Listener.njk
  site/views/overview/02-core/04-Utils.njk
  site/views/overview/02-core/05-Utils.njk
  site/views/overview/02-core/051-ESL Mega Query.njk
  site/views/overview/02-core/052-ESL Traversing Query.njk
  site/views/overview/02-core/053-Misc Utils.njk
Due: none

chore(site): add custom image ratio styles to uip editor
  site/src/image/image.less
  site/views/examples/image.njk
Due: stylelint

docs(site): draft ordering and ootb title rendering
  site/11ty/sort.filter.js
  site/views/_includes/presentation/sidebar.njk
  site/views/_layouts/presentation.njk
  site/views/overview/01-intro/00-intro.njk
  site/views/overview/01-intro/01-what-is.njk
  site/views/overview/01-intro/02-main-concepts.njk
  site/views/overview/01-intro/03-content.njk
  site/views/overview/01-intro/04-versions.njk
  site/views/overview/02-core/00-core.njk
  site/views/overview/02-core/01-Base Element.njk
  site/views/overview/02-core/02-Mixin Component.njk
  site/views/overview/02-core/03-Tag vs Attribute.njk
  site/views/overview/02-core/04-Event Listener.njk
  site/views/overview/02-core/05-0-Utils.njk
  site/views/overview/02-core/05-1-ESL Mega Query.njk
  site/views/overview/02-core/05-2-ESL Traversing Query.njk
  site/views/overview/02-core/05-3-Misc Utils.md
  site/views/overview/02-core/053-Misc Utils.njk
  site/views/overview/03-components/00-components.njk
  site/views/overview/04-compatibility/00-compatibility-alternatives.njk
  site/views/overview/05-stats-additions/00-stats.njk
  site/views/overview/06-outro/outro.njk
Due: none

style(esl-event-listener): simplify `wheel.target.ts` implementation
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): fix `wheel.target.ts` JS doc defaults
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): ootb ability to skip custom `longwheel` and `swipe` events in case of content scrolling (#2098)
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-event-listener/core/targets/wheel.target.ts
  src/modules/esl-utils/dom/scroll/parent.ts
  src/modules/esl-utils/dom/scroll/test/parent.test.ts
  src/modules/esl-utils/dom/scroll/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix a11y for carousel control
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-popup): update README with information about styles
  src/modules/esl-popup/README.md
Due: none

chore(release): 2.0.0-beta.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  site/package.json
Due: none

chore(site): update '@exadel-ui-playground' to v`2.0.0-beta.12`
  package-lock.json
  site/package.json
  site/src/localdev.ts
  site/src/ui-playground/ui-playground.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): initial isolated playground sources
  site/package.json
  site/src/localdev.less
  site/src/localdev.ts
  site/src/playground/export/lib.less
  site/src/playground/export/lib.ts
  site/src/playground/ui-playground.less
  site/src/playground/ui-playground.ts
  site/src/ui-playground/ui-playground.ts
  site/webpack.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): carousel touch plugin reworked to respect the most of conflict touch actions
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): apply comments spelling fixes
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): integrate ui-playground with `esl-alert` example
  site/views/examples/notification.njk
Due: none

chore(site): ui-playground integration for tabs component, basic configuration
  site/views/examples/tabs.njk
Due: none

refactor(esl-carousel): refactor touch plugin to have conditions chains separated
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): remove unused variable
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add alignment options for tabs
  site/views/examples/tabs.njk
Due: none

chore(site): remove redundant image styles import
  site/src/localdev.less
Due: stylelint

refactor(esl-carousel): touch plugin refactoring and tests
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
  src/modules/esl-carousel/test/common/esl-carousel.dummy.renderer.ts
  src/modules/esl-carousel/test/plugin/touch/esl-carousel.touch.mixin.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): refactor touch plugin conditions
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(swipe): fix swipe tests
  src/modules/esl-event-listener/test/targets/swipe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): replace usages of `--100vh` hack with dvh units
  site/src/localdev.ts
  site/src/navigation/sidebar/sidebar.less
  site/src/page/base-layout.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: add no value specified value fo slider setting
  src/plugins/settings/base-setting/base-setting.ts
  src/plugins/settings/slider-setting/slider-setting.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-popup): apply suggestions from the code review
  src/modules/esl-popup/README.md
Due: none

chore: change commit processing strategy to standard `conventionalcommits`
  .releaserc.yml
  CHANGELOG(legacy-4.0.0).md
  CHANGELOG.md
Due: none

chore(site): add proxy hack back
  site/src/localdev.ts
  site/src/navigation/sidebar/sidebar.less
  site/src/page/base-layout.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(site): add uip isolation for tabs
  site/views/examples/tabs.njk
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
