Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

feat(esl-utils): review esl-utils imports, create cumulative import
  src/modules/draft/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@c0f6f89e98b2f52d7d79a7bc197561335c8c13f2 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(alert): style alert for copy event
  pages/src/playground.ts
  src/core/base/root.less
  src/plugins/header/header.less
  src/plugins/header/header.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

fix(copy-icon): update icon sizes
  src/plugins/header/header.less
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-utils): create cumulative imports
  src/modules/esl-utils/async.ts
  src/modules/esl-utils/decorators.ts
  src/modules/esl-utils/dom.ts
  src/modules/esl-utils/environment.ts
  src/modules/esl-utils/fixes.ts
  src/modules/esl-utils/misc.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-utils): create cumulative imports
  src/modules/esl-utils/all.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): revert changes
  src/modules/draft/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): change imports for decorators
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(deps-dev): update common dev dependencies
  package-lock.json
  package.json
Due: none

refactor(esl-utils): change imports for decorators
  pages/src/anchor/anchor-link.ts
  pages/src/esl-media-demo/test-media-source.ts
  pages/src/esl-media-demo/test-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): change imports for decorators
  pages/src/landing/marquee/marquee.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): change imports for decorators
  pages/src/navigation/header/header-search.ts
  pages/src/navigation/sidebar/sidebar.ts
  pages/src/search/search.ts
  src/modules/draft/esl-carousel/core/esl-carousel.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/esl-a11y-group/core/esl-a11y-group.ts
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-animate/core/esl-animate-service.ts
  src/modules/esl-animate/core/esl-animate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): change imports for decorators
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-footnotes/core/esl-footnotes.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-item.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-list.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-wrapper.ts
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.ts
  src/modules/esl-forms/esl-select/core/esl-select-renderer.ts
  src/modules/esl-forms/esl-select/core/esl-select.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): change imports for decorators
  src/modules/esl-image/core/esl-image.ts
  src/modules/esl-media-query/core/esl-media-query.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-panel/core/esl-panel.ts
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
  src/modules/esl-tab/core/esl-tab.ts
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): change imports for decorators
  src/modules/esl-toggleable/core/esl-toggleable-dispatcher.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): change imports for decorators
  src/modules/esl-utils/decorators/test/prop.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(gh-pages): update style
  pages/src/common/badge.less
Due: stylelint, lintspaces -n -t -d spaces

chore(deps-dev): update `ts-jest` to v29.0.0
  package-lock.json
  package.json
Due: none

refactor(esl-utils): separate `esl-event-listeners` module
  pages/src/anchor/anchor-link.ts
  src/modules/esl-base-element/test/element.listener.test.ts
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/integration.test.ts
  src/modules/esl-event-listener/test/listener.test.ts
  src/modules/esl-event-listener/test/utils.test.ts
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
  src/modules/esl-utils/dom/events.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-event-listener): fix multiple subscription by single descriptor
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptor.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/integration.test.ts
  src/modules/esl-event-listener/test/listener.test.ts
  src/modules/esl-event-listener/test/utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: update ts-jest configuration (no globals config deprecation)
  jest.config.js
Due: none

Deploying to gh-pages from @ exadel-inc/esl@df4834729d8ad181cb2c24239a562fa98941d246 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(esl-event-listener): move `splitEventQ` to misc utils
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-utils/dom/events/misc.ts
  src/modules/esl-utils/dom/events/test/misc.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-event-listener): fix event listener props resolving strategy and uniqueness constraint
  src/modules/esl-event-listener/core/descriptor.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/integration.test.ts
  src/modules/esl-event-listener/test/listener.test.ts
  src/modules/esl-event-listener/test/subscribe.test.ts
  src/modules/esl-event-listener/test/unsubscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): empty subscription check improvement
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-event-listener): small website navigation fixes
  pages/views/core/esl-event-listener.njk
  pages/views/core/esl-event-utils.njk
  pages/views/core/esl-utils.njk
Due: lintspaces -n -t -d spaces

style: enable number leading zero linting
  .stylelintrc.yml
Due: none

style(gh-pages): remove number leadeing zeros
  pages/src/banner/banner.less
  pages/src/common/accordion.less
  pages/src/common/alert.less
  pages/src/common/badge.less
  pages/src/common/buttons.less
  pages/src/common/dropdown-menu.less
  pages/src/common/forms.less
  pages/src/common/helpers.less
  pages/src/common/markdown.less
  pages/src/common/reboot.less
  pages/src/common/tabs.less
  pages/src/common/typography.less
  pages/src/landing/marquee/marquee.less
  pages/src/landing/overview/overview.less
  pages/src/navigation/footer/footer.less
  pages/src/navigation/header/header-search.less
  pages/src/navigation/sidebar/sidebar-content.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-forms): remove number leadeing zeros
  src/modules/esl-forms/esl-select-list/core/esl-select-item.less
  src/modules/esl-forms/esl-select/core/esl-select-dropdown.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-popup): remove number leading zeros
  src/modules/esl-popup/core/esl-popup.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-image): remove number leadeing zeros
  src/modules/esl-image/core/esl-image-container.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-carousel): remove number leading zeros
  src/modules/draft/esl-carousel/plugin/esl-carousel-dots.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): update badges style
  pages/src/collection-grid/collection-grid.less
  pages/src/common/badge.less
  pages/src/common/colors.less
  pages/src/navigation/sidebar/sidebar-seccondary-nav.less
  pages/views/_includes/navigation/sidebar-item.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-event-listener): remove id from subscribers, cleanup internal API usage
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptor.ts
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(gh-pages): update badges style
  pages/src/common/badge.less
Due: stylelint, lintspaces -n -t -d spaces

feat(options): refactor option config styles
  src/plugins/editor/editor.less
  src/plugins/editor/editor.ts
  src/plugins/settings/settings.less
  src/plugins/settings/settings.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(options): fix option active state on inserting to dom
  src/plugins/header/options/option/option.ts
  src/plugins/header/options/options.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

test(esl-utils): `splitEvents` method covered with tests
  src/modules/esl-utils/dom/events/test/misc.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests
