Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

fix(esl-utils): fix `@decorate` decorator binding
  src/modules/esl-utils/decorators/decorate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(release): 4.0.0-beta.14
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  43/df5e6282d8ebc79774f5ccd794045229d78f5d
Due: none

chore: update package json
  package-lock.json
  package.json
Due: none

fix(esl-panel-group): change `no-animate` API
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style: small styles improvements for Settings items and Snippets
  src/plugins/header/snippets/snippets.less
  src/plugins/settings/settings.less
  src/settings/bool-setting/bool-setting.less
  src/settings/slider-setting/slider-setting.less
  src/settings/text-setting/text-setting.less
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@5c69ed8466230dcb4b404959256614430448ac57 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: pr fixes
  package-lock.json
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-panel-group): add `refresh-state` attribute
  pages/views/examples/tabs.njk
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

style(esl-panel-group): apply suggestion from code review
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-mixin-element): incorrect context applied for listener applied trough `$$on`
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-panel-group): apply suggestion from code review
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(deps-dev): update common dev dependencies
  package-lock.json
  package.json
Due: none

chore(gh-pages): revert 11ty version from 1.0.2 to 1.0.1
  package-lock.json
  package.json
Due: none

Revert "chore(gh-pages): revert 11ty version from 1.0.2 to 1.0.1"
  package-lock.json
  package.json
Due: none

chore(gh-pages): fix miss-replacing of trim filter
  pages/11ty/trim.filter.js
  pages/views/_includes/landing/blogs.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@f7437a8f300ee8bb9ccf390a4a45e4a31c67fc63 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: remove unnecessary code
  src/plugins/settings/setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-panel-group): rename attribute
  pages/views/examples/tabs.njk
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

test(esl-utils): refactor tests for `@bind` decorator
  src/modules/esl-utils/decorators/test/bind.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-panel-group): add attribute observation
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-panel-group): add `refresh-strategy` attribute (#1156)
  pages/views/examples/tabs.njk
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore: updates the version
  package.json
Due: none

chore(release): 1.0.0-beta.12 [skip ci]
  CHANGELOG.md
  package-lock.json
Due: none

refactor(esl-panel-group): esl-panel-group migrated to esl listener utility
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-avatar): initial implementation of avatar component
  src/modules/all.less
  src/modules/all.ts
  src/modules/esl-avatar/core.less
  src/modules/esl-avatar/core.ts
  src/modules/esl-avatar/core/esl-avatar.less
  src/modules/esl-avatar/core/esl-avatar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-panel-group): migrate all `esl-panel-group` listeners to ESLEventListener feature
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(setting): move disable logic to setter
  src/plugins/settings/setting.ts
  src/settings/bool-setting/bool-setting.ts
  src/settings/select-setting/select-setting.ts
  src/settings/slider-setting/slider-setting.ts
  src/settings/text-setting/text-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(options): add icon hiding/appearing on attribute change
  src/plugins/header/options/option/option.ts
  src/plugins/header/options/options.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-avatar): create examples page of ESL Avatar component
  pages/static/assets/avatar/transparent.png
  pages/static/assets/avatar/user.jpg
  pages/static/assets/avatar/user.png
  pages/static/assets/avatar/user.svg
  pages/views/examples/avatar.njk
Due: lintspaces -n -t -d spaces

docs(esl-avatar): add styles for ESL Avatar examples page
  pages/src/esl-avatar-demo/avatar-demo.less
  pages/src/localdev.less
  pages/src/localdev.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(options): fix map incorrect options map reinitialization
  src/plugins/header/options/options.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@75d5f23935332f3441a66eed7d501318bc68ebc3 🚀
  bundles/polyfill-full.js
  bundles/polyfill-full.js.map
  bundles/polyfill-light.js
  bundles/polyfill-light.js.map
  bundles/polyfill-medium.js
  bundles/polyfill-medium.js.map
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-panel-group): add `min-open-items`, `max-open-items` attributes
  pages/src/common/tabs.less
  pages/views/_includes/navigation/footer.njk
  pages/views/examples/accordion.njk
  pages/views/examples/nested-accordion.njk
  pages/views/examples/tabs.njk
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.less
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces
