Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

style(site): refactor treepath filter
  site/11ty/tree.filter.js
  site/views/_layouts/content.njk
Due: none

feat(esl-popup): add offset-trigger attribute
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-popup): update TSX shape with offset-trigger and position-origin attributes
  src/modules/esl-popup/core/esl-popup.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-popup): update README with new position-origin and offset-trigger attributes
  src/modules/esl-popup/README.md
Due: none

chore(uip-editor): move logic to uip-model
  src/core/base/model.storage.ts
  src/core/base/model.ts
  src/plugins/reset/reset-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): fix conflict of alignment classes, move definition to the main mixin
  site/views/examples/embedded-media.njk
  src/modules/esl-media/core/esl-media-container.less
  src/modules/esl-media/core/esl-media.less
Due: stylelint

deploy: 0171c608edcb0374bfeb68ca370d99094199b9bd
  README.md
  index.md
Due: none

feat(esl-toggleable): reimplementation of `focus-behaviour` to a11y mode
  site/views/draft/focus-management.njk
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core.ts
  src/modules/esl-toggleable/core/esl-toggleable-manager.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): move sidebar outside action condition to proper function
  site/src/navigation/sidebar/sidebar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): `_onOutsideAction` no longer part of ESLToggleable instance, now it's ESLToggleableManager responsibility
  site/views/draft/focus-management.njk
  src/modules/esl-toggleable/core/esl-toggleable-manager.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): true related opening chain check support for toggleables
  src/modules/esl-toggleable/core/esl-toggleable-manager.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(site): rename draft folder
  site/views/_data/sidebar.yml
  site/views/dev/accordion-regression.njk
  site/views/dev/carousel.11tydata.yml
  site/views/dev/carousel.njk
  site/views/dev/index.njk
  site/views/dev/nav-panels.njk
  site/views/dev/nested-accordion.njk
  site/views/dev/popup-game.njk
  site/views/dev/popup-scroll-parents.njk
  site/views/dev/popup-transition.njk
  site/views/dev/share-regression.njk
  site/views/dev/swipe-demo.njk
  site/views/dev/tabs-scrollable.njk
  site/views/dev/wheel-demo.njk
Due: none

style(site): change sidebar items conditions
  site/views/_includes/navigation/sidebar.njk
Due: none

feat(esl-utils): extend params for the `getKeyboardFocusableElements` with full `VisibilityOptions`
  src/modules/esl-utils/dom/focus.ts
  src/modules/esl-utils/dom/test/focus.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): rework ESLToggleableManger to produce `FocusIn` outside event actions trough main flow + fix initial focus task
  src/modules/esl-toggleable/core/esl-toggleable-manager.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-toggleable): fix `ESLToggleable` shape
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-toggleable): update README and TS doc for new property
  src/modules/esl-toggleable/README.md
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-toggleable): fix TS doc typos
  src/modules/esl-toggleable/core/esl-toggleable-manager.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: regular npm audit
  package-lock.json
Due: none

chore(uip-editor): get rid of cyclic dependency
  src/core/base/model.storage.ts
  src/core/base/model.ts
  src/core/base/root.ts
  src/plugins/reset/reset-button.less
  src/plugins/reset/reset-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(esl-toggleable): TS doc fixes
  src/modules/esl-toggleable/README.md
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(uip-editor): code refactoring
  src/plugins/reset/reset-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.42
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  e0b4da855fc7064c38d213822ea9f804cd7ee8c4
Due: none

chore(uip-editor): code refactoring
  src/core/base/model.change.ts
  src/core/base/model.ts
  src/core/base/root.ts
  src/core/base/source.d.ts
  src/core/base/state.storage.ts
  src/plugins/copy/copy-button.shape.ts
  src/plugins/copy/copy-button.ts
  src/plugins/editor/editor.tsx
  src/plugins/reset/reset-button.shape.ts
  src/plugins/reset/reset-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(uip-editor): code refactoring
  src/core/base/root.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 8388f453fb59d5b2a68270b8f3a4ca99f1e27309
  README.md
  index.md
Due: none

docs: migration guide update according actual state
  site/views/blogs/ESL v5.0.0 Migartion Guide.md
Due: none

docs: fix review comments
  site/views/blogs/ESL v5.0.0 Migartion Guide.md
Due: none

deploy: 374e6a9dd5d0ee9cfb8871628dec5ebc3aeaae4a
  README.md
  index.md
Due: none

chore(uip-editor): code refactoring
  src/core/base/source.ts
  src/core/base/state.storage.ts
  src/plugins/reset/reset-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(uip-editor): code refactoring
  src/core/base/state.storage.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-popup): introduce config prop for easily accessing params of popup
  src/modules/esl-popup/core.ts
  src/modules/esl-popup/core/esl-popup-types.ts
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-popup): add tests for popup config logic
  src/modules/esl-popup/test/esl-popup.config.test.ts
  src/modules/esl-popup/test/esl-popup.position-config.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: remove deprecated alias for ActionParams on ESLAlert, ESLPanel, ESLPopup, ESLTooltip
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-panel/core/esl-panel.ts
  src/modules/esl-popup/core/esl-popup-types.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): update snapshots (via GitHub Actions)
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

style(esl-popup): modify config definition and param keys
  src/modules/esl-popup/core/esl-popup-types.ts
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-popup/test/esl-popup.config.test.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-popup): update action param keys
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): make video unfocusable if `esl-media[role=presentation]`
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/providers/html5/media-provider.ts
  src/modules/esl-media/providers/iframe-provider.ts
  src/modules/esl-media/providers/youtube-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): introduce `isFocusable` getter instead of overriding `role` attribute in ESLMedia
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
