Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

docs(esl-line-clamp): provide examples for `ESLLineClampAlt` and `ESLLineClampToggler`
  packages/esl-website/src/site.ts
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl/src/esl-line-clamp/README.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-line-clamp): fix design flaw
  packages/esl-website/src/landing/newsline/newsline.less
  packages/esl-website/views/_includes/landing/newsline-item.njk
  packages/esl/src/esl-line-clamp/core.less
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-alt.less
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-alt.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-alt.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(site): newsline refactoring
  packages/esl-website/views/examples/esl-line-clamp.njk
Due: none

chore(esl-line-clamp): code refactoring
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-alt.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps-dev): replace `clean-css-cli` with `lightningcss-cli`
  package-lock.json
  package.json
  packages/esl-website/package.json
  packages/esl-website/project.json
Due: none

chore(deps-dev): apply suggestions from copilot review
  packages/esl-website/project.json
Due: none

chore: release v5.15.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update preview, core and snippets docs
  packages/esl-website/views/playground/basic/preview.njk
  packages/esl-website/views/playground/basic/snippets.njk
  packages/ui-playground/src/core/README.md
  packages/ui-playground/src/core/preview/README.md
  packages/ui-playground/src/plugins/snippets-list/README.md
  packages/ui-playground/src/plugins/snippets-title/README.md
  packages/ui-playground/src/plugins/snippets/README.md
Due: none

chore(esl-line-clamp): code refactoring
  packages/esl/src/esl-line-clamp/README.md
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-alt.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-toggler.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.less
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-alt.test.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-toggle.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(esl-line-clamp): code refactoring
  packages/esl-website/src/landing/newsline/newsline.less
  packages/esl-website/views/_includes/landing/newsline-item.njk
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-toggler.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-alt.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(esl-line-clamp): apply suggestions from code review
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl/src/esl-line-clamp/README.md
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-alt.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-toggler.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-alt.test.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-toggle.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(site): rendering blog list in descending order for side nav and page grid
  packages/esl-website/11ty/sort.filter.js
  packages/esl-website/views/_includes/navigation/collection-grid.njk
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/_layouts/collection-grid.njk
  packages/esl-website/views/blogs/index.njk
Due: none

chore(esl-line-clamp): code refactoring
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-toggler.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.less
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-toggle.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: npm audit update
  package-lock.json
Due: none

chore(site): browserslist support fixed
  packages/esl-website/project.json
Due: none

deploy: f38c0f379cca3da5473ac75c9e453b37fb9d3e19
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  index.md
Due: none

chore: update actual browserslist query
  packages/esl-website/.browserslistrc
  packages/esl/.browserslistrc
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

fix(site): sort blog sidebar by date with limited items and tail link
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/blogs/index.njk
Due: none

fix(site): keep active blog visible in limited sidebar list
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
Due: none

fix(site): refactor sidebar item rendering logic
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
Due: none

fix(site): enhance sort filter to handle array of fields and improve sidebar item logic
  packages/esl-website/11ty/sort.filter.js
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
Due: none

chore: add Snyk config file
  .snyk
Due: none

chore(esl-line-clamp): add media query tests
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-alt.test.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: remove redundant config
  .snyk
Due: none

chore(site): homepage newsline `Read More` button
  packages/esl-website/src/landing/newsline/newsline.less
  packages/esl-website/views/_includes/landing/newsline-item.njk
Due: stylelint

ci: remove snyk ignore file
  .github/workflows/snyk.yml
  .snyk
Due: none

ci: add Snyk security scan to PR workflow (#3466)
  .github/workflows/snyk.yml
Due: none

chore: update snyk CI workflow
  .github/workflows/snyk.yml
Due: none

chore: exclude some minor mobile browsers that out of our target audience
  packages/esl-website/.browserslistrc
  packages/esl/.browserslistrc
Due: none

test(esl-line-clamp): update with media query tests
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-alt.test.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-line-clamp): fix resubscribing after media query change
  packages/esl/src/esl-line-clamp/core/esl-line-clamp-alt.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: optimaze snyk workflow
  .github/workflows/snyk.yml
Due: none

chore: optimize snyk workflow (#3539)
  .github/workflows/snyk.yml
Due: none

chore(site): apply suggestion from code review
  packages/esl-website/views/_includes/landing/newsline-item.njk
Due: none

chore: update workflows to use Node 24 env
  .github/workflows/commit.yml
  .github/workflows/e2e.yml
  .github/workflows/release-github.yml
  .github/workflows/release-npm.yml
  .github/workflows/release-pr.yml
  .github/workflows/site.yml
  .github/workflows/snyk.yml
  .github/workflows/validate.yml
Due: none

chore: release v6.0.0-beta.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: c486398fdd527cb7fbb9e556171cbffa6fa24a1e
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  index.md
Due: none
