Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore: update package json and tsconfig json
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix(esl-scrollbar): remove meta declaration `@listen`
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@2110d7c5c401b2c9b09947f337fb9dd377a8862f 🚀
  bundles/localdev.css.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@d50e2bbe2211a58271226ae83231428a29b6830d 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(esl-share): add static register() method to register the action
  pages/src/localdev.ts
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/core/esl-share-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@d50e2bbe2211a58271226ae83231428a29b6830d 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(editor): move ace only related logic to separate module
  src/plugins/async-plugins.ts
  src/plugins/editor/ace/ace-editor.ts
  src/plugins/editor/ace/utils.ts
  src/plugins/editor/editor.ts
  src/plugins/registration.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-share): create URL generic action
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/url-generic-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-share): create mail action
  pages/src/localdev.ts
  pages/static/assets/share/config.json
  src/modules/esl-share/actions/mail-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-share): update Readme
  src/modules/esl-share/README.md
Due: none

refactor(esl-share): update copy action
  src/modules/esl-share/actions/copy-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(editor): wrap overflowing lines
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-utils): simplified memoize clear as array
  src/modules/esl-utils/decorators/memoize.ts
  src/modules/esl-utils/decorators/test/memoize.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-utils/decorators/memoize.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-utils): update viewport check and tests
  src/modules/esl-utils/dom/test/traversing.test.ts
  src/modules/esl-utils/dom/test/visible.test.ts
  src/modules/esl-utils/dom/traversing.ts
  src/modules/esl-utils/dom/visible.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-utils): add ::visible traversing filter
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@43b478aefff97ead49ca5d8368e67441ea6edded 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(esl-utils): add ability to pass multiple memoized props to clear at once
  src/modules/esl-utils/decorators/memoize.ts
  src/modules/esl-utils/decorators/test/memoize.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: fix validate workflow badge in README.md
  README.md
Due: none

fix(esl-scrollbar): fix visibility and size of scroll at start
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@ad61c2dbb8cac9ee6b3f35657e16cf6cf42da3a4 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(esl-utils): code refactoring
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
  src/modules/esl-utils/dom/api.ts
  src/modules/esl-utils/dom/rect.ts
  src/modules/esl-utils/dom/test/rect.test.ts
  src/modules/esl-utils/dom/test/visible.test.ts
  src/modules/esl-utils/dom/traversing.ts
  src/modules/esl-utils/dom/visible.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-scrollbar): update comment
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-scrollbar): fix visibility and size of scroll at start (#1369)
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@3f58aacda313cc0a55562a4085a4e15db8b1d480 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@3f58aacda313cc0a55562a4085a4e15db8b1d480 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(release): 4.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4b/fe29cbcfd5608c2f4883fed1d1ca728563737c
Due: none

feat(editor): editor height matches content
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(eslint): create custom rule for deprecated alias
  .eslintrc.yml
  eslint/base-rules/deprecated-alias.js
  eslint/index.js
  eslint/rules/deprecated/traversing-query.js
  eslint/test/deprecated-alias.test.js
  jest.config.js
  package.json
Due: none

feat(eslint): add `package-lock`
  package-lock.json
Due: none

Deploying to gh-pages from @ exadel-inc/esl@4bfe29cbcfd5608c2f4883fed1d1ca728563737c 🚀
  bundles/localdev.css.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(esl-utils): code refactoring
  src/modules/esl-utils/dom/api.ts
  src/modules/esl-utils/dom/rect.ts
  src/modules/esl-utils/dom/test/rect.test.ts
  src/modules/esl-utils/dom/test/traversing.test.ts
  src/modules/esl-utils/dom/test/visible.test.ts
  src/modules/esl-utils/dom/traversing.ts
  src/modules/esl-utils/dom/visible.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@4bfe29cbcfd5608c2f4883fed1d1ca728563737c 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces
