Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

chore(esl-media-query): update internal types to the proper view
  packages/esl/src/esl-media-query/core/conditions/media-query-base.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-negation.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): resolve watch mode issues for njk file changes
  packages/esl-website/11ty/watch.targets.js
Due: none

chore: fix major issues with dev flow (watch, dependencies, legacy fixes)
  package-lock.json
  package.json
  packages/esl-website/.eleventy.js
  packages/esl-website/11ty/watch.targets.js
  packages/esl-website/project.json
  packages/esl/project.json
  packages/ui-playground/project.json
Due: none

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-desktop-linux.png
Due: none

chore: npm audit fix
  package-lock.json
Due: none

feat: ootb AI skills for @exadel/esl core module
  AGENTS.md
  docs/DEVELOPMENT.md
  packages/esl/README.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/skills/esl/references/esl-core.md
  packages/esl/skills/esl/references/esl-review.md
Due: none

test: basic validation step for skills
  packages/esl/project.json
  packages/esl/scripts/validate-skill.mjs
Due: none

chore(site): fix site result build due to swc loader specific
  packages/esl-website/src/autofocus/autofocus-mixin.ts
  packages/esl-website/src/banner/banner.ts
  packages/esl-website/src/esl-popup/esl-d-popup-game.ts
  packages/esl-website/src/landing/marquee/marquee.ts
  packages/esl-website/src/landing/newsline/newsline.ts
  packages/esl-website/src/navigation/header/header-search.ts
  packages/esl-website/src/navigation/sidebar/sidebar.ts
  packages/esl-website/src/skills/skill-copy.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): rework main build pipeline for skills
  packages/esl-website/.eleventy.js
  packages/esl-website/11ty/watch.targets.js
  packages/esl-website/rspack.config.js
  skills/esl-core.md
  skills/esl-review.md
Due: none

chore(site): rework skill page
  packages/esl-website/src/page/base-layout.less
  packages/esl-website/src/skills/skills.less
  packages/esl-website/static/assets/sidebar/ai.svg
  packages/esl-website/views/_data/skills.yml
  packages/esl-website/views/ai-skills/index.njk
Due: stylelint

chore(site): add ability to download skill archive from the page
  package-lock.json
  packages/esl-website/package.json
  packages/esl-website/project.json
  packages/esl-website/scripts/build-skill-archive.mjs
  packages/esl-website/src/skills/skills.less
  packages/esl-website/views/ai-skills/index.njk
Due: stylelint

chore(site): add frontmater ignore plugin for markdown-it
  packages/esl-website/11ty/markdown.frontmater.lib.js
  packages/esl-website/11ty/markdown.lib.js
  packages/esl-website/views/ai-skills/index.njk
Due: none

chore: replace skill linting with an abstract MD+FM lint
  package-lock.json
  package.json
  packages/esl/project.json
  packages/esl/scripts/lint-md.mjs
  packages/esl/scripts/validate-skill.mjs
Due: none

style: small typos fix
  packages/esl-website/11ty/markdown.frontmatter.lib.js
  packages/esl-website/11ty/markdown.lib.js
  packages/esl-website/src/skills/skill-copy.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-mobile-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-mobile-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-hamburger-mobile-linux.png
Due: none

chore(site): simplify skills archive build
  package-lock.json
  packages/esl-website/package.json
  packages/esl-website/project.json
  packages/esl-website/scripts/build-skill-archive.mjs
  packages/esl-website/views/_data/skills.yml
Due: none

chore(site): fix `npx skills` command sample
  packages/esl-website/views/_data/skills.yml
  packages/esl/README.md
Due: none

chore: add skill version metadata and build process to update it
  packages/esl/project.json
  packages/esl/scripts/update-lib-version.mjs
  packages/esl/skills/esl/SKILL.md
Due: none

chore: update post-version build script
  packages/esl/project.json
  packages/esl/scripts/post-version.mjs
Due: none

chore: fix fluky test
  packages/esl/src/test/timer.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix git add command path
  packages/esl/scripts/post-version.mjs
Due: none

chore: update `js-yaml` to v5 + replace `yaml` validation deps with `js-yaml@5`
  package-lock.json
  package.json
  packages/esl-website/11ty/site.config.js
  packages/esl-website/11ty/yml.support.js
  packages/esl-website/package.json
  packages/esl/scripts/lint-md.mjs
Due: none

chore: update `js-yaml` to v5.1.0
  package-lock.json
  package.json
Due: none

chore: add release 6.2.0 public release notes
  packages/esl-website/views/blogs/ESL v6.2.0.md
Due: none

chore(site): fix missing news-line functionality
  packages/esl-website/src/landing/newsline/newsline.less
  packages/esl-website/src/landing/newsline/newsline.ts
  packages/esl-website/views/_includes/landing/newsline-item.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

test(e2e): update playwright snapshots (via GitHub Actions)
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.full.visual.spec.ts-snapshots/Homepage-visual-homepage-screen-1-mobile-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-desktop-linux.png
  packages/esl-website-e2e/tests/homepage.nav.visual.spec.ts-snapshots/homepage-footer-mobile-linux.png
Due: none

chore: release v6.2.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps): handle css files through job-ripper
  package.json
  packages/esl/project.json
  packages/esl/worker/css.mjs
  packages/esl/worker/less.mjs
  packages/esl/worker/style-worker.mjs
Due: none

feat(esl-animate): add media query based condition to disable animation
  packages/esl-website/views/examples/animate.njk
  packages/esl/src/esl-animate/README.md
  packages/esl/src/esl-animate/core/esl-animate-animations.less
  packages/esl/src/esl-animate/core/esl-animate-service.ts
  packages/esl/src/esl-animate/core/esl-animate.shape.ts
  packages/esl/src/esl-animate/core/esl-animate.ts
  packages/esl/src/esl-animate/test/animate.element.test.ts
  packages/esl/src/esl-animate/test/animate.service.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-animate): simplify observe logic at the start
  packages/esl/src/esl-animate/core/esl-animate-animations.less
  packages/esl/src/esl-animate/core/esl-animate-service.ts
  packages/esl/src/esl-animate/test/animate.service.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(esl-animate): fix example and service subscription engine
  packages/esl-website/views/examples/animate.njk
  packages/esl/src/esl-animate/core/esl-animate-service.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: regular npm audit fixes
  package-lock.json
Due: none

chore(esl-animate): fix API and other review notes
  packages/esl/src/esl-animate/core/esl-animate-service.ts
  packages/esl/src/esl-animate/core/esl-animate.shape.ts
  packages/esl/src/esl-animate/core/esl-animate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-animate): fix older API check modification is incorrect
  packages/esl/src/esl-animate/test/animate.service.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-animate): optimization and bugfix
  packages/esl/src/esl-animate/core/esl-animate-service.ts
  packages/esl/src/esl-animate/core/esl-animate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-animate): revisit documentation text
  packages/esl/src/esl-animate/README.md
Due: none

chore: release v6.3.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update module + moduleResolution configuration to comply with TS7
  packages/esl-website-e2e/tsconfig.json
  packages/esl-website/tsconfig.json
  packages/esl/tsconfig.json
  packages/ui-playground/tsconfig.json
Due: none

chore: add missing mkdirp package
  package-lock.json
  package.json
Due: none

feat(esl-sticky-box): introduce component to track sticky state of element with sticky positioning
  .commitlintrc.yml
  packages/esl/src/all.less
  packages/esl/src/all.ts
  packages/esl/src/esl-sticky-box/core.less
  packages/esl/src/esl-sticky-box/core.ts
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.less
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.shape.ts
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.ts
  packages/esl/src/types/jsx.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint
