Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: update dependencies to use exactly 9th version of eslint
  package-lock.json
  package.json
Due: none

chore: remove related `.eslintignore`
  e2e/.eslintignore
  e2e/jest-puppeteer.config.js
  linting/eslint.config.ignore.js
Due: none

chore: temporary disable validation for subpackages
  e2e/package.json
  eslint/package.json
Due: none

chore(deps): small changes of rules files structure
  linting/eslint.config.coderules.js
  linting/eslint.config.coderules.rules.yml
  linting/eslint.config.codestyle.js
  linting/eslint.config.codestyle.rules.yml
  linting/eslint.config.import.js
  linting/eslint.config.import.rules.yml
  linting/eslint.config.stylistic.js
  linting/eslint.config.stylistic.rules.yml
Due: none

chore: fix ignore config
  linting/eslint.config.ignore.js
Due: none

style(deps): fix import config
  linting/eslint.config.import.js
Due: none

style(deps): return test script for e2e module
  e2e/package.json
Due: none

chore: reset package-lock and update some common dependencies
  package-lock.json
  package.json
Due: none

Merge remote tracking branch 'main-beta' into 'tech/eslint-rules'
  .eslintignore
  .eslintrc.yml
  linting/eslint.config.ignore.js
  package-lock.json
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps): remove unused directives
  src/modules/esl-media/providers/youtube-provider.ts
  src/modules/esl-utils/async/debounce.ts
  src/modules/esl-utils/async/throttle.ts
  src/polyfills/list/dom.event.keyboard.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: move yml files to js
  linting/eslint.config.coderules.js
  linting/eslint.config.coderules.rules.yml
  linting/eslint.config.codestyle.js
  linting/eslint.config.codestyle.rules.yml
  linting/eslint.config.import.js
  linting/eslint.config.import.rules.yml
  linting/eslint.config.sonarjs.js
  linting/eslint.config.sonarjs.rules.yml
  linting/eslint.config.stylistic.js
  linting/eslint.config.stylistic.rules.yml
  linting/eslint.config.utils.js
Due: none

style(esl-anchornav): rename props
  src/modules/esl-anchornav/core/esl-anchornav-sticked.ts
  src/modules/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-anchornav): update README
  src/modules/esl-anchornav/README.md
Due: none

style(esl-anchornav): create jsx tag shape
  src/modules/esl-anchornav/core/esl-anchornav.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-lazy-template): refactor viewport definition
  site/src/esl-lazy-template-demo/distance-to-viewport-alert.ts
  site/src/site.ts
  src/modules/esl-lazy-template/core/esl-lazy-template.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-lazy-template): update README
  src/modules/esl-lazy-template/README.md
Due: none

chore: make dependabot open updates to the `main-beta` branch before 5th release
  .github/dependabot.yml
Due: none

style(deps): apply suggestions from code review
  linting/eslint.config.sonarjs.js
Due: none

chore(e2e): code refactoring
  e2e/reporters/reporter.js
  e2e/setup/scenarios.screenshot.ts
  e2e/setup/serializers/image.ts
  e2e/setup/serializers/image/diff-builder.ts
  e2e/setup/serializers/image/image-processor.ts
  e2e/setup/serializers/image/sharp.ts
  e2e/setup/serializers/image/snapshot-matcher.ts
  e2e/setup/serializers/image/utils/directory.ts
  e2e/setup/serializers/image/utils/string.ts
  e2e/tests/__image_snapshots__/feature-homepage-looks-fine-test-homepage-footer-on-desktop.webp
  e2e/tests/__image_snapshots__/feature-homepage-looks-fine-test-homepage-footer-on-mobile.webp
  e2e/tests/__image_snapshots__/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.webp
  e2e/tests/__image_snapshots__/feature-homepage-looks-fine-test-homepage-screen-on-mobile.webp
  e2e/tests/__image_snapshots__/feature-homepage-looks-fine-test-homepage-screen.webp
  e2e/tests/__image_snapshots__/feature-test-page-looks-fine-test-page-screen.webp
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen.jpg
  e2e/tests/__image_snapshots__/test-feature-feature-test-page-looks-fine-test-page-screen.jpg
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): refactor sanitize function
  e2e/setup/serializers/image/image-processor.ts
  e2e/setup/serializers/image/utils/name.ts
  e2e/setup/serializers/image/utils/string.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(plugin-panel): fix icons visibility
  src/core/panel/plugin-panel.header.less
  src/core/panel/plugin-panel.tsx
  src/plugins/settings/settings.icon.tsx
  src/plugins/settings/settings.less
Due: stylelint

chore: update webpack to v5.94.0, fix eslint subpackage dependencies
  eslint/package.json
  package-lock.json
  site/package.json
Due: none

chore: remove dependencies from @typescript-eslint
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

chore: update typescript-eslint to v8.5.0
  linting/eslint.config.language.js
  package-lock.json
  package.json
Due: none

chore(e2e): code refactoring
  e2e/jest.config.js
  e2e/reporters/printers.js
  e2e/reporters/reporter.js
  e2e/setup/serializers/image-snapshot.matcher.ts
  e2e/setup/serializers/image-snapshot.pocessor.ts
  e2e/setup/serializers/image-snapshot.sharp.ts
  e2e/setup/serializers/image-snapshot.ts
  e2e/setup/serializers/image/diff-builder.ts
  e2e/setup/serializers/image/image-processor.ts
  e2e/setup/serializers/image/utils/directory.ts
  e2e/setup/serializers/image/utils/name.ts
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  e2e/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
  e2e/tests/__image_snapshots__/test.feature/feature-test-page-looks-fine-test-page-screen.jpg
  e2e/utils/directory.d.ts
  e2e/utils/directory.js
  e2e/utils/image-snapshot.name.d.ts
  e2e/utils/image-snapshot.name.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): code refactoring
  e2e/utils/directory.js
Due: none

chore(e2e): add name in statBase back
  e2e/reporters/reporter.js
Due: none

chore(e2e): code refactoring
  e2e/setup/serializers/image-snapshot.composer.ts
  e2e/setup/serializers/image-snapshot.matcher.ts
  e2e/setup/serializers/image-snapshot.pocessor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(e2e): small test report renderer fix
  e2e/reporters/printers.js
Due: none

chore(e2e): add peer deps to site module
  e2e/package.json
  package-lock.json
Due: none

deploy: 139b891949c128f826304d452b8e1ca49926a387
  README.md
  feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.webp
  feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.webp
  feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.webp
  feature-homepage-looks-fine-test-homepage-screen-diff.webp
  feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.webp
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

chore: temporary fix `conventional-changelog-conventionalcommits` sub-dependency
  package-lock.json
  package.json
Due: none

deploy: 4cd08cdb5f1c2e1787b26bd95cccec91efeaf11a
  README.md
  index.md
Due: none

deploy: 6c68f10fa440e431d9b3b3a70bf900202dac8da5
  README.md
  index.md
Due: none

feat(esl-drag-to-scroll): create mixin to enable drag-to-scroll functionality
  .commitlintrc.yml
  site/site.yml
  site/src/site.ts
  site/views/components/esl-drag-to-scroll.njk
  site/views/examples/esl-drag-to-scroll.njk
  src/modules/all.less
  src/modules/all.ts
  src/modules/esl-drag-to-scroll/README.md
  src/modules/esl-drag-to-scroll/core.less
  src/modules/esl-drag-to-scroll/core.ts
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.less
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(site): update image for Drag to Scroll component
  site/static/assets/examples/drag-to-scroll.svg
  site/views/examples/esl-drag-to-scroll.njk
Due: none

refactor(esl-drag-to-scroll): fix unsubscribe behavior
  site/static/assets/examples/drag-to-scroll.svg
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-drag-to-scroll): docs update
  src/modules/esl-drag-to-scroll/README.md
Due: none

refactor(esl-drag-to-scroll): update configuration merge
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
