Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

style(esl-utils): apply suggestions from code review
  src/modules/esl-utils/decorators/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): apply suggestion from code review
  src/modules/esl-utils/decorators/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): apply suggestions from code review
  src/modules/esl-utils/decorators/test/attr.test.ts
  src/modules/esl-utils/dom/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix support for any object-like host
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/listener.subscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix argument list on next fn call
  src/modules/esl-utils/async/microtask.ts
  src/modules/esl-utils/async/test/microtask.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): split test cases
  src/modules/esl-utils/async/test/microtask.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): ootb ability to skip custom `longwheel` and `swipe` events in case of content scrolling (#2098)
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-event-listener/core/targets/wheel.target.ts
  src/modules/esl-utils/dom/scroll/parent.ts
  src/modules/esl-utils/dom/scroll/test/parent.test.ts
  src/modules/esl-utils/dom/scroll/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-trigger): improve TSDoc for `hoverShowDelay`/`hoverHideDelay`
  src/modules/esl-trigger/core/esl-base-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(lint): restructure eslint module rules, simplify usage
  .eslintrc.yml
  eslint/src/index.ts
  eslint/src/rules/4/all.rules.ts
  eslint/src/rules/5/all.rules.ts
  eslint/src/rules/5/deprecated.alert-action-params.ts
  eslint/src/rules/5/deprecated.panel-action-params.ts
  eslint/src/rules/5/deprecated.popup-action-params.ts
  eslint/src/rules/5/deprecated.tooltip-action-params.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(patch): fix npm prepare didn't complete for npm pack command
  package.json
Due: none

chore: add `patch` as a valid commit scope
  .commitlintrc.yml
Due: none

fix(esl-share): fix merging of `additional`(nested) params when `ESLShareConfig.update` method is called
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/test/esl-share-config.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-share): rename copy action `alertText` param to `copyAlertMsg`
  src/modules/esl-share/README.md
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/buttons/copy.ts
  src/modules/esl-share/test/actions/copy-action.test.ts
  src/modules/esl-share/test/esl-share-button.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): update variable naming
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix active/prev/next markers calculation
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: remove outdated example page
  site/views/draft/multi-carousel.njk
Due: none

chore: temporary remove `css.renderer`
  site/views/draft/carousel.css.njk
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: make site version show actual used esl core version
  site/11ty/env.config.js
Due: none

style(esl-carousel): apply cosmetic updates from code review
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix clearing of the memoized `*Rules` properties of `esl-carousel`
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-carousel): `ESLCarouselRenderer` base class tests
  src/modules/esl-carousel/test/core/esl-carousel.nav.test.ts
  src/modules/esl-carousel/test/core/esl-carousel.renderer.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix: update horizontal editor animation
  src/core/panel/plugin-panel.horizontal.less
  src/plugins/editor/editor.less
Due: stylelint

chore: fix duplicated `sideEffects` path
  package.json
Due: none

refactor(esl-carousel): add missing TSDoc, some small utils simplifications
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): review suggestions for `esl-carousel.nav.dots.ts`
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): promo release notes `4.16.0` for site newsline
  site/views/blogs/ESL v4.16.0.md
Due: none

chore(site): increase limit of the newsline block for the current state
  site/views/index.11tydata.yml
Due: none

chore(site): some small fies in 4.15.0 article for consistency
  site/views/blogs/ESL v4.15.0.md
Due: none

refactor(esl-carousel): rename slide change events
  src/modules/esl-carousel/core/esl-carousel.events.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): fix points found during review
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.less
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): refactor subscription actions of `ESLCarouselTouchPlugin`
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: update spelling and a little bit rephrase public release
  site/views/blogs/ESL v4.16.0.md
Due: none

chore(release): 4.16.0
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  fab169aee8b1554226e12cb33b4fb8c093b5e7d6
Due: none

docs(esl-carousel): fix TSDoc on `esl-carousel.nav.mixin`
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): replace confusing flexbox as a slide layout by default
  src/modules/esl-carousel/core/esl-carousel.less
Due: stylelint

feat(esl-carousel): rework `ESLCarouselNavDots` plugin, improve a11ty
  site/views/examples/carousel.njk
  src/modules/esl-carousel/all.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/plugin/dots/README.md
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.less
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: move display grid to plugin panel and update settings
  src/core/panel/plugin-panel.horizontal.less
  src/plugins/editor/editor.less
  src/plugins/settings/settings.less
Due: stylelint

feat(esl-event-listener): separate intersection events
  src/modules/esl-event-listener/core/targets/intersection.event.ts
  src/modules/esl-event-listener/core/targets/intersection.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
