Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

feat(swipe-target): refactor - move ESLSwipeGestureEvent to separate instance
  src/modules/esl-event-listener/core/targets/swipe.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): refactor - remove redundant properties
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-toggleable): remove mock
  src/modules/esl-toggleable/test/toggleable.integration.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): move threshold resolving to separate helper function `resolveCSSSize`
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-utils/dom/test/units.test.ts
  src/modules/esl-utils/dom/units.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-toggleable): tests refactoring
  src/modules/esl-toggleable/test/toggleable.dispatcher.integration.test.ts
  src/modules/esl-toggleable/test/toggleable.dispatcher.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-toggleable): uncomment test
  src/modules/esl-toggleable/test/toggleable.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: pr fixes Co-authored-by: yadamskaya <48826082+yadamskaya@users.noreply.github.com>
  src/plugins/header/header.tsx
  src/plugins/header/options/option/option.tsx
  src/plugins/settings/settings.tsx
  src/settings/bool-setting/bool-setting.tsx
  src/settings/slider-setting/slider-setting.tsx
  src/settings/text-setting/text-setting.tsx
Due: none

feat: pr fixes
  src/plugins/header/snippets/snippets.tsx
Due: none

feat(swipe-target): refactor, cosmetic changes
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-utils/dom/units.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(editor): inline dark-theme styles
  src/plugins/editor/README.md
  src/plugins/editor/editor.less
  src/plugins/editor/editor.tsx
  src/plugins/editor/jar/jar-editor.less
  src/plugins/editor/jar/jar-utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

test(esl-trigger): module tests
  src/modules/esl-toggleable/test/toggleable.mock.ts
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
  src/modules/esl-trigger/test/esl-trigger.events.test.ts
  src/modules/esl-trigger/test/esl-trigger.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-trigger): tests refactoring
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
  src/modules/esl-trigger/test/esl-trigger.events.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-trigger): tests refactoring
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: pr fixes
  src/plugins/header/header.tsx
  src/plugins/settings/settings.tsx
Due: none

refactor(esl-modal): create modal-backdrop custom element
  pages/src/localdev.ts
  src/modules/esl-modal/core.ts
  src/modules/esl-modal/core/esl-modal-backdrop.ts
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): Fix variables usage, rename method
  src/modules/esl-utils/misc/uid.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-traversing-query): improve documentation for esl-traversing-query
  src/modules/esl-traversing-query/README.md
Due: none

refactor(esl-modal): add placeholder support
  pages/src/localdev.ts
  src/modules/esl-modal/core.ts
  src/modules/esl-modal/core/esl-modal-placeholder.ts
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix: fix dropdown control dark theme coloring
  src/plugins/header/options/option/theme.less
Due: stylelint, lintspaces -n -t -d spaces

fix: pr fixes
  src/plugins/settings/settings.tsx
Due: none

feat(swipe-target): refactor, remove duplicated logic
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): `resolveCSSSize` tests update
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-utils/dom/test/units.test.ts
  src/modules/esl-utils/dom/units.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: change jsx-dom version
  package-lock.json
  package.json
Due: none

refactor(esl-share): refactor ESLShareConfig
  src/modules/esl-share/config/blogger.json
  src/modules/esl-share/config/copy.json
  src/modules/esl-share/config/default.json
  src/modules/esl-share/config/facebook.json
  src/modules/esl-share/config/hatena.json
  src/modules/esl-share/config/kakao.json
  src/modules/esl-share/config/line.json
  src/modules/esl-share/config/linkedin.json
  src/modules/esl-share/config/mail.json
  src/modules/esl-share/config/mix.json
  src/modules/esl-share/config/mixi.json
  src/modules/esl-share/config/myspace.json
  src/modules/esl-share/config/native-share.json
  src/modules/esl-share/config/pinterest.json
  src/modules/esl-share/config/print.json
  src/modules/esl-share/config/pusha.json
  src/modules/esl-share/config/reddit.json
  src/modules/esl-share/config/sina-weibo.json
  src/modules/esl-share/config/telegram.json
  src/modules/esl-share/config/twitter.json
  src/modules/esl-share/config/wykop.json
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): `isPlainObject` and `isElement` type guard utilities
  src/modules/esl-utils/misc/object/test/types.test.ts
  src/modules/esl-utils/misc/object/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix support of separate DOM realms for `resolveDomTarget`
  src/modules/esl-utils/abstract/dom-target.ts
  src/modules/esl-utils/abstract/test/dom-target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix support of separate DOM realms for `ESLEventListener`
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): update `esl-media` refresh handler to use consistent `isElement` check
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-scrollbar): update `esl-scrollbar` to use consistent `isElement` check on refresh and mutation observation
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-trigger): update `esl-trigger` to use consistent `isElement` check in `isTargetIgnored` check
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix support of separate DOM realms for `getScrollParent`
  src/modules/esl-utils/dom/scroll/parent.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix types and Element check for `isVisible` predicate (support of separate DOM realms)
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-utils/dom/visible.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): improve `isPlainObject` method performance
  src/modules/esl-utils/misc/object/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 1.1.0-beta.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs(swipe-target): fix mistype
  src/modules/esl-event-listener/core/targets/swipe.event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): rework esl-share-button custom element API
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): update share buttons creating
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): update actions with new share buttons api
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/core/esl-share-action-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): update share icons styles
  src/modules/esl-share/core/esl-share-button.less
Due: stylelint, lintspaces -n -t -d spaces

docs(esl-share): update esl-share example page
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces
