Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

style(esl-line-clamp): update and fix default mask logic
  packages/esl-website/src/site.ts
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl/src/esl-line-clamp/README.md
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-line-clamp): fix typo and inconsistencies
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl/src/esl-line-clamp/README.md
Due: none

chore: release v5.12.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media-query): add an empty ruleset `ESLMediaRuleList.EMPTY`, update error message and type for `parse` and `parseTuple`
  packages/esl/src/esl-media-query/core/esl-media-rule-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): add `@safe` decorator for error handling with fallback support
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-element.ts
  packages/esl/src/esl-utils/abstract/component.ts
  packages/esl/src/esl-utils/decorators.ts
  packages/esl/src/esl-utils/decorators/safe.ts
  packages/esl/src/esl-utils/decorators/test/safe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): improve error handling for media query based params
  packages/esl/src/esl-carousel/core/esl-carousel.ts
  packages/esl/src/esl-carousel/plugin/esl-carousel.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-line-clamp): improve error handling for media query based params
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): strict types for safe decorator
  packages/esl/src/esl-carousel/core/esl-carousel.ts
  packages/esl/src/esl-carousel/plugin/esl-carousel.plugin.ts
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
  packages/esl/src/esl-media-query/core/esl-media-rule-list.ts
  packages/esl/src/esl-utils/decorators/safe.ts
  packages/esl/src/esl-utils/decorators/test/safe.test-d.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): normalize `$$error` signature
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-element.ts
  packages/esl/src/esl-utils/abstract/component.ts
  packages/esl/src/esl-utils/decorators/safe.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-media-query): optimize empty factory implementation + add tests
  packages/esl/src/esl-media-query/core/esl-media-rule-list.ts
  packages/esl/src/esl-media-query/test/esl-media-rule-list.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): add missing async and void method tests
  packages/esl/src/esl-utils/decorators/safe.ts
  packages/esl/src/esl-utils/decorators/test/safe.test-d.ts
  packages/esl/src/esl-utils/decorators/test/safe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): playground demo logo update
  packages/esl-website/src/playground/ui-playground-landing.less
  packages/esl-website/src/site.less
  packages/esl-website/static/assets/sidebar/playground.svg
  packages/esl-website/views/_layouts/content.njk
  packages/esl-website/views/playground/index.njk
Due: stylelint

refactor(site): playground home page
  packages/esl-website/src/common/playground.less
  packages/esl-website/src/site.less
  packages/esl-website/static/assets/playground-logo.svg
  packages/esl-website/static/assets/sidebar/playground.svg
  packages/esl-website/views/_layouts/content.njk
  packages/esl-website/views/playground/index.11tydata.yml
  packages/esl-website/views/playground/index.njk
Due: stylelint

chore(site): add playground animated logo
  docs/PLAYGROUND.md
  docs/PLAYGROUND_INTRO.md
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/_layouts/content.njk
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/index.njk
  packages/esl-website/views/playground/introduction.njk
Due: none

refactor(site): remove unused tags
  packages/esl-website/views/components/index.njk
  packages/esl-website/views/core/index.njk
  packages/esl-website/views/playground/components/core.njk
  packages/esl-website/views/playground/components/direction.njk
  packages/esl-website/views/playground/components/editor.njk
  packages/esl-website/views/playground/components/note.njk
  packages/esl-website/views/playground/components/settings.njk
  packages/esl-website/views/playground/components/snippets.njk
  packages/esl-website/views/playground/components/theme.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/nested.njk
  packages/esl-website/views/playground/examples/text.njk
Due: none

refactor(site): remove unused sidebar logo
  packages/esl-website/static/assets/sidebar/playground.svg
  packages/ui-playground/docs/images/uip-logo.svg
Due: none

refactor(site): add empty line
  packages/esl-website/views/_includes/navigation/sidebar.njk
Due: none

chore(site): apply suggestions from code review
  packages/esl-website/views/playground/examples/image.njk
Due: none

refactor(site): add rulers in sidebar
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/blogs/index.njk
  packages/esl-website/views/components/index.njk
  packages/esl-website/views/core/index.njk
  packages/esl-website/views/dev/index.njk
  packages/esl-website/views/examples/index.njk
  packages/esl-website/views/introduction/index.njk
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/examples/index.njk
Due: none

refactor(site): remove unused images
  docs/images/UIPexample2.png
  docs/images/uip-logo.png
  packages/esl-website/static/assets/playground-logo.svg
Due: none

refactor(site): playground navigation
  README.md
  packages/esl-website/11ty/functions.config.js
  packages/esl-website/site.yml
  packages/esl-website/src/navigation/sidebar/sidebar.less
  packages/esl-website/views/_includes/navigation/collection-grid.njk
  packages/esl-website/views/_includes/navigation/header.njk
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/blogs/index.njk
  packages/esl-website/views/components/index.njk
  packages/esl-website/views/core/index.njk
  packages/esl-website/views/dev/index.njk
  packages/esl-website/views/examples/index.njk
  packages/esl-website/views/introduction/index.njk
  packages/esl-website/views/playground/components/core.njk
  packages/esl-website/views/playground/components/direction.njk
  packages/esl-website/views/playground/components/editor.njk
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/components/note.njk
  packages/esl-website/views/playground/components/settings.njk
  packages/esl-website/views/playground/components/snippets.njk
  packages/esl-website/views/playground/components/theme.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/examples/nested.njk
  packages/esl-website/views/playground/examples/text.njk
Due: stylelint

refactor(site): drop changes not related to playground readme
  README.md
  packages/esl-website/11ty/functions.config.js
  packages/esl-website/site.yml
  packages/esl-website/src/common/playground.less
  packages/esl-website/src/navigation/sidebar/sidebar-primary-nav.less
  packages/esl-website/src/navigation/sidebar/sidebar.less
  packages/esl-website/src/site.less
  packages/esl-website/views/_includes/navigation/collection-grid.njk
  packages/esl-website/views/_includes/navigation/header.njk
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/_layouts/content.njk
  packages/esl-website/views/blogs/index.njk
  packages/esl-website/views/components/index.njk
  packages/esl-website/views/core/index.njk
  packages/esl-website/views/dev/index.njk
  packages/esl-website/views/examples/index.njk
  packages/esl-website/views/introduction/index.njk
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/index.11tydata.yml
  packages/esl-website/views/playground/index.njk
Due: stylelint

refactor(site): add playground section
  README.md
  docs/PLAYGROUND.md
  docs/images/UIPexample2.png
  docs/images/uip-logo.png
  packages/esl-website/11ty/functions.config.js
  packages/esl-website/site.yml
  packages/esl-website/static/assets/sidebar/playground-logo.svg
  packages/esl-website/views/_includes/navigation/collection-grid.njk
  packages/esl-website/views/_includes/navigation/header.njk
  packages/esl-website/views/playground/components/core.njk
  packages/esl-website/views/playground/components/direction.njk
  packages/esl-website/views/playground/components/editor.njk
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/components/note.njk
  packages/esl-website/views/playground/components/settings.njk
  packages/esl-website/views/playground/components/snippets.njk
  packages/esl-website/views/playground/components/theme.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/examples/list.njk
  packages/esl-website/views/playground/examples/multiple-playgrounds.njk
  packages/esl-website/views/playground/examples/playground.njk
  packages/esl-website/views/playground/examples/text.njk
  packages/esl-website/views/playground/index.njk
  packages/ui-playground/docs/images/exadel-logo.png
Due: none

refactor(site): add playground description
  README.md
Due: none

chore(site): add blank playground page until part 2 isn't merged
  packages/esl-website/static/assets/sidebar/playground.svg
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/index.njk
Due: none

feat(esl-carousel): add ability to define interaction scope, fix initial checks to prevent autoplay on hover/focus after state change
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): esl-carousel-autoplay internal API and state machine completely reworked
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-carousel): rework esl-carousel-autoplay interaction tests
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.interaction.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): small update in esl-carousel.autoplay.interaction.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.interaction.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): small clarifications in docs
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.12.1-preview.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: add correct distribution channel calculation for NPM CI
  .github/workflows/release-npm.yml
  package.json
  scripts/common/config.mjs
  scripts/get-dist-tag.mjs
Due: none

test(esl-utils): cleanup for `listen` decorator type tests
  packages/esl/src/esl-utils/decorators/test/listen.test-d.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix `ESLEventListener.subscribe` types to correctly differentiate criteria from handler instance
  packages/esl/src/esl-event-listener/core/api.ts
  packages/esl/src/esl-utils/abstract/component.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): add types tests for `ESLEventListener.subscribe`
  packages/esl/src/esl-event-listener/test/api.subscribe.test-d.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): implement correct multi-event support with restrictive EventTarget, add tests
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-base-element/test/element.listener.test-d.ts
  packages/esl/src/esl-base-element/test/element.listener.test.ts
  packages/esl/src/esl-event-listener/core/api.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-mixin-element/test/mixin.listener.test-d.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-element.ts
  packages/esl/src/esl-utils/abstract/component.ts
  packages/esl/src/esl-utils/decorators/listen.ts
  packages/esl/src/esl-utils/decorators/test/listen.test-d.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: remove unused polyfill from tests
  packages/esl/src/esl-base-element/test/element.test.ts
  packages/esl/src/esl-trigger/test/esl-trigger.a11y.test.ts
  packages/esl/src/esl-utils/decorators/test/attr.extended.test.ts
  packages/esl/src/esl-utils/decorators/test/attr.test.ts
  packages/esl/src/esl-utils/decorators/test/bool-attr.test.ts
  packages/esl/src/esl-utils/decorators/test/json-attr.test.ts
  packages/esl/src/esl-utils/decorators/test/listen.test.ts
  packages/esl/src/esl-utils/decorators/test/prop.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): restrict tuple event queries
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/misc/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): fix ESLListenerDefinition type
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/abstract/component.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
