Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): cosmetic rename `direction` utility to `dir` to less mess-up with same property
  packages/esl/src/esl-carousel/core/esl-carousel.utils.ts
  packages/esl/src/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): code refactoring
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-event-listener/core/targets/intersection.target.ts
  packages/esl/src/esl-event-listener/core/targets/resize.target.ts
  packages/esl/src/esl-event-listener/core/targets/swipe.target.ts
  packages/esl/src/esl-event-listener/core/targets/wheel.target.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/decorators/listen.ts
  packages/esl/src/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): fix intersectionObserver mock initial interaction
  packages/esl/src/esl-animate/test/animate.service.test.ts
  packages/esl/src/esl-media/test/base-provider.livecycle.test.ts
  packages/esl/src/esl-media/test/esl-media.condition.test.ts
  packages/esl/src/esl-media/test/esl-media.lazy.test.ts
  packages/esl/src/esl-media/test/media-manager.test.ts
  packages/esl/src/esl-utils/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): do not debug-log slide move if slide is actually just added
  packages/esl/src/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-carousel): cover esl-carousel-autoplay with unit tests
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.control.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.slide.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: enable `actionlint` plugin for q11y tool
  .qlty/qlty.toml
Due: none

test(esl-carousel): fix test-cases names
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.control.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(eslint-config): extend test rules to `*.test-d.ts` files (type tests)
  packages/eslint-config/rules/base/typescript.js
  packages/eslint-config/rules/strict/typescript.js
Due: none

chore: introduce type tests for esl module
  packages/esl/package.json
  packages/esl/project.json
  packages/esl/scripts/update-lib-version.mjs
  packages/esl/src/esl-utils/decorators/test/listen.test-d.ts
  packages/esl/tsconfig.typetest.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update release process scripts to support multiproject requests
  scripts/common/changelog.mjs
  scripts/get-changelog.mjs
  scripts/get-version.mjs
Due: none

chore: release v5.11.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: none

refactor(site): news section labels refresh
  packages/esl-website/11ty/date.filter.js
  packages/esl-website/views/_includes/landing/newsline-item.njk
  packages/esl-website/views/_includes/landing/newsline.njk
Due: none

refactor(site): refactor new label with mixin approach
  packages/esl-website/src/landing/newsline/newsline.ts
  packages/esl-website/src/site.ts
  packages/esl-website/views/_includes/landing/newsline-item.njk
  packages/esl-website/views/_includes/landing/newsline.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): add empty space at news title end
  packages/esl-website/views/_includes/landing/newsline-item.njk
Due: none

refactor(esl-event-listener): refactor typed event names to accept multiple names
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/decorators/listen.ts
  packages/esl/src/esl-utils/decorators/test/listen.test-d.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add version v5.11.0 site notes
  packages/esl-website/views/blogs/ESL v5.11.0.md
Due: none

docs: fix qlty (coverage, maintainability) badges
  README.md
Due: none

style: remove not working badge from esl module
  packages/esl/README.md
Due: none

chore: release v5.11.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix: `esl` package should contain actual version info in global scope
  package.json
  packages/esl/package.json
  packages/esl/project.json
Due: none

chore: release v5.11.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): apply suggestions from code review
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-event-listener/core/api.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-mixin-element/ui/esl-mixin-element.ts
  packages/esl/src/esl-utils/decorators/test/listen.test-d.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-line-clamp): add auto mode for esl-line-clamp mixin
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-line-clamp): fix styles of esl-line-clamp mixin
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.less
Due: stylelint

test(esl-line-clamp): update tests for auto mode
  packages/esl/src/esl-line-clamp/test/esl-line-clamp.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-line-clamp): update README with auto mode
  packages/esl/src/esl-line-clamp/README.md
Due: none

chore(site): update demo pages for esl-line-clamp mixin with auto mode
  packages/esl-website/views/examples/esl-line-clamp.njk
Due: none

style(esl-line-clamp): apply suggestions from code review
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-animate): added CSS variable for transition timing/function
  packages/esl/src/esl-animate/core/esl-animate-animations.less
Due: stylelint

feat(esl-toggleable): add high priority for focusable elements with the autofocus attribute
  packages/esl/src/esl-toggleable/README.md
  packages/esl/src/esl-toggleable/core/esl-toggleable-manager.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): `parseTime` will treat `none` as 0 (exclusion)
  packages/esl/src/esl-utils/misc/format.ts
  packages/esl/src/esl-utils/misc/test/format.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-toggleable): change the way of detecting auto-focusable element
  packages/esl/src/esl-toggleable/core/esl-toggleable-manager.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-line-clamp): add an attribute to specify mask to use tuple string of values
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl/src/esl-line-clamp/README.md
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix typos in JSDocs
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-line-clamp): update README
  packages/esl/src/esl-line-clamp/README.md
Due: none

docs(esl-carousel): update esl-carousel-autoplay documentation
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
Due: none

fix(esl-utils): add tests and validation to prevent prototype pollution (CWE-1321) for `set` and `setByPath` utils
  packages/esl/src/esl-utils/misc/object/path.ts
  packages/esl/src/esl-utils/misc/object/test/path.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
