Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

style(esl-share): apply suggestions from review
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(swipe-target): update tests: add angle check
  src/modules/esl-event-listener/test/targets/swipe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(swipe-target): remove `swipe:${direction}` events mentions from docs
  pages/views/draft/swipe-demo.njk
  src/modules/esl-event-listener/README.md
Due: lintspaces -n -t -d spaces

refactor(swipe-target): simplify `pointerup` event handler
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-share): update buttons tests
  src/modules/esl-share/test/buttons/blogger.test.ts
  src/modules/esl-share/test/buttons/button-test-plan-factory.ts
  src/modules/esl-share/test/buttons/copy.test.ts
  src/modules/esl-share/test/buttons/facebook.test.ts
  src/modules/esl-share/test/buttons/hatena.test.ts
  src/modules/esl-share/test/buttons/kakao.test.ts
  src/modules/esl-share/test/buttons/line.test.ts
  src/modules/esl-share/test/buttons/linkedin.test.ts
  src/modules/esl-share/test/buttons/mail.test.ts
  src/modules/esl-share/test/buttons/mix.test.ts
  src/modules/esl-share/test/buttons/mixi.test.ts
  src/modules/esl-share/test/buttons/myspace.test.ts
  src/modules/esl-share/test/buttons/native-share.test.ts
  src/modules/esl-share/test/buttons/pinterest.test.ts
  src/modules/esl-share/test/buttons/print.test.ts
  src/modules/esl-share/test/buttons/pusha.test.ts
  src/modules/esl-share/test/buttons/reddit.test.ts
  src/modules/esl-share/test/buttons/sina-weibo.test.ts
  src/modules/esl-share/test/buttons/telegram.test.ts
  src/modules/esl-share/test/buttons/twitter.test.ts
  src/modules/esl-share/test/buttons/wykop.test.ts
  src/modules/esl-share/test/config/reference-buttons.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): apply suggestions from code review
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(swipe-target): cosmetic changes
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): small documentation corrections
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): Update `ESLSwipeGuetureTarget` according latest spec, simplify API add tests (#1919)
  pages/src/esl-swipe-demo/esl-swipe-demo-area.less
  pages/src/esl-swipe-demo/esl-swipe-demo-area.ts
  pages/views/draft/swipe-demo.njk
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-event-listener/test/targets/swipe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(site): `ESL v4.12.0` release note draft and filename corrections
  pages/views/blogs/ESL v4.10.0.md
  pages/views/blogs/ESL v4.11.0.md
  pages/views/blogs/ESL v4.12.0.md
Due: none

docs(esl-event-listener): final `ESLSwipeGestureTarget` JS doc corrections
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(docs): changes according review <body> delete noreferer, change condition of external links
  pages/11ty/markdown.shortcut.js
Due: none

chore(site): package structure rework
  .eslintrc.yml
  .github/workflows/pages.yml
  package-lock.json
  package.json
  pages/package.json
  pages/src/anchor/anchor-link.ts
  pages/src/back-link/back-link.ts
  pages/src/banner/banner.ts
  pages/src/common/breakpoints.ts
  pages/src/esl-media-demo/test-media-source.ts
  pages/src/esl-media-demo/test-media.ts
  pages/src/landing/marquee/marquee.ts
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/src/navigation/header/header-search.ts
  pages/src/navigation/sidebar/sidebar.ts
  pages/src/polyfill-full.ts
  pages/src/polyfill-light.ts
  pages/src/search/search-script.ts
  pages/src/search/search.ts
  pages/tsconfig.json
  pages/webpack.config.js
  tsconfig.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore: set dependabot group config
  .github/dependabot.yml
Due: none

chore(pages): fix watch problem
  pages/.eleventy.js
Due: none

chore: fix dependabot group config
  .github/dependabot.yml
Due: none

test(esl-utils): bring test names to the same form
  src/modules/esl-utils/async/test/promise/raf.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): aplly ESLShareConfig changes to ESLShareButton
  pages/views/examples/share.njk
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore(site): open external links in a new window (#1918)
  pages/11ty/markdown.shortcut.js
Due: none

chore(esl-event-listener): fix imports in `ESLSwipeGestureTarget` demo component
  pages/src/esl-swipe-demo/esl-swipe-demo-area.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): `ESLSwipeGestureTarget` JS doc corrections
  pages/views/blogs/ESL v4.12.0.md
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(gh-pages): add replace links
  pages/.eleventy.js
  pages/serviceWorker/register.ts
  pages/serviceWorker/serviceWorker.js
  pages/src/link/link.ts
  pages/src/localdev.ts
  pages/src/navigation/sidebar/sidebar.ts
  pages/views/_includes/navigation/sidebar-item.njk
  pages/views/_layouts/content.njk
  pages/views/_layouts/forward.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore: add `jest` and `semantic-release` groups to dependabot config
  .github/dependabot.yml
Due: none

chore: simplify build pages process
  .github/workflows/pages.yml
  pages/package.json
Due: none

chore: remove `@types/resize-observer-browser` (due to ootb typescript dom typings)
  package-lock.json
  package.json
Due: none

chore: update PR limit for dependabot and produce test monorepo dependency issue
  .github/dependabot.yml
  package-lock.json
Due: none

refactor(esl-share): add static aliases for config getButton() and getList()
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): rework events on esl-share
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): migrate to GH Pages Workflow
  .github/workflows/pages.yml
Due: none

chore: fix release step to bump subpackage version
  .releaserc.yml
  build/bump.js
  package.json
  pages/package.json
Due: none

chore(gh-pages): handle routing back
  pages/src/link/link.ts
  pages/src/localdev.ts
  pages/src/navigation/sidebar/sidebar.ts
  pages/src/route/route-interceptor.ts
  pages/src/route/route-link.ts
  pages/src/route/router-service.ts
  pages/views/_includes/navigation/sidebar-item.njk
  pages/views/_includes/navigation/sidebar.njk
  pages/views/_layouts/content.njk
  pages/views/_layouts/forward.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore(gh-pages): code refactoring
  pages/src/navigation/sidebar/sidebar.ts
  pages/views/_includes/navigation/sidebar.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

fix(esl-tabs): observe element resize instead of window using `ESLResizeObserverTarget`
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): add `lazyProperties` parser
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-media): add examples with animation
  pages/views/examples/embedded-video.njk
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

style(esl-share): apply suggestion from code review
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-modal): enhance placeholder appearance check
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(gh-pages): code refactoring
  pages/src/route/route-interceptor.ts
  pages/src/route/route-link.ts
  pages/src/route/router-service.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(gh-pages): code refactoring
  pages/src/route/route-interceptor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: add privacy policy for website
  docs/PRIVACY_POLICY.md
  pages/views/_includes/navigation/footer-compact.njk
  pages/views/_includes/navigation/footer.njk
  pages/views/privacy-policy.njk
Due: lintspaces -n -t -d spaces
