Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): draft of the official carousel demo pages
  pages/views/examples/carousel.11tydata.yml
  pages/views/examples/carousel.njk
Due: lintspaces -n -t -d spaces

refactor(esl-carousel): temporary fix for side-effects handling
  package.json
Due: none

refactor(esl-carousel): update for marquee-carousel example, fix for drugging styles
  pages/views/examples/carousel.marquee.njk
  src/modules/esl-carousel/core/esl-carousel.less
Due: stylelint, lintspaces -n -t -d spaces

docs(esl-share): update esl-share demo page
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

refactor(esl-share): separate share-config into standalone file
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): create popup mode for esl-share component
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-popup): create appendArrow() method
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-popup): create appendArrow() method
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): support for autoplay mixin plugin for ESLCarousel component
  pages/src/localdev.ts
  pages/views/draft/carousel.njk
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  src/modules/esl-carousel/plugin/esl-carousel-autoplay.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-plugin.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-carousel): support for relation mixin plugin for ESLCarousel component
  pages/src/localdev.ts
  pages/views/draft/carousel.njk
  pages/views/examples/carousel.marquee.njk
  src/modules/esl-carousel/all.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/esl-carousel-link.plugin.ts
  src/modules/esl-carousel/plugin/esl-carousel-plugin.less
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): fixes and improvements for the touch plugin
  pages/src/localdev.ts
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): remove legacy plugin implementations
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.base.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.element.ts
  src/modules/esl-carousel/core/plugin/esl-carousel.plugin.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): mixin plugin base
  src/modules/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): fix naming
  pages/src/localdev.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): draft for keyboard support mixin
  pages/src/localdev.ts
  pages/views/examples/carousel.njk
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/plugin/a11y/esl-carousel.keyboard.mixin.ts
  src/modules/esl-carousel/plugin/a11y/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

docs(esl-carousel): documentation fixes for carousel plugins
  src/modules/esl-carousel/plugin/a11y/esl-carousel.keyboard.mixin.ts
  src/modules/esl-carousel/plugin/a11y/esl-carousel.touch.mixin.ts
  src/modules/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): make ts decorators work with babel
  src/modules/esl-utils/decorators/attr.ts
  src/modules/esl-utils/decorators/bool-attr.ts
  src/modules/esl-utils/decorators/json-attr.ts
  src/modules/esl-utils/decorators/prop.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): fix popup content overflow
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): create esl-share-trigger component
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-trigger.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): update demo pages of the share component
  pages/views/draft/share-regression.njk
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

style(esl-share): add styles for esl-share-trigger
  src/modules/esl-share/core.less
  src/modules/esl-share/core/esl-share-trigger.less
Due: stylelint, lintspaces -n -t -d spaces

docs(esl-share): add `esl-share` component page to UI server
  pages/views/components/esl-share.njk
Due: lintspaces -n -t -d spaces

refactor(esl-share): change the logic of getting share attributes
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): fix export of `esl-utils/misc/url`
  src/modules/esl-utils/misc.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): update demo pages
  pages/static/assets/examples/share-trigger-icon.svg
  pages/static/assets/examples/share.svg
  pages/views/draft/share-regression.njk
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

refactor(esl-share): refactor share component
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): create prop with popups initial params
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): remove unnecessary properties
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): update tsdoc
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.6.0
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d5/e332b7c512f3f4007c70ad163c96b7cefdf543
Due: none

refactor(esl-carousel): draft arrow rework
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): restructuring for the views and fixes for carousel internal observations
  package.json
  pages/src/localdev.ts
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/esl-carousel.view.ts
  src/modules/esl-carousel/core/esl-carousel.views.ts
  src/modules/esl-carousel/views/esl-multi-carousel.less
  src/modules/esl-carousel/views/esl-multi-carousel.view.ts
  src/modules/esl-carousel/views/esl-slide-carousel.less
  src/modules/esl-carousel/views/esl-slide-carousel.view.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): temporary remove Slide Carousel Renderer (not part and not ready for first MVP)
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.less
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): move and fix keyboard an touch plugins
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/plugin/keyboard/esl-carousel.keyboard.mixin.ts
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): structure main rework (views -> renderers)
  package.json
  pages/src/localdev.ts
  src/modules/esl-carousel/README.md
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/a11y/esl-carousel.touch.mixin.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.less
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.less
  src/modules/esl-carousel/renderers/slide/esl-slide-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
