Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

chore(deps-dev): add `vitest`
  nx.json
  package-lock.json
  package.json
  packages/esl/jest.config.js
  packages/esl/project.json
  packages/esl/tsconfig.json
  packages/esl/vitest.config.js
Due: none

chore(deps-dev): code refactoring
  nx.json
  packages/esl/project.json
  packages/esl/src/esl-animate/test/animate.service.test.ts
  packages/esl/src/esl-base-element/test/element.listener.test.ts
  packages/esl/src/esl-base-element/test/element.test.ts
  packages/esl/src/esl-event-listener/core/listener.ts
  packages/esl/src/esl-open-state/test/esl-open-state.test.ts
  packages/esl/src/esl-popup/test/esl-popup.config.test.ts
  packages/esl/src/esl-popup/test/esl-popup.position-config.test.ts
  packages/esl/src/esl-popup/test/popup.mock.ts
  packages/esl/src/esl-trigger/test/esl-trigger.actions.test.ts
  packages/esl/src/esl-utils/async/test/delayed-task.test.ts
  packages/esl/src/esl-utils/dom/events/test/misc.test.ts
  packages/esl/src/esl-utils/misc/uid.ts
  packages/esl/src/esl-utils/test/deviceDetector.mock.ts
  packages/esl/src/esl-utils/test/intersectionObserver.mock.ts
  packages/esl/src/esl-utils/test/matchMedia.mock.ts
  packages/esl/src/esl-utils/test/resizeObserver.mock.ts
  packages/esl/src/esl-utils/test/timer.mock.ts
  packages/esl/vitest.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps-dev): add vitest nx plugin
  nx.json
  package-lock.json
  package.json
  packages/esl/package.json
  packages/esl/project.json
Due: none

feat(site): refactoring of rendering blog list in descending order for side nav and page grid
  packages/esl-website/11ty/nav-sort.config.js
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/blogs/index.njk
Due: none

chore: release v5.15.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update editor documentation
  packages/esl-website/views/playground/basic/editor.njk
  packages/ui-playground/src/plugins/editor/README.md
Due: none

feat(site): refactoring of rendering blog list in descending order for side nav and page grid
  packages/esl-website/11ty/nav-sort.config.js
Due: none

chore(site): migrate website monitoring into workspaces
  .github/monitoring/package-lock.json
  .github/monitoring/package.json
  .github/workflows/website-availability-check.yml
  .github/workflows/website-domain-check.yml
  .github/workflows/website-ssl-check.yml
  package-lock.json
  packages/esl-website-monitoring/check-availability.js
  packages/esl-website-monitoring/check-domain.js
  packages/esl-website-monitoring/check-ssl.js
  packages/esl-website-monitoring/issue-helper.js
  packages/esl-website-monitoring/package.json
Due: none

docs(site): update documentation for website monitoring
  packages/esl-website-monitoring/README.md
Due: none

chore: update workflows to use Node 24 env
  .github/workflows/website-availability-check.yml
  .github/workflows/website-domain-check.yml
  .github/workflows/website-ssl-check.yml
  packages/esl-website-monitoring/README.md
Due: none

chore: strict fix of less version + npm audit
  package-lock.json
  package.json
Due: none

deploy: 2fae05ad16c2a1266ea147256e2617a392bcb1f0
  README.md
  index.md
Due: none

chore(deps-dev): code refactoring
  .gitignore
  nx.json
  package.json
  packages/esl/package.json
  packages/esl/project.json
  packages/esl/tsconfig.json
Due: none

chore: fix vitest integration / move to beta branch
  nx.json
  package.json
  packages/esl/package.json
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-align-strategies.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-axis-stepper.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll-scroller.test.ts
  packages/esl/src/esl-incremental-scroll/test/incremental-scroll.test.ts
  packages/esl/src/esl-utils/misc/format/test/object.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update dependency list to isolate jest in snapshot tests module
  nx.json
  package-lock.json
  package.json
  packages/snapshot-tests/package.json
Due: none

chore: fix falling state test, update lint-staged
  packages/esl/.lintstagedrc.yml
  packages/esl/src/esl-utils/dom/events/test/misc.test.ts
  packages/esl/vitest.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: @dmantsevich & @dmantsevich-exadel has signed the CLA in #3565
  signatures/cla.json
Due: none

feat(esl-media): add support extended format for start-time
  packages/esl/src/esl-media/README.md
  packages/esl/src/esl-media/core/esl-media.shape.ts
  packages/esl/src/esl-media/core/esl-media.ts
  packages/esl/src/esl-utils/misc/format/test/time.test.ts
  packages/esl/src/esl-utils/misc/format/time.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.15.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 3e6deed2b110b164515d613e4b62f1907510e7c8
  README.md
  index.md
Due: none

chore: release v6.0.0-beta.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 7c046d975f8f8c30ed817f7be5be68ae882b3842
  README.md
  index.md
Due: none

deploy: e6f767ff383ad8230021ce1b5c72beb437485e00
  README.md
  index.md
Due: none

test(esl-utils): add test cases from #3566
  packages/esl/src/esl-utils/misc/format/test/time.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): fix lint warnings for TSDoc and str.match usage
  packages/esl/src/esl-utils/misc/format/time.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(stylelint-config): @exadel/stylelint-config-esl migrated to stylelint@17
  package-lock.json
  package.json
  packages/stylelint-config/package.json
Due: none

deploy: 8f2e4bf2ed54f6eb327671bdc9284da9e107c355
  README.md
  index.md
Due: none

test: fix test messages (vitest uses %o formating instead of %p)
  packages/esl/src/esl-carousel/test/core/esl-carousel.utils.base.test.ts
  packages/esl/src/esl-carousel/test/core/esl-carousel.utils.nav-check.test.ts
  packages/esl/src/esl-carousel/test/core/esl-carousel.utils.nav-index.test.ts
  packages/esl/src/esl-event-listener/test/descriptor.test.ts
  packages/esl/src/esl-media-query/test/esl-media-query.shortcuts.test.ts
  packages/esl/src/esl-media-query/test/esl-media-query.test.ts
  packages/esl/src/esl-traversing-query/test/esl-traversing-query.test.ts
  packages/esl/src/esl-utils/dom/test/class.test.ts
  packages/esl/src/esl-utils/dom/test/events.test.ts
  packages/esl/src/esl-utils/dom/test/rect.test.ts
  packages/esl/src/esl-utils/misc/format/test/basic.test.ts
  packages/esl/src/esl-utils/misc/format/test/common.test.ts
  packages/esl/src/esl-utils/misc/format/test/object.security.test.ts
  packages/esl/src/esl-utils/misc/format/test/object.test.ts
  packages/esl/src/esl-utils/misc/format/test/string.test.ts
  packages/esl/src/esl-utils/misc/format/test/time.test.ts
  packages/esl/src/esl-utils/misc/object/test/compare.test.ts
  packages/esl/src/esl-utils/misc/object/test/copy.test.ts
  packages/esl/src/esl-utils/misc/object/test/merge.test.ts
  packages/esl/src/esl-utils/misc/test/array.test.ts
  packages/esl/src/esl-utils/misc/test/object.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test: fix vitest type references for IDE
  packages/esl/src/test/vitest.globals.d.ts
  packages/esl/tsconfig.json
  packages/esl/tsconfig.vitest.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: move test helpers from src/esl-utils/test to src/test
  packages/esl/src/esl-animate/test/animate.service.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.control.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.interaction.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.slide.test.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.test.ts
  packages/esl/src/esl-event-listener/test/targets/intersection.test.ts
  packages/esl/src/esl-event-listener/test/targets/resize.test.ts
  packages/esl/src/esl-image-utils/test/esl-image-container.test.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp-alt.test.ts
  packages/esl/src/esl-line-clamp/test/esl-line-clamp.test.ts
  packages/esl/src/esl-media-query/test/esl-media-query.shortcuts.test.ts
  packages/esl/src/esl-media-query/test/esl-media-query.test.ts
  packages/esl/src/esl-media-query/test/esl-media-rule-list.test.ts
  packages/esl/src/esl-media/test/base-provider.livecycle.test.ts
  packages/esl/src/esl-media/test/esl-media.condition.test.ts
  packages/esl/src/esl-media/test/esl-media.lazy.test.ts
  packages/esl/src/esl-media/test/media-manager.test.ts
  packages/esl/src/esl-open-state/test/esl-open-state.test.ts
  packages/esl/src/esl-panel-group/test/esl-panel-group.test.ts
  packages/esl/src/esl-popup/test/esl-popup.config.test.ts
  packages/esl/src/esl-popup/test/esl-popup.position-config.test.ts
  packages/esl/src/esl-related-target/test/related-target.test.ts
  packages/esl/src/esl-share/test/esl-share-popup.test.ts
  packages/esl/src/esl-utils/async/test/promise/raf.test.ts
  packages/esl/src/esl-utils/async/test/raf.test.ts
  packages/esl/src/esl-utils/decorators/test/attr.test.ts
  packages/esl/src/test/deviceDetector.mock.ts
  packages/esl/src/test/intersectionObserver.mock.ts
  packages/esl/src/test/matchMedia.mock.ts
  packages/esl/src/test/raf.mock.ts
  packages/esl/src/test/resizeObserver.mock.ts
  packages/esl/src/test/template.ts
  packages/esl/src/test/timer.mock.ts
  packages/esl/vitest.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: remove explicit cross deps, convert config to ts
  package-lock.json
  package.json
  packages/esl/eslint.config.mjs
  packages/esl/vitest.config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: dependencies post cleanup
  .github/dependabot.yml
  nx.json
  package-lock.json
  package.json
  packages/esl/src/esl-open-state/test/esl-open-state.test.ts
  packages/eslint-config/eslint.config.mjs
  packages/snapshot-tests/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 789843be2d9e1bfaf2368bf7e4288c526639b00e
  README.md
  index.md
Due: none

fix(esl-footnotes): add dynamic updates for esl-note-ignore mixin via lifecycle hooks
  packages/esl/src/esl-footnotes/core/esl-note-ignore.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 48e57f3966844708004aebe8b3ba0374f125401d
  README.md
  index.md
Due: none

deploy: 95ac74dacba1247a55bf0a7bc2706918452a9a12
  README.md
  index.md
Due: none

chore(site): adjust footer height
  packages/esl-website/src/navigation/footer/footer.less
Due: stylelint

chore: update package-lock markers
  package-lock.json
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none
