Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

deploy: 57b53c259ac84ae98c04d26ad260e4d2cc13459a
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

refactor(site): component grid template
  site/src/collection-grid/collection-grid.less
  site/views/_includes/navigation/collection-grid.njk
  site/views/_layouts/collection-grid.njk
Due: stylelint

refactor(site): common slides markers extended
  site/src/presentation/slide.less
Due: stylelint

fix(esl-carousel): fix incorrect alignment of the grid carousel renderer if there are no enough slides
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: apply latest typescript updates
  src/modules/esl-media-query/core/esl-media-rule-list.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: b4ba58bace1f333e9ac9b3e8975bc9e1ba2048bb
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

deploy: d539aa36263398caa34e5dbfc525c55ad01b29e4
  README.md
  index.md
Due: none

chore(release): 5.0.0-beta.22
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  0b99f622b8f2b3e45dbffb4a102c55f0d0d756dc
Due: none

deploy: 0b99f622b8f2b3e45dbffb4a102c55f0d0d756dc
  README.md
  index.md
Due: none

refactor(site): enhance collection-grid helper with more configurations
  site/src/collection-grid/collection-grid.less
  site/src/common/helpers.less
  site/views/_includes/navigation/collection-grid.njk
  site/views/_layouts/collection-grid.njk
Due: stylelint

refactor(site): new slides structure for quick presentation
  site/views/overview/quick/00-intro/02-goals.njk
  site/views/overview/quick/01-key-features/00-key-features.njk
  site/views/overview/quick/01-stack&compatibility/00-stack&compatibility.njk
  site/views/overview/quick/01-stack&compatibility/01-lightweight.njk
  site/views/overview/quick/01-stack&compatibility/02-browser-support.njk
  site/views/overview/quick/01-stack&compatibility/03-stack.njk
  site/views/overview/quick/01-stack&compatibility/04-compatibility.njk
  site/views/overview/quick/02-core/00-core.njk
  site/views/overview/quick/02-core/01-custom-tags.njk
  site/views/overview/quick/02-core/02-custom-attributes.njk
  site/views/overview/quick/02-core/03-tag-vs-attribute.njk
  site/views/overview/quick/02-core/04-event-listener.njk
  site/views/overview/quick/02-core/05-utils.njk
  site/views/overview/quick/03-components/00-components.njk
  site/views/overview/quick/03-components/01-component-list.njk
  site/views/overview/quick/03-components/02-flexibility.njk
  site/views/overview/quick/03-components/03-ux-list.njk
  site/views/overview/quick/03-components/04-responsiveness-n-flexibility.njk
  site/views/overview/quick/03-components/05-syntax-sugar.njk
  site/views/overview/quick/04-playground/00-playground.njk
  site/views/overview/quick/04-playground/01-isolated&embedded.njk
  site/views/overview/quick/04-playground/02-editor.njk
  site/views/overview/quick/04-playground/03-settings.njk
  site/views/overview/quick/05-outro/outro.njk
Due: none

refactor(site): add base for anchor navigation in future
  site/views/_layouts/presentation.njk
  site/views/overview/quick/00-intro/01-what-is.njk
  site/views/overview/quick/00-intro/02-goals.njk
  site/views/overview/quick/01-stack&compatibility/00-stack&compatibility.njk
  site/views/overview/quick/01-stack&compatibility/01-lightweight.njk
  site/views/overview/quick/01-stack&compatibility/02-browser-support.njk
  site/views/overview/quick/01-stack&compatibility/03-stack.njk
  site/views/overview/quick/01-stack&compatibility/04-compatibility.njk
  site/views/overview/quick/02-core/00-core.njk
  site/views/overview/quick/02-core/01-custom-tags.njk
  site/views/overview/quick/02-core/02-custom-attributes.njk
  site/views/overview/quick/02-core/03-tag-vs-attribute.njk
  site/views/overview/quick/02-core/04-event-listener.njk
  site/views/overview/quick/02-core/05-utils.njk
  site/views/overview/quick/03-components/00-components.njk
  site/views/overview/quick/03-components/01-component-list.njk
  site/views/overview/quick/03-components/02-flexibility.njk
  site/views/overview/quick/03-components/03-ux-list.njk
  site/views/overview/quick/03-components/04-responsiveness-n-flexibility.njk
  site/views/overview/quick/03-components/05-syntax-sugar.njk
  site/views/overview/quick/04-playground/00-playground.njk
  site/views/overview/quick/04-playground/01-isolated&embedded.njk
  site/views/overview/quick/04-playground/02-editor.njk
  site/views/overview/quick/04-playground/03-settings.njk
Due: none

feat(esl-carousel): draft plugin for carousel to support anchor navigation
  site/src/localdev.ts
  site/views/_layouts/presentation.njk
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/anchor/esl-carousel.anchor.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add wheel ignore to `uip-editor`
  site/src/playground/ui-playground.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update demo presentation content
  site/views/overview/quick/00-intro/00-intro.njk
  site/views/overview/quick/01-stack&compatibility/00-stack&compatibility.njk
  site/views/overview/quick/01-stack&compatibility/01-browser-support.njk
  site/views/overview/quick/01-stack&compatibility/01-lightweight.njk
  site/views/overview/quick/01-stack&compatibility/03-compatibility.njk
  site/views/overview/quick/01-stack&compatibility/03-stack.njk
  site/views/overview/quick/02-core/00-core.njk
  site/views/overview/quick/02-core/04-event-listener.njk
  site/views/overview/quick/02-core/05-media-query.njk
  site/views/overview/quick/02-core/05-utils.njk
  site/views/overview/quick/02-core/06-traversing-query.njk
  site/views/overview/quick/03-components/00-components.njk
  site/views/overview/quick/03-components/01-component-list.njk
  site/views/overview/quick/03-components/02-flexibility.njk
  site/views/overview/quick/03-components/04-responsiveness-n-flexibility.njk
  site/views/overview/quick/04-playground/01-isolated&embedded.njk
  site/views/overview/quick/04-playground/02-editor.njk
  site/views/overview/quick/04-playground/03-settings.njk
Due: none

chore(site): small slides corrections
  site/views/overview/quick/02-core/04-event-listener.njk
  site/views/overview/quick/02-core/05-media-query.njk
  site/views/overview/quick/02-core/06-traversing-query.njk
Due: none

deploy: 49f337b18662273968625976a97302fc7d201f1c
  README.md
  index.md
Due: none

deploy: 8162b43a1081ea9a09701fe62bdb3e84cbd29869
  README.md
  index.md
Due: none

feat(esl-carousel): add ability to pass slide as a `goTo` parametr
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): add current and related slide element accessors to carousel change event
  src/modules/esl-carousel/core/esl-carousel.events.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): fix deprecated type usage inside carousel wheel plugin
  src/modules/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  src/modules/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: f1653e6592ef1a8cddfe7a3e20067d8995acfb1c
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

feat(esl-event-listener): add ability to ESLWheelTarget to ignore income wheel events by predicate
  src/modules/esl-event-listener/core/targets/wheel.target.ts
  src/modules/esl-event-listener/test/targets/wheel.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): add ability to ignore defined content areas by ESLCarouselWheelMixin
  src/modules/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): add ability to prevent default wheel action trough ESLWheelTarget
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): make ESLCarouselWheelMixin respect direction & able to prevent default wheel action
  src/modules/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(uip-editor): store editor state
  src/core/base/root.ts
  src/plugins/editor/editor-storage.ts
  src/plugins/editor/editor.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): rework 1/2 of slides content
  site/src/common/flex.less
  site/src/common/helpers.less
  site/src/common/typography.large.less
  site/static/assets/common/open-source.svg
  site/static/assets/common/puzzle-pieces.svg
  site/static/assets/frameworks/angular.svg
  site/static/assets/frameworks/react.svg
  site/static/assets/frameworks/vue.svg
  site/static/assets/logo-white.svg
  site/views/overview/quick/00-intro/00-intro.njk
  site/views/overview/quick/00-intro/01-what-is.njk
  site/views/overview/quick/00-intro/02-goals.njk
  site/views/overview/quick/01-stack&compatibility/00-stack&compatibility.njk
  site/views/overview/quick/01-stack&compatibility/01-browser-support.njk
  site/views/overview/quick/01-stack&compatibility/03-compatibility.njk
  site/views/overview/quick/02-core/00-core.njk
  site/views/overview/quick/02-core/01-custom-tags.njk
  site/views/overview/quick/02-core/02-custom-attributes.njk
  site/views/overview/quick/02-core/04-event-listener.njk
  site/views/overview/quick/02-core/05-media-query.njk
  site/views/overview/quick/02-core/06-traversing-query.njk
  site/views/overview/quick/03-components/00-components.njk
  site/views/overview/quick/03-components/01-component-list.njk
  site/views/overview/quick/03-components/02-flexibility.njk
  site/views/overview/quick/03-components/04-responsiveness-n-flexibility.njk
Due: stylelint

deploy: 51930dfcbb317e0fb82b765b443bde3ea7ad9ebd
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

fix: style tag omitted on the root level of html snippet
  site/views/examples/example/text.njk
  src/core/base/model.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): advanced option to disable automatic carousel slide moving
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): add debug message to log carousel slide movement in the DOM
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): improve log messaging and fix initialization exceptions
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/esl-carousel.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): de-scope `[esl-carousel-slides]` style defaults
  src/modules/esl-carousel/core/esl-carousel.less
Due: stylelint

chore(esl-carousel): small log messaging rework
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): presentation layout print styles
  site/src/presentation/footer.less
  site/src/presentation/layout.less
  site/src/presentation/sidebar.less
  site/src/presentation/slide.less
  site/views/_includes/presentation/header.njk
  site/views/_layouts/presentation.njk
  site/views/overview/quick/03-components/05-syntax-sugar.njk
Due: stylelint

deploy: 5306ce26c50cf6e77baa626b95edd59e282b52c4
  README.md
  index.md
Due: none

chore(site): site content reorganization an improvements
  site/src/playground/ui-playground.ts
  site/static/assets/examples/animate.svg
  site/views/_layouts/presentation.njk
  site/views/overview/quick/02-core/01-custom-tags.njk
  site/views/overview/quick/02-core/03-tag-vs-attribute.njk
  site/views/overview/quick/02-core/04-event-listener.njk
  site/views/overview/quick/02-core/05-esl-utils.njk
  site/views/overview/quick/02-core/05-media-query.njk
  site/views/overview/quick/02-core/06-traversing-query.njk
  site/views/overview/quick/03-components/04-responsiveness-n-flexibility.njk
  site/views/overview/quick/04-playground/00-playground.njk
  site/views/overview/quick/04-playground/03-settings.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: df6f848a7b5983ff27405dea88d02ec81ad00ee3
  README.md
  index.md
Due: none
