Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

refactor(esl-carousel): fix navigation and mutation handling
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/plugin/dots/README.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): code refactoring
  site/src/esl-popup/esl-d-popup-game.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-carousel): code refactoring
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): change internal APi, make Carousel independent from Slide Mixin
  site/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/test/core/esl-carousel.renderer.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix some small naming docs and micro-optimizations
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

test(esl-carousel): add tests for slides collection control
  src/modules/esl-carousel/test/core/esl-carousel.collection.test.ts
  src/modules/esl-carousel/test/core/esl-carousel.renderer.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): updated a11ty auto markers, default ids, initial event
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/dots/README.md
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): add ability to use additional attributes in loadScript utility
  src/modules/esl-utils/dom/script.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): create tests for loadScript utility
  src/modules/esl-utils/dom/test/script.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): constrict options type of loadScript
  src/modules/esl-utils/dom/script.ts
  src/modules/esl-utils/dom/test/script.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): apply setAttr to set script attributes in loadScript utility
  src/modules/esl-utils/dom/script.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): apply suggestions from code review
  src/modules/esl-utils/dom/script.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): add the ability to use additional attributes in `loadScript` utility (#2279)
  src/modules/esl-utils/dom/script.ts
  src/modules/esl-utils/dom/test/script.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): make DelegatedEvent equal too `DelegatedEvent<Event>`, fix types compatibility (#2360)
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): replace customizable property with inheritance with updated `@prop`
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: c6b6b1ee13fdd520fd82b01270d876464d1458de
  README.md
  index.md
Due: none

style(esl-carousel): fix eslint and add some clarification docs
  src/modules/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
  src/modules/esl-utils/decorators/test/prop.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): fix eslint and add some clarification docs
  src/modules/esl-carousel/core/esl-carousel.slide.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): apply some suggestions from the code review
  site/views/examples/carousel.marquee.njk
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.14
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  e6e925b4a3917431b6f1569808374f49b575521d
Due: none

feat(uip-snippets): add a marker of isolated snippets items
  src/plugins/snippets-list/snippets-list.tsx
Due: none

feat(esl-carousel): add handler for `esl-show-request`
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): add example with notes
  site/views/examples/carousel.njk
Due: none

refactor(esl-carousel): replace default arrow implementation with a clip-path
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
Due: stylelint

style(esl-carousel): update examples
  site/views/examples/carousel.marquee.njk
  site/views/examples/carousel.njk
Due: none

style(esl-carousel): apply suggestion from code review
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
Due: stylelint

style(esl-carousel): apply suggestion from code review
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-animate): fix handling of `esl-animate-mixin` attribute changes
  src/modules/esl-animate/core/esl-animate-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): rename esl-carousel-clip-shift variable
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
Due: stylelint

style(esl-carousel): fix prettier for `esl-carousel.nav.arrows.less`
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
Due: stylelint

fix(esl-footnotes): fix default display block for `esl-footnote` tag
  src/modules/esl-footnotes/core/esl-footnotes.less
Due: stylelint

fix(esl-footnotes): drop extra margins for `esl-carousel-slides` container
  site/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.less
Due: stylelint

chore(release): 5.0.0-beta.15
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  b61fcafe8d5be908a4b6253246148da6f8edf399
Due: none

fix(esl-event-listener): fix `listen` decorator strict types are incorrect
  src/modules/esl-event-listener/test/listener.delegate.test.ts
  src/modules/esl-utils/decorators/listen.ts
  src/modules/esl-utils/decorators/test/listen.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): touch action rewritten to use `PointerEvents` API
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(release): 5.0.0-beta.16
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  343c9bcd9ead47b78bee972bdfee3b46a2e6da36
Due: none
