Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-utils): resize observer target extension
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): export ESLResizeTarget type
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): remove unncessary type check
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(stylelint): create custom `stylelint` rules for deprecations
  .stylelintrc.yml
  build/stylelint-custom-rules/block-opening-brace-space-before.stylelint.js
  build/stylelint-custom-rules/color-hex-case.stylelint.js
  build/stylelint-custom-rules/declaration-colon-space-after.stylelint.js
  build/stylelint-custom-rules/no-extra-semicolons.stylelint.js
  build/stylelint-custom-rules/number-leading-zero.stylelint.js
  build/stylelint-custom-rules/selector-list-comma-space-before.stylelint.js
  build/stylelint-custom-rules/selector-pseudo-class-case.stylelint.js
  build/stylelint-custom-rules/selector-pseudo-class-parentheses-space-inside.stylelint.js
  build/stylelint-custom-rules/selector-pseudo-element-case.stylelint.js
  package-lock.json
  package.json
Due: none

fix(esl-media): fix `iv_load_policy` param and small test regexp optimization in YouTube provider
  src/modules/esl-media/providers/youtube-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix typechecking for TS5
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): apply suggestions from code review
  src/modules/esl-share/README.md
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): update actiontype name
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): jsdoc update
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): remove data-share attributes
  pages/views/examples/share.njk
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

docs(esl-share): update readme doc
  src/modules/esl-share/README.md
Due: none

chore(deps-dev): butch update of dependencies
  package-lock.json
  package.json
Due: none

chore: remove engine restriction for package (as it is not node-related)
  package.json
Due: none

chore(esl-utils): code refactoring
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix target delegation checking
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): add TSX shapes for `ESLShare`
  src/modules/esl-share/core/esl-share-button.shape.ts
  src/modules/esl-share/core/esl-share-list.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): remove data- attributes
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): remove readonly modifier from list attribute on esl-share-list
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-utils/abstract/dom-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): update deprecated use cases
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-media-query/core/conditions/media-query-condition.ts
  src/modules/esl-media-query/core/conditions/media-query-containers.ts
  src/modules/esl-media-query/core/esl-media-rule-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(options): specify click event target
  src/plugins/header/options/options.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(snippets): title and dropdown menu update
  src/plugins/header/snippets/snippets.less
Due: stylelint, lintspaces -n -t -d spaces

chore(esl-utils): code refactoring
  src/modules/esl-event-listener/core/targets/decorated.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): `getEventListeners()` method introduced for `SynteticEventTarget` (#1548)
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-media-query/core/conditions/media-query-condition.ts
  src/modules/esl-media-query/core/conditions/media-query-containers.ts
  src/modules/esl-media-query/core/esl-media-rule-list.ts
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): remove unnecessary tag name getter
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): Introduce standardized way to resolve `ESLDomElementRelated` - `resolveDomTarget`
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-utils/abstract/dom-target.ts
  src/modules/esl-utils/dom/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): apply suggestion from code review
  src/modules/esl-share/README.md
Due: none

docs(esl-share): apply suggestions from code review
  src/modules/esl-share/README.md
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): improved `ESLResizeObserverTarget` API with a standardized `ESLElementResizeEvent`
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.event.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-event-listener/test/targets/resize.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): rename esl-share-list with esl-share
  pages/src/localdev.ts
  pages/views/examples/share.njk
  src/modules/esl-share/README.md
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.less
  src/modules/esl-share/core/esl-share.less
  src/modules/esl-share/core/esl-share.shape.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esk-share): remove esl-share-list element
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): test cases
  src/modules/esl-event-listener/test/targets/resize.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): apply suggestion from code review
  src/modules/esl-share/core/esl-share.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): incorrect throttle behaviour
  src/modules/esl-event-listener/test/targets/decorator.test.ts
  src/modules/esl-utils/async/test/throttle.test.ts
  src/modules/esl-utils/async/throttle.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(gh-pages): add new favicon icons
  pages/static/assets/logo-120x120.png
  pages/static/assets/logo-light-blue.svg
  pages/views/_layouts/base.njk
Due: lintspaces -n -t -d spaces

refactor(esl-event-listener): change API of extended EventTargets
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-event-listener/test/targets/decorator.test.ts
  src/modules/esl-event-listener/test/targets/resize.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(gh-pages): add new favicon icons according to the favicons guide
  pages/static/assets/favicon/apple-touch-icon.png
  pages/static/assets/favicon/icon-192.png
  pages/static/assets/favicon/icon-512.png
  pages/static/assets/favicon/icon.svg
  pages/static/assets/logo-120x120.png
  pages/static/assets/logo-64x64.png
  pages/static/tools/favicon.ico
  pages/static/tools/manifest.webmanifest
  pages/views/_layouts/base.njk
Due: lintspaces -n -t -d spaces

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
