Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@24b96405ef0649f8fecebb84458f6a2a63ffb593 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@90263444a7fd768a0aa9b2e83c9a8b2f2b038210 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(redirect): add permalink for ` /utils/esl-utils/` path
  pages/views/redirect/esl-utils.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@bb3e01a1e65dd3ab65c18940bcdb03a57cf108ca 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
  utils/esl-utils/index.html
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@90263444a7fd768a0aa9b2e83c9a8b2f2b038210 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
  utils/esl-utils/index.html
Due: lintspaces -n -t -d spaces

chore(gh-pages): add permalink for `/utils/esl-utils` path
  pages/views/redirect/esl-utils.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@2802778de690bdd09626e2988a6df81c1a5c7750 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(gh-pages): add `permalink` and `target` for `/utils/esl-utils/`
  pages/views/redirect/esl-utils.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@b9bcc507febac1ca5b05964df47bf26dbfa1e7af 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
  utils/esl-utils/index.html
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@b9bcc507febac1ca5b05964df47bf26dbfa1e7af 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: update header, footer, sidebar html structure
  pages/views/_includes/footer.njk
  pages/views/_includes/header.njk
  pages/views/_includes/sidebar.njk
  pages/views/_layouts/basic.njk
  pages/views/index.njk
  pages/views/styles/page.less
Due: stylelint, lintspaces -n -t -d spaces

chore: remove old theme
  src/plugins/header/options/option/theme.less
  src/variables.less
Due: stylelint, lintspaces -n -t -d spaces

chore(header): update height and html structure
  src/variables.less
Due: stylelint, lintspaces -n -t -d spaces

chore(sidebar): update width, add overflow hidden
  pages/views/styles/sidebar.less
Due: stylelint, lintspaces -n -t -d spaces

chore(header): update height and html structure
  pages/static/assets/logo.svg
  pages/views/styles/header.less
  pages/views/styles/page.less
Due: stylelint, lintspaces -n -t -d spaces

chore: update basic, components, examples html structure
  pages/views/_includes/footer.njk
  pages/views/_layouts/basic.njk
  pages/views/components/components.njk
  pages/views/examples/examples.njk
Due: lintspaces -n -t -d spaces

chore: update list of examples html structure and styles
  pages/views/examples/example/form.njk
  pages/views/examples/example/image.njk
  pages/views/examples/example/list.njk
  pages/views/examples/example/multiple-playgrounds.njk
  pages/views/examples/example/playground.njk
  pages/views/styles/examples/list.less
  pages/views/styles/examples/multiple-playgrounds.less
  pages/views/styles/page.less
  src/plugins/header/options/option/theme.less
Due: stylelint, lintspaces -n -t -d spaces

chore: update list of examples and components html structure and styles
  pages/views/_layouts/basic.njk
  pages/views/components/components.njk
  pages/views/core/base.njk
  pages/views/core/preview.njk
  pages/views/core/snippets.njk
  pages/views/examples/example/form.njk
  pages/views/examples/example/image.njk
  pages/views/examples/example/list.njk
  pages/views/examples/example/multiple-playgrounds.njk
  pages/views/examples/example/playground.njk
  pages/views/examples/examples.njk
  pages/views/plugins/editor.njk
  pages/views/plugins/options.njk
  pages/views/plugins/settings.njk
  pages/views/settings/bool-setting.njk
  pages/views/settings/select-setting.njk
  pages/views/settings/setting.njk
  pages/views/settings/slider-setting.njk
  pages/views/settings/text-setting.njk
Due: lintspaces -n -t -d spaces

chore: update landing page (add playground)
  pages/views/index.njk
  pages/views/styles/page.less
Due: stylelint, lintspaces -n -t -d spaces

chore(deps-dev): bump minor dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps-dev): bump semantic-release to v20.0.2
  package-lock.json
  package.json
Due: none

chore: bump minimal dev version to node@^18
  .github/workflows/commit.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  docs/DEVELOPMENT.md
Due: none

chore: fix sidebar width on mobiles
  pages/views/styles/sidebar.less
Due: stylelint, lintspaces -n -t -d spaces

chore(esl-related-target): add tests and documentation
  build/jest.html-loader.js
  jest.config.js
  package-lock.json
  src/modules/esl-related-target/README.md
  src/modules/esl-related-target/core/esl-related-target.ts
  src/modules/esl-related-target/test/nested-accordion-template.html
  src/modules/esl-related-target/test/related-target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

chore: update landing page with UIP example
  pages/views/index.njk
  pages/views/styles/page.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-related-target): change unit tests and documentation
  jest.config.js
  src/modules/esl-related-target/README.md
  src/modules/esl-related-target/test/nested-accordion-template.html
  src/modules/esl-related-target/test/related-target.test.ts
  src/modules/esl-related-target/test/template.html
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

fix(esl-popup): protected methods visibility
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@68befd4fd48f2aaf846c3e9f7437a80bddf80bd7 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
