Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

fix(async-components): fix linter issues
  src/plugins/async-plugins.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@e181e296c277adc74c8143d57e62de61596b61f7 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@e181e296c277adc74c8143d57e62de61596b61f7 🚀
  bundles/localdev.css.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

test(esl-animate): cover module parts with tests
  src/modules/esl-animate/core/esl-animate-service.ts
  src/modules/esl-animate/test/animate.mixin.test.ts
  src/modules/esl-animate/test/animate.service.test.ts
  src/modules/esl-animate/test/animate.test.ts
  src/modules/esl-animate/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-animate): esl-animate documentation
  src/modules/esl-animate/README.md
Due: none

Deploying to gh-pages from @ exadel-inc/esl@940f178002a8b11ca4e7dbb93c285e5738e8ec4f 🚀
  bundles/localdev.css.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@940f178002a8b11ca4e7dbb93c285e5738e8ec4f 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(settings): fix collapse animation on mobile
  src/plugins/settings/settings.less
Due: stylelint, lintspaces -n -t -d spaces

feat(eslint): move files to new `linting` folder
  .eslintrc.yml
  linting/coderules.eslintrc.yml
  linting/codestyle.eslintrc.yml
  linting/import.eslintrc.yml
  linting/sonarjs.eslintrc.yml
  linting/tests.eslintrc.yml
Due: none

chore: put ui-playground in a separate bundle
  pages/webpack.config.js
Due: none

Deploying to gh-pages from @ exadel-inc/esl@9be6af13fad787f6fb27b23a91c5882a712ad941 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

test(esl-animate): test refactoring
  src/modules/esl-animate/test/animate.mixin.test.ts
  src/modules/esl-animate/test/animate.service.test.ts
  src/modules/esl-animate/test/animate.test.ts
  src/modules/esl-animate/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-animate): apply suggestions from review
  src/modules/esl-animate/README.md
Due: none

style(esl-avatal): fix stylelint issue
  pages/src/esl-avatar-demo/avatar-demo.less
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-share): create esl-share-button initial implementation
  src/modules/esl-share/core/esl-share-button.less
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(gh-pages): remove push trigger to deploy site
  .github/workflows/pages.yml
Due: none

feat(esl-share): create abstract base action class
  src/modules/esl-share/core/esl-share-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(gh-pages): fix aurora effect for `lg-xl`, `xl` and `xs` breakpoints (#1314)
  pages/src/landing/promo-banner/promo-banner.less
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): fix logo svg to prevent artifacts on iOS devices (#1313)
  pages/static/assets/logo-pretty.svg
Due: none

chore(gh-pages): add robots="noindex" meta tag for forward template
  pages/views/_layouts/forward.njk
Due: lintspaces -n -t -d spaces

chore(gh-pages): add 11ty generator marker metatag
  pages/views/_layouts/base.njk
Due: lintspaces -n -t -d spaces

feat(esl-share): create share actions registry
  src/modules/esl-share/core/esl-share-action-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-share): create print action
  src/modules/esl-share/actions/print.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-share): create copy action
  src/modules/esl-share/actions/copy.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-share): create media action
  src/modules/esl-share/actions/media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-share): rename actions
  pages/src/localdev.ts
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/print-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-share): update imports
  pages/src/localdev.ts
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-share): delete esl-share-icons
  src/modules/esl-share/core/esl-share-icon.less
  src/modules/esl-share/core/esl-share-icon.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

docs(esl-share): update demo page
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

fix(settings/editor): rollback
  src/plugins/editor/editor.less
  src/plugins/editor/editor.ts
  src/plugins/settings/settings.less
  src/plugins/settings/settings.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(deps-dev): update common dev dependencies
  package-lock.json
  package.json
Due: none

chore: exclude njk from space-lint due incorrect indents interpretation
  package.json
  pages/src/landing/overview/overview.less
  pages/views/_includes/lorem.njk
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@6dfdfa6c593c856685e4a6b50cb1192aaf63a3e6 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat: added optional resizable attribute for preview
  pages/views/examples/example/form.njk
  pages/views/examples/example/playground.njk
  src/core/preview/preview.less
  src/core/preview/preview.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces
