Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

docs(esl-mixin-element): small update in `esl-mixin-registry.ts` documentation
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): apply suggestions from code review
  pages/views/draft/share-regression.njk
  src/modules/esl-share/README.md
Due: lintspaces -n -t -d spaces

style(esl-share): add shape to esl-share-trigger to support TSX
  src/modules/esl-share/core/esl-share-trigger.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): apply suggestions from code review
  src/modules/esl-share/core/esl-share-trigger.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): update public API according follow-up scope
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  ee/e841a4377d89a210c62a3f851cd0db933eef62
Due: none

chore: update dark theme and icons of playground
  pages/src/common/playground.less
  pages/views/components/esl-media.njk
  pages/views/examples/accordion.njk
  pages/views/examples/scrollbar.njk
Due: stylelint, lintspaces -n -t -d spaces

fix: hotfix for writeable `is` field short initialization syntax
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-base-element/test/element.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-base-element): split register method tto reduce complexity
  src/modules/esl-base-element/core/esl-base-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.9.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  44/a1b8ddce24407ba141e9daab538b5ca4b6ccbb
Due: none

chore: add `bugs` section to `package.json`
  package.json
Due: none

refactor(esl-carousel): blinking while `commit` stage after touch move
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-mixin): additional prototype tests
  src/modules/esl-mixin-element/test/mixin.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-mixin): refactor tests to describe
  src/modules/esl-mixin-element/test/mixin.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.10.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8a/f91e5e83d813026e45727b8817eb71d4ab0e9f
Due: none

chore(dev-deps): `@typescript-eslint/*` updated to v6.0.0
  linting/codestyle.eslintrc.yml
  linting/import.eslintrc.yml
  package-lock.json
  package.json
Due: none

chore(prettier): install prettier and `stylelint-prettier` (for `*.less` files only)
  .prettierignore
  .prettierrc.yml
  .stylelintrc.yml
  package-lock.json
  package.json
Due: none

chore: add `fix:less` command to run stylelint in fix mode
  package.json
Due: none

docs(esl-toggleable): fix closing tag on `examples/toggleable`
  pages/views/examples/toggleable.njk
Due: lintspaces -n -t -d spaces

chore(prettier): change prettier stylelint rules severity to `warning`
  .stylelintrc.yml
Due: none

fix(esl-footnotes): remove the possibility of setup esl-note anchor markup conditionally
  src/modules/esl-footnotes/core/esl-note.less
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(release): 4.9.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f8/f049de6b4ec954f021495275d7688614ddd662
Due: none

docs(site): add contribution required banner
  pages/11ty/markdown.lib.js
  pages/src/banner/banner.less
  pages/src/banner/banner.ts
  pages/src/banner/redesign.ts
  pages/src/common/typography.less
  pages/src/localdev.ts
  pages/views/_data/banner.yml
  pages/views/_includes/navigation/banner.njk
  pages/views/_layouts/content.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

docs(site): remove highlighted news state
  pages/src/landing/newsline/newsline.less
  pages/views/_includes/landing/newsline.njk
  pages/views/blogs/Contribution Needed - Docs.md
Due: stylelint, lintspaces -n -t -d spaces

docs: extend the contributing guide
  CONTRIBUTING.md
Due: none

docs: contributing guide page
  CONTRIBUTING.md
  pages/site.yml
  pages/views/_data/banner.yml
  pages/views/_includes/navigation/banner.njk
  pages/views/introduction/contribute.njk
Due: lintspaces -n -t -d spaces

docs: small animation and content improvements
  pages/src/banner/banner.less
  pages/src/banner/banner.ts
  pages/views/blogs/ESL v4.8.0.md
  pages/views/blogs/ESL v5.0.0 Announce.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

fix(styles): remove unused dark theme styles
  src/plugins/editor/editor.tsx
  src/plugins/editor/jar/dark-theme.less
  src/plugins/editor/jar/jar-editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(esl-mixin): tests refactoring
  src/modules/esl-mixin-element/test/mixin.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-footnotes): create multilang example for footnotes
  pages/views/examples/footnotes.njk
Due: lintspaces -n -t -d spaces

fix(esl-footnotes): fix esl-tooltip related to the note does not perceive dir and lang of original content
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-footnotes): fix initial bodys text-align
  pages/src/common/reboot.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-footnotes): update text-align
  pages/src/common/reboot.less
  src/modules/esl-tooltip/core/esl-tooltip.less
Due: stylelint, lintspaces -n -t -d spaces

chore(release): 4.9.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
