Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore(release): 4.0.0-beta.15
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  fb/67050c4d7ef5ad33057008ffa4539405c24420
Due: none

chore(gh-pages): change website output bundles syntax to ES6
  pages/webpack.config.js
Due: none

chore: add `import/no-cycle` rule to linting requirement
  eslint/import.eslintrc.yml
Due: none

fix(esl-panel): remove cyclic reference of the ESLPanel to ESLPanelGroup
  src/modules/esl-panel/core/esl-panel.shape.ts
  src/modules/esl-panel/core/esl-panel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-media): remove cyclic reference of the ESLMedia internal IObserver to ESLMedia
  src/modules/esl-media/core/esl-media-iobserver.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-image): remove internal cyclic references in ESLImage modules
  src/modules/esl-image/core/esl-image-iobserver.ts
  src/modules/esl-image/core/esl-image-strategies.ts
  src/modules/esl-image/core/esl-image.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-select): fix internal esl-select-renderer cyclic reference
  src/modules/esl-forms/esl-select/core/esl-select-renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(release): 4.0.0-beta.16
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0d/f5ce5b18342117fc7105c30f666b7609883571
Due: none

feat(esl-panel-group): extend esl-panel-group refresh strategies list with 'open' and 'close' strategy
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@c0f6f89e98b2f52d7d79a7bc197561335c8c13f2 🚀
  bundles/localdev.js.map
  bundles/polyfill-full.js.map
  bundles/polyfill-light.js.map
  bundles/polyfill-medium.js.map
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(gh-pages): install rss-parser and jsdom
  package.json
  pages/11ty/rss.filter.js
Due: none

style(mobile): fix padding for header and settings
  src/plugins/header/header.less
  src/plugins/settings/settings.less
Due: stylelint, lintspaces -n -t -d spaces

style(mobile): fix padding for plugin inner
  src/core/base/plugin.less
Due: stylelint, lintspaces -n -t -d spaces

style(snippets): add right margin for dropdown control
  src/plugins/header/snippets/snippets.less
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-utils): add `skipOneRender` RAF utility
  src/modules/esl-utils/async/raf.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-panel-group): fix animation process capturing by ESLPanel component
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-panel/core/esl-panel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(gh-pages): add `new` badge
  pages/src/common/badge.less
  pages/views/_includes/landing/blogs.njk
  pages/views/_includes/navigation/sidebar-item.njk
  pages/views/_layouts/collection-grid.njk
  pages/views/_layouts/content.njk
  pages/views/blogs/index.njk
  pages/views/core/esl-mixin-element.njk
Due: stylelint, lintspaces -n -t -d spaces

style(uip for esl-media): fix labels for settings
  pages/src/common/playground.less
Due: stylelint, lintspaces -n -t -d spaces

chore(deps-dev): update @typescript-eslint version to 5.36.1
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ exadel-inc/esl@c0f6f89e98b2f52d7d79a7bc197561335c8c13f2 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(esl-utils): ESLEventListener descriptors can't be declared trough prototype inheritance
  src/modules/esl-utils/dom/events/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-utils): fix `@bind` decorator to save original function enumerable marker
  src/modules/esl-utils/decorators/bind.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-utils): fix `@decorate` decorator to work properly with `@listen`
  src/modules/esl-utils/decorators/decorate.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-panel-group): simplify _onConfigChange definition with `@decorate` utility
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(gh-pages): remove `beta` tag
  pages/views/core/esl-mixin-element.njk
Due: lintspaces -n -t -d spaces

refactor(gh-pages): add blogs thorough `rss.filter`
  pages/views/_includes/landing/blogs.njk
  pages/views/index.11tydata.yml
Due: lintspaces -n -t -d spaces

refactor(gh-pages): add variables for badge colors
  pages/src/common/badge.less
  pages/src/common/colors.less
Due: stylelint, lintspaces -n -t -d spaces

chore(release): 4.0.0-beta.17
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e5/f9b9fde82d59e8c017d93a09e81d7d9f7a0c63
Due: none

fix(esl-scrollbar): remove unnecessary width
  src/modules/esl-scrollbar/core/esl-scrollbar.less
Due: stylelint, lintspaces -n -t -d spaces

style(gh-pages): change code field in esl-tabs examples
  pages/src/common/code.less
  pages/views/examples/tabs.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): change `text-transform` for badges to `uppercase`, add badge for `sidebar-item' before item name, change `success` color
  pages/src/common/badge.less
  pages/src/common/colors.less
  pages/views/_includes/navigation/sidebar-item.njk
Due: stylelint, lintspaces -n -t -d spaces
