Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

test(esl-mixin-element): add `$$on` / `$$off` tests for `ESLMixinElement`
  src/modules/esl-mixin-element/test/mixin.listener-herpers.test.ts
  src/modules/esl-mixin-element/test/mixin.listener.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): safe rename of `EventUtils` (deprecated) to `ESLEventUtils`
  pages/src/anchor/anchor-link.ts
  pages/src/banner/redesign.ts
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-base-element/test/element.listener.test.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/test/listener.delegate.test.ts
  src/modules/esl-event-listener/test/listener.find.test.ts
  src/modules/esl-event-listener/test/listener.once.test.ts
  src/modules/esl-event-listener/test/listener.provider.test.ts
  src/modules/esl-event-listener/test/listener.resubscribe.test.ts
  src/modules/esl-event-listener/test/listener.subscribe.test.ts
  src/modules/esl-event-listener/test/listener.uniqueness.test.ts
  src/modules/esl-event-listener/test/listener.unsubscribe.test.ts
  src/modules/esl-event-listener/test/utils.test.ts
  src/modules/esl-footnotes/core/esl-footnotes.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-wrapper.ts
  src/modules/esl-forms/esl-select/core/esl-select.ts
  src/modules/esl-mixin-element/test/mixin.listener.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-toggleable/test/toggleable.request.test.ts
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
  src/modules/esl-utils/decorators/listen.ts
  src/modules/esl-utils/decorators/test/listen.test.ts
  src/modules/esl-utils/dom/test/events.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-traversing-query): safe rename of `TraversingQuery` (deprecated) to `ESLTraversingQuery`
  pages/src/esl-media-demo/test-media-source.ts
  pages/src/esl-media-demo/test-media.ts
  pages/src/navigation/header/header-search.ts
  src/modules/esl-a11y-group/core/esl-a11y-group.ts
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-animate/core/esl-animate.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-footnotes/core/esl-footnotes.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-image/core/esl-image.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs: rename `TraversingQuery` and `EventUtils` in docs
  src/modules/esl-a11y-group/README.md
  src/modules/esl-a11y-group/core/esl-a11y-group.shape.ts
  src/modules/esl-alert/README.md
  src/modules/esl-alert/core/esl-alert.shape.ts
  src/modules/esl-animate/README.md
  src/modules/esl-animate/core/esl-animate.shape.ts
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-event-listener/test/listener.once.test.ts
  src/modules/esl-event-listener/test/listener.resubscribe.test.ts
  src/modules/esl-event-listener/test/listener.subscribe.test.ts
  src/modules/esl-event-listener/test/listener.uniqueness.test.ts
  src/modules/esl-event-listener/test/listener.unsubscribe.test.ts
  src/modules/esl-event-listener/test/utils.test.ts
  src/modules/esl-footnotes/README.md
  src/modules/esl-image/README.md
  src/modules/esl-media/README.md
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-popup/README.md
  src/modules/esl-scrollbar/README.md
  src/modules/esl-traversing-query/test/esl-traversing-query.test.ts
  src/modules/esl-trigger/README.md
  src/modules/esl-trigger/core/esl-trigger.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@6f71d53c198c39c0a0f25f7d99c608c639f6fe62 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix: update importing ui playground
  package-lock.json
  pages/src/localdev.ts
  pages/src/ui-playground/ui-playground.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-event-listener): fix deprecation message for `EventUtils`
  src/modules/esl-event-listener/core/api.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-tabs): fix alignment behavoir
  src/modules/esl-tab/README.md
  src/modules/esl-tab/core/esl-tabs.less
  src/modules/esl-tab/core/esl-tabs.scrollable.less
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-event-listener): remove `context` setting from event listener config
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

test(esl-mixin-element): fix test name in mixin.listener-herpers.test.ts
  src/modules/esl-mixin-element/test/mixin.listener-herpers.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(gh-pages): update examples for esl-tabs component with central alignment
  pages/views/examples/tabs.njk
Due: lintspaces -n -t -d spaces

chore(dev-deps): update common dev dependencies
  package-lock.json
  package.json
Due: none

chore(release): 4.0.0-beta.18
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8a/c5cc4fdafc65a8c6dbbe1356b9862e4726715e
Due: none

fix(esl-tooltip): keyboard handling fix
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-footnotes): `ESLNotes` migrated to use ESLEventListener standard
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-footnotes): `ESLFootnotes` migrated to use ESLEventListener standard
  src/modules/esl-footnotes/core/esl-footnotes.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: update rules for detect breaking changes
  .releaserc.json
Due: none

Deploying to gh-pages from @ exadel-inc/esl@2934fd021c18edb84fbec57f6b07b304c8a9788b 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

docs(eslDoc): update imports
  pages/11ty/eslDoc/helpers/class.js
  pages/11ty/eslDoc/helpers/common.js
  pages/11ty/eslDoc/helpers/common/arguments.js
  pages/11ty/eslDoc/helpers/common/common.js
  pages/11ty/eslDoc/helpers/common/jsDoc.js
  pages/11ty/eslDoc/helpers/common/type.js
  pages/11ty/eslDoc/helpers/functions.js
  pages/11ty/eslDoc/helpers/type.js
  pages/11ty/eslDoc/render.js
Due: none

docs(eslDoc): update stylesheet
  pages/src/common/esl-doc.less
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-select): `ESLSelect` and `ESLSelectList` migrated to ESLEventListeners
  src/modules/esl-forms/esl-select-list/core/esl-select-list.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-wrapper.ts
  src/modules/esl-forms/esl-select/core/esl-select-renderer.ts
  src/modules/esl-forms/esl-select/core/esl-select.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-event-listener): allow to subscribe listener by global selector without host instanceof HTMLElement
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/listener.subscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-scrollbar): migrate all `esl-scrollbar` listeners to ESLEventListener feature
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(gh-pages): fix observation path for `*.md` files
  pages/.eleventy.js
Due: none

docs(gh-pages): update traversing query documentation
  src/modules/esl-traversing-query/README.md
Due: none

fix(esl-traversing-query): fix `scope` accepted type to include `Document`
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(gh-pages): update roadmap notes
  README.md
Due: none

docs(gh-pages): documentation cleanup
  src/modules/esl-a11y-group/README.md
  src/modules/esl-alert/README.md
  src/modules/esl-animate/README.md
  src/modules/esl-base-element/README.md
  src/modules/esl-footnotes/README.md
  src/modules/esl-forms/esl-select-list/README.md
  src/modules/esl-forms/esl-select/README.md
  src/modules/esl-image/README.md
  src/modules/esl-media-query/README.md
  src/modules/esl-media/README.md
  src/modules/esl-mixin-element/README.md
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel/README.md
  src/modules/esl-popup/README.md
  src/modules/esl-scrollbar/README.md
  src/modules/esl-tab/README.md
  src/modules/esl-tab/core/esl-tabs.ts
  src/modules/esl-toggleable/README.md
  src/modules/esl-trigger/README.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@72442dcb58d95a7f9b5e43c8b3553e802d0aeb49 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-event-listener): cosmetic fix for test names
  src/modules/esl-event-listener/test/listener.subscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(gh-pages): documentation cleanup
  pages/views/blogs/Migrating to ESL v4.0.0.md
  src/modules/esl-event-listener/README.md
  src/modules/esl-tab/README.md
  src/modules/esl-trigger/README.md
Due: none

style(esl-select): simplify subscription for `esl-select-renderer`
  src/modules/esl-forms/esl-select/core/esl-select-renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-tabs): migrate `esl-tabs` to ESLEventListeners
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-tabs): manually subscribe to the scroll event
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(gh-pages): update release public changelog
  pages/views/blogs/ESL v4.0.0.md
  pages/views/blogs/Migrating to ESL v4.0.0.md
  pages/views/blogs/Prelelease v4.0.0.md
Due: none

Deploying to gh-pages from @ exadel-inc/esl@43fceebd665a6698fc6be4fbd9772f84acda4217 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces
