Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

refactor(esl-carousel): refactor indexToGroup method
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-toggleable): rework onParamsUpdate calling for cases when params.force is set
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix sequence finder behaviour in case step function leads to loop
  src/modules/esl-utils/dom/test/traversing.test.ts
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): split `esl-utils/async/promise` to separate files, extend tests
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-utils/async/debounce.ts
  src/modules/esl-utils/async/promise.ts
  src/modules/esl-utils/async/promise/animation.ts
  src/modules/esl-utils/async/promise/defered.ts
  src/modules/esl-utils/async/promise/event.ts
  src/modules/esl-utils/async/promise/raf.ts
  src/modules/esl-utils/async/promise/timeout.ts
  src/modules/esl-utils/async/promise/try-until.ts
  src/modules/esl-utils/async/raf.ts
  src/modules/esl-utils/async/test/promise.test.ts
  src/modules/esl-utils/async/test/promise/animation.test.ts
  src/modules/esl-utils/async/test/promise/defered.test.ts
  src/modules/esl-utils/async/test/promise/event.test.ts
  src/modules/esl-utils/async/test/promise/raf.ts
  src/modules/esl-utils/async/test/promise/timeout.test.ts
  src/modules/esl-utils/async/test/promise/try-until.test.ts
  src/modules/esl-utils/async/throttle.ts
  src/modules/esl-utils/dom/scroll/scroll-into-view.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix package version
  package-lock.json
  package.json
Due: none

docs(esl-utils): small documentation style fix
  src/modules/esl-utils/async/promise/defered.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): fix missing `promisifyTimeout` global export
  src/modules/esl-utils/async/promise.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix touch move for non fulfilled carousel
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): slide mutation fixes
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): multiple base fixes
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix offset move calculations
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-event-listener): add the ability to get the current delegated event target (#1675)
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-event-listener/test/listener.delegate.test.ts
  src/modules/esl-utils/decorators/test/listen.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): js doc fixes
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): update event listener module documentation
  src/modules/esl-event-listener/README.md
Due: none

chore: fix plugin order in semantic's `releaserc.yml` file
  .releaserc.yml
Due: none

chore(release): 4.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  df/b7e0c8b0f9b4af4d580f5fa166e47e77a17fe4
Due: none

chore: add jsx-dom
  package-lock.json
  package.json
  pages/webpack.config.js
  tsconfig.json
Due: none

feat: create OptionIcons class, update options config and styles
  src/plugins/header/header.less
  src/plugins/header/options/OptionIcons.tsx
  src/plugins/header/options/option/option.less
  src/plugins/header/options/option/option.ts
  src/plugins/header/options/options.ts
  src/plugins/registration.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat: add copy svg to OptionIcons class, fix click events
  src/plugins/header/header.less
  src/plugins/header/header.ts
  src/plugins/header/options/OptionIcons.tsx
  src/plugins/header/options/option/option.less
  src/plugins/header/options/options.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

fix(esl-utils): fix missing export of `createDeferred` method under `esl-utils/async/promise`
  src/modules/esl-utils/async/promise.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix unsubscription id `promisifiedEvent` rejected by timeout (#1698)
  src/modules/esl-utils/async/promise/event.ts
  src/modules/esl-utils/async/test/promise/event.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-event-listener): regroup event listener code (#1449)
  src/modules/esl-event-listener/core/descriptors.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(theme): add dark theme to jar editor
  src/plugins/editor/editor.less
  src/plugins/editor/jar/jar-editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

fix(esl-utils): fix unsubscription if `promisifiedEvent` rejected by timeout (#1698) (#1724)
  src/modules/esl-utils/async/promise/event.ts
  src/modules/esl-utils/async/test/promise/event.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.7.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f1/57223b784be022fecd0c40686c6db38f8a45f3
Due: none

style(esl-carousel): small fixes for marquee example
  pages/src/esl-carousel-demo/test-carousel.less
  pages/views/examples/carousel.marquee.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): change loading structure to simplify it for now
  package.json
  pages/src/localdev.less
  pages/src/localdev.ts
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(release): 4.8.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  11/003c34bb3aedc185801e1010c5d18725b86b6d
Due: none

chore(gh-pages): news section refactoring
  pages/11ty/join.js
  pages/11ty/news.js
  pages/src/landing/blogs/blogs.less
  pages/views/_includes/landing/blogs.njk
  pages/views/_includes/landing/blogs2.njk
  pages/views/_includes/landing/blogs3.njk
  pages/views/_includes/landing/news.njk
  pages/views/articles/ESL v4.0.0 copy 2.md
  pages/views/articles/ESL v4.0.0 copy.md
  pages/views/articles/ESL v4.0.0.md
  pages/views/blogs/ESL v4.0.0 copy 2.md
  pages/views/blogs/ESL v4.0.0 copy.md
  pages/views/blogs/ESL v4.0.0.md
  pages/views/index.11tydata.yml
  pages/views/index.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): news section refactoring
  pages/11ty/date.filter.js
  pages/11ty/date.js
  pages/11ty/news.collection.js
  pages/src/common/links.less
  pages/views/blogs/ESL v4.0.0.md
  pages/views/index.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): news section refactoring
  pages/views/_includes/landing/news.njk
Due: lintspaces -n -t -d spaces

feat(esl-toggleable): ability to set up state class to any `related` element (#1727)
  src/modules/esl-toggleable/README.md
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-utils/dom/class.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: `release-it` removed from the project
  .github/workflows/release-legacy.yml
  .release-it.yml
  package-lock.json
  package.json
Due: none

chore: `release-please` draft integration
  .github/workflows/release-pr.yml
Due: none
