Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore: add ES/TS linting rules from ESL, fix found issues
  .eslintrc.json
  .eslintrc.yml
  linting/coderules.eslintrc.yml
  linting/codestyle.eslintrc.yml
  linting/import.eslintrc.yml
  linting/sonarjs.eslintrc.yml
  package-lock.json
  package.json
  src/core/base/model.ts
  src/core/base/plugin.tsx
  src/core/base/root.ts
  src/core/preview/preview.ts
  src/core/registration.ts
  src/core/utils/normalization.ts
  src/core/utils/token-list.ts
  src/plugins/editor/editor.tsx
  src/plugins/header/header.tsx
  src/plugins/header/options/option-icons.tsx
  src/plugins/header/options/option/option.tsx
  src/plugins/header/options/options.ts
  src/plugins/header/snippets/snippets.tsx
  src/plugins/registration.ts
  src/plugins/settings/setting.ts
  src/plugins/settings/settings.tsx
  src/registration.ts
  src/settings/bool-setting/bool-setting.tsx
  src/settings/registration.ts
  src/settings/select-setting/select-setting.ts
  src/settings/slider-setting/slider-setting.tsx
  src/settings/text-setting/text-setting.tsx
  tsdoc.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(uip-preview): add preview plugin smooth content change animation
  src/core/preview/preview.less
  src/core/preview/preview.ts
  src/core/preview/preview.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(uip-settings): simplify settings to model flow
  src/plugins/settings/setting.ts
  src/plugins/settings/settings.tsx
  src/settings/bool-setting/bool-setting.tsx
  src/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(uip-settings): restructure settings plugins placement
  README.md
  src/plugins/registration.ts
  src/plugins/settings/README.md
  src/plugins/settings/all.less
  src/plugins/settings/bool-setting/README.md
  src/plugins/settings/bool-setting/bool-setting.less
  src/plugins/settings/bool-setting/bool-setting.tsx
  src/plugins/settings/select-setting/README.md
  src/plugins/settings/select-setting/select-setting.less
  src/plugins/settings/select-setting/select-setting.ts
  src/plugins/settings/slider-setting/README.md
  src/plugins/settings/slider-setting/slider-setting.less
  src/plugins/settings/slider-setting/slider-setting.tsx
  src/plugins/settings/text-setting/README.md
  src/plugins/settings/text-setting/text-setting.less
  src/plugins/settings/text-setting/text-setting.tsx
  src/registration.less
  src/registration.ts
  src/settings/registration.less
  src/settings/registration.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

test(esl-modal): check placeholder
  src/modules/esl-modal/test/modal.placeholder.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-modal): enhance placeholder verification
  src/modules/esl-modal/test/modal.placeholder.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): fix paths to settings README files
  pages/views/settings/bool-setting.njk
  pages/views/settings/select-setting.njk
  pages/views/settings/slider-setting.njk
  pages/views/settings/text-setting.njk
Due: lintspaces -n -t -d spaces

feat(uip-copy): create separate `uip-copy` plugin
  src/plugins/copy/uip-copy.shape.ts
  src/plugins/copy/uip-copy.ts
  src/plugins/registration.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(uip-copy): small update for `header.ts` and option-icons.tsx
  src/plugins/header/header.ts
  src/plugins/header/options/option-icons.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-media-query): improve documentation
  src/modules/esl-media-query/README.md
Due: none

feat(uip-editor): rework `uip-editor` plugin with self UI state management and header section support
  pages/src/common/code.dark.less
  pages/src/common/code.less
  pages/views/examples/example/form.njk
  src/core/base/plugin.tsx
  src/core/base/root.less
  src/plugins/editor/editor.header.less
  src/plugins/editor/editor.less
  src/plugins/editor/editor.tsx
Due: stylelint, lintspaces -n -t -d spaces

refactor(uip-editor): small updates for padding defaults and theme support
  pages/src/common/code.dark.less
  src/plugins/editor/editor.header.less
  src/plugins/editor/editor.less
  src/plugins/editor/editor.themes.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(uip-settings): change structure - separate base setting to folder
  src/plugins/registration.ts
  src/plugins/settings/all.less
  src/plugins/settings/base-setting/base-setting.less
  src/plugins/settings/base-setting/base-setting.ts
  src/plugins/settings/bool-setting/bool-setting.tsx
  src/plugins/settings/select-setting/select-setting.ts
  src/plugins/settings/settings.tsx
  src/plugins/settings/slider-setting/slider-setting.tsx
  src/plugins/settings/text-setting/text-setting.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(uip-settings): rework uip-settings module rendering
  src/plugins/settings/base-setting/base-setting.ts
  src/plugins/settings/bool-setting/bool-setting.less
  src/plugins/settings/bool-setting/bool-setting.tsx
  src/plugins/settings/settings.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

docs(esl-media-query): apply suggestions from code review
  src/modules/esl-media-query/README.md
Due: none

style(esl-share): apply suggestions from code review
  src/modules/esl-share/core/esl-share-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint): migrate to typescript
  .eslintignore
  .eslintrc.yml
  .gitignore
  eslint/core/deprecated-alias.d.ts
  eslint/core/deprecated-alias.ts
  eslint/index.js
  eslint/index.ts
  eslint/package.json
  eslint/rules/4/deprecated.deep-compare.js
  eslint/rules/4/deprecated.deep-compare.ts
  eslint/rules/4/deprecated.event-utils.ts
  eslint/rules/4/deprecated.generate-uid.js
  eslint/rules/4/deprecated.generate-uid.ts
  eslint/rules/4/deprecated.toggleable-action-params.ts
  eslint/rules/4/deprecated.traversing-query.ts
  eslint/tsconfig.json
  tsconfig.build.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint): change config
  .eslintignore
  eslint/tsconfig.json
  tsconfig.build.json
Due: none

refactor(esl-trigger): add is target active getter
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): apply PR concerns
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-scrollbar): fix incorrect `at-start`/`at-end` handling when browser creates dimensions with the floating point
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix `debounce` helper random access of undefined
  src/modules/esl-utils/async/debounce.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): create common less variable for dark blue background
  pages/src/common/code.less
  pages/src/common/colors.less
  pages/src/navigation/footer/footer.less
Due: stylelint, lintspaces -n -t -d spaces

refactor(uip-editor): small stylistic fixes for header section
  src/plugins/editor/editor.header.less
  src/plugins/editor/editor.less
Due: stylelint, lintspaces -n -t -d spaces

feat(uip-settings): new `uip-settings` tag API
  pages/views/examples/example/form.njk
  src/core/base/plugin.less
  src/core/base/root.less
  src/plugins/editor/editor.tsx
  src/plugins/header/options/options.ts
  src/plugins/registration.ts
  src/plugins/settings/base-setting/base-setting.less
  src/plugins/settings/base-setting/base-setting.ts
  src/plugins/settings/settings.horizontal.less
  src/plugins/settings/settings.icon.tsx
  src/plugins/settings/settings.less
  src/plugins/settings/settings.tsx
  src/plugins/settings/settings.vertical.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(uip-root): remove legacy UI api
  src/core/base/root.ts
  src/plugins/header/options/options.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-event-listener): apply suggestions from the code review (#1958)
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-event-listener/test/listener.resubscribtion.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-traversing-query): improve documentation for esl-traversing-query (#1911)
  src/modules/esl-traversing-query/README.md
Due: none

chore(eslint): update lint rules
  .eslintrc.yml
  eslint/core/deprecated-alias.ts
  eslint/rules/4/deprecated.deep-compare.ts
  eslint/rules/4/deprecated.event-utils.ts
  eslint/rules/4/deprecated.generate-uid.ts
  eslint/rules/4/deprecated.toggleable-action-params.ts
  eslint/rules/4/deprecated.traversing-query.ts
  linting/eslint.eslintrc.yml
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): apply suggestions from review
  src/modules/esl-share/core/esl-share-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Revert "chore(eslint): change config"
  .eslintignore
  eslint/tsconfig.json
  tsconfig.build.json
Due: none

Revert "chore(eslint): migrate to typescript"
  .eslintignore
  .eslintrc.yml
  .gitignore
  eslint/core/deprecated-alias.d.ts
  eslint/core/deprecated-alias.js
  eslint/index.js
  eslint/index.ts
  eslint/package.json
  eslint/rules/4/deprecated.deep-compare.js
  eslint/rules/4/deprecated.deep-compare.ts
  eslint/rules/4/deprecated.event-utils.js
  eslint/rules/4/deprecated.generate-uid.js
  eslint/rules/4/deprecated.generate-uid.ts
  eslint/rules/4/deprecated.toggleable-action-params.js
  eslint/rules/4/deprecated.traversing-query.js
  eslint/tsconfig.json
  tsconfig.build.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Revert "chore(eslint): update lint rules"
  .eslintrc.yml
  eslint/core/deprecated-alias.ts
  eslint/rules/4/deprecated.deep-compare.ts
  eslint/rules/4/deprecated.event-utils.ts
  eslint/rules/4/deprecated.generate-uid.ts
  eslint/rules/4/deprecated.toggleable-action-params.ts
  eslint/rules/4/deprecated.traversing-query.ts
  linting/eslint.eslintrc.yml
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint): migrate eslint rules to ts
  .eslintignore
  .eslintrc.yml
  .gitignore
  eslint/core/deprecated-alias.d.ts
  eslint/core/deprecated-alias.ts
  eslint/index.js
  eslint/index.ts
  eslint/package.json
  eslint/rules/4/deprecated.deep-compare.ts
  eslint/rules/4/deprecated.event-utils.ts
  eslint/rules/4/deprecated.generate-uid.ts
  eslint/rules/4/deprecated.toggleable-action-params.ts
  eslint/rules/4/deprecated.traversing-query.ts
  eslint/tsconfig.json
  linting/eslint.eslintrc.yml
  tsconfig.build.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint): add prepare script
  eslint/package.json
Due: none

chore(eslint): code refactoring
  .eslintrc.yml
  eslint/core/deprecated-alias.ts
  eslint/index.ts
  eslint/tsconfig.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(eslint): code refactoring
  .eslintignore
  eslint/package.json
  eslint/src/core/deprecated-alias.ts
  eslint/src/index.ts
  eslint/src/rules/4/deprecated.deep-compare.ts
  eslint/src/rules/4/deprecated.event-utils.ts
  eslint/src/rules/4/deprecated.generate-uid.ts
  eslint/src/rules/4/deprecated.toggleable-action-params.ts
  eslint/src/rules/4/deprecated.traversing-query.ts
  eslint/src/test/deprecated-alias.invalid.test.ts
  eslint/src/test/deprecated-alias.valid.test.ts
  eslint/tsconfig.json
  jest.config.js
  linting/eslint.eslintrc.yml
  tsconfig.build.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-media): fix brightcove provider autoplay marker flow
  src/modules/esl-media/providers/brightcove-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(eslint): add documentation
  eslint/README.md
  pages/views/core/esl-lint.njk
Due: lintspaces -n -t -d spaces

chore(eslint): apply suggestions from code review
  eslint/src/core/deprecated-alias.ts
  eslint/tsconfig.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
