Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(site): add documentation for website monitoring
  packages/esl-website/docs/MONITORING.md
Due: none

chore(site): apply suggestions from code review
  .github/workflows/website-ssl-domain-check.yml
Due: none

chore(site): apply suggestions from code review
  .github/workflows/website-ssl-domain-check.yml
  packages/esl-website/docs/MONITORING.md
Due: none

chore: fix esl-scrollbar 2 bars resizable example
  packages/esl-website/views/examples/scrollbar.njk
Due: none

style: fix typo in snippet.ts
  packages/ui-playground/src/core/base/snippet.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): add esl carousel info element helper
  packages/esl-website/src/site.ts
  packages/esl-website/views/components/esl-carousel/info.njk
  packages/esl-website/views/examples/carousel/info.sample.njk
  packages/esl/src/esl-carousel/core.ts
  packages/esl/src/esl-carousel/plugin/info/README.md
  packages/esl/src/esl-carousel/plugin/info/esl-carousel.info.shape.ts
  packages/esl/src/esl-carousel/plugin/info/esl-carousel.info.ts
  packages/esl/src/types/jsx.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(ui-playground): drop themeCls
  packages/ui-playground/src/core/base/root.ts
  packages/ui-playground/src/core/config/config.ts
  packages/ui-playground/src/plugins/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add esl theme for uip
  packages/esl-website/src/playground/ui-playground.less
  packages/esl-website/src/playground/ui-playground.ts
  packages/esl-website/views/dev/popup-game.njk
  packages/esl-website/views/examples/accordion.njk
  packages/esl-website/views/examples/anchornav.njk
  packages/esl-website/views/examples/animate.njk
  packages/esl-website/views/examples/carousel.njk
  packages/esl-website/views/examples/embedded-media.njk
  packages/esl-website/views/examples/esl-drag-to-scroll.njk
  packages/esl-website/views/examples/esl-line-clamp.njk
  packages/esl-website/views/examples/footnotes.njk
  packages/esl-website/views/examples/image-utils.njk
  packages/esl-website/views/examples/image.njk
  packages/esl-website/views/examples/lazy-template.njk
  packages/esl-website/views/examples/menu.njk
  packages/esl-website/views/examples/notification.njk
  packages/esl-website/views/examples/scrollbar.njk
  packages/esl-website/views/examples/tabs.njk
  packages/esl-website/views/examples/toggleable.njk
  packages/esl-website/views/overview/quick/03-components/04-responsiveness-n-flexibility.njk
  packages/esl-website/views/overview/quick/04-playground/01-isolated&embedded.njk
  packages/esl-website/views/overview/quick/04-playground/02-editor.njk
  packages/esl-website/views/overview/quick/04-playground/03-settings.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/nested.njk
  packages/esl-website/views/playground/examples/text.njk
  packages/esl-website/views/playground/index.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(site): code refactoring
  packages/esl-website/views/examples/anchornav.njk
Due: none

chore(esl-carousel): remove state memoization; refactor state
  packages/esl-website/views/components/esl-carousel/info.njk
  packages/esl/src/esl-carousel/plugin/info/esl-carousel.info.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-carousel): add initA11ty; fix possible devision by zero
  packages/esl/src/esl-carousel/plugin/info/esl-carousel.info.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): version 5.15.0 release notes & updates
  packages/esl-website/views/blogs/ESL v5.15.0.md
  packages/esl-website/views/components/esl-carousel/info.njk
  packages/esl-website/views/components/esl-carousel/relation.njk
  packages/esl-website/views/components/esl-lazy-template.njk
  packages/esl-website/views/components/esl-media.njk
  packages/esl-website/views/examples/embedded-media.njk
  packages/esl-website/views/examples/lazy-template.njk
Due: none

fix(site): homepage newsline truncation fixed with esl-line-clamp
  packages/esl-website/src/landing/newsline/newsline.less
  packages/esl-website/views/_includes/landing/newsline-item.njk
Due: stylelint

deploy: 5dd65c29c086d44aa4137bdabae01b3dd2d5f3aa
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

chore: release v5.15.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix npm publish workflow
  .github/workflows/release-npm.yml
Due: none

chore: fix missing registry-url
  .github/workflows/release-npm.yml
Due: none

chore: debug publishing
  .github/workflows/release-npm.yml
Due: none

chore: fix debug publishing
  .github/workflows/release-npm.yml
Due: none

chore: remove debug steps
  .github/workflows/release-npm.yml
Due: none

chore: debug simple publish rule
  .github/workflows/release-npm.yml
Due: none

chore: add direct publish option
  .github/workflows/release-npm.yml
Due: none

chore: add a step to ensure latest npm
  .github/workflows/release-npm.yml
Due: none

chore: finalize fixed npm publish flow
  .github/workflows/release-npm.yml
Due: none

chore: fix min npm version
  package-lock.json
  package.json
Due: none

chore: release v5.15.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v6.0.0-beta.1
  CHANGELOG.md
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v6.0.0-beta.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v6.0.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

ci: Add Snyk security scan to PR workflow
  .github/workflows/snyk.yml
Due: none

ci: enables Snyk to scan all projects and experimental code
  .github/workflows/snyk.yml
Due: none

ci: simplifie Snyk workflow
  .github/workflows/snyk.yml
Due: none

ci: fix invalid flag option
  .github/workflows/snyk.yml
Due: none

ci: split Snyk workflow into Open Source and Code scans
  .github/workflows/snyk.yml
Due: none

ci: updates Snyk workflow to run tests with code analysis
  .github/workflows/snyk.yml
Due: none

ci: enhances Snyk workflow and reporting on pushes
  .github/workflows/snyk.yml
  .snyk
Due: none

ci: add artifact upload for Snyk SARIF reports
  .github/workflows/snyk.yml
Due: none

ci: test snyk ignore file
  .github/workflows/snyk.yml
Due: none

ci: fix Snyk ignore file
  .snyk
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
