Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(esl-share): apply suggestions from code review
  src/modules/esl-share/README.md
Due: none

style(esl-toolbar): fix redundant import
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-event-listener): apply suggestions from code review
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/test/targets/wheel.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-random-text): fix test titles
  src/modules/esl-random-text/test/esl-random-text.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): apply suggestions from review
  src/modules/esl-share/README.md
Due: none

feat(uip-snippets): totally rework header and snippets modules add separate uip-snippets-list and uip-snippets-title
  src/plugins/header/header.less
  src/plugins/header/header.tsx
  src/plugins/header/snippets/snippets.less
  src/plugins/header/snippets/snippets.tsx
  src/plugins/settings/base-setting/base-setting.ts
  src/plugins/settings/select-setting/select-setting.ts
  src/plugins/settings/settings.tsx
  src/plugins/snippets-list/README.md
  src/plugins/snippets-list/snippets-list.less
  src/plugins/snippets-list/snippets-list.shape.ts
  src/plugins/snippets-list/snippets-list.tsx
  src/plugins/snippets-list/snippets.icon.tsx
  src/plugins/snippets-title/snippets-title.less
  src/plugins/snippets-title/snippets-title.shape.ts
  src/plugins/snippets-title/snippets-title.tsx
  src/plugins/snippets/README.md
  src/plugins/snippets/snippets.less
  src/plugins/snippets/snippets.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-share): rethinking styles of share components
  pages/src/esl-share/esl-share.less
  pages/views/draft/share-regression.njk
  pages/views/examples/share.njk
  src/modules/esl-share/core/esl-share-button.less
  src/modules/esl-share/core/esl-share.less
Due: stylelint

fix(esl-share): fix share() method signature of print action
  src/modules/esl-share/actions/print-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-open-state): create ESL Open State mixin
  pages/src/localdev.ts
  src/modules/all.ts
  src/modules/esl-open-state/core.ts
  src/modules/esl-open-state/core/esl-open-state.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-open-state): add toggleable example
  pages/views/examples/toggleable.njk
Due: none

docs(esl-open-state): create README.md
  pages/views/components/esl-toggleable.njk
  src/modules/esl-open-state/README.md
Due: none

test(esl-open-state): create general behaviour tests
  src/modules/esl-open-state/test/esl-open-state.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(uip-snippets): refactor styles
  src/plugins/snippets-list/snippets-list.tsx
  src/plugins/snippets/snippets.less
  src/plugins/snippets/snippets.tsx
Due: stylelint

test(esl-open-state): create tests for initial state and media query change
  src/modules/esl-open-state/core/esl-open-state.ts
  src/modules/esl-open-state/test/esl-open-state.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): improve `rect` utility (it's almost ready to be immutable)
  src/modules/esl-popup/core/esl-popup-position.ts
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-utils/dom.ts
  src/modules/esl-utils/dom/events/misc.ts
  src/modules/esl-utils/dom/point.ts
  src/modules/esl-utils/dom/rect.ts
  src/modules/esl-utils/dom/test/rect.test.ts
  src/modules/esl-utils/dom/visible.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-share): fix focus behavior to a loop inside esl-share-popup
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
  src/modules/esl-utils/dom/focus.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-panel-group): `has-opened` attribute inconsistent
  src/modules/esl-panel-group/core/esl-panel-group.ts
  src/modules/esl-panel-group/test/esl-panel-group.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): improve aggregated tests
  src/modules/esl-utils/async/test/aggregate.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-panel-group): apply suggestion from code review
  src/modules/esl-panel-group/core/esl-panel-group.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: fix theming and layout
  src/core/base/base.less
  src/core/preview/preview.less
  src/plugins/settings/slider-setting/slider-setting.less
Due: stylelint

feat: add resize feature for plugin panels
  src/core/panel/plugin-panel.horizontal.less
  src/core/panel/plugin-panel.less
  src/core/panel/plugin-panel.tsx
  src/core/panel/plugin-panel.vertical.less
  src/plugins/editor/editor.tsx
  src/plugins/settings/settings.tsx
Due: stylelint

refactor(uip-snippets): rework header styles
  pages/src/playground.less
  pages/views/examples/example/image.njk
  src/common/mixins.less
  src/core/base/base.less
  src/core/base/root.less
  src/plugins/settings/settings.less
  src/plugins/snippets-list/snippets-list.less
  src/plugins/snippets-list/snippets-list.tsx
  src/plugins/snippets-title/snippets-title.tsx
  src/plugins/snippets/snippets.less
  src/plugins/snippets/snippets.tsx
Due: stylelint

refactor(uip-settings): completely remove dependencies on less variables
  pages/src/common/typography.less
  pages/src/playground.less
  pages/src/variables.less
  src/core/base/plugin.less
  src/core/base/root.less
  src/plugins/editor/editor.less
  src/plugins/settings/select-setting/select-setting.less
  src/plugins/settings/select-setting/select-setting.ts
  src/plugins/settings/settings.less
  src/plugins/settings/text-setting/text-setting.less
  src/plugins/snippets-title/snippets-title.less
  src/plugins/snippets/snippets.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-share): add OOTB configuration for the WhatsApp share button
  src/modules/esl-share/README.md
  src/modules/esl-share/buttons/all.ts
  src/modules/esl-share/buttons/whatsapp.ts
  src/modules/esl-share/test/buttons/whatsapp.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: docs, corrections and review fixes
  pages/views/examples/example/form.njk
  pages/views/examples/example/playground.njk
  src/core/base/model.ts
  src/core/base/root.less
  src/core/base/root.ts
  src/core/panel/plugin-panel.tsx
  src/plugins/copy/copy-button.ts
  src/plugins/settings/select-setting/select-setting.ts
  src/plugins/settings/settings.less
  src/plugins/snippets-list/snippets-list.tsx
  src/plugins/snippets-title/snippets-title.less
  src/plugins/snippets-title/snippets-title.shape.ts
  src/plugins/snippets-title/snippets-title.tsx
  src/plugins/snippets/snippets.tsx
  src/plugins/theme/theme-toggle.less
  src/plugins/theme/theme-toggle.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs: small in-code docs changes
  src/core/base/snippet.ts
  src/core/button/plugin-button.ts
  src/core/panel/plugin-panel.tsx
  src/core/preview/preview.tsx
  src/core/utils/token-list.ts
  src/plugins/copy/copy-button.ts
  src/plugins/settings/bool-setting/bool-setting.tsx
  src/plugins/settings/select-setting/select-setting.ts
  src/plugins/theme/theme-toggle.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): add OOTB configuration for the Viber share button
  src/modules/esl-share/README.md
  src/modules/esl-share/buttons/all.ts
  src/modules/esl-share/buttons/viber.ts
  src/modules/esl-share/test/buttons/viber.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(uip-copy): rework copy message styles and text
  pages/views/index.njk
  src/core/base/base.less
  src/core/base/root.less
  src/plugins/copy/copy-button.less
  src/plugins/copy/copy-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(uip-theme): optimize icon
  src/plugins/theme/theme-toggle.icon.tsx
Due: none

chore: update .releaserc.yml beta branch
  .releaserc.yml
Due: none

Revert "chore: update .releaserc.yml beta branch"
  .releaserc.yml
Due: none

chore: fix repository url
  .releaserc.yml
Due: none

feat(esl-share): add OOTB configuration for the Skype share button
  src/modules/esl-share/README.md
  src/modules/esl-share/buttons/all.ts
  src/modules/esl-share/buttons/skype.ts
  src/modules/esl-share/test/buttons/skype.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: introduce uip-header reimplementation
  README.md
  src/plugins/snippets-list/README.md
  src/plugins/snippets-title/README.md
  src/plugins/snippets/README.md
Due: none

feat(esl-share): add OOTB configuration for the Tumblr share button
  src/modules/esl-share/README.md
  src/modules/esl-share/buttons/all.ts
  src/modules/esl-share/buttons/tumblr.ts
  src/modules/esl-share/test/buttons/tumblr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 2.0.0-beta.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(esl-tooltip): add constraints to fix DOM position management for `esl-tooltip`
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-toggleable): rework actions pre-checks to fix flow on reopening toggleable
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-share-popup): update test cases with timer manipulations
  src/modules/esl-share/test/esl-share-popup.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
