Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

fix(esl-carousel): fix navigation group indexes restriction for non-loop carousels
  src/modules/esl-carousel/core/esl-carousel.utils.ts
  src/modules/esl-carousel/test/core/esl-carousel.utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(lint): set rules for eslint config
  eslint.config.js
  linting/coderules.eslintrc.yml
  linting/eslint.eslintrc.yml
  linting/site.eslintrc.yml
  linting/tests.eslintrc.yml
Due: none

chore(deps): install 'stylistic/eslint-plugin'
  eslint.config.js
  package-lock.json
  package.json
Due: none

style(deps): precise eslint rules, move to '@stylistic/eslint-plugin'
  eslint.config.js
  eslint.rules.js
  linting/coderules.eslintrc.yml
  linting/codestyle.eslintrc.yml
  linting/deprecated.eslintrc.yml
  linting/import.eslintrc.yml
Due: none

style(deps): fix max-len rule
  eslint.rules.js
  src/modules/esl-image/test/esl-image.test.ts
  src/modules/esl-share/buttons/blogger.ts
  src/modules/esl-share/buttons/copy.ts
  src/modules/esl-share/buttons/facebook.ts
  src/modules/esl-share/buttons/hatena.ts
  src/modules/esl-share/buttons/kakao.ts
  src/modules/esl-share/buttons/line.ts
  src/modules/esl-share/buttons/linkedin.ts
  src/modules/esl-share/buttons/mail.ts
  src/modules/esl-share/buttons/mix.ts
  src/modules/esl-share/buttons/mixi.ts
  src/modules/esl-share/buttons/myspace.ts
  src/modules/esl-share/buttons/native-share.ts
  src/modules/esl-share/buttons/pinterest.ts
  src/modules/esl-share/buttons/print.ts
  src/modules/esl-share/buttons/pusha.ts
  src/modules/esl-share/buttons/reddit.ts
  src/modules/esl-share/buttons/sina-weibo.ts
  src/modules/esl-share/buttons/skype.ts
  src/modules/esl-share/buttons/telegram.ts
  src/modules/esl-share/buttons/tumblr.ts
  src/modules/esl-share/buttons/twitter.ts
  src/modules/esl-share/buttons/viber.ts
  src/modules/esl-share/buttons/whatsapp.ts
  src/modules/esl-share/buttons/wykop.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-anchornav): fix ESLAnchornavRender signature
  site/src/esl-anchornav/esl-anchornav.ts
  src/modules/esl-anchornav/core.ts
  src/modules/esl-anchornav/core/esl-anchornav-types.ts
  src/modules/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add a social card
  site/static/assets/social-card.png
  site/views/_layouts/base.njk
Due: none

feat(esl-anchornav): add active-class to set on active item
  site/views/examples/anchornav.njk
  src/modules/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-anchornav): apply suggestions from code review
  src/modules/esl-anchornav/core/esl-anchornav.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): fix typos discovered during code review
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/esl-carousel.types.ts
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-image-utils): de-scope (img-cover, img-contain) classes
  src/modules/esl-image-utils/core/esl-image-utils.container.less
Due: stylelint

chore(site): move social card image path to `site.yml`
  site/site.yml
  site/views/_layouts/base.njk
Due: none

fix(esl-image-utils): remove extra overflow style
  src/modules/esl-image-utils/core/esl-image-utils.container.less
Due: stylelint

refactor(plugin-panel): replace settings icon
  esm/plugins/settings/arrow.icon.js
  src/core/panel/plugin-panel.tsx
  src/plugins/settings/settings.less
  src/plugins/settings/settings.tsx
Due: stylelint

chore: normalize actual dependencies (audit)
  package-lock.json
Due: none

chore(release): 5.0.0-beta.32
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  382fb986f0e2bbe01ecfb08dea13c7fad1a776c0
Due: none

fix(esl-carousel): fix slide mixin initialization order
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.33
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  4eaf23be524d5cded9079a4efc9a035df6ac6423
Due: none

refactor(plugin-panel): replace settings icon
  esm/plugins/settings/arrow.icon.js
  src/core/panel/plugin-panel.horizontal.less
  src/core/panel/plugin-panel.tsx
  src/plugins/settings/settings.less
  src/plugins/settings/settings.tsx
Due: stylelint

refactor(plugin-panel): add import
  src/plugins/settings/settings.less
Due: stylelint

style(deps): add ignore caught errors rule
  linting/codestyle.eslintrc.yml
Due: none

style(deps): migrate ban-types to new rules
  linting/coderules.eslintrc.yml
  src/modules/esl-utils/decorators/bind.ts
  src/modules/esl-utils/environment/export-ns.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(deps): get rid of TODO check
  src/modules/esl-footnotes/core/esl-footnotes-data.ts
  src/modules/esl-image/test/esl-image.test.ts
  src/modules/esl-image/test/xmlHttpRequest.mock.ts
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
  src/modules/esl-utils/decorators/test/bind.test.ts
  src/modules/esl-utils/misc/format.ts
  src/polyfills/list/dom.element.closest.ts
  src/polyfills/list/dom.event.keyboard.ts
  src/polyfills/list/dom.event.mouse.ts
  src/polyfills/list/dom.node.isConnected.ts
  src/polyfills/list/dom.tokenList.toggle.ts
  src/polyfills/list/es6.array.find.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(deps): update sonarjs
  package-lock.json
  package.json
Due: none

style(deps): remove unused rule
  src/polyfills/list/dom.event.keyboard.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(deps): update config
  eslint.config.js
Due: none

style(deps): turn off import.eslintrc.yml
  eslint.rules.js
Due: none

style(deps): add @ts-ignore to custom plugin tests
  eslint/test/deprecated-alias.invalid.test.ts
  eslint/test/deprecated-alias.valid.test.ts
  eslint/test/deprecated-class-method.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps): replace eslint-plugin-import by eslint-plugin-import-x
  eslint.config.js
  eslint.rules.js
  package-lock.json
  package.json
Due: none

style(deps): update deps
  package-lock.json
Due: none

style(deps): move ignore and languageOptions config to separate files
  eslint.config.js
  linting/eslint.config.ignore.js
  linting/eslint.config.language.js
Due: none

style(deps): split import plugin config and global eslint config
  eslint.config.js
  eslint.rules.js
  linting/eslint.config.import.js
Due: none

style(deps): refactor custom rules handling
  eslint.config.js
  eslint.rules.js
  linting/eslint.config.coderules.js
  linting/eslint.config.codestyle.js
  linting/eslint.config.deprecated.js
  linting/eslint.config.import.js
  linting/eslint.config.sonarjs.js
Due: none

style(deps): fix custom rules usages
  eslint.config.js
  linting/eslint.config.coderules.js
  linting/eslint.config.codestyle.js
  linting/eslint.config.deprecated.js
Due: none

style(deps): remove unused dependency
  package-lock.json
  package.json
Due: none

style(deps): fix ignore files
  linting/eslint.config.ignore.js
Due: none

chore: refactor and rename rule config files
  eslint.config.js
  linting/eslint.config.coderules.js
  linting/eslint.config.coderules.rules.yml
  linting/eslint.config.codestyle.js
  linting/eslint.config.codestyle.rules.yml
  linting/eslint.config.editorconfig.js
  linting/eslint.config.import.js
  linting/eslint.config.import.rules.yml
  linting/eslint.config.sonarjs.js
  linting/eslint.config.sonarjs.rules.yml
  linting/eslint.config.stylistic.js
  linting/eslint.config.stylistic.rules.yml
  linting/eslint.config.tsdoc.js
  linting/eslint.config.utils.js
  linting/sonarjs.eslintrc.yml
Due: none
