Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@c69a9ae17cf4336a2cb16739e089b1eed12bd20c 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(esl-animate): remove observed attributes
  pages/views/examples/animate.njk
  src/modules/esl-animate/core/esl-animate-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

docs(esl-animate): update styling
  pages/src/common/flex.less
Due: stylelint, lintspaces -n -t -d spaces

style: fix scrollbar right padding
  src/plugins/settings/settings.less
Due: stylelint, lintspaces -n -t -d spaces

chore(esl-alert): add tests for events
  src/modules/esl-alert/test/alert.request.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@358d3d3ccd5d18e211e6a2101088f8294f879333 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@3489e15f4c938f32e4f52998da33902ba983a50f 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@e1186ebc37588214596d87e4d56cc8a0313defa3 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

test(esl-alert): `esl-alert` component basic tests created (#1273)
  src/modules/esl-alert/test/alert.request.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@a378faac6f3adbff1511a51aee3741a0be2d140e 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@7e3bc5e328dd6940d86a9f899f47d0b50c7b7899 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@b9ca2c540c6e16611cbdee2a29f2d3cd585a1b40 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@ab00e96e1ad3282353ac9e8d375c4be3558cd151 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@a3719dbc87ab40b22b432c246c32556b0b4ec7af 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(esl-tabs): fix styles based on current scrollable type
  src/modules/esl-tab/core/esl-tabs.scrollable.less
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-related-target): add esl-related-target mixin
  pages/src/localdev.ts
  pages/views/components/esl-related-target.njk
  pages/views/examples/related-target.njk
  src/modules/all.ts
  src/modules/esl-related-target/README.md
  src/modules/esl-related-target/core.ts
  src/modules/esl-related-target/core/esl-related-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@7c081b9c656a3609a876d422ab6328caa5a934c4 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@aa41d9dd28db55881694f70109da1c6f6a8dca9b 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(esl-animate): add mixin default config
  src/modules/esl-animate/core/esl-animate-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-tabs): enhance scrollable type getter
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@da2875fdddb1ba8a79e917e076608a8b0f6513ac 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-related-target): apply suggestion from code review
  pages/views/components/esl-related-target.njk
  pages/views/examples/related-target.njk
  src/modules/esl-related-target/README.md
  src/modules/esl-related-target/core/esl-related-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

style(esl-related-target): apply review suggestion
  pages/views/components/esl-related-target.njk
  src/modules/esl-related-target/core/esl-related-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@78bc1a9947ed70847d32d0066b745d88bf1f5088 🚀
  bundles/localdev.css
  bundles/localdev.css.map
  bundles/localdev.js
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@54295af3c8da59a5da3440515bfb4461ca5b5afa 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@e84449daa140df3bc8179c4a7d608128017b0228 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@4bbcf4a2cf5bac7906b8ed4bbde3942790a33dcf 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@4d7587cc21b523c29f3112de48f4f38b0ad9557a 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
