Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore: update package json
  package-lock.json
  package.json
  src/plugins/header/options/option/option.ts
  src/plugins/header/options/options.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(release): 4.0.0-beta.19
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  44/22aea91e389b793a1807fd115c028ba92df408
Due: none

Deploying to gh-pages from @ exadel-inc/esl@baa4775479e44937f7f21af58c3e4588e32ec621 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(esl-utils): fix `@boolAttr` incompatible with mixin element
  src/modules/esl-mixin-element/test/mixin.attr-helpers.test.ts
  src/modules/esl-mixin-element/test/mixin.test.ts
  src/modules/esl-utils/decorators/bool-attr.ts
  src/modules/esl-utils/dom/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-event-listener): improve `ESLEventListener` object to have exact handler for simple subscriptions
  src/modules/esl-base-element/test/element.listener.test.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-mixin-element/test/mixin.listener-herpers.test.ts
  src/modules/esl-mixin-element/test/mixin.listener.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-toggleable): `ESLToggleableDispatcher` migrated to use `ESLEventListener`
  src/modules/esl-toggleable/core/esl-toggleable-dispatcher.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-animate): animate mixin element
  pages/src/localdev.ts
  src/modules/esl-animate/core.ts
  src/modules/esl-animate/core/esl-animate-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-animate): update styling
  pages/src/common/flex.less
  pages/views/examples/animate.njk
Due: stylelint, lintspaces -n -t -d spaces

docs: update of the pre-release CHANGELOG
  pages/views/blogs/ESL v4.0.0.md
Due: none

fix(esl-base-element): `ESLBaseElement.create` types updated to be compatible with overriding in current TS state
  src/modules/esl-base-element/core/esl-base-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs(esl-event-listener): update `ESLEventListener.handleEvent` builder description
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-utils): optimixe `esl-utils` module exports
  src/modules/esl-utils/all.ts
  src/modules/esl-utils/fixes.ts
  src/modules/esl-utils/misc.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@2ecce58c7f742e00d1d2a383d72e0542fe732d9f 🚀
  examples/accordion/index.html
  examples/carousel/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

docs(esl-utils): update `esl-utils` documentation
  src/modules/esl-utils/README.md
Due: none

docs: fixes for release notes draft
  pages/views/blogs/ESL v4.0.0.md
Due: none

docs(esl-event-listener): fix typos in TSDoc
  src/modules/esl-event-listener/README.md
Due: none

docs: fix docs (from PR review)
  pages/views/blogs/ESL v4.0.0.md
  src/modules/esl-base-element/README.md
  src/modules/esl-footnotes/README.md
  src/modules/esl-mixin-element/README.md
  src/modules/esl-traversing-query/README.md
Due: none

docs: fix grammar (from PR review)
  src/modules/esl-mixin-element/README.md
Due: none

docs: fix grammar (from PR review)
  src/modules/esl-base-element/README.md
  src/modules/esl-mixin-element/README.md
Due: none

chore(gh-pages): temporary disable cron build for gh-pages
  .github/workflows/pages.yml
Due: none

chore(dev-deps): update `@typescript-eslint` to 5.39.0
  package-lock.json
  package.json
Due: none

docs: fix grammar (from PR review)
  pages/views/blogs/ESL v4.0.0.md
  src/modules/esl-traversing-query/README.md
Due: none

docs: fix grammar (from PR review)
  pages/views/blogs/ESL v4.0.0.md
Due: none

docs: v4.0.0 documentation cleanup (#1260)
  README.md
  pages/.eleventy.js
  pages/views/blogs/ESL v4.0.0.md
  pages/views/blogs/Prelelease v4.0.0.md
  src/modules/esl-a11y-group/README.md
  src/modules/esl-alert/README.md
  src/modules/esl-animate/README.md
  src/modules/esl-base-element/README.md
  src/modules/esl-event-listener/README.md
  src/modules/esl-footnotes/README.md
  src/modules/esl-forms/esl-select-list/README.md
  src/modules/esl-forms/esl-select/README.md
  src/modules/esl-image/README.md
  src/modules/esl-media-query/README.md
  src/modules/esl-media/README.md
  src/modules/esl-mixin-element/README.md
  src/modules/esl-panel-group/README.md
  src/modules/esl-panel/README.md
  src/modules/esl-popup/README.md
  src/modules/esl-scrollbar/README.md
  src/modules/esl-tab/README.md
  src/modules/esl-tab/core/esl-tabs.ts
  src/modules/esl-toggleable/README.md
  src/modules/esl-traversing-query/README.md
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-trigger/README.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-mixin-element): update internal mixins store key
  src/modules/esl-mixin-element/ui/esl-mixin-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: README and sonar.properties update
  README.md
  sonar.properties
Due: none

Notes added by 'git notes add'
  e3/fbb3241dd869aa3093d2fba98ca6993927bf1a
Due: none

chore(release): 4.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(gh-pages): build triggers extended back with scheduler and push
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ exadel-inc/esl@64e4ac779e86f4b29d5ccec73d1a94f18f6f7f81 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(esl-media): make `media-type` optional if `media-src` defined (auto-provider feature)
  src/modules/esl-media/core/esl-media.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix: fix `esl-tabs` and `esl-panel-group` shape `children` property
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-tab/core/esl-tabs.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@c69a9ae17cf4336a2cb16739e089b1eed12bd20c 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: update package json
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
