Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(release): 4.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d2/fb105fb768263a2252110ae32e32b734263b5d
Due: none

Deploying to gh-pages from @ exadel-inc/esl@d2fb105fb768263a2252110ae32e32b734263b5d 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(esl-media-query): fix missing Event type in `core.ts` bundle
  src/modules/esl-media-query/core.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@b3d50ce6db2fe152336db7ae9330535ac2826499 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@4591bcbd86222936bf6d24d0dcd0f4d23c5f2ffa 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-related-target): small fix
  pages/views/components/esl-related-target.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@9fb01bf1ada769cc9e22399559868c9e34caf169 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(release): 4.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  96/6a074d58b15337707f90881e543a61594e1d65
Due: none

fix(gh-pages): create redirect links
  pages/views/_layouts/forward.njk
  pages/views/redirect/esl-a11y-group.njk
  pages/views/redirect/esl-media-query.njk
  pages/views/redirect/esl-traversing-query.njk
  pages/views/redirect/utils.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@966a074d58b15337707f90881e543a61594e1d65 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: update package json
  package-lock.json
  package.json
Due: none

fix(gh-pages): code refactoring
  pages/src/page/base-layout.less
  pages/views/404.njk
  pages/views/_layouts/base.njk
  pages/views/_layouts/forward.njk
  pages/views/redirect/esl-a11y-group.njk
  pages/views/redirect/esl-media-query.njk
  pages/views/redirect/esl-traversing-query.njk
  pages/views/redirect/utils.njk
Due: stylelint, lintspaces -n -t -d spaces

fix(gh-pages): code refactoring
  pages/views/redirect/esl-a11y-group.njk
  pages/views/redirect/esl-media-query.njk
  pages/views/redirect/esl-traversing-query.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@670229a46d01d30a472c2f4fe3b4d2860ca96753 🚀
  bundles/polyfill-full.js
  bundles/polyfill-full.js.map
  bundles/polyfill-medium.js
  bundles/polyfill-medium.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(gh-pages): style refactoring
  pages/views/_layouts/base.njk
Due: lintspaces -n -t -d spaces

style(gh-pages): fix typo in redirect message
  pages/views/_layouts/forward.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@fc9dd50e04de034b004937a501a2c234c2e1014f 🚀
  404.html
  bundles/localdev.css
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
  utils/esl-a11y-group.html
  utils/esl-media-query.html
  utils/esl-traversing-query.html
  utils/index.html
Due: lintspaces -n -t -d spaces

chore(gh-pages): fix sitemap for redirect and collections pages
  pages/views/blogs/index.njk
  pages/views/draft/index.njk
  pages/views/redirect/esl-a11y-group.njk
  pages/views/redirect/esl-media-query.njk
  pages/views/redirect/esl-traversing-query.njk
  pages/views/redirect/utils.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@053c8638748176b8cbc914067e00100dcd38c890 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@05b2db92c4e03b722ecce6a9bbbb46b940adac0f 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@be0b9961fd30aadccb09fa65942d408ffd6819a3 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(uip for esl-media): hide editor
  pages/views/components/esl-media.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@3abb3fc6586d673171bdcd2ffc67fc6817f23836 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@4948eeac76080d1d1e00a21a70d74346a17e71b0 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@cf57447cb07dd5cca7632311756d0e853977b1dd 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

docs(esl-share): create esl-share example page
  pages/static/assets/examples/share.svg
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

fix(gh-pages): fix svg format
  pages/static/assets/logo-pretty.svg
Due: none

Deploying to gh-pages from @ exadel-inc/esl@bbaa6615e5adf43b483f744365dc2ec7570cbd9f 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@7140dbee109517f0eb35a36b26d6e418fd22c0dc 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
