Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore(eslint): docs refactoring
  eslint/README.md
  pages/views/core/esl-lint.njk
  pages/views/core/esl-migration-rules.njk
Due: lintspaces -n -t -d spaces

chore(eslint): docs refactoring
  eslint/README.md
Due: none

refactor(esl-toggleable): update API with before show/hide livecycle hooks
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-popup): update popup position according activator change
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-popup): update popup position according activator change (#1679)
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): create `ESLIntersectionTarget` adapter utility for managing `IntersectionObserver` subscriptions trough event listeners
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/targets/intersection.event.ts
  src/modules/esl-event-listener/core/targets/intersection.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-event-listener): `ESLIntersectionTarget` basic documentation
  src/modules/esl-event-listener/README.md
Due: none

refactor(uip-copy): copy widget common attributive
  src/plugins/copy/uip-copy.icon.tsx
  src/plugins/copy/uip-copy.less
  src/plugins/copy/uip-copy.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(uip-editor): fework compact design and fix small inconsistency in editor section behaviour
  src/plugins/editor/editor.header.less
  src/plugins/editor/editor.icon.tsx
  src/plugins/editor/editor.tsx
Due: stylelint, lintspaces -n -t -d spaces

refactor(uip-settings): draft attempt to rework settings section styles (layouts, themes, compact mode)
  src/plugins/registration.less
  src/plugins/settings/settings.horizontal.less
  src/plugins/settings/settings.less
  src/plugins/settings/settings.themes.less
  src/plugins/settings/settings.vertical.less
  src/plugins/settings/slider-setting/slider-setting.less
  src/plugins/settings/text-setting/text-setting.less
Due: stylelint, lintspaces -n -t -d spaces

docs: apply typo fixes from code review
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: apply suggestions from code review
  src/modules/esl-event-listener/README.md
Due: none

refactor(esl-share): update showing/hiding popup logic
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(build): update version bumper
  build/bump.js
  eslint/bump.config.js
  pages/bump.config.js
Due: none

refactor: small cleanup for exising options management
  pages/views/examples/example/form.njk
  pages/views/index.njk
  src/plugins/header/header.ts
  src/plugins/header/options/option-icons.tsx
  src/plugins/header/options/option/option.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat: complete UX API rework of panel-plugins
  pages/views/examples/example/form.njk
  pages/views/index.njk
  src/core/base/base.less
  src/core/base/plugin.less
  src/core/base/plugin.ts
  src/core/panel/plugin-panel.header.less
  src/core/panel/plugin-panel.horizontal.less
  src/core/panel/plugin-panel.less
  src/core/panel/plugin-panel.tsx
  src/core/panel/plugin-panel.vertical.less
  src/core/preview/preview.tsx
  src/core/registration.less
  src/plugins/editor/editor.header.less
  src/plugins/editor/editor.less
  src/plugins/editor/editor.themes.less
  src/plugins/editor/editor.tsx
  src/plugins/header/snippets/snippets.tsx
  src/plugins/settings/settings.less
  src/plugins/settings/settings.themes.less
  src/plugins/settings/settings.tsx
  src/plugins/settings/settings.vertical.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

test: `IntersectionObserverMock` reworked to cover `IntersectionObserver` test requirements
  src/modules/esl-utils/test/intersectionObserver.mock.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): fix vulnerabilities of `ESLIntersectionTarget` methods
  src/modules/esl-event-listener/core/targets/intersection.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): cover `ESLIntersectionTarget` with unit tests
  src/modules/esl-event-listener/test/targets/intersection.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor: themes and layout fixes
  src/core/base/base.less
  src/core/base/root.less
  src/core/panel/plugin-panel.horizontal.less
  src/core/panel/plugin-panel.vertical.less
  src/plugins/editor/editor.less
  src/plugins/settings/slider-setting/slider-setting.less
  src/plugins/settings/text-setting/text-setting.less
Due: stylelint, lintspaces -n -t -d spaces

chore(build): change bumper config from js to yml
  build/bump.js
  eslint/bump.config.js
  eslint/bump.config.yml
  pages/bump.config.yml
Due: none

chore(build): remove old config file
  pages/bump.config.js
Due: none

refactor(esl-share): possibility to update just buttons or just groups using `ESLShareConfig.set`
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): add cumulative buttons import
  src/modules/esl-share/buttons/all.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-share): change default twitter (x.com) icon and bg color
  src/modules/esl-share/buttons/twitter.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): update/simplify site config
  pages/src/localdev.ts
  pages/static/assets/share/config.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-share): show copy notification just in case it is successful
  src/modules/esl-share/actions/copy-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): small TS docs corrections
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/actions/url-generic-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): cosmetic updates for esl-share core
  src/modules/esl-share/core/esl-share-action-registry.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-share): add a fill color to social network icons
  pages/src/esl-share/esl-share.less
  pages/views/examples/share.njk
  src/modules/esl-share/buttons/blogger.ts
  src/modules/esl-share/buttons/copy.ts
  src/modules/esl-share/buttons/facebook.ts
  src/modules/esl-share/buttons/hatena.ts
  src/modules/esl-share/buttons/kakao.ts
  src/modules/esl-share/buttons/line.ts
  src/modules/esl-share/buttons/linkedin.ts
  src/modules/esl-share/buttons/mail.ts
  src/modules/esl-share/buttons/mix.ts
  src/modules/esl-share/buttons/mixi.ts
  src/modules/esl-share/buttons/myspace.ts
  src/modules/esl-share/buttons/native-share.ts
  src/modules/esl-share/buttons/pinterest.ts
  src/modules/esl-share/buttons/print.ts
  src/modules/esl-share/buttons/pusha.ts
  src/modules/esl-share/buttons/reddit.ts
  src/modules/esl-share/buttons/sina-weibo.ts
  src/modules/esl-share/buttons/telegram.ts
  src/modules/esl-share/buttons/twitter.ts
  src/modules/esl-share/buttons/wykop.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(tsconfig): remove resolve json module
  tsconfig.json
Due: none

refactor(esl-share): small API (new) updates from tech call
  pages/src/localdev.ts
  src/modules/esl-share/README.md
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/external-action.ts
  src/modules/esl-share/actions/media-action.ts
  src/modules/esl-share/actions/native-action.ts
  src/modules/esl-share/actions/print-action.ts
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share-trigger.shape.ts
  src/modules/esl-share/core/esl-share-trigger.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): rename trigger to popup-trigger
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-popup-trigger.less
  src/modules/esl-share/core/esl-share-popup-trigger.shape.ts
  src/modules/esl-share/core/esl-share-popup-trigger.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-share): remove iconBackground property from share buttons config
  src/modules/esl-share/buttons/blogger.ts
  src/modules/esl-share/buttons/copy.ts
  src/modules/esl-share/buttons/facebook.ts
  src/modules/esl-share/buttons/hatena.ts
  src/modules/esl-share/buttons/kakao.ts
  src/modules/esl-share/buttons/line.ts
  src/modules/esl-share/buttons/linkedin.ts
  src/modules/esl-share/buttons/mail.ts
  src/modules/esl-share/buttons/mix.ts
  src/modules/esl-share/buttons/mixi.ts
  src/modules/esl-share/buttons/myspace.ts
  src/modules/esl-share/buttons/native-share.ts
  src/modules/esl-share/buttons/pinterest.ts
  src/modules/esl-share/buttons/print.ts
  src/modules/esl-share/buttons/pusha.ts
  src/modules/esl-share/buttons/reddit.ts
  src/modules/esl-share/buttons/sina-weibo.ts
  src/modules/esl-share/buttons/telegram.ts
  src/modules/esl-share/buttons/twitter.ts
  src/modules/esl-share/buttons/wykop.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/test/buttons/button-test-plan-factory.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): updates from tech call
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): add default-icon marker to render icon on button init
  pages/views/examples/share.njk
  src/modules/esl-share/core/esl-share-button.shape.ts
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore(site): update sidebar-share styles
  pages/src/navigation/sidebar/sidebar-share.less
Due: stylelint, lintspaces -n -t -d spaces

chore: fix updating `package-lock.json` submodules versions
  pages/package.json
Due: none

chore: make version update run for all workspaces
  package.json
Due: none

4.12.1
  package-lock.json
  package.json
Due: none
