Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-share): add name attribute changed callback
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): Rename variable <body> use SEQUENCE_KEY const instead eslSequencesKey
  src/modules/esl-utils/misc/uid.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): use fallback for 4th version <body> use SEQUENCE_KEY as unique symbol
  src/modules/esl-utils/misc/uid.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): fix subscribe/unsubscribe
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): change error message
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): update README with share configuration describing
  src/modules/esl-share/README.md
Due: none

feat(esl-utils): use fallback for 4th version in target.ts <body> use fallback for listeners
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): move `isElement` to `dom/api` module
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-trigger/core/esl-trigger.ts
  src/modules/esl-utils/abstract/dom-target.ts
  src/modules/esl-utils/dom/api.ts
  src/modules/esl-utils/dom/scroll/parent.ts
  src/modules/esl-utils/dom/test/api.test.ts
  src/modules/esl-utils/dom/visible.ts
  src/modules/esl-utils/misc/object/test/types.test.ts
  src/modules/esl-utils/misc/object/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): make `__esl_sequanse__` and `_listeners` private keys symbols (#1873)
  src/modules/esl-utils/dom/events/target.ts
  src/modules/esl-utils/misc/uid.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): `ESLResizeObserverTarget.for` handles no target cases silently (warning + null result)
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-event-listener/test/targets/resize.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): add `SwipeEventTarget` to subscribe `swipe` events using `ESLEventListener`
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/targets/swipe.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
  src/modules/esl-utils/dom/test/units.test.ts
  src/modules/esl-utils/dom/units.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): `ESLEventUtils.unsubscribe` implementation moved to internal `ESLEventListener.unsubscribe`
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): `ESLDecoratedEventTarget` updated with internal API changes
  src/modules/esl-event-listener/core/targets/decorated.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): simplify and unify internal implementation of `ESLSwipeGestureTarget`
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): restructure `esl-event-listener/core/targets`
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/targets/resize.target.event.ts
  src/modules/esl-event-listener/core/targets/resize.target.ts
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media): support for lazy initialization by `lazy` attribute for `ESLMedia`
  src/modules/esl-media/README.md
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update draft pages, update styles
  package-lock.json
  package.json
  pages/src/ui-playground/ui-playground.less
  pages/views/draft/ui-playground/accordion.njk
  pages/views/draft/ui-playground/media.njk
  pages/views/draft/ui-playground/scrollbar.njk
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-media): support media queries for sources
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media-registry.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(docs): fix object assign <body> changes according PR review
  pages/11ty/markdown.shortcut.js
Due: none

style(site): fix `ui-playground` linting
  pages/src/ui-playground/ui-playground.less
Due: stylelint, lintspaces -n -t -d spaces

docs(site): add `ESLSwipeGestureTarget` example page for testing
  pages/src/esl-swipe-demo/esl-swipe-demo-area.less
  pages/src/esl-swipe-demo/esl-swipe-demo-area.ts
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/views/draft/swipe-demo.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

test(esl-event-listener): add `ESLSwipeGestureTarget` basic tests
  src/modules/esl-event-listener/test/targets/resize.test.ts
  src/modules/esl-event-listener/test/targets/swipe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-event-listener): fix `ESLSwipeGestureEvent` signature
  pages/src/esl-swipe-demo/esl-swipe-demo-area.ts
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): add v`4.11.0` release notes to the news section
  pages/views/blogs/ESl v4.11.0.md
Due: none

chore(release): 4.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3f/d39bf65abb418b6e82c97fb0f9680a4ef1853e
Due: none

feat: replace browser scroll with esl scrollbar
  src/plugins/editor/editor.less
  src/plugins/editor/editor.tsx
  src/plugins/settings/settings.tsx
Due: stylelint, lintspaces -n -t -d spaces

chore(release): 1.1.0-beta.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(gh-pages): service worker
  pages/.eleventy.js
  pages/serviceWorker/register.ts
  pages/serviceWorker/serviceWorker.js
  pages/src/localdev.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(docs): fix typos <body> changes according PR review
  src/modules/esl-traversing-query/README.md
Due: none

feat(docs): open external links in a new window <body> added check for links leading to external resources and add them attribute to open in a new window
  pages/11ty/markdown.shortcut.js
Due: none

refactor(esl-share): rework ESLShareConfig to be based on event architecture
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): add deprecated marker to ESLShare.config method
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-share): cteate share buttons tests
  src/modules/esl-share/test/buttons/blogger.test.ts
  src/modules/esl-share/test/buttons/button-test-plan-factory.ts
  src/modules/esl-share/test/buttons/copy.test.ts
  src/modules/esl-share/test/buttons/facebook.test.ts
  src/modules/esl-share/test/buttons/hatena.test.ts
  src/modules/esl-share/test/buttons/kakao.test.ts
  src/modules/esl-share/test/buttons/line.test.ts
  src/modules/esl-share/test/buttons/linkedin.test.ts
  src/modules/esl-share/test/buttons/mail.test.ts
  src/modules/esl-share/test/buttons/mix.test.ts
  src/modules/esl-share/test/buttons/mixi.test.ts
  src/modules/esl-share/test/buttons/myspace.test.ts
  src/modules/esl-share/test/buttons/native-share.test.ts
  src/modules/esl-share/test/buttons/pinterest.test.ts
  src/modules/esl-share/test/buttons/print.test.ts
  src/modules/esl-share/test/buttons/pusha.test.ts
  src/modules/esl-share/test/buttons/reddit.test.ts
  src/modules/esl-share/test/buttons/sina-weibo.test.ts
  src/modules/esl-share/test/buttons/telegram.test.ts
  src/modules/esl-share/test/buttons/twitter.test.ts
  src/modules/esl-share/test/buttons/wykop.test.ts
  src/modules/esl-share/test/config/reference-buttons.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): apply suggestions from code review
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): update buttons object config typo
  src/modules/esl-share/buttons/blogger.ts
  src/modules/esl-share/buttons/copy.ts
  src/modules/esl-share/buttons/facebook.ts
  src/modules/esl-share/buttons/hatena.ts
  src/modules/esl-share/buttons/kakao.ts
  src/modules/esl-share/buttons/line.ts
  src/modules/esl-share/buttons/linkedin.ts
  src/modules/esl-share/buttons/mail.ts
  src/modules/esl-share/buttons/mix.ts
  src/modules/esl-share/buttons/mixi.ts
  src/modules/esl-share/buttons/myspace.ts
  src/modules/esl-share/buttons/native-share.ts
  src/modules/esl-share/buttons/pinterest.ts
  src/modules/esl-share/buttons/print.ts
  src/modules/esl-share/buttons/pusha.ts
  src/modules/esl-share/buttons/reddit.ts
  src/modules/esl-share/buttons/sina-weibo.ts
  src/modules/esl-share/buttons/telegram.ts
  src/modules/esl-share/buttons/twitter.ts
  src/modules/esl-share/buttons/wykop.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(swipe-target): add angle to swipe event
  pages/src/esl-swipe-demo/esl-swipe-demo-area.less
  pages/src/esl-swipe-demo/esl-swipe-demo-area.ts
  src/modules/esl-event-listener/core/targets/swipe.target.event.ts
  src/modules/esl-event-listener/core/targets/swipe.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
