Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

style(esl-carousel): split `trackInteraction` and `blockerSelector` tracking
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix changelog includes all maintenance changes
  nx.json
Due: none

chore: fix pr notes and typos
  packages/esl/src/esl-media/test/media-manager.test.ts
  packages/snapshot-tests/jest.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update beta release command to use main versioning strategy
  package.json
Due: none

style(esl-carousel): refactor blocker items search
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.14.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.14.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): fix aside and max width on small breakpoints
  packages/esl-website/src/common/containers.less
  packages/esl-website/src/navigation/related/aside.less
  packages/esl-website/views/_includes/navigation/aside.njk
Due: stylelint

chore(site): fix up collection grids
  packages/esl-website/src/collection-grid/collection-grid.less
Due: stylelint

chore: fix dist tag resolution (missing flow step output)
  .github/workflows/release-npm.yml
Due: none

style(esl-utils): split formatting utils to separate files
  packages/esl/src/esl-utils/misc/format.ts
  packages/esl/src/esl-utils/misc/format/basic.ts
  packages/esl/src/esl-utils/misc/format/common.ts
  packages/esl/src/esl-utils/misc/format/string.ts
  packages/esl/src/esl-utils/misc/format/test/basic.test.ts
  packages/esl/src/esl-utils/misc/format/test/common.test.ts
  packages/esl/src/esl-utils/misc/format/test/string.test.ts
  packages/esl/src/esl-utils/misc/format/test/time.test.ts
  packages/esl/src/esl-utils/misc/format/time.ts
  packages/esl/src/esl-utils/misc/test/format.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(site): rewrite printfiles
  packages/snapshot-tests/src/reporters/printers.js
  packages/snapshot-tests/src/reporters/test-details.njk
Due: none

deploy: 8bcc1be4478a763ce197a5cedfe6bc75cb728699
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  index.md
Due: none

test(site): change template path
  packages/snapshot-tests/src/reporters/printers.js
Due: none

test(site): move template to separate directory
  packages/snapshot-tests/src/reporters/printers.js
  packages/snapshot-tests/src/templates/test-details.njk
Due: none

test(site): move template to separate directory
  packages/snapshot-tests/src/reporters/printers.js
Due: none

feat(esl-utils): `parseObject` safe utility added to replace unsafe evaluate method, and unlock short syntax in future
  packages/esl/src/esl-utils/misc/format/object.ts
  packages/esl/src/esl-utils/misc/format/test/object.security.test.ts
  packages/esl/src/esl-utils/misc/format/test/object.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): add `parseObjectSafe` wrapper of `parseObject` with fallback value for parse error
  packages/esl/src/esl-utils/misc/format.ts
  packages/esl/src/esl-utils/misc/format/object.ts
  packages/esl/src/esl-utils/misc/format/test/object.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): migrate `@jsonAttr` decorator to use `parseObject` under the hood
  packages/esl/src/esl-utils/decorators/json-attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): replace `ESLMediaRuleList.OBJECT_PARSER` with a parseObjectSafe reference
  packages/esl/src/esl-media-query/core/esl-media-rule-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): update carousel API configurations to rely on `parseObjectSafe`
  packages/esl/src/esl-carousel/plugin/esl-carousel.plugin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-drag-to-scroll): update mixin value parser to use 'parseObjectSafe'
  packages/esl/src/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media): update 'esl-media-control' mixin value parser to use 'parseObjectSafe'
  packages/esl/src/esl-media/control/esl-media-control-mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix shorthand values parsing in Carousel API and esl-media-control
  packages/esl/src/esl-carousel/plugin/esl-carousel.plugin.ts
  packages/esl/src/esl-media/control/esl-media-control-mixin.ts
  packages/esl/src/esl-utils/misc/format/object.ts
  packages/esl/src/esl-utils/misc/format/test/object.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix lint command and project linting errors
  package.json
  packages/esl-website/src/common/buttons.less
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/test/plugin/autoplay/esl-carousel.autoplay.interaction.test.ts
  packages/esl/src/esl-utils/decorators/test/bind.test.ts
  packages/snapshot-tests/src/serializers/image-snapshot.sharp.ts
  packages/ui-playground/src/plugins/copy/copy-button.icon.tsx
  packages/ui-playground/src/plugins/editor/editor.icon.tsx
  packages/ui-playground/src/plugins/reset/reset-button.icon.tsx
  packages/ui-playground/src/plugins/settings/bool-setting/bool-setting.tsx
  packages/ui-playground/src/plugins/settings/settings.icon.tsx
  packages/ui-playground/src/plugins/theme/theme-toggle.icon.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

test(site): check if directory presents
  packages/snapshot-tests/src/reporters/printers.js
Due: none

test(site): test
  packages/snapshot-tests/src/reporters/printers.js
Due: none

test(site): update config
  packages/snapshot-tests/jest.config.js
  packages/snapshot-tests/src/reporters/printers.js
Due: none

test(site): provide templatepath from options
  packages/snapshot-tests/jest.config.js
  packages/snapshot-tests/src/reporters/printers.js
  packages/snapshot-tests/src/reporters/reporter.js
Due: none

test(site): provide templatepath from options
  packages/snapshot-tests/src/reporters/reporter.js
Due: none

test(site): update template
  packages/snapshot-tests/src/templates/test-details.njk
Due: none

test(site): test
  packages/snapshot-tests/src/reporters/printers.js
  packages/snapshot-tests/src/reporters/reporter.js
Due: none

test(site): test
  packages/snapshot-tests/src/templates/test-details.njk
Due: none

docs(esl-utils): add `@safe` decorator documentation
  packages/esl/src/esl-utils/decorators/docs/safe.md
Due: none

docs(esl-utils): add `@bind` decorator documentation
  packages/esl/src/esl-utils/decorators/bind.ts
  packages/esl/src/esl-utils/decorators/docs/bind.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-utils): add `@memoize` decorator documentation
  packages/esl/src/esl-utils/decorators/docs/memoize.md
  packages/esl/src/esl-utils/decorators/memoize.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-utils): add `@ready` decorator documentation
  packages/esl/src/esl-utils/decorators/docs/ready.md
  packages/esl/src/esl-utils/decorators/ready.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
