Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore: increase font size of getting started button
  pages/views/styles/page.less
Due: stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@f57f8a0529c399904d5bbf046dfec492211f2a5e 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  components/esl-toggleable/index.html
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@cff8b742740be0eaa91c5132aeb9373b9794f375 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: remove comments, change grid, fix editor height
  pages/views/styles/page.less
  src/core/base/plugin.less
  src/core/base/root.less
  src/plugins/editor/editor.less
  src/plugins/settings/settings.less
Due: stylelint, lintspaces -n -t -d spaces

chore: fix editor height
  src/plugins/editor/editor.less
Due: stylelint, lintspaces -n -t -d spaces

chore: fix paddings of preview that inside uip
  src/core/base/plugin.less
Due: stylelint, lintspaces -n -t -d spaces

fix(esl-footnotes): esl-note is not respond on "ignore" attribute change
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(esl-mixin-element): fix oldValue argument of attributeChangedCallback
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: update examples and fix snippets dropdown
  pages/views/examples/example/image.njk
  pages/views/examples/example/playground.njk
  pages/views/index.njk
  pages/views/styles/page.less
  src/plugins/header/header.less
  src/plugins/header/snippets/snippets.less
  src/variables.less
Due: stylelint, lintspaces -n -t -d spaces

style(esl-note): rename method to updateIgnoredQuery()
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-footnotes): create esl-note-ignore mixin
  pages/src/localdev.ts
  src/modules/esl-footnotes/core.ts
  src/modules/esl-footnotes/core/esl-note-ignore.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@d72df4d98283e62fa1ffd4bcdd880f8c0d446890 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@d72df4d98283e62fa1ffd4bcdd880f8c0d446890 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

style(esl-share): apply suggestion from review
  src/modules/esl-share/core/esl-share-action-registry.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

style(esl-share): update ready$ getter
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-share): update on share ready event
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-utils): apply suggestions from code review
  src/modules/esl-utils/dom/rect.ts
  src/modules/esl-utils/dom/visible.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-utils/dom/test/rect.test.ts
  src/modules/esl-utils/dom/visible.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-event-listener): IE safe private key for ESLEventListeners (now stores under Symbol in modern browsers)
  src/modules/esl-event-listener/core/listener.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore: add comment for snippets dropdown styles (rtl)
  src/plugins/header/snippets/snippets.less
Due: stylelint, lintspaces -n -t -d spaces

chore: remove unused scripts
  pages/views/_layouts/basic.njk
Due: lintspaces -n -t -d spaces

chore: update alert info styles (change color to blue)
  src/core/base/root.less
Due: stylelint, lintspaces -n -t -d spaces

test(esl-event-listener): add more realistic basic descriptor tests
  src/modules/esl-event-listener/test/descriptor.test.ts
  src/modules/esl-event-listener/test/utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): descriptors API rework (WIP)
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): simplify and move `@listen` decorator impl as standalone decorate utility
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@fd13085d2f10afda6369a585d0ced86b25ae8c72 🚀
  bundles/polyfill-full.js
  bundles/polyfill-full.js.map
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

fix(esl-image): attribute callback before connect
  src/modules/esl-image/core/esl-image.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(esl-image): code refactoring
  src/modules/esl-image/core/esl-image.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-event-listener): API stabilizing
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@70ea8fbc134eb03ec2aba911600f7441ee953c93 🚀
  bundles/localdev.js
  bundles/localdev.js.map
  core/esl-traversing-query/index.html
  core/esl-utils/index.html
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore: add highlighted languages for readme.md files
  pages/e11y/prismjs.lib.js
Due: none

chore: update titles tags and common styles to page.less
  pages/views/components/components.njk
  pages/views/examples/example/multiple-playgrounds.njk
  pages/views/examples/examples.njk
  pages/views/styles/page.less
Due: stylelint, lintspaces -n -t -d spaces

chore: doc pages appearance update
  pages/views/styles/page.less
  src/README.md
  src/core/base/README.md
  src/core/preview/README.md
  src/plugins/editor/README.md
  src/plugins/header/options/README.md
  src/plugins/header/snippets/README.md
  src/plugins/settings/README.md
  src/settings/bool-setting/README.md
  src/settings/select-setting/README.md
  src/settings/slider-setting/README.md
  src/settings/text-setting/README.md
Due: stylelint, lintspaces -n -t -d spaces

docs: add jsdocs
  src/core/base/model.ts
  src/core/base/plugin.ts
  src/core/base/root.ts
  src/core/preview/preview.ts
  src/plugins/header/header.ts
  src/plugins/header/options/option/option.ts
  src/plugins/header/options/options.ts
  src/plugins/header/snippets/snippets.ts
  src/plugins/settings/setting.ts
  src/plugins/settings/settings.ts
  src/settings/bool-setting/bool-setting.ts
  src/settings/select-setting/select-setting.ts
  src/settings/slider-setting/slider-setting.ts
  src/settings/text-setting/text-setting.ts
  src/utils/token-list-utils.ts
  src/utils/warning-msg.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

docs: fix README
  README.md
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
