Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@5687ef96824bc2bcff8c309b7ba8f304dc37278f 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(release): 4.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3d/4f4c2d1a35b8df62007f3510d0ab4f11d1b637
Due: none

fix(esl-event-listener): (HOTFIX) `@listen` should not require host typeof `ESLDomElementTarget`
  src/modules/esl-utils/decorators/listen.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b3/03b705d2c974a77899a38095b52b0045c595c1
Due: none

fix(esl-event-listener): fix `ESLEventTargetDecorator` dispatched event `target`
  src/modules/esl-event-listener/core/targets/decorated.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-core): make `this.constructor` strictly typed for `ESLBaseElement` and `ESLMixinElement`
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style: use abilities of new `this.constructor` strict type
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Deploying to gh-pages from @ exadel-inc/esl@8538fe0e461d4ac528e781577991aa8123084542 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

refactor(esl-share): merge list and group attributes
  pages/static/assets/share/config.json
  pages/views/examples/share.njk
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore(deps-dev): update ui-playground version
  package-lock.json
  package.json
Due: none

style(esl-share): apply suggestion from code review
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): add type assertion
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): updated displaying logic of buttons list with empty list
  src/modules/esl-share/core/esl-share-list.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): updated demo page
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

fix(esl-utils): `SynteticEventTarget` no longer mutate `event.target` without need; `event.currentTarget` fix to current instance
  src/modules/esl-event-listener/core/targets/decorated.target.ts
  src/modules/esl-event-listener/core/targets/resize.adapter.ts
  src/modules/esl-event-listener/test/targets/decorator.test.ts
  src/modules/esl-utils/dom/events/misc.ts
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): fix test title in `decorator.test.ts`
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update dependabot config with a maintainers team
  .github/dependabot.yml
Due: none

feat(esl-utils): synthetic target getListeners
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): fix typo in `decorator.test.ts`
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style: use abilities of new this.constructor strict type
  pages/src/landing/marquee/marquee.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-plugin.ts
  src/modules/esl-a11y-group/core/esl-a11y-group.ts
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-wrapper.ts
  src/modules/esl-image/core/esl-image.ts
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/providers/brightcove-provider.ts
  src/modules/esl-toggleable/core/esl-toggleable-placeholder.ts
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-utils): code refactoring
  src/modules/esl-utils/dom/events/target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): apply suggestions from code review
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

Revert "feat(esl-core): make this.constructor strictly typed for `ESLBaseElement` and `ESLMixinElement`"
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-trigger/test/esl-trigger.a11y.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-base-element): `ESLBaseElement.prototype.baseTagName` shortcut
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-base-element/test/element.listener.test.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-item.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-list.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-toggleable/test/toggleable.request.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(gh-pages): rename css classes
  pages/src/banner/banner.less
  pages/src/banner/redesign.ts
  pages/src/esl-media-demo/test-media.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(gh-pages): create `demo-page` and related css classes
  pages/src/common/banner.less
  pages/src/localdev.less
  pages/src/showcase/demo-layout.less
  pages/src/showcase/showcase.less
  pages/src/showcase/top-banner.less
  pages/src/showcase/variables.less
  pages/views/draft/demo.njk
  pages/views/examples/embedded-video.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(uip for accordion): move examples to playground
  package-lock.json
  pages/src/common/playground.less
  pages/views/examples/accordion.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(uip for esl-media): add copy markup btn
  pages/views/components/esl-media.njk
Due: lintspaces -n -t -d spaces

refactor: Drop IE11 support
  README.md
  docs/BROWSER_SUPPORT.md
  package-lock.json
  pages/src/polyfill-full.ts
  pages/views/_includes/polyfill.njk
  pages/webpack.config.js
  src/modules/draft/esl-carousel/core/esl-carousel-arrows.less
  src/modules/esl-tab/core/esl-tabs.arrows.less
  src/polyfills/list/dom.element.closest.ts
  src/polyfills/list/dom.element.toggleAttribute.ts
  src/polyfills/list/dom.event.base.ts
  src/polyfills/list/dom.event.custom.ts
  src/polyfills/list/dom.event.focus.ts
  src/polyfills/list/dom.event.keyboard.ts
  src/polyfills/list/dom.event.mouse.ts
  src/polyfills/list/dom.keyboard.key.ts
  src/polyfills/list/dom.node.isConnected.ts
  src/polyfills/list/dom.tokenList.toggle.ts
  src/polyfills/list/es6.array.find.ts
  src/polyfills/list/es6.array.from.ts
  src/polyfills/list/es6.array.includes.ts
  src/polyfills/list/es6.object.assign.ts
  src/polyfills/list/es6.object.is.ts
  src/polyfills/polyfills.es5.ts
  src/polyfills/test/es6.object.assign.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor: Drop Edge old versions (<14) support
  docs/BROWSER_SUPPORT.md
  package-lock.json
  package.json
  pages/src/localdev.ts
  pages/src/polyfill-light.ts
  pages/src/polyfill-medium.ts
  pages/views/_includes/polyfill.njk
  pages/webpack.config.js
  src/polyfills/list/dom.element.toggleAttribute.ts
  src/polyfills/list/dom.event.keyboard.ts
  src/polyfills/list/dom.keyboard.key.ts
  src/polyfills/list/dom.node.isConnected.ts
  src/polyfills/polyfills.es6.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

refactor: Get rid of the polyfill bundle suffix
  docs/BROWSER_SUPPORT.md
  pages/src/polyfill.ts
  pages/views/_includes/polyfill.njk
  pages/webpack.config.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

feat: drop deprecated aliases (#1505)
  src/modules/draft/esl-carousel/core/esl-carousel.ts
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-media-query/core/conditions/media-query-base.ts
  src/modules/esl-media-query/core/esl-media-query.ts
  src/modules/esl-panel-group/core/esl-panel-group.shape.ts
  src/modules/esl-panel/core/esl-panel.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
  src/modules/esl-traversing-query/core/esl-traversing-query.ts
  src/modules/esl-utils/dom/events/target.ts
  src/modules/esl-utils/dom/events/test/target.test.ts
  src/modules/esl-utils/dom/rtl.ts
  src/modules/esl-utils/dom/traversing.ts
  src/modules/esl-utils/misc/object/compare.ts
  src/modules/esl-utils/misc/uid.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
