Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

fix(esl-share): fix a visual issue of displaying a huge list of buttons in a popup
  src/modules/esl-share/core/esl-share.less
Due: stylelint

fix(esl-share): fix ESLShareConfig deduplication behavior on selecting buttons for the list
  src/modules/esl-share/core/esl-share-config.ts
  src/modules/esl-share/test/esl-share-config.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): code refactoring
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-random-text): update `README.md`
  src/modules/esl-random-text/README.md
Due: none

docs(esl-random-text): documentation corrections
  src/modules/esl-random-text/README.md
Due: none

refactor(esl-random-text): add `esl-random-text` `document.createElement` strict type
  src/modules/esl-random-text/core/esl-random-text.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(eslint): fix documentation for deprecated alias feature
  eslint/src/core/deprecated-alias.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(site): update site page for `Migration/Support Guide`
  pages/views/core/esl-eslint-plugin.njk
Due: none

docs(site): create `ESL v4.14.0` site release announce draft
  pages/views/blogs/ESL v4.14.0.md
Due: none

chore: add post processes to pack and publish `eslint` package
  package.json
Due: none

chore(site): add "more" section for newsline container to see older news
  pages/11ty/slice.filter.js
  pages/src/autofocus/autofocus-mixin.ts
  pages/src/common/helpers.less
  pages/src/landing/newsline/newsline.less
  pages/src/localdev.ts
  pages/views/_includes/landing/newsline-item.njk
  pages/views/_includes/landing/newsline.njk
  pages/views/index.11tydata.yml
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(site): fix alignment in ESL v4.14.0.md press-release
  pages/views/blogs/ESL v4.14.0.md
Due: none

chore(site): fix Newsline trigger styles
  pages/src/common/helpers.less
  pages/views/blogs/ESL v4.14.0.md
Due: stylelint

test(esl-share): apply suggestions from review
  src/modules/esl-share/test/esl-share-action-registry.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-tooltip): revert adding inlineStyles param to pass styles into tooltip
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update `filter` / `exclude` filters, clarify JS Doc
  pages/11ty/collections.filter.js
Due: none

chore(site): small updates from code review
  pages/src/autofocus/autofocus-mixin.ts
  pages/views/blogs/ESL v4.14.0.md
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(site): fix incorrect class name in listeners
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/test/targets/swipe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(site): fix spaces in `pages/11ty/slice.filter.js`
  pages/11ty/slice.filter.js
Due: none

docs(esl-random-text): fix typo in docs
  src/modules/esl-random-text/core/esl-random-text.shape.ts
  src/modules/esl-random-text/core/esl-random-text.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-share): apply small corrections from code review
  src/modules/esl-share/core/esl-share.shape.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): temporary fix for conflicts of the esl-select-list regression pages
  pages/views/examples/forms-select-list.njk
Due: none

chore(release): 4.14.0
  CHANGELOG.md
  eslint/package.json
  package-lock.json
  package.json
  pages/package.json
Due: none

Notes added by 'git notes add'
  6b/374451e11f98e408f517ac9485c474b487cd80
Due: none

chore(site): update loader, replace temporary random text draft
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/src/stub/lorem-ipsum.less
  pages/src/stub/lorem-ipsum.ts
  pages/views/draft/ui-playground/scrollbar.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

fix(esl-media): fix loading class condition should ignore lazy state
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/test/esl-media.condition.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update release task to save all tarballs to github release attachments
  .releaserc.yml
Due: none

chore(site): proposed a11ty improvement for page landing anchor
  pages/views/_includes/navigation/header.njk
Due: none

chore(site): fix duplicated id issue on the landing page
  pages/views/_includes/landing/newsline.njk
Due: none

docs(esl-media): update documentation tor `esl-media` load condition
  src/modules/esl-media/README.md
Due: none

test(esl-utils): create `ESLTestTemplate` utility to create and mange HTML test fragments
  src/modules/esl-utils/test/template.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-related-target): add nested targets test cases, rework tests with ESLTestTemplate
  src/modules/esl-related-target/test/related-target.test.ts
  src/modules/esl-related-target/test/template.html
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-related-target): fixed handling of bubbling events `esl:show` and `esl:hide`
  src/modules/esl-related-target/core/esl-related-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style: fix alignment in esl-related-target/test/related-target.test.ts
  src/modules/esl-related-target/test/related-target.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-media): fix documentation typos
  src/modules/esl-media/README.md
Due: none

chore(release): 4.14.1
  CHANGELOG.md
  eslint/package.json
  package-lock.json
  package.json
  pages/package.json
Due: none

Notes added by 'git notes add'
  96/15914d603227ce6468c74359de7acb942722a4
Due: none

refactor(esl-media): migrate internal listeners to ESLEventListeners module
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): migrate registry to `SyntheticEventTarget`
  src/modules/esl-media/core/esl-media-registry.event.ts
  src/modules/esl-media/core/esl-media-registry.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): migrate resize listener to ESLEventListener base
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
