Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-carousel): introduce CSS based carousel animation time
  packages/esl/src/esl-carousel/core/esl-carousel.less
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.ts
  packages/esl/src/esl-carousel/core/esl-carousel.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-carousel): introduce separate CSS based renderers (slide and fade one)
  packages/esl-website/views/examples/carousel/css-fade.sample.njk
  packages/esl/src/esl-carousel/core.less
  packages/esl/src/esl-carousel/core.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.fade.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.fade.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.slide.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.slide.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): simplify main animation flow for CSS renderer
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): rework `move` variables names, add documentation for CSS renderers
  packages/esl/src/esl-carousel/README.md
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.fade.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.slide.renderer.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): alternative duration variable naming
  packages/esl/src/esl-carousel/README.md
  packages/esl/src/esl-carousel/core/esl-carousel.less
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.fade.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.slide.renderer.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

fix(esl-animate): fix esl-animate does not work with repeat + ratio 1
  packages/esl-website/views/examples/animate.njk
  packages/esl/src/esl-animate/core/esl-animate-service.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: ded7554c19ac4b584de43981a56b764ef1aef598
  README.md
  index.md
Due: none

chore(deps): update dependencies to latest versions
  package-lock.json
  package.json
  packages/esl-website/package.json
  packages/eslint-config/package.json
  packages/snapshot-tests/package.json
Due: none

docs(esl-carousel): update README.md with a couple of corrections
  packages/esl/src/esl-carousel/README.md
Due: none

chore: migrate ui-playground module to use nx + fix site watch command
  packages/esl-website/11ty/open.postaction.js
  packages/esl-website/project.json
  packages/ui-playground/eslint.config.mjs
  packages/ui-playground/package.json
  packages/ui-playground/project.json
Due: none

deploy: 0e2f0048e28c4b51e45c36bfec971b9f00ceb40d
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

chore: fix start script
  packages/esl-website/project.json
Due: none

chore(ui-playground): fix missing build dependencies
  packages/ui-playground/project.json
Due: none

chore(site): fix auto-open script & some Nx configuration
  packages/esl-website/11ty/open.postaction.js
  packages/esl-website/project.json
Due: none

chore: release v5.5.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

chore: basic migration from lerna to nx; update nx version to latest
  lerna.json
  nx.json
  package-lock.json
  package.json
Due: none

deploy: 9a6def557ea08567719266e227fcc58204f10715
  README.md
  index.md
Due: none

fix(esl-carousel): clear error response and validation for `goTo` carousel method
  packages/esl/src/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): drop changes not related to playground readme
  README.md
  packages/esl-website/11ty/functions.config.js
  packages/esl-website/site.yml
  packages/esl-website/src/common/playground.less
  packages/esl-website/src/navigation/sidebar/sidebar-primary-nav.less
  packages/esl-website/src/navigation/sidebar/sidebar.less
  packages/esl-website/src/site.less
  packages/esl-website/views/_includes/navigation/collection-grid.njk
  packages/esl-website/views/_includes/navigation/header.njk
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/_layouts/content.njk
  packages/esl-website/views/blogs/index.njk
  packages/esl-website/views/components/index.njk
  packages/esl-website/views/core/index.njk
  packages/esl-website/views/dev/index.njk
  packages/esl-website/views/examples/index.njk
  packages/esl-website/views/introduction/index.njk
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/index.11tydata.yml
  packages/esl-website/views/playground/index.njk
Due: stylelint

refactor(site): remove unused tags
  packages/esl-website/views/components/index.njk
  packages/esl-website/views/core/index.njk
  packages/esl-website/views/playground/components/core.njk
  packages/esl-website/views/playground/components/direction.njk
  packages/esl-website/views/playground/components/editor.njk
  packages/esl-website/views/playground/components/note.njk
  packages/esl-website/views/playground/components/settings.njk
  packages/esl-website/views/playground/components/snippets.njk
  packages/esl-website/views/playground/components/theme.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/nested.njk
  packages/esl-website/views/playground/examples/text.njk
Due: none

refactor(site): remove unused images
  docs/images/UIPexample2.png
  docs/images/uip-logo.png
  packages/esl-website/static/assets/playground-logo.svg
Due: none

refactor(site): add empty line
  packages/esl-website/views/_includes/navigation/sidebar.njk
Due: none

refactor(site): remove unused sidebar logo
  packages/esl-website/static/assets/sidebar/playground.svg
  packages/ui-playground/docs/images/uip-logo.svg
Due: none

refactor(site): playground home page
  packages/esl-website/src/common/playground.less
  packages/esl-website/src/site.less
  packages/esl-website/static/assets/playground-logo.svg
  packages/esl-website/static/assets/sidebar/playground.svg
  packages/esl-website/views/_layouts/content.njk
  packages/esl-website/views/playground/index.11tydata.yml
  packages/esl-website/views/playground/index.njk
Due: stylelint

fix(esl-utils): simplify `parseTime` method, allow to pass number type
  packages/esl/src/esl-utils/misc/format.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): fix carousel plugin attribute parsing (affects autoplay and wheel plugins)
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/plugin/esl-carousel.plugin.ts
  packages/esl/src/esl-carousel/plugin/keyboard/esl-carousel.keyboard.mixin.ts
  packages/esl/src/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  packages/esl/src/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
  packages/esl/src/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.5.0-beta.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

fix(esl-carousel): optimize carousel plugins config memoizing flow (affects touch, wheel, autoplay)
  packages/esl/src/esl-carousel/plugin/esl-carousel.plugin.ts
  packages/esl/src/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
  packages/esl/src/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-popup): rework of popup alignment attributes BREAKING CHANGES: `margin-arrow` attribute replaced with `margin-tether` and 'offset-arrow' attribute replaced with `alignment-tether`
  packages/esl/src/esl-popup/core/esl-popup-position.ts
  packages/esl/src/esl-popup/core/esl-popup-types.ts
  packages/esl/src/esl-popup/core/esl-popup.shape.ts
  packages/esl/src/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-popup): update tests for new alignment attributes
  packages/esl/src/esl-popup/test/esl-popup-position.behaviour-fit-major..origin-inner.test.ts
  packages/esl/src/esl-popup/test/esl-popup-position.behaviour-fit-major.test.ts
  packages/esl/src/esl-popup/test/esl-popup-position.behaviour-fit-minor.origin-inner.test.ts
  packages/esl/src/esl-popup/test/esl-popup-position.behaviour-fit-minor.test.ts
  packages/esl/src/esl-popup/test/esl-popup-position.behaviour-fit.origin-inner.test.ts
  packages/esl/src/esl-popup/test/esl-popup-position.behaviour-fit.test.ts
  packages/esl/src/esl-popup/test/esl-popup-position.behaviour-none.origin-inner.test.ts
  packages/esl/src/esl-popup/test/esl-popup-position.behaviour-none.test.ts
  packages/esl/src/esl-popup/test/esl-popup.config.test.ts
  packages/esl/src/esl-popup/test/esl-popup.position-config.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-popup): update README with new alignment attributes
  packages/esl/src/esl-popup/README.md
Due: none

chore(site): update popup example page with playground
  packages/esl-website/views/examples/popup.njk
Due: none

chore(site): update popup regression pages with new alignment attributes
  packages/esl-website/views/dev/popup-game.njk
  packages/esl-website/views/dev/popup-scroll-parents.njk
Due: none

chore(site): update menuexample page with new alignment attributes
  packages/esl-website/views/examples/menu.njk
Due: none

feat(esl-carousel): `esl-carousel-autoplay` plugin full support
  packages/esl/src/esl-carousel/core.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.event.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.progress.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): update esl-carousel site examples with new samples and fix order
  packages/esl-website/src/site.ts
  packages/esl-website/views/examples/carousel/css-slide-autoplay.sample.njk
  packages/esl-website/views/examples/carousel/nav-carousel.sample.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): enhance autoplay configuration with a `trackInteractions` feature and fix listeners resubscribtion
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): update README and site templates with detailed autoplay plugin features and examples
  packages/esl-website/views/components/esl-carousel/autoplay.njk
  packages/esl-website/views/components/esl-carousel/touch.njk
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
