Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): Carousel Public API - rename `firstIndex` to `activeIndex`
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.types.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): small corrections in internal API and styles
  pages/src/localdev.less
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): events rework draft
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): refactor multi-renderer
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): events update and change observation
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(editor): replace ace with jar editor
  package-lock.json
  package.json
  src/core/base/model.ts
  src/plugins/editor/ace/ace-editor.ts
  src/plugins/editor/editor.less
  src/plugins/editor/editor.ts
  src/plugins/editor/jar/jar-editor.ts
  src/plugins/editor/jar/utils.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-popup): create appendArrow() method
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: resolve conflicts with main branch
  .lintstagedrc.yml
Due: none

refactor(esl-popup): refactor appendArrow()
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-popup): update README with arrow-class attribute info
  src/modules/esl-popup/README.md
Due: none

fix(esl-toggleable): doesn't update after changing the activator
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix event handling
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): introduce `promisifyTransition` utility
  src/modules/esl-utils/async/promise.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): fix relation mixin
  pages/views/examples/carousel.marquee.njk
  src/modules/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

refactor(esl-carousel): fix navigation non-loop case
  src/modules/esl-carousel/core/nav/esl-carousel.nav.utils.ts
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): optimizations for renderer and carousel API
  pages/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

refactor(esl-carousel): improvements for multi-slide renderer
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): update naming
  src/modules/esl-share/core/esl-share-trigger.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-share): remake async build content flow into sync
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): example updates
  pages/src/common/helpers.less
  pages/views/examples/carousel.njk
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-utils): utility to postpone execution to microtask
  src/modules/esl-utils/async.ts
  src/modules/esl-utils/async/microtask.ts
  src/modules/esl-utils/async/test/microtask.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): events and config API rework
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/core/nav/esl-carousel.nav.types.ts
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-carousel): fix tests signature
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): improve rendering mechanic
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/renderers/multi/esl-multi-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat(esl-popup): change the logic of auto injection of arrow
  src/modules/esl-popup/core/esl-popup.less
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

style(esl-toggleable): rename to shouldHideIfOpen
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-popup): apply suggestion from code review
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(gh-pages): news section
  pages/11ty/date.js
  pages/11ty/join.js
  pages/src/common/links.less
  pages/src/landing/blogs/blogs.less
  pages/views/_includes/landing/blogs2.njk
  pages/views/_includes/landing/blogs3.njk
  pages/views/articles/ESL v4.0.0 copy 2.md
  pages/views/articles/ESL v4.0.0 copy.md
  pages/views/articles/ESL v4.0.0.md
  pages/views/blogs/ESL v4.0.0 copy 2.md
  pages/views/blogs/ESL v4.0.0 copy.md
  pages/views/index.njk
Due: stylelint, lintspaces -n -t -d spaces

refactor(esl-carousel): update a11y of slides and dots
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): update a11ty for slides and dots
  src/modules/esl-carousel/core/esl-carousel.slide.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): js doc fixes
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-utils/async/microtask.ts
  src/modules/esl-utils/async/test/microtask.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-carousel): fix return type
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.dots.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(dev-deps): bump dev dependencies
  package-lock.json
  package.json
Due: none

chore: completely remove draft category from project source
  .codeclimate.yml
  .eslintignore
  jest.config.js
  package.json
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/views/draft/carousel.njk
  src/modules/draft/all.less
  src/modules/draft/all.ts
  src/modules/draft/esl-carousel/plugin/esl-carousel-dots.less
  src/modules/draft/esl-carousel/plugin/esl-carousel-plugin.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

test(esl-carousel): add additional tests for indexToGroup
  src/modules/esl-carousel/test/nav/esl-carousel.nav-utils.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
