Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

style(esl-share): fix build issue
  src/modules/esl-popup/core.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share.ts
  src/modules/esl-tooltip/core.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 4.12.0
  CHANGELOG.md
  package-lock.json
  package.json
  pages/package.json
Due: none

Notes added by 'git notes add'
  c8/e6d7ffb9f91aa1a2f88bedb4b0ff6d986db8b7
Due: none

chore(release): update `package-lock.json` version of `pages` submodule
  package-lock.json
Due: none

chore(es-lint): update according monorepo rules
  .eslintignore
  eslint/core/deprecated-alias.d.ts
  eslint/core/deprecated-alias.js
  eslint/index.js
  eslint/jest.config.js
  eslint/package.json
  eslint/rules/4/deprecated.deep-compare.js
  eslint/rules/4/deprecated.event-utils.js
  eslint/rules/4/deprecated.generate-uid.js
  eslint/rules/4/deprecated.toggleable-action-params.js
  eslint/rules/4/deprecated.traversing-query.js
  eslint/test/deprecated-alias.invalid.test.ts
  eslint/test/deprecated-alias.valid.test.ts
  jest.config.js
  package-lock.json
  package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update release workflow
  .github/workflows/release.yml
Due: none

chore: update lint workflow
  .github/workflows/lint.yml
Due: none

chore: update gh-pages workflow
  .github/workflows/pages.yaml
Due: none

fix: remove unnecessary imports
  src/core/utils/normalization.ts
  src/plugins/header/options/option/option.less
  src/plugins/settings/setting.less
  src/settings/bool-setting/bool-setting.less
  src/settings/slider-setting/slider-setting.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

fix(esl-utils): remove extra export to reduce potential tree-shaking leaks on the projects
  src/modules/esl-base-element/core/esl-base-element.ts
  src/modules/esl-base-element/test/element.listener.test.ts
  src/modules/esl-event-listener/core.ts
  src/modules/esl-footnotes/core/esl-footnotes.ts
  src/modules/esl-footnotes/core/esl-note.ts
  src/modules/esl-forms/esl-select-list/core/esl-select-wrapper.ts
  src/modules/esl-forms/esl-select/core/esl-select.ts
  src/modules/esl-media-query/core/conditions/media-query-condition.ts
  src/modules/esl-media-query/core/conditions/media-query-containers.ts
  src/modules/esl-media-query/core/esl-media-rule-list.ts
  src/modules/esl-mixin-element/test/mixin.listener.test.ts
  src/modules/esl-mixin-element/ui/esl-mixin-element.ts
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-toggleable/core/esl-toggleable-dispatcher.ts
  src/modules/esl-utils/decorators/listen.ts
  src/modules/esl-utils/decorators/test/listen.test.ts
  src/modules/esl-utils/dom/events.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix mixin.less reference import placement
  src/core/base/plugin.less
  src/core/base/root.less
Due: stylelint, lintspaces -n -t -d spaces

feat(eslint): eslint plugin to find and replace deprecated ESL alias on the customer's projects (#1374)
  .eslintignore
  .eslintrc.yml
  eslint/core/deprecated-alias.d.ts
  eslint/core/deprecated-alias.js
  eslint/index.js
  eslint/jest.config.js
  eslint/package.json
  eslint/rules/4/deprecated.deep-compare.js
  eslint/rules/4/deprecated.event-utils.js
  eslint/rules/4/deprecated.generate-uid.js
  eslint/rules/4/deprecated.toggleable-action-params.js
  eslint/rules/4/deprecated.traversing-query.js
  eslint/test/deprecated-alias.invalid.test.ts
  eslint/test/deprecated-alias.valid.test.ts
  jest.config.js
  package-lock.json
  package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): add `condition` descriptor property to legally prevent subscription
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core.ts
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-event-listener/test/listener.condition.test.ts
  src/modules/esl-event-listener/test/listener.resubscribtion.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(docs): changes according review <body> add missed semicolons
  pages/11ty/markdown.shortcut.js
Due: none

feat!: finalizing update `2.0.0`
  src/core/base/README.md
  src/core/preview/README.md
  src/plugins/editor/README.md
Due: none

chore: fix release workflow
  .github/workflows/release.yml
Due: none

chore(release): 2.0.0-beta.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update ui-playground version (2.0.0-beta.1)
  package-lock.json
  pages/package.json
Due: none

feat(esl-modal): support stack of open modals
  src/modules/esl-modal/core/esl-modal-stack.ts
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-modal): provide tests for `ESLModalStack`
  src/modules/esl-modal/test/modal.stack.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-modal): provide tests for `ESLModalBackdrop`
  src/modules/esl-modal/test/modal.backdrop.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-modal): add ESLModalStack modificators
  src/modules/esl-modal/core/esl-modal-stack.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): cosmetic content update
  pages/views/components/esl-media.njk
  pages/views/draft/ui-playground/media.njk
Due: lintspaces -n -t -d spaces

chore(site): migrate `html-minifier` to `html-minifier-terser` (supported continuation for initial plugin)
  package-lock.json
  pages/11ty/htmlmin.transform.js
  pages/package.json
Due: none

feat(docs): changes according review <body> add note regarding arguments for selectors
  src/modules/esl-traversing-query/README.md
Due: none

chore(site): `@exadel/ui-playground` project integrated to site tech stack (#1943)
  package-lock.json
  pages/package.json
  pages/src/banner/banner.ts
  pages/src/common/code.less
  pages/src/common/media.less
  pages/src/esl-media-demo/test-media-source.ts
  pages/src/esl-media-demo/test-media.less
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/src/ui-playground/ui-playground.less
  pages/views/components/esl-media.njk
  pages/views/draft/ui-playground/accordion.njk
  pages/views/draft/ui-playground/media.njk
  pages/views/draft/ui-playground/scrollbar.njk
  pages/views/examples/accordion.njk
  pages/views/examples/embedded-audio.njk
  pages/views/examples/embedded-video.njk
  pages/views/examples/scrollbar.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(site): create `esl-d-lorem-ipsum` custom element
  pages/src/localdev.less
  pages/src/localdev.ts
  pages/src/stub/lorem-ipsum.less
  pages/src/stub/lorem-ipsum.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore(site): update uip pages demo content
  pages/src/ui-playground/ui-playground.less
  pages/views/draft/ui-playground/accordion.njk
  pages/views/draft/ui-playground/media.njk
  pages/views/draft/ui-playground/scrollbar.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(gh-pages): code refactoring
  pages/src/route/route-interceptor.ts
  pages/src/route/route-link.ts
  pages/src/route/router-service.ts
  pages/views/_includes/navigation/sidebar-item.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore(gh-pages): code refactoring
  pages/src/route/route-link.ts
  pages/views/_includes/navigation/sidebar-item.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

chore(site): update content to hide not ready pages from prod
  pages/src/ui-playground/ui-playground.less
  pages/views/blogs/UIP Announce.md
  pages/views/components/esl-media.njk
  pages/views/draft/ui-playground/media.njk
  pages/views/examples/accordion.njk
  pages/views/examples/embedded-audio.njk
  pages/views/examples/embedded-video.njk
Due: stylelint, lintspaces -n -t -d spaces

chore(site): fix html minifier to preserve snippets formatting
  pages/11ty/htmlmin.transform.js
Due: none

refactor(esl-modal): enhance aria-hidden changes
  src/modules/esl-modal/core/esl-modal-stack.ts
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-modal): check accessibility
  src/modules/esl-modal/test/modal.a11ty.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: remove or move unused configs, lint-staged integrated
  .browserslistrc
  .husky/pre-push
  .lintstagedrc.yml
  .npmrc
  bs-config.cjs
  package-lock.json
  package.json
Due: none

chore: stylelint config updated, prettier integrated for less sources
  .prettierignore
  .prettierrc.yml
  .stylelintrc.json
  .stylelintrc.yml
  package-lock.json
  package.json
  src/plugins/header/options/option/theme.less
Due: stylelint, lintspaces -n -t -d spaces

chore: lint-fix core less files
  pages/src/playground.less
  src/common/mixins.less
  src/common/variables.less
  src/core/base/plugin.less
  src/core/base/root.less
  src/core/registration.less
  src/plugins/editor/editor.less
  src/plugins/header/header.less
  src/plugins/header/options/option/option.less
  src/plugins/header/options/option/theme.less
  src/plugins/header/options/options.less
  src/plugins/header/snippets/snippets.less
  src/plugins/registration.less
  src/plugins/settings/settings.less
  src/registration.less
  src/settings/registration.less
  src/settings/select-setting/select-setting.less
  src/settings/text-setting/text-setting.less
Due: stylelint, lintspaces -n -t -d spaces

chore: add .gitattribute to restrict newline style
  .gitattributes
Due: none

chore: lint-fix pages `*.less` files
  pages/src/common/typography.less
  pages/src/page/header.less
  pages/src/page/page.less
  pages/src/page/sidebar.less
Due: stylelint, lintspaces -n -t -d spaces

chore: migrate `.releaserc` to YAML format
  .releaserc.json
  .releaserc.yml
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
  lintspaces -n -t -d spaces: ((any of: *.less) or (any of: *.html)) or (any of: *.njk)
