Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-event-listener): improve namings
  packages/esl/src/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix catlog and typo in catlog messages
  package.json
  scripts/catlog.mjs
  scripts/catlog.txt
Due: none

chore: cosmetic update for ROOT_DIR resolving in update-root-version.mjs
  scripts/update-root-version.mjs
Due: none

chore: fix root script version update script (incorrect working directories)
  scripts/update-root-version.mjs
Due: none

deploy: adc0cbd2c7b7655c01b5246e41d88b5eb1b37655
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

chore: improve release note generation (add release notes to PR details, small scripts improvement)
  .github/workflows/release-github.yml
  .github/workflows/release-pr.yml
  .gitignore
  scripts/catlog.mjs
  scripts/notes.mjs
  scripts/update-root-version.mjs
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
Due: none

chore: fix notes.mjs to handle both formats in CHANGELOG.md
  scripts/notes.mjs
Due: none

chore: remove extra headers and fix format in CHANGELOG.md
  CHANGELOG.md
Due: none

chore: remove extra log messages that should not be rendered in the output
  .github/workflows/release-github.yml
  .github/workflows/release-pr.yml
Due: none

chore: remove doc and title references to lerna (now only Nx in use)
  .github/workflows/release-pr.yml
  docs/DEVELOPMENT.md
Due: none

chore: release v5.10.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

chore: add public release notes for v5.10.0
  packages/esl-website/views/blogs/ESL v5.10.0.md
Due: none

docs(esl-line-clamp): mark component as beta for 5.10.0
  packages/esl-website/views/components/esl-line-clamp.njk
  packages/esl-website/views/examples/esl-line-clamp.njk
Due: none

deploy: 5a2e4c57537984d0126dfb383010409a07319319
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

feat(esl-event-listener): pass event target to a generic
  packages/esl/src/esl-base-element/core/esl-base-element.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/decorators/listen.ts
  packages/esl/src/esl-utils/misc/functions.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix sub-packages version reference
  package-lock.json
  packages/esl/package.json
Due: none

chore: fix private sub-packages version reference
  package-lock.json
  packages/esl-website/package.json
  packages/snapshot-tests/package.json
Due: none

refactor(esl-event-listener): declare type per custom event instance
  packages/esl/src/esl-event-listener/core/targets/intersection.event.ts
  packages/esl/src/esl-event-listener/core/targets/resize.target.event.ts
  packages/esl/src/esl-event-listener/core/targets/swipe.target.event.ts
  packages/esl/src/esl-event-listener/core/targets/wheel.target.event.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/misc/functions.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update conventional commits bump rules
  nx.json
Due: none

deploy: 374c0e151ebefef6a9d2f7df8071184f2519b559
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  index.md
Due: none

chore: update conventional commits changelog config
  nx.json
Due: none

chore: hide chore updates from the log
  nx.json
Due: none

chore: add universal Nx-aware common scripts to resolve project version or changelog
  .github/workflows/release-github.yml
  .github/workflows/release-pr.yml
  package-lock.json
  package.json
  scripts/common/changelog.mjs
  scripts/common/config.mjs
  scripts/common/version.mjs
  scripts/get-changelog.mjs
  scripts/get-version.mjs
  scripts/notes.mjs
Due: none

chore(site): now uses own package version on the pages
  packages/esl-website/11ty/env.config.js
  packages/snapshot-tests/tests/homepage.copyright.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style: fix error message in config.mjs
  scripts/common/config.mjs
Due: none

chore(esl-event-listener): apply suggestions from code review
  packages/esl/src/esl-event-listener/core/targets/intersection.event.ts
  packages/esl/src/esl-event-listener/core/types.ts
  packages/esl/src/esl-utils/misc/functions.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): code refactoring
  packages/esl/src/esl-event-listener/core/types.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): code refactoring
  packages/esl/src/esl-carousel/core/esl-carousel.events.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.event.ts
  packages/esl/src/esl-event-listener/core/targets/intersection.event.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-base.ts
  packages/esl/src/esl-media-query/core/esl-media-rule-list.ts
  packages/esl/src/esl-media/core/esl-media-registry.event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: update CLA workflow according actual state
  .github/workflows/cla.yml
Due: none

chore(site): fix watch issue introduced from `@11ty/eleventy@3.1.2`
  package-lock.json
  packages/esl-website/package.json
Due: none

chore: release v5.10.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

chore: update lint-staged to 16.1.4
  package-lock.json
  package.json
Due: none

feat(esl-carousel): add ability to define esl-carousel-autoplay plugin timeout per slide
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.event.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-carousel): small improvements in documentation for `esl-carousel-autoplay-progress`
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
Due: none

refactor(site): update site example for esl-carousel-autoplay plugin
  packages/esl-website/src/common/buttons.less
  packages/esl-website/views/examples/carousel/css-slide-autoplay.sample.njk
Due: stylelint

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
