Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(esl-carousel): fix typos found in docs
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): apply suggestions from code review
  packages/esl-website/views/playground/examples/image.njk
Due: none

docs(esl-carousel): review doc fixes
  packages/esl-website/views/examples/carousel/css-slide-autoplay.sample.njk
  packages/esl/src/esl-carousel/plugin/autoplay/README.md
  packages/esl/src/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): playground demo logo update
  packages/esl-website/src/playground/ui-playground-landing.less
  packages/esl-website/src/site.less
  packages/esl-website/static/assets/sidebar/playground.svg
  packages/esl-website/views/_layouts/content.njk
  packages/esl-website/views/playground/index.njk
Due: stylelint

style(esl-carousel): fix lint issue in `esl-carousel.autoplay.mixin.ts`
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: release v5.5.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

chore(site): add press-release notes for v5.5.0
  packages/esl-website/views/blogs/ESL v5.5.0.md
Due: none

refactor(esl-popup): split calcPopupPositionByMinorAxis to several methods
  packages/esl/src/esl-popup/core/esl-popup-position.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-popup): add memoization for offsetTetherRatio getter
  packages/esl/src/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix sh syntax in pre-push hook
  .husky/pre-push
Due: none

chore: add nx and eslint groups for dependabot behaviour
  .github/dependabot.yml
Due: none

chore(deps-dev): update eslint to v9.28.0
  package-lock.json
  package.json
  packages/eslint-config/package.json
Due: none

chore(site): fix environment preset check to use only SITE_ENV environment variable
  .github/workflows/site.yml
  package.json
  packages/esl-website/11ty/env.config.js
  packages/esl-website/project.json
Due: none

feat(esl-carousel): rework default process of esl-carousel CSS renderer to use auto-height
  packages/esl/src/esl-carousel/README.md
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.fade.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.slide.renderer.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(site): update site examples to showcase CSS renderer properly
  packages/esl-website/src/common/card.less
  packages/esl-website/views/examples/carousel.njk
  packages/esl-website/views/examples/carousel/css-slide.sample.njk
Due: stylelint

chore: fix Nx cache input for build/watch tasks of website
  packages/esl-website/project.json
Due: none

deploy: b119dae0f86749332d33c283375690b9479e49f2
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

chore(site): add ESL v5.6.0 site release notes
  packages/esl-website/views/blogs/ESL v5.6.0.md
Due: none

deploy: 7a483d2edc69229f716ee7e8ad886ea1f7fc9408
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

deploy: aa240e370d23a1f9bae0fdc25a8efdfbfca2a6d3
  README.md
  index.md
Due: none

chore: release v5.6.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

deploy: 2dad3dec3ff398f4193e5bf3733ce50f7bd4a935
  README.md
  index.md
Due: none

test(e2e): update snapshots (via GitHub Actions)
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile.jpg
  packages/snapshot-tests/tests/__image_snapshots__/homepage.feature/feature-homepage-looks-fine-test-homepage-screen.jpg
Due: none

refactor(site): playground navigation
  README.md
  packages/esl-website/11ty/functions.config.js
  packages/esl-website/site.yml
  packages/esl-website/src/navigation/sidebar/sidebar.less
  packages/esl-website/views/_includes/navigation/collection-grid.njk
  packages/esl-website/views/_includes/navigation/header.njk
  packages/esl-website/views/_includes/navigation/sidebar-item.njk
  packages/esl-website/views/blogs/index.njk
  packages/esl-website/views/components/index.njk
  packages/esl-website/views/core/index.njk
  packages/esl-website/views/dev/index.njk
  packages/esl-website/views/examples/index.njk
  packages/esl-website/views/introduction/index.njk
  packages/esl-website/views/playground/components/core.njk
  packages/esl-website/views/playground/components/direction.njk
  packages/esl-website/views/playground/components/editor.njk
  packages/esl-website/views/playground/components/index.njk
  packages/esl-website/views/playground/components/note.njk
  packages/esl-website/views/playground/components/settings.njk
  packages/esl-website/views/playground/components/snippets.njk
  packages/esl-website/views/playground/components/theme.njk
  packages/esl-website/views/playground/examples/form.njk
  packages/esl-website/views/playground/examples/image.njk
  packages/esl-website/views/playground/examples/index.njk
  packages/esl-website/views/playground/examples/nested.njk
  packages/esl-website/views/playground/examples/text.njk
Due: stylelint

refactor(site): add playground description
  README.md
Due: none

chore: release v5.6.1
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

fix(esl-carousel): improve collision handling, introduce special type of Error - ESLCarouselNavRejection it represents renderer rejection but not produce noisy log in console
  packages/esl/src/esl-carousel/core/esl-carousel.errors.ts
  packages/esl/src/esl-carousel/core/esl-carousel.renderer.ts
  packages/esl/src/esl-carousel/core/esl-carousel.ts
  packages/esl/src/esl-carousel/plugin/autoplay/esl-carousel.autoplay.mixin.ts
  packages/esl/src/esl-carousel/plugin/dots/esl-carousel.nav.dots.ts
  packages/esl/src/esl-carousel/plugin/keyboard/esl-carousel.keyboard.mixin.ts
  packages/esl/src/esl-carousel/plugin/nav/esl-carousel.nav.mixin.ts
  packages/esl/src/esl-carousel/plugin/relation/esl-carousel.relation.mixin.ts
  packages/esl/src/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
  packages/esl/src/esl-carousel/plugin/wheel/esl-carousel.wheel.mixin.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.ts
  packages/esl/src/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-carousel): fix incorrect `canNavigate` behaviour for undefined direction navigation (equal distance for both direction to reach the target slide)
  packages/esl/src/esl-carousel/core/esl-carousel.utils.ts
  packages/esl/src/esl-carousel/test/core/esl-carousel.utils.base.test.ts
  packages/esl/src/esl-carousel/test/core/esl-carousel.utils.nav.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media-query): new ESLStaticShortcuts introduced with capability to dynamically change shortcut value
  packages/esl/src/esl-media-query/core/common/static-shortcuts.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-base.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-inversion.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-static.ts
  packages/esl/src/esl-media-query/core/esl-media-query.ts
  packages/esl/src/esl-media-query/test/esl-media-query.shortcuts.test.ts
  packages/esl/src/esl-media-query/test/esl-media-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-media-query): new ESLMediaShortcuts introduced (instead of ESLEnvShortcuts) with support for dynamic media conditions
  packages/esl/src/esl-media-query/README.md
  packages/esl/src/esl-media-query/core.ts
  packages/esl/src/esl-media-query/core/common/env-shortcuts.ts
  packages/esl/src/esl-media-query/core/common/media-shortcuts.ts
  packages/esl/src/esl-media-query/core/common/screen-breakpoint.ts
  packages/esl/src/esl-media-query/core/common/screen-dpr.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-base.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-condition.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-negation.ts
  packages/esl/src/esl-media-query/core/conditions/media-query-static.ts
  packages/esl/src/esl-media-query/core/esl-media-query.ts
  packages/esl/src/esl-media-query/test/esl-media-query.shortcuts.test.ts
  packages/esl/src/esl-media-query/test/esl-media-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-media-query): add missing negated condition subscription scenario
  packages/esl/src/esl-media-query/test/esl-media-query.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs: update esl-media-query/README.md
  packages/esl/src/esl-media-query/README.md
Due: none

docs: fix typos in esl-media-query/README.md
  packages/esl/src/esl-media-query/README.md
Due: none

chore(site): site markers update + 5.7.0 public notes
  packages/esl-website/views/blogs/ESL v5.7.0.md
  packages/esl-website/views/components/esl-carousel/autoplay.njk
  packages/esl-website/views/components/esl-carousel/index.njk
  packages/esl-website/views/core/esl-media-query.njk
  packages/esl/src/esl-carousel/README.md
  packages/esl/src/esl-media-query/README.md
Due: none

docs(esl-carousel): add missing carousel events section to the docs
  packages/esl/src/esl-carousel/README.md
Due: none

chore: release v5.7.0
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/snapshot-tests/CHANGELOG.md
  packages/snapshot-tests/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
