Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): apply suggestion from code review (clear start event on drag end)
  src/modules/esl-carousel/plugin/touch/esl-carousel.touch.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: make `uip-settings` hideable
  src/plugins/settings/README.md
  src/plugins/settings/settings.less
  src/plugins/settings/settings.tsx
Due: stylelint

fix: change grid rows template, update and add note.less to registration
  src/core/base/base.less
  src/core/base/root.less
  src/core/panel/plugin-panel.less
  src/core/panel/plugin-panel.vertical.less
  src/plugins/note/note.less
  src/plugins/registration.less
  src/plugins/settings/settings.less
Due: stylelint

feat(esl-event-listener): add a `group` key to process batch subscription operations
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-event-listener/test/listener.unsubscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 5f0c1bc9945221272c73636c95100424fc6d8893
  README.md
  index.md
Due: none

test(e2e): update snapshots
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/__image_snapshots__/test-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/__image_snapshots__/test-feature-feature-test-page-looks-fine-test-page-screen-1-snap.png
Due: none

test(e2e): improve element screenshoting and extend homepage tests
  e2e/setup/element/scenarios.query.ts
  e2e/setup/scenarios.env.ts
  e2e/setup/scenarios.screenshot.ts
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-desktop-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-footer-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap.png
  e2e/tests/homepage.feature
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): refactor and simplify checks
  e2e/setup/element/scenarios.class.ts
  e2e/setup/element/scenarios.query.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: 55ded1356d1d425cf6097a8dbeb4e72a33496ec9
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

chore(e2e): update codeclimate filters
  .codeclimate.yml
Due: none

deploy: bc99bc5127bb7163f2aa4db875f131f9ee03cd32
  README.md
  index.md
Due: none

chore(e2e): small timing update
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap.png
  e2e/tests/homepage.feature
Due: none

deploy: a9391e3527fcb6012144a52e5eebbe54b56df828
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

feat(esl-utils): add ability to reject promisifyEvent by using AbortSignal
  src/modules/esl-utils/async/promise/event.ts
  src/modules/esl-utils/async/test/promise/event.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-utils): add ability to reject promisifyEvent by using AbortSignal
  src/modules/esl-utils/async/promise/event.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(e2e): rework and unify test operations and e2e utils structure
  e2e/setup/element/scenarios.attr.ts
  e2e/setup/element/scenarios.basic.ts
  e2e/setup/element/scenarios.class.ts
  e2e/setup/element/scenarios.events.ts
  e2e/setup/element/scenarios.query.ts
  e2e/setup/element/scenarios.utils.ts
  e2e/setup/scenarios.env.ts
  e2e/setup/scenarios.page.ts
  e2e/setup/scenarios.screen.ts
  e2e/setup/scenarios.screenshot.ts
  e2e/setup/scenarios.ts
  e2e/setup/scenarios.wait.ts
  e2e/setup/scenarios.world.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): fix `esl-animate` animation for screen testing
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap.png
  site/src/e2e.less
Due: stylelint

test(e2e): finding element by xpath
  e2e/setup/element/scenarios.xpath.ts
  e2e/setup/scenarios.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): fix ESLint space stylistic warning
  src/modules/esl-utils/decorators/test/prop.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix re-subscription when condition is used
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/listener.resubscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-event-listener): fix incorrect subscription in decorated target test
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): rework and make warnings of event listener system with more strict and truthful detection of a problem
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/listener.subscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-event-listener): update listener internal mechanics to store and collect descriptors (with ability to filter them)
  src/modules/esl-event-listener/README.md
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/descriptors.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/core/types.ts
  src/modules/esl-event-listener/test/descriptor.test.ts
  src/modules/esl-utils/decorators/test/listen.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-event-listener): fix re-subscription when condition is used
  src/modules/esl-event-listener/core/api.ts
  src/modules/esl-event-listener/core/listener.ts
  src/modules/esl-event-listener/test/listener.resubscribe.test.ts
  src/modules/esl-event-listener/test/targets/decorator.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-media): `fill-mode` replaced with `object-fit` css property
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/providers/html5/video-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: fix preview container width, update page styles
  site/src/page/page.less
  src/core/preview/preview.less
Due: stylelint

chore: remove settings max height
  src/plugins/settings/settings.less
Due: stylelint

refactor(esl-utils): add to promisifyEvent removing subscriptions on aborted signal
  src/modules/esl-utils/async/promise/event.ts
  src/modules/esl-utils/async/test/promise/event.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): code refactoring
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): fix exports of /bundles/lib.js
  site/src/playground/export/lib.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): code refactoring
  src/modules/esl-media/providers/html5/video-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 2.1.0-beta.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  site/package.json
Due: none

chore(esl-media): code refactoring
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.less
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/providers/html5/video-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore(esl-media): rename `refreshFillMode` to `refreshSize`
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): rename provider's refresh method
  src/modules/esl-media/core/esl-media-provider.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-media/providers/html5/video-provider.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): apply suggestions from code review
  src/modules/esl-utils/async/test/promise/event.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-event-listener): fix typos and code formatting
  src/modules/esl-event-listener/test/listener.resubscribe.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): apply suggestions from code review
  e2e/setup/element/scenarios.utils.ts
  e2e/setup/scenarios.screenshot.ts
  e2e/tests/homepage.feature
  e2e/tests/test.feature
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: be0003fc1c723eb4315b7a0b46ce796fe0d887a0
  README.md
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-on-mobile-1-snap-diff.png
  index.md
Due: none

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
