Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

refactor(esl-avatar): component refactoring
  src/modules/esl-avatar/core/esl-avatar.less
  src/modules/esl-avatar/core/esl-avatar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

docs(esl-avatar): update examples page of ESL Avatar component
  pages/src/esl-avatar-demo/avatar-demo.less
  pages/src/localdev.less
  pages/static/assets/avatar/animation.webp
  pages/static/assets/avatar/transparent.png
  pages/static/assets/avatar/transparent.webp
  pages/static/assets/avatar/user.png
  pages/static/assets/avatar/user.webp
  pages/static/assets/examples/avatar.svg
  pages/views/examples/avatar.njk
Due: stylelint, lintspaces -n -t -d spaces

style(esl-avatar): add jsx tag shape
  src/modules/esl-avatar/core/esl-avatar.shape.ts
  src/modules/esl-avatar/core/esl-avatar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): create `lorem-ipsum` custom demo element
  pages/src/localdev.ts
  pages/src/text/lorem-ipsum.ts
  pages/views/draft/accordion-regression.njk
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

fix(esl-share): add support types for correct using in Typesript
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-share): make list an observable attribute
  src/modules/esl-share/core/esl-share-list.ts
  src/modules/esl-share/core/esl-share-popup-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): add declarations of components in ESL namespace
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
  src/modules/esl-share/core/esl-share-popup-trigger.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-trigger): change attributeChangedCallback() method signature
  src/modules/esl-trigger/core/esl-trigger.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(snippets): add manual root detection for plugins
  pages/views/examples/example/image.njk
  src/core/base/plugin.ts
  src/plugins/header/header.less
  src/plugins/header/snippets/snippets.less
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-avatar): improove component
  src/modules/esl-avatar/core/esl-avatar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-avatar): update demo
  pages/static/assets/avatar/transparent.png
  pages/static/assets/avatar/user.jpg
  pages/static/assets/avatar/user.png
  pages/views/examples/avatar.njk
Due: lintspaces -n -t -d spaces

test(esl-avatar): create test of component
  src/modules/esl-avatar/test/esl-avatar.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-avatar): update shape for TSX
  src/modules/esl-avatar/core/esl-avatar.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-share): fix linting issue
  src/modules/esl-share/test/actions/external-action.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-random-text): create auxiliary `esl-random-text` component to generate dummy text
  pages/src/localdev.ts
  pages/views/draft/accordion-regression.njk
  src/modules/esl-random-text/README.md
  src/modules/esl-random-text/core.ts
  src/modules/esl-random-text/core/esl-random-text.shape.ts
  src/modules/esl-random-text/core/esl-random-text.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

fix(esl-scrollbar): fix esl:change:scroll event handler invoked before scrollbar updates
  src/modules/esl-scrollbar/core/esl-scrollbar.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): code refactoring
  src/modules/esl-event-listener/core/targets/inert.target.event.ts
  src/modules/esl-event-listener/core/targets/inert.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-share): move shapes export into modules
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
  src/modules/esl-share/core/esl-share-popup-trigger.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-modal): split styles, change default scroll
  src/modules/esl-modal/README.md
  src/modules/esl-modal/core.less
  src/modules/esl-modal/core/esl-backdrop.less
  src/modules/esl-modal/core/esl-modal.less
  src/modules/esl-modal/core/esl-modal.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-utils): update `parseCSSTime` to correctly reject invalid cases
  src/modules/esl-utils/misc/format.ts
  src/modules/esl-utils/misc/test/format.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-panel-group): add ability to enable match-height behavior for tabs height using `esl-tabs-equal-height` class
  pages/views/examples/tabs.njk
  src/modules/esl-panel-group/core/esl-panel-group.less
Due: stylelint, lintspaces -n -t -d spaces

fix(esl-tabs): fix iOS auto-scroll / arrow controls boundaries on iOS devices when touch-scroll is enabled
  pages/views/draft/tabs-scrollable.njk
  src/modules/esl-tab/core/esl-tabs.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

style(esl-modal): upgrade animation, support 2 types
  pages/views/examples/modal.njk
  src/modules/esl-modal/README.md
  src/modules/esl-modal/core.less
  src/modules/esl-modal/core/esl-modal.animation.less
  src/modules/esl-modal/core/esl-modal.less
  src/modules/esl-modal/core/esl-modal.ts
  src/modules/esl-modal/test/modal.a11ty.test.ts
  src/modules/esl-modal/test/modal.backdrop.test.ts
  src/modules/esl-modal/test/modal.placeholder.test.ts
  src/modules/esl-modal/test/modal.stack.test.ts
  src/modules/esl-modal/test/modal.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

test(esl-share): refactor action tests
  src/modules/esl-share/test/actions/action-test-plan-factory.ts
  src/modules/esl-share/test/actions/copy-action.test.ts
  src/modules/esl-share/test/actions/external-action.test.ts
  src/modules/esl-share/test/actions/media-action.test.ts
  src/modules/esl-share/test/actions/native-action.test.ts
  src/modules/esl-share/test/actions/print-action.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): retire esl-share and rename esl-share-popup-trigger into esl-share
  pages/src/esl-share/esl-share.ts
  pages/views/draft/share-regression.njk
  pages/views/examples/share.njk
  src/modules/esl-share/core.less
  src/modules/esl-share/core.ts
  src/modules/esl-share/core/esl-share-popup-trigger.shape.ts
  src/modules/esl-share/core/esl-share-popup-trigger.ts
  src/modules/esl-share/core/esl-share.less
  src/modules/esl-share/core/esl-share.shape.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-random-text): cleanup and global `WORDS_PER_SENTENCE` variable
  src/modules/esl-random-text/README.md
  src/modules/esl-random-text/core/esl-random-text.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(pages): introduce `filter`/`exclude` filters to replace `activeDraftPage` and `notHidden`
  pages/11ty/collections.filter.js
  pages/11ty/hidden.filter.js
  pages/11ty/released.filter.js
  pages/views/_includes/navigation/footer-menu.njk
  pages/views/_includes/navigation/sidebar-item.njk
  pages/views/_includes/navigation/sidebar.njk
  pages/views/_layouts/collection-grid.njk
Due: lintspaces -n -t -d spaces

feat(esl-utils): introducing `parseCSSTime` format utility to extract time values from CSS (#821)
  src/modules/esl-utils/misc/format.ts
  src/modules/esl-utils/misc/test/format.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-random-text): update API with a more flexible approach
  src/modules/esl-random-text/core/esl-random-text.shape.ts
  src/modules/esl-random-text/core/esl-random-text.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-random-text): update docs according actual component state
  src/modules/esl-random-text/README.md
Due: none

fix(esl-share): fix ready state attribute and ready state event
  src/modules/esl-share/core/esl-share-button.ts
  src/modules/esl-share/core/esl-share-list.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-share): fix issue with component renaming
  src/modules/esl-share/test/esl-share-popup.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): rename attribute into popup-params
  pages/views/draft/share-regression.njk
  src/modules/esl-share/core/esl-share.shape.ts
  src/modules/esl-share/core/esl-share.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, lintspaces -n -t -d spaces

feat(esl-tooltip): add inlineStyles param to pass styles into shared instance of tooltip
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-event-listener): code refactoring
  src/modules/esl-event-listener/core/targets/wheel.target.event.ts
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): introduce static option `DEFAULT_PARAMS` to define toggleable instance default show/hide params
  src/modules/esl-alert/core/esl-alert.ts
  src/modules/esl-panel/core/esl-panel.ts
  src/modules/esl-popup/core/esl-popup.ts
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-share/core/esl-share.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-share): add missing `IntersectionObserver` instance by mock
  src/modules/esl-share/test/esl-share-popup.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(site): replace `esl-share` with `esl-share-list`
  pages/views/_includes/navigation/header.njk
  pages/views/_includes/navigation/sidebar.njk
Due: lintspaces -n -t -d spaces

chore(esl-event-listener): code refactoring
  src/modules/esl-event-listener/core/targets/wheel.target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests
