Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

docs(esl-footnotes): update `README.md`
  src/modules/esl-footnotes/README.md
Due: none

chore(release): 5.0.0-beta.38
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  7fdaa09169092f6c7051e14b46384db4a16831a2
Due: none

deploy: ac24e92739962be53e6e8aedb1a2ac6713f0e89d
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

feat(esl-utils): `safeContains` traverse utility
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-popup): add position-origin attribute
  src/modules/esl-popup/core/esl-popup-position.ts
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(site): update esl-popup game with position-origin attribute
  site/views/draft/popup-game.njk
Due: none

docs(esl-popup): update README with position-origin attibute
  src/modules/esl-popup/README.md
Due: none

style(esl-popup): apply suggestions from code review
  src/modules/esl-popup/README.md
Due: none

deploy: 9b80110b15e39d6f01b06d46bede5d34ff30f787
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

chore(site): migrate share example on uip
  site/views/examples/share.njk
Due: none

deploy: feeca36144fb44c7aab7f58d2eaa45a3094b6cde
  README.md
  index.md
Due: none

chore(esl-utils): apply suggestions from code review
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: bump esl packages to the latest `^5.0.0-beta.38`
  package-lock.json
  package.json
  site/package.json
Due: none

feat(esl-utils): add extended `handleFocusFlow` keyboard based focus manager
  src/modules/esl-utils/dom/focus.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): add out of the box `ESLToggleable` focus manager
  src/modules/esl-toggleable/core/esl-toggleable.shape.ts
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-tooltip): get rid from inner `hasFocusLoop` and custom focus manager, now utilizes ESLToggleable features
  src/modules/esl-share/core/esl-share-popup.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-share): separate `ESLSharePopup` implementation from `ESLTooltip`
  src/modules/esl-share/core/esl-share-popup.shape.ts
  src/modules/esl-share/core/esl-share-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-share): fix inner ESLToggleableActionParams instances type
  src/modules/esl-share/core/esl-share-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(release): 5.0.0-beta.39
  CHANGELOG.md
  e2e/package.json
  eslint-config/package.json
  eslint-plugin/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  c09070b9fae25eca956e4e6ae992a304e7806392
Due: none

feat(esl-media): observation for togglebale container state
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.ts
  src/modules/esl-utils/dom/traversing.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): add check for automatic pause
  src/modules/esl-media/core/esl-media-iobserver.ts
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(esl-media): remove unnecessary code
  src/modules/esl-media/core/esl-media.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(uip-editor): add reset button
  src/core/base/model.storage.ts
  src/core/base/model.ts
  src/core/base/root.ts
  src/plugins/editor/editor.less
  src/plugins/editor/editor.tsx
  src/plugins/registration.less
  src/plugins/registration.ts
  src/plugins/reset/reset-button.icon.tsx
  src/plugins/reset/reset-button.less
  src/plugins/reset/reset-button.shape.ts
  src/plugins/reset/reset-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

style(site): add treepath filter to gather breadcrumbs info
  site/11ty/treepath.filter.js
Due: none

style(site): add breadcrumbs into page
  site/src/page/base-layout.less
  site/views/_layouts/content.njk
Due: stylelint

fix(esl-utils): fix visibility and a11y checks for getKeyboardFocusableElements
  src/modules/esl-utils/dom/focus.ts
  src/modules/esl-utils/dom/test/focus.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-footnotes): fix improper note highlighting
  src/modules/esl-footnotes/core/esl-note.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-tooltip): fix tooltip arrow disappearing
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): update focusBehaviour option to smoothly support boundary focus actions across different options
  src/modules/esl-toggleable/core/esl-toggleable.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-popup): get rid from all focus management code
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-share): simplify code and remove overrides (according to esl-popup base state)
  src/modules/esl-share/core/esl-share-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-tooltip): simplify code and remove overrides (according to esl-popup base state)
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-popup): fix type import style for `FocusFlowType`
  src/modules/esl-popup/core/esl-popup.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat: remove disable-arrow attribute
  src/modules/esl-tooltip/core/esl-tooltip.shape.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-tooltip): remove disable-arrow attribute
  src/modules/esl-tooltip/core/esl-tooltip.shape.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-tooltip): remove disable-arrow attribute BREAKING CHANGES: `disable-arrow` attribute removed from ESLTooltip component
  src/modules/esl-tooltip/core/esl-tooltip.shape.ts
  src/modules/esl-tooltip/core/esl-tooltip.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

deploy: ea39373aa5eb6ec37f122fedb3356384d0c1375e
  README.md
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-desktop-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-footer-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-hamburger-menu-on-mobile-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-diff.jpg
  homepage.feature/feature-homepage-looks-fine-test-homepage-screen-on-mobile-diff.jpg
  index.md
Due: none

feat(esl-drag-to-scroll): update draggable state based on content size
  eslint-config/rules/eslint.config.sonarjs.js
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.less
  src/modules/esl-drag-to-scroll/core/esl-drag-to-scroll.mixin.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
