Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

deploy: 9301e559bf928044872bec52e5395e7a3eccb9ec
  README.md
  homepage-err-feature-feature-homepage-temporary-error-case-test-homepage-screen-when-it-is-not-ready-1-snap-diff.png
  index.md
Due: none

deploy: ed2ecf3bd8f77a07ddda81660c4013d9851549e5
  README.md
  homepage-err-feature-feature-homepage-temporary-error-case-test-homepage-screen-when-it-is-not-ready-1-snap-diff.png
  index.md
Due: none

chore(e2e): update test snapshot and fix update script
  .github/workflows/e2e.yml
  e2e/jest-puppeteer.config.js
  e2e/tests/__image_snapshots__/homepage-err-feature-feature-homepage-temporary-error-case-test-homepage-screen-when-it-is-not-ready-1-snap.png
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/homepage-err.feature
  package.json
Due: none

deploy: ff9c37ffb4867f25b144196c4c30b369e299d67b
  README.md
  homepage-err-feature-feature-homepage-temporary-error-case-test-homepage-screen-when-it-is-not-ready-1-snap-diff.png
  homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap-diff.png
  index.md
Due: none

chore(e2e): fix reporter writer (fails if output directory does not exist)
  e2e/reporters/reporter.js
Due: none

refactor(gh-pages): create body.less to separate styles from ui playground
  site/src/common/body.less
  site/src/common/typography.less
  site/src/localdev.less
  site/src/playground/export/lib.less
Due: stylelint

test(esl-popup): add tests for esl-popup position
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit-major.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit-minor.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-fit.test.ts
  src/modules/esl-popup/test/esl-popup-position.behaviour-none.test.ts
  src/modules/esl-popup/test/esl-popup-position.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): add tests for dom/window utility
  src/modules/esl-utils/dom/test/window.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-popup): fix incorrect behavior of popup for fit-major and fit-minor modes
  src/modules/esl-popup/core/esl-popup-position.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): update `attr` decorator JS doc
  src/modules/esl-utils/decorators/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(deps): bump common dependencies
  package-lock.json
  package.json
  site/package.json
Due: none

chore(release): 5.0.0-beta.10
  CHANGELOG.md
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  81d0a5aed511a32e81848457acc331c14d528d2c
Due: none

chore: updateFrom method refactoring for select setting
  src/plugins/settings/select-setting/select-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore: updateFrom method refactoring for slider setting
  src/plugins/settings/slider-setting/slider-setting.tsx
Due: none

chore: updateFrom method refactoring for base and text settings
  src/plugins/settings/base-setting/base-setting.ts
  src/plugins/settings/text-setting/text-setting.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(core): extend model event with detailed information
  src/core/base/model.change.ts
  src/core/base/model.ts
  src/core/base/root.ts
  src/core/base/snippet.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(editor): make editor update only if corresponding change was made
  src/plugins/editor/editor.tsx
Due: none

fix(settings): make setting update only if corresponding change was made
  src/plugins/settings/base-setting/base-setting.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(copy): incorrect content to copy from JS editor
  src/plugins/copy/copy-button.shape.ts
  src/plugins/copy/copy-button.ts
  src/plugins/editor/editor.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(editor): rework editor type marker - `script` bollean marker replaced with `source` attribute
  site/views/examples/example/form.njk
  src/plugins/copy/copy-button.shape.ts
  src/plugins/copy/copy-button.ts
  src/plugins/editor/editor.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(core): lazy update and alternative re-size control for `uip-preview`
  src/core/preview/preview.tsx
  src/core/processors/templates.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(core): a11y of hidden panel
  src/core/panel/plugin-panel.less
Due: stylelint

fix(core): fix layout according to marker change
  src/plugins/editor/editor.less
Due: stylelint

chore: updateFrom method refactoring for settings
  src/plugins/settings/bool-setting/bool-setting.tsx
  src/plugins/settings/select-setting/select-setting.ts
  src/plugins/settings/slider-setting/slider-setting.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(e2e): apply suggestions from code review
  e2e/reporters/printers.js
  e2e/reporters/reporter.js
  e2e/setup/scenarios.screenshot.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(e2e): fix homepage snapshot
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
Due: none

chore(e2e): create draft workflow to run automation
  .github/workflows/e2e.yml
  .gitignore
  e2e/jest-puppeteer.config.js
  e2e/setup/scenarios.screenshot.ts
  package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix server runner path
  e2e/jest-puppeteer.config.js
Due: none

chore(e2e): fix ci server run
  e2e/jest-puppeteer.config.js
  e2e/package.json
Due: none

chore(e2e): update build command
  site/package.json
Due: none

chore(e2e): create report artifact if failure
  .github/workflows/e2e.yml
Due: none

chore(e2e): add github action reporter
  e2e/jest.config.js
Due: none

chore(e2e): adding a job summary
  .github/workflows/e2e.yml
  e2e/jest.config.js
  e2e/package.json
  package-lock.json
Due: none

chore(site): support for environment PORT override, add e2e run mode with font normalization
  site/.eleventy.js
  site/11ty/env.config.js
  site/package.json
  site/src/common/reboot.less
  site/src/e2e.less
  site/static/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf
  site/static/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf
  site/views/_layouts/base.njk
Due: stylelint

chore(e2e): add more run scripts, change default port, update tests and snapshots
  e2e/jest-puppeteer.config.js
  e2e/jest.config.js
  e2e/package.json
  e2e/setup/scenarios.env.ts
  e2e/tests/__image_snapshots__/homepage-feature-feature-homepage-looks-fine-test-homepage-screen-1-snap.png
  e2e/tests/example._spec.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix port resolution and auto-openner script
  e2e/setup/scenarios.env.ts
  site/11ty/open.postaction.js
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): implement extended reporter
  .github/workflows/e2e.yml
  e2e/.eslintignore
  e2e/jest.config.js
  e2e/package.json
  e2e/reporters/printers.js
  e2e/reporters/reporter.js
  package-lock.json
Due: none

chore(e2e): fix workflow
  .github/workflows/e2e.yml
Due: none

chore(e2e): fix image url in public report
  e2e/reporters/printers.js
  e2e/reporters/reporter.js
Due: none
