Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor: cosmetic Linting issues and note extended processing flow
  src/core/base/model.change.ts
  src/core/base/model.ts
  src/core/preview/preview.tsx
  src/core/processors/normalization.ts
  src/plugins/note/note.less
  src/plugins/note/note.tsx
  src/plugins/settings/bool-setting/bool-setting.tsx
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(editor): update readonly management flow
  src/core/panel/plugin-panel.tsx
  src/plugins/editor/editor.less
  src/plugins/editor/editor.tsx
Due: stylelint

fix(core): rework refresh animation and behaviour (embedded async flow) + remove redundant normalization for HTML
  src/core/preview/preview.less
  src/core/preview/preview.tsx
  src/core/processors/normalization.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(site): final migrations for UIP 2 April update
  site/views/examples/menu.njk
  site/views/examples/tabs.njk
  site/views/examples/toggleable.njk
Due: none

docs(site): `esl-alert` example updated with docs + migration to UIP 2 April
  site/views/examples/notification.njk
  src/modules/esl-alert/README.md
Due: none

docs(site): add UIP announce for release 4.15.0 build
  site/views/blogs/ESL v4.15.0.md
  site/views/blogs/UIP 2.0.0 (April).md
Due: none

docs: fix typos for `esl-alert/README.md`
  src/modules/esl-alert/README.md
Due: none

chore(release): 2.1.0-beta.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  site/package.json
Due: none

chore(site): `@exadel/ui-playground` updated to `2.1.0-beta.2` ( UIP 2 April )
  package-lock.json
  site/package.json
Due: none

style(site): stylistic update for "readonly" label of UIP
  site/src/playground/ui-playground.less
Due: stylelint

chore(site): UIP updated to `2.1.0-beta.2` (UIP 2 April), ESL Toggleable examples migration (#2319)
  package-lock.json
  site/package.json
  site/src/playground/ui-playground.less
  site/views/examples/menu.njk
  site/views/examples/tabs.njk
  site/views/examples/toggleable.njk
Due: stylelint

docs(esl-alert): fix punctuation in `esl-alert` documentation
  src/modules/esl-alert/README.md
Due: none

fix(preview): fix min-height animation of preview area, simplify animation control
  src/core/preview/preview.less
  src/core/preview/preview.tsx
Due: stylelint

chore(release): 2.1.0-beta.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  site/package.json
Due: none

chore(site): update `@exadel/ui-playground` to `2.1.0-beta.3`
  package-lock.json
  site/package.json
Due: none

style(site): add missing samples, and unify styles for esl-image
  site/views/examples/image.njk
Due: none

style(site): add missing samples, unify, fix formatting for esl-media
  site/views/examples/embedded-media.njk
Due: none

style(site): unify styles for menu, notification(alert), tabs and toggleable examples
  site/views/examples/menu.njk
  site/views/examples/notification.njk
  site/views/examples/tabs.njk
  site/views/examples/toggleable.njk
Due: none

style(site): add missing samples and unify esl-animate and accordion example page
  site/views/examples/accordion.njk
  site/views/examples/animate.njk
Due: none

style(site): unify styles for scrollbar example
  site/views/examples/scrollbar.njk
Due: none

chore(release): 4.15.0
  CHANGELOG.md
  e2e/package.json
  eslint/package.json
  package-lock.json
  package.json
  site/package.json
Due: none

Notes added by 'git notes add'
  f93f801e82d52246e68c6053d86b7d36c10ffd80
Due: none

style(site): small content corrections on esl-alert example
  site/views/examples/notification.njk
Due: none

refactor(esl-carousel): fix default renderer uninitializer
  site/views/draft/slide-carousel.njk
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

fix(esl-utils): fix event cancellation handling
  src/modules/esl-utils/async/promise/animation.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): small progressive update of overflow CSS option from `hidden` -> `clip`
  src/modules/esl-carousel/core/esl-carousel.less
Due: stylelint

refactor(esl-carousel): simplify change event dispatching
  src/modules/esl-carousel/core/esl-carousel.events.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): rework `default` carousel renderer to use negative order to have capabilities to display siblings
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): change carousel JS API
  src/modules/esl-carousel/core/esl-carousel.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): update ordering behaviour and ootb possibilities to un-hide siblings
  site/src/common/card.less
  site/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): cosmetic updates in default renderer logic
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(esl-carousel): introduce `none` renderer to make carousel inactive
  site/views/draft/carousel.css.njk
  site/views/examples/carousel.marquee.njk
  site/views/examples/carousel.njk
  src/modules/esl-carousel/core.less
  src/modules/esl-carousel/core.ts
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.css-only.renderer.ts
  src/modules/esl-carousel/renderers/esl-carousel.none.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

refactor(esl-carousel): rework a11ty, introduce `next`/`prev` markers
  site/views/examples/carousel.njk
  src/modules/esl-carousel/core/esl-carousel.renderer.ts
  src/modules/esl-carousel/core/esl-carousel.slide.ts
  src/modules/esl-carousel/core/esl-carousel.ts
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.default.renderer.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

feat(esl-utils): add provider to default value in attr
  src/modules/esl-utils/decorators/attr.ts
  src/modules/esl-utils/decorators/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

docs(esl-utils): update description
  src/modules/esl-utils/decorators/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): update `attr` tests with cases of inherit option
  src/modules/esl-utils/decorators/test/attr.test.ts
  src/modules/esl-utils/dom/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): update `attr` decorator JS doc
  src/modules/esl-utils/decorators/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

style(esl-utils): rename variable
  src/modules/esl-utils/decorators/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-utils): extend `attr` decorator with inherit option to take over the value of declared attribute
  src/modules/esl-utils/decorators/attr.ts
  src/modules/esl-utils/dom/attr.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

test(esl-utils): enhance tests for inherit parameter
  src/modules/esl-utils/decorators/test/attr.test.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

Path conditions:
  eslint --max-warnings 3: any of: *.ts
  jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests: any of: *.ts
  stylelint: any of: *.less
