Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --findRelatedTests"
"*.less":
  - "stylelint"
  - "lintspaces -n -t -d spaces"
"*.html":
  - "lintspaces -n -t -d spaces"
"*.njk":
  - "lintspaces -n -t -d spaces"

chore: updated 3rd level behaviour in draft section
  pages/views/_includes/navigation/sidebar-item.njk
  pages/views/draft/popup-drafts/index.njk
  pages/views/draft/popup-drafts/popup-scroll-parents.njk
  pages/views/draft/popup-drafts/popup-transition.njk
Due: lintspaces -n -t -d spaces

feat(eslint): code refactoring
  .eslintrc.yml
  eslint/index.js
  jest.config.js
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ exadel-inc/esl@4bfe29cbcfd5608c2f4883fed1d1ca728563737c 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

feat(esl-panel-group): add ability to collapse inner accordion when nesting accordion
  jest.config.js
  package-lock.json
  package.json
  pages/src/localdev.ts
  pages/views/components/esl-panel.njk
  pages/views/examples/accordion.njk
  src/modules/all.ts
  src/modules/esl-nested-accordion/README.md
  src/modules/esl-nested-accordion/core.ts
  src/modules/esl-nested-accordion/core/esl-nested-accordion.ts
  src/modules/esl-nested-accordion/test/esl-nested-accordion.test.ts
  src/modules/esl-nested-accordion/test/nested-accordion-template.html
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces

feat(eslint): create deprecated aliases rules for `v4.0.0`
  .eslintrc.yml
  eslint/index.js
  eslint/rules/4.0.0/deprecated.deep-compare.js
  eslint/rules/4.0.0/deprecated.event-utils.js
  eslint/rules/4.0.0/deprecated.generate-uid.js
  eslint/rules/4.0.0/deprecated.toggleable-action-params.js
  eslint/rules/4.0.0/deprecated.traversing-query.js
Due: none

chore(eslint): update eslint rule test
  eslint/test/deprecated-alias.test.js
Due: none

Deploying to gh-pages from @ exadel-inc/esl@24b96405ef0649f8fecebb84458f6a2a63ffb593 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
Due: lintspaces -n -t -d spaces

chore(esl-share): mark esl-share actions as side effects
  package.json
  pages/src/localdev.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-share): add feature to mark button as unavailable depending on share actions availability
  pages/src/esl-share/esl-share.less
  pages/src/localdev.less
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/core/esl-share-action.ts
  src/modules/esl-share/core/esl-share-button.less
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

refactor(esl-share): separate a11y init
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-share): update shareData format for links
  src/modules/esl-share/actions/copy-action.ts
  src/modules/esl-share/actions/url-generic-action.ts
  src/modules/esl-share/core/esl-share-button.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(esl-share): add action for native share mechanism on devices
  pages/src/esl-share/esl-share.less
  pages/src/localdev.ts
  src/modules/esl-share/actions/native-action.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

docs(esl-share): update example page
  pages/views/examples/share.njk
Due: lintspaces -n -t -d spaces

docs(esl-share): update buttons config.json
  pages/static/assets/share/config.json
Due: none

refactor(esl-share): rework share config provider
  pages/src/localdev.ts
  src/modules/esl-share/config-providers/fetch-provider.ts
  src/modules/esl-share/core/esl-share-config-provider.ts
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

refactor(esl-share): update cjnfig provider type
  src/modules/esl-share/core/esl-share-config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

chore(gh-pages): fix `utils` redirect
  pages/views/redirect/utils.njk
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@baf2b0bb5ee66334595c58daaa853688f06a69e4 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
  utils/esl-utils/index.html
Due: lintspaces -n -t -d spaces

Deploying to gh-pages from @ exadel-inc/esl@24b96405ef0649f8fecebb84458f6a2a63ffb593 🚀
  draft/accordion-regression/index.html
  draft/carousel/index.html
  draft/nested-accordion/index.html
  examples/accordion/index.html
  examples/footnotes/index.html
  examples/menu/index.html
  examples/scrollbar/index.html
  examples/tabs/index.html
  examples/toggleable/index.html
  sitemap.xml
  utils/index.html
Due: lintspaces -n -t -d spaces

chore(docs): code refactoring
  pages/11ty/eslDoc/eslDoc.js
  pages/11ty/eslDoc/helpers/class.js
  pages/11ty/eslDoc/helpers/common/arguments.js
  pages/11ty/eslDoc/helpers/common/common.js
  pages/11ty/eslDoc/helpers/common/jsDoc.js
  pages/11ty/eslDoc/helpers/common/type.js
  pages/11ty/eslDoc/helpers/functions.js
  pages/11ty/eslDoc/helpers/type.js
  pages/11ty/eslDoc/render.js
  pages/11ty/esldoc.shortcut.js
  pages/views/_includes/eslDoc/class.njk
  pages/views/_includes/eslDoc/common.njk
  pages/views/_includes/eslDoc/function.njk
  pages/views/core/esl-docs.njk
Due: lintspaces -n -t -d spaces

chore(docs): code refactoring
  pages/views/_includes/eslDoc/class.njk
  pages/views/_includes/eslDoc/function.njk
  pages/views/_includes/eslDoc/render.njk
  pages/views/core/esl-docs.njk
Due: lintspaces -n -t -d spaces

chore(docs): code refactoring
  pages/11ty/eslDoc/helpers/functions.js
  pages/11ty/eslDoc/helpers/type.js
  pages/views/_includes/eslDoc/class.njk
  pages/views/_includes/eslDoc/function.njk
Due: lintspaces -n -t -d spaces

fix(editor): linting error
  src/plugins/editor/editor.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

feat(editor): move ace only related logic to separate module
  src/plugins/async-plugins.ts
  src/plugins/editor/ace/ace-editor.ts
  src/plugins/editor/ace/utils.ts
  src/plugins/editor/editor.ts
  src/plugins/registration.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests

fix(settings): fix collapse animation on mobile
  src/plugins/settings/settings.less
Due: stylelint, lintspaces -n -t -d spaces

chore: update package json and tsconfig json
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix(settings/editor): rollback
  src/plugins/editor/editor.less
  src/plugins/editor/editor.ts
  src/plugins/settings/settings.less
  src/plugins/settings/settings.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

feat: added optional resizable attribute for preview
  pages/views/examples/example/form.njk
  pages/views/examples/example/playground.njk
  src/core/preview/preview.less
  src/core/preview/preview.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, stylelint, lintspaces -n -t -d spaces

chore: update package json
  package-lock.json
  package.json
Due: none

chore: update basic layout with esl scrollbar
  pages/views/_layouts/basic.njk
  pages/views/_layouts/html5.njk
  pages/views/styles/page.less
Due: stylelint, lintspaces -n -t -d spaces

feat(esl-related-target): make related target able to target multiple related togglable
  pages/views/examples/accordion.njk
  src/modules/esl-related-target/core/esl-related-target.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --findRelatedTests, lintspaces -n -t -d spaces
