Repository exadel-inc/esl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

.lintstagedrc.yml:

"*.ts":
  - "eslint --max-warnings 3"
  - "jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests"
"*.less":
  - "stylelint"

feat(esl-a11y-group): esl-a11y-group migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-a11y-group/core.css
  packages/esl/src/esl-a11y-group/core.less
  packages/esl/src/esl-a11y-group/core/esl-a11y-group.css
Due: stylelint

feat(esl-anchornav): esl-anchornav migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-anchornav/core.css
  packages/esl/src/esl-anchornav/core.less
  packages/esl/src/esl-anchornav/core/esl-anchor.css
  packages/esl/src/esl-anchornav/core/esl-anchornav-sticked.css
  packages/esl/src/esl-anchornav/core/esl-anchornav.css
Due: stylelint

feat(esl-drag-to-scroll): esl-drag-to-scroll migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-drag-to-scroll/core.css
  packages/esl/src/esl-drag-to-scroll/core.less
  packages/esl/src/esl-drag-to-scroll/core/esl-drag-to-scroll.css
Due: stylelint

feat(esl-sticky-box): esl-sticky-box migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-sticky-box/core.css
  packages/esl/src/esl-sticky-box/core.less
  packages/esl/src/esl-sticky-box/core/esl-sticky-box.css
Due: stylelint

feat(esl-line-clamp): esl-line-clamp migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-line-clamp/core.css
  packages/esl/src/esl-line-clamp/core.less
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.css
Due: stylelint

feat(esl-animate): esl-animate migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-animate/core.css
  packages/esl/src/esl-animate/core.less
  packages/esl/src/esl-animate/core/esl-animate-animations.css
  packages/esl/src/esl-animate/core/esl-animate.css
Due: stylelint

refactor: all migrated to CSS assets were audited to use safe CSS constructions
  packages/esl/src/all.less
  packages/esl/src/esl-a11y-group/README.md
  packages/esl/src/esl-alert/README.md
  packages/esl/src/esl-alert/core/esl-alert.css
  packages/esl/src/esl-anchornav/README.md
  packages/esl/src/esl-animate/README.md
  packages/esl/src/esl-animate/core/esl-animate-animations.css
  packages/esl/src/esl-animate/core/esl-animate.css
  packages/esl/src/esl-drag-to-scroll/README.md
  packages/esl/src/esl-drag-to-scroll/core/esl-drag-to-scroll.css
  packages/esl/src/esl-line-clamp/README.md
  packages/esl/src/esl-line-clamp/core/esl-line-clamp.css
  packages/esl/src/esl-sticky-box/README.md
Due: stylelint

chore(e2e): add verbose output for debug run
  packages/esl-website-e2e/playwright.config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

chore(e2e): fix output of web server run
  packages/esl-website-e2e/playwright.config.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

refactor(ui-playground): update usage of esl output to CSS consumption
  packages/ui-playground/src/registration.all.less
Due: stylelint

chore: release v7.0.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-toggleable): esl-toggleable migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-toggleable/core.css
  packages/esl/src/esl-toggleable/core.less
  packages/esl/src/esl-toggleable/core/esl-toggleable-dispatcher.css
  packages/esl/src/esl-toggleable/core/esl-toggleable.css
  packages/esl/src/esl-toggleable/core/esl-toggleable.less
Due: stylelint

feat(esl-trigger): esl-trigger migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-toggleable/README.md
  packages/esl/src/esl-trigger/README.md
  packages/esl/src/esl-trigger/core.css
  packages/esl/src/esl-trigger/core.less
  packages/esl/src/esl-trigger/core/esl-trigger.css
  packages/esl/src/esl-trigger/core/esl-trigger.less
Due: stylelint

feat(esl-panel): esl-panel/esl-panel-group migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-panel-group/README.md
  packages/esl/src/esl-panel-group/core.css
  packages/esl/src/esl-panel-group/core.less
  packages/esl/src/esl-panel-group/core/esl-panel-group.css
  packages/esl/src/esl-panel-group/core/esl-panel-group.less
  packages/esl/src/esl-panel/README.md
  packages/esl/src/esl-panel/core.css
  packages/esl/src/esl-panel/core.less
  packages/esl/src/esl-panel/core/esl-panel.css
  packages/esl/src/esl-panel/core/esl-panel.def.css
  packages/esl/src/esl-panel/core/esl-panel.less
Due: stylelint

feat: introduce variable definition files
  packages/esl/src/all.less
  packages/esl/src/esl-alert/variables.css
  packages/esl/src/esl-panel/core.css
  packages/esl/src/esl-panel/variables.css
Due: stylelint

chore(eslint-config): replace `eslint-plugin-import` with `eslint-plugin-perfectionist`
  package-lock.json
  packages/eslint-config/package.json
  packages/eslint-config/rules/base/imports.js
  packages/eslint-config/rules/codestyle/imports.js
  packages/eslint-config/rules/strict/imports.js
  packages/eslint-config/rules/strict/index.js
Due: none

feat(esl-tab): esl-tab migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-tab/README.md
  packages/esl/src/esl-tab/core.css
  packages/esl/src/esl-tab/core.less
  packages/esl/src/esl-tab/core/esl-tab.css
  packages/esl/src/esl-tab/core/esl-tab.less
  packages/esl/src/esl-tab/core/esl-tabs.arrows.css
  packages/esl/src/esl-tab/core/esl-tabs.arrows.less
  packages/esl/src/esl-tab/core/esl-tabs.css
  packages/esl/src/esl-tab/core/esl-tabs.less
  packages/esl/src/esl-tab/core/esl-tabs.scrollable.css
  packages/esl/src/esl-tab/core/esl-tabs.scrollable.less
Due: stylelint

feat(esl-tooltip): esl-tooltip migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-tooltip/core.css
  packages/esl/src/esl-tooltip/core.less
  packages/esl/src/esl-tooltip/core/esl-tooltip.css
  packages/esl/src/esl-tooltip/core/esl-tooltip.less
Due: stylelint

feat(esl-footnotes): esl-footnotes migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-footnotes/README.md
  packages/esl/src/esl-footnotes/core.css
  packages/esl/src/esl-footnotes/core.less
  packages/esl/src/esl-footnotes/core/esl-footnotes.css
  packages/esl/src/esl-footnotes/core/esl-footnotes.less
  packages/esl/src/esl-footnotes/core/esl-note.css
  packages/esl/src/esl-footnotes/core/esl-note.less
Due: stylelint

style: fix linting issue in worker/style.mjs
  packages/esl/worker/styles.mjs
Due: none

feat(esl-share): esl-share migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-share/README.md
  packages/esl/src/esl-share/core.css
  packages/esl/src/esl-share/core.less
  packages/esl/src/esl-share/core/esl-share-button.css
  packages/esl/src/esl-share/core/esl-share-button.less
  packages/esl/src/esl-share/core/esl-share-list.css
  packages/esl/src/esl-share/core/esl-share.css
  packages/esl/src/esl-share/variables.css
Due: stylelint

feat(esl-popup): esl-popup base migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-popup/README.md
  packages/esl/src/esl-popup/core.css
  packages/esl/src/esl-popup/core.less
  packages/esl/src/esl-popup/core/esl-popup.css
  packages/esl/src/esl-popup/core/esl-popup.less
  packages/esl/src/esl-popup/variables.css
Due: stylelint

docs(eslint-config): update information about used plugins
  packages/eslint-config/README.md
Due: none

feat(esl-popup): esl-popup no longer support LESS mixin-builder for styles
  packages/esl/src/esl-popup/core.mixin.less
  packages/esl/src/esl-popup/core/esl-popup.mixin.less
Due: stylelint

style(esl-popup): add a small migration note
  packages/esl/src/esl-popup/README.md
Due: none

refactor(esl-panel): split `--esl-panel-animation` into `--esl-panel-animation-time` & `--esl-panel-animation-easing`
  packages/esl/src/esl-panel-group/README.md
  packages/esl/src/esl-panel-group/core/esl-panel-group.css
  packages/esl/src/esl-panel/README.md
  packages/esl/src/esl-panel/core/esl-panel.css
  packages/esl/src/esl-panel/variables.css
Due: none

chore: release v7.0.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/esl-website-e2e/CHANGELOG.md
  packages/esl-website-e2e/package.json
  packages/esl-website-monitoring/CHANGELOG.md
  packages/esl-website-monitoring/package.json
  packages/esl-website/CHANGELOG.md
  packages/esl-website/package.json
  packages/esl/CHANGELOG.md
  packages/esl/package.json
  packages/esl/skills/esl/SKILL.md
  packages/esl/src/lib.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/ui-playground/CHANGELOG.md
  packages/ui-playground/package.json
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests

feat(esl-carousel): esl-carousel migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-carousel/README.md
  packages/esl/src/esl-carousel/all.css
  packages/esl/src/esl-carousel/all.less
  packages/esl/src/esl-carousel/core.css
  packages/esl/src/esl-carousel/core.less
  packages/esl/src/esl-carousel/core/esl-carousel.css
  packages/esl/src/esl-carousel/core/esl-carousel.less
  packages/esl/src/esl-carousel/plugin/dots/esl-carousel.nav.dots.css
  packages/esl/src/esl-carousel/plugin/dots/esl-carousel.nav.dots.less
  packages/esl/src/esl-carousel/plugin/nav/esl-carousel.nav.arrows.css
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.fade.renderer.css
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.fade.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.css
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.slide.renderer.css
  packages/esl/src/esl-carousel/renderers/esl-carousel.css.slide.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.default.renderer.css
  packages/esl/src/esl-carousel/renderers/esl-carousel.default.renderer.less
  packages/esl/src/esl-carousel/renderers/esl-carousel.grid.renderer.css
  packages/esl/src/esl-carousel/renderers/esl-carousel.grid.renderer.less
  packages/esl/src/esl-carousel/variables.css
Due: stylelint

style(esl-carousel): review fixes
  packages/esl/src/esl-carousel/variables.css
Due: none

feat(esl-forms): esl-select/esl-select-list migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-forms/all.css
  packages/esl/src/esl-forms/all.less
  packages/esl/src/esl-forms/esl-select-list/README.md
  packages/esl/src/esl-forms/esl-select-list/core.css
  packages/esl/src/esl-forms/esl-select-list/core.less
  packages/esl/src/esl-forms/esl-select-list/core/esl-select-item.css
  packages/esl/src/esl-forms/esl-select-list/core/esl-select-item.less
  packages/esl/src/esl-forms/esl-select-list/core/esl-select-list.css
  packages/esl/src/esl-forms/esl-select-list/core/esl-select-list.less
  packages/esl/src/esl-forms/esl-select-list/variables.css
  packages/esl/src/esl-forms/esl-select/README.md
  packages/esl/src/esl-forms/esl-select/core.css
  packages/esl/src/esl-forms/esl-select/core.less
  packages/esl/src/esl-forms/esl-select/core/esl-select-dropdown.css
  packages/esl/src/esl-forms/esl-select/core/esl-select-dropdown.less
  packages/esl/src/esl-forms/esl-select/core/esl-select-renderer.css
  packages/esl/src/esl-forms/esl-select/core/esl-select-renderer.less
  packages/esl/src/esl-forms/esl-select/core/esl-select.css
  packages/esl/src/esl-forms/esl-select/core/esl-select.less
  packages/esl/src/esl-forms/esl-select/variables.css
Due: stylelint

feat(esl-scrollbar): esl-scrollbar migrated to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-scrollbar/README.md
  packages/esl/src/esl-scrollbar/core.css
  packages/esl/src/esl-scrollbar/core.less
  packages/esl/src/esl-scrollbar/core.mixin.less
  packages/esl/src/esl-scrollbar/core/esl-scrollable-content.css
  packages/esl/src/esl-scrollbar/core/esl-scrollable-content.less
  packages/esl/src/esl-scrollbar/core/esl-scrollbar-arrows.css
  packages/esl/src/esl-scrollbar/core/esl-scrollbar-arrows.less
  packages/esl/src/esl-scrollbar/core/esl-scrollbar.css
  packages/esl/src/esl-scrollbar/core/esl-scrollbar.less
  packages/esl/src/esl-scrollbar/variables.css
Due: stylelint

refactor(site): update to new esl-scrollbar API
  packages/esl-website/src/common/scrollbar.less
  packages/esl-website/views/_includes/navigation/sidebar.njk
  packages/esl-website/views/_includes/presentation/sidebar.njk
  packages/esl-website/views/_layouts/base.njk
  packages/esl-website/views/_layouts/forward.njk
  packages/esl-website/views/examples/esl-drag-to-scroll.njk
  packages/esl-website/views/examples/scrollbar.njk
Due: stylelint

feat(esl-image-utils): migrate module styles to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-image-utils/README.md
  packages/esl/src/esl-image-utils/all.css
  packages/esl/src/esl-image-utils/all.less
  packages/esl/src/esl-image-utils/core/esl-image-utils.container.css
  packages/esl/src/esl-image-utils/core/esl-image-utils.container.less
  packages/esl/src/esl-image-utils/core/esl-image-utils.fade.css
  packages/esl/src/esl-image-utils/core/esl-image-utils.fade.less
  packages/esl/src/esl-image-utils/core/esl-image-utils.ratios.css
  packages/esl/src/esl-image-utils/core/esl-image-utils.ratios.less
Due: stylelint

feat(esl-media): migrate module styles to pure CSS export
  packages/esl/src/all.less
  packages/esl/src/esl-media/README.md
  packages/esl/src/esl-media/core.css
  packages/esl/src/esl-media/core.less
  packages/esl/src/esl-media/core.mixin.less
  packages/esl/src/esl-media/core/esl-media-container.css
  packages/esl/src/esl-media/core/esl-media-container.less
  packages/esl/src/esl-media/core/esl-media.css
  packages/esl/src/esl-media/core/esl-media.less
Due: stylelint

refactor(esl-image): no longer supported
  packages/esl-website/src/lib.less
  packages/esl-website/src/lib.ts
  packages/esl-website/views/components/esl-image.njk
  packages/esl-website/views/examples/image.njk
  packages/esl/src/types/jsx.shape.ts
Due: eslint --max-warnings 3, jest --silent --noStackTrace --bail --passWithNoTests --findRelatedTests, stylelint

chore: fix css build chain
  packages/esl/project.json
  packages/esl/worker/css.mjs
  packages/ui-playground/src/plugins/settings/all.less
  packages/ui-playground/src/plugins/settings/select-setting/select-setting.less
Due: stylelint
